[2016-05-18 23:39] riannella opened #5 "Feedback from CG on Vocab/Onto/Model"
There are some vocab/onto/model issues listed here we should address:
  https://lists.w3.org/Archives/Public/public-odrl/2016May/0005.html

[2016-06-10 01:53] riannella opened #6 "TimeInterval range"
Update the range of the TimeInterval property to xsd:duration

[2016-06-10 01:56] riannella commented on #5
These issues have been highlighted in the model spec (to be addressed)

[2016-06-10 01:56] #5 closed, assigned to nobody

[2016-06-17 06:53] riannella opened #7 "Documentation properties"
We currently use rdfs:comment to capture **both** the definition and comment from the original ODRL Vocabulary spec.
I propose we now use:
  skos:definition for the definition
  skos:scopeNote for the comments

[2016-06-17 06:56] riannella opened #8 "Concept Table visual look"
Need to decide on the visual look of the table describing each concept.
Two options are attached.
Feedback and other options welcome
<img width="835" alt="screen shot 2016-06-14 at 12 53 11" src="https://cloud.githubusercontent.com/assets/13191615/16142866/67f8816e-34ac-11e6-8b00-7a8dec0615ca.png">
<img width="833" alt="screen shot 2016-06-14 at 12 53 20" src="https://cloud.githubusercontent.com/a

[2016-06-17 07:00] riannella opened #9 "Add Appendices for XML/JSON Schemas"
Add two Appendices to read in the XML and JSON schemas and show them for human-readability.
They can also be linked directly from the document (as it is now).

[2016-06-17 07:01] riannella commented on #6
Completed

[2016-06-17 07:01] #6 closed, assigned to nobody

[2016-06-17 07:04] riannella opened #10 "Versioning of the Encodings"
Since we have not completed the final use case and requirements analysis, we are yet to determine if the final ODRL will be a significant change to V2.1 - and maybe backwards incompatible.

For now, we can refer to all encodings as Version 2.2 until we make the final call.

[2016-06-20 02:11] riannella opened #11 "Ordering of the contents of the Vocab section"
Here is a proposed ordering of the Vocab section:
1 - Model Concepts
2 - Policy Types
3 - Actions for Permissions/Prohibitions
4 - Actions for Duties
5 - Constraints
6 - Constraint Operators
7 - Party Roles
8 - Party Scopes
9 - Asset Relations
10 - Deprecated Concepts

How to do this from the owl ontology?
For classes we can group them into SKOS collections.
For properties?
For individuals?

[2016-06-20 02:46] riannella opened #12 "Add XML encoding section"
Add the XML encoding section

[2016-06-20 02:47] riannella opened #13 "Add JSON encoding section"
Add the JSON encoding section (parts/json.html)

[2016-06-20 02:50] riannella opened #14 "Add RDF/OWL Encoding section"
Add the RDF/OWL encoding section (parts/rdfowl.html).
Anything that is not covered in Vocab section and specific to RDF/OWL encodings.

[2016-06-20 02:59] riannella opened #15 "Add Appendix for Changes from the Community groups specs"
Add and appendix to enable documenting the changes from the ODRL Community groups reports (vocab, xml, ontology, json)

[2016-06-20 09:50] nitmws commented on #7
We have to be aware that skos:scopeNote is one of many kinds of SKOS notes (https://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secdocumentation). Unfortunately it is not exactly defined but I infer its focus is on describing the scope of use of a term. In this case we would have to check if the content of comments is really about that - else we should use the generic skos:note.

[2016-06-20 10:04] nitmws commented on #8
Hm, I assume 2.1.2 and 2.2.1 are the two different options - right?
- I see different sets of data, e.g. Parent Class and In Range of in Policy only. Should we show a consistent set with empty values if an assertion is not supported?
- SKOS is used like the owner of concepts, e.g. "Narrower SKOS Concepts". Should be "Narrower Concepts (by SKOS)" or "Narrower Concepts *)" and a footnote explains th

[2016-06-21 01:06] riannella commented on #7
Ok, what if we used rdfs:comment for "comments" and skos:definition for "definitions" ?

[2016-06-21 01:22] riannella commented on #8
The main difference is having one table with multiple rows, or have two tables and put the "vocab" stuff in the first table, and the more ontological stuff in the second table.
1 - I assumed we would only show what we know, otherwise we may have large tables with empty cells (and maybe non-relevant properties).
2 - We can work on what to actually call the SKOS concepts in the table.
3 - In this ca

[2016-06-21 04:13] riannella commented on #9
I've created these as placeholders. Mo, can you write the code to import the schemas and do any necessary transformations on the angle brackets?

[2016-06-21 04:14] riannella commented on #12
Completed

[2016-06-21 04:14] #12 closed, assigned to riannella

[2016-06-21 05:19] riannella opened #16 "Ontology status property"
Do we need the "status" property for each and all of the ontology terms?
The status is reflected at the spec-level.
Suggest we remove them.

[2016-06-21 07:12] iherman commented on #16
+1

[2016-06-21 07:19] iherman commented on #8
@riannella

I think that separating the 'ontological' stuff, as you put it, into a separate table makes a lot of sense. In fact, we may want to have maybe a separate document to 'hide' the ontological part from those who do not even want to see that stuff (I remember we discussed this, I am not sure where we are with this). We have to accept the fact (whether we like it or not) that the precise on

[2016-07-01 01:13] riannella commented on #15
Completed

[2016-07-01 01:13] #15 closed, assigned to nobody

[2016-07-01 01:41] riannella commented on #8
I've made them slightly different colours as well. Perhaps in a future version we can add a hide/show script.

[2016-07-01 01:42] riannella commented on #13
Done this.
@stuartmyles, can you please check...

[2016-07-01 03:09] riannella commented on #11
And we need an updated figure to visually show the groupings as well.

[2016-07-04 12:45] riannella opened #17 "Permission cardinality"
Section 2 says that "an ODRL Policy must contain at least one Permission" but the UML model shows 0..*

[2016-07-04 12:46] riannella opened #18 "Clarify Duty obligation"
Need to clarify that Duties must be performed but when (at what point in time) is not specified (by default).

[2016-07-04 12:47] riannella opened #19 "Clarify Duty for Permissions only"
Need to clarify that Prohibitions cannot have Duties

[2016-07-04 12:48] riannella opened #20 "Clarify role of conflict resolution"
Conflict is not only used for resolving merge issues but also between perms/prohibits in the same policy

[2016-07-04 12:49] riannella opened #21 "Clarify contradictory values of conflict attribute"
Need to clarify conflicting values of the conflict attribute. That is, one policy says perm and the other prohibit.

[2016-07-04 12:50] riannella opened #22 "Clarify inheritance and over-riden entities"
We need to make clear exactly what gets inherited and what gets over-riden (if anything)

[2016-07-04 12:51] riannella opened #23 "Clarify Party definition"
Need to define Party more generically, not based on role

[2016-07-04 12:55] riannella opened #24 "Include Rule in the UML Model"
Include Rule in the normative Information Model? Rule appears in the Ontology as an abstract class already

[2016-07-05 05:56] riannella commented on #16
Completed

[2016-07-05 05:56] #16 closed, assigned to nobody

[2016-07-05 05:57] riannella commented on #10
Completed

[2016-07-05 05:58] riannella commented on #10
Updated all the schemas/ontologies to Version 2.2

[2016-07-05 06:00] riannella commented on #7
Add all the definitions+comments from the original Vocab spec into skos:definition and rdfd:comments

[2016-07-05 06:02] simonstey commented on #24
basically adopting https://www.w3.org/community/odrl/model/2.1/#section-52 ?

makes sense to me.. +1

[2016-07-05 06:06] simonstey commented on #22
inheritance in terms of https://www.w3.org/community/odrl/model/2.1/#section-211 ?

[2016-07-05 06:15] simonstey commented on #21
Where we should also consider different types of dependencies between actions (see [1]).

| :policy1 | :policy2 | Type of Dependency |
| --- | --- | --- |
| odrl:permission **odrl:read** | odrl:prohibition **odrl:read** | direct (read==read) |
| odrl:permission **odrl:share** | odrl:prohibition **odrl:distribute** | implicit (sharing implies distributing) |
| odrl:permission **odrl:use** | odrl:pr

[2016-07-05 06:53] simonstey commented on #17
why must an ODRL policy contain at least one permission?

[2016-07-05 11:50] nevali commented on #11
We can create some local top-level objects in the RDF that the other things form part of (via dct:isPartOf and similar), and I can tweak our version of phpspecgen to only pay attention to those objects but not to express them themselves. This does mean minting some new dummy identifiers, but they can be done carefully so as not to conflict with ones we're likely to create in the future (e.g., use

[2016-07-06 06:42] riannella commented on #22
Yes. There needs to be more narrative on how inheritance works (and exploring more complex use cases).

[2016-07-06 06:45] riannella commented on #17
Model (narrative) needs to be updated to show at least one Perm or Prohib needs to be in a Policy?

[2016-07-06 07:09] riannella commented on #11
Can we use SKOS as the expression of the groups?
If we created a SKOS Collection for each of the 10 groups (see above), then the script can work as you indicated, but the ontology will keep it semantic-ness?

[2016-07-06 07:24] riannella opened #25 "Deprecation predicate"
Should we use owl:deprecated predicate (instead of ont:deprecatedBy)?
And is rdf:nil the appropriate  value for a concept deprecated (but not by another concept)
Should we also remove (ontological) links to deprecated terms?

[2016-07-06 12:18] nitmws commented on #17
My recollection of dicussing the overall use case of ODRL is: its key feature is to grant any kind of action which can be applied to an asset and this is expressed by a Permission. A more generic permission can be constrained by a specific prohibition. Therefore at least 1 permission should be in a policy and zero to many prohibitions.

[2016-07-07 00:38] riannella commented on #17
I do recall such discussions. But thinking about some policy types (eg Set) where we allow _anything_ then perhaps the model entities should be optional, and we define constraints more tightly at the Policy Type level (and of course, they can be applied even more tightly at the Profile level).

[2016-07-07 00:42] riannella opened #26 "Ontology constraints/restrictions"
We should look at defining some of the ontology entities (eg the Policy Types) with more constraints that reflect their semantics. eg Agreement class must have assigner and assignee, etc.
We should look into using SHACL as well, were appropriate.

[2016-07-08 05:52] riannella opened #27 "Add Privacy Considerations section"
Add Privacy Considerations section

[2016-07-08 11:47] riannella commented on #11
@nevali As a test, I have added some SKOS Collection examples (see lines 67-100 of .ttl) as test for grouping. Do you think that could work?

[2016-07-11 05:26] riannella commented on #9
Now completed

[2016-07-11 05:26] #9 closed, assigned to nevali

[2016-07-11 16:56] stuartmyles commented on #13
looks good to me. thanks @riannella !

[2016-07-12 01:32] riannella commented on #13
Closed

[2016-07-12 01:32] #13 closed, assigned to stuartmyles

[2016-07-12 11:43] riannella commented on #7
Completed

[2016-07-12 11:43] #7 closed, assigned to nobody

[2016-07-12 11:43] riannella commented on #8
Completed

[2016-07-12 11:43] #8 closed, assigned to nobody

[2016-07-12 12:07] riannella commented on #11
@nevali I have added all the terms now to all the SKOS Collections.
I assume that in the template for (example):
  writeGroup('#policyTypes');
It will then create a new section (with H2 of the skos:prefLabel), then add any html text from /parts/policyTypes.html
Then each skos:member will be iterated and output as it is now (new section and the two tables).
(hopefully the order is preserved ;-)

Al

[2016-07-13 01:21] riannella commented on #27
Placeholder added

[2016-07-18 08:08] #11 closed, assigned to nevali, riannella

[2016-07-18 08:08] #14 closed, assigned to nevali

[2016-07-18 08:10] nevali commented on #25
Stupid question: why?

[2016-07-19 03:04] riannella opened #31 "vCard Ref"
Update vCard ref to W3C vCard Ontology spec (as this has URIs to use) and consistent with Vocab spec

[2016-07-19 04:43] riannella commented on #25
If you look at the instances of Action http://w3c.github.io/poe/vocab/#term-Action
we still show deprecated terms.
Same for http://w3c.github.io/poe/vocab/#term-use
etc

We don't want people to use these terms, so best to not show them as part for non-deprecated terms?

[2016-07-19 08:47] nevali commented on #25
That wasn't the bit I was questioning, it was the replacement of `ont:deprecatedBy` with `owl:deprecated`…

Are there instances of concepts which are deprecated but not replaced by anything?

[2016-07-20 02:04] riannella commented on #25
First reason is that I feel that the "ont" ontology: http://www.kanzaki.com/ns/ontology-annot
Is a one person effort and would fail the W3C Normative reference guidelines:
https://www.w3.org/2013/09/normative-references

Second, is trying to reduce the number of dependent ontologies.

Yes, we do have a few terms deprecated any not replaced (lease, lend, preview, secondaryuse)

[2016-07-27 16:31] halindrome opened #36 "The spec uses the term ODRL but never says what that is"
There is an expansion of it in the informative references... but that's sort of obscure.

[2016-08-02 01:28] riannella opened #37 "Add Acknowledgement section"
See the 2.1 community spec

[2016-08-04 06:16] riannella opened #38 "Fixed use of deprecated Pay duty in Scenarios"
Update to use Compensate

[2016-08-15 12:18] riannella opened #39 "Check Policy Types"
Review each policy type and ensure covers the correct semantics and any constraints.

[2016-08-15 12:30] riannella commented on #24
Proposed updated UML Model (which has also been "modernised" !)
Will also add text similar to section 6.2
![odrl-model-2016](https://cloud.githubusercontent.com/assets/13191615/17664508/e9917942-6337-11e6-951b-23fc075d5b00.jpg)

[2016-08-15 12:59] riannella commented on #31
Completed

[2016-08-15 12:59] #31 closed, assigned to nobody

[2016-08-23 02:42] riannella opened #40 "Links from Scenarios to Encodings"
Add links from each Scenario to the corresponding Encoding example in the Vocab/Express WD.

[2016-08-23 02:49] riannella commented on #40
We should see if we can link to the Vocab spec that has the Scenarios in seperate HTML files and "include' them in the Info Model doc. (Hopefully Respec supports this ;-)

[2016-08-24 11:52] riannella commented on #40
Added the links and also added references to the scenario examples (so same text in included in the Model and Vocab docs now)

[2016-08-24 11:52] #40 closed, assigned to nobody

[2016-08-25 11:06] vroddon commented on #17
I believe that no use case imposes a requirement in any direction here. Being free to choose, I would also leave the policy level unconstrained.

[2016-08-25 11:10] vroddon commented on #24
Looks much nicer --and we get rid of a cumbersome text advertising the software "Astah".
Which program have you used to generate the figure?

[2016-08-25 11:16] vroddon commented on #25
Is there any deprecating mechanism going to be used for XML/JSON?

[2016-08-26 02:06] riannella commented on #24
@vroddon I just used a graphics program (OmniGraffle on the Mac) as I could not find a UML editor that you could sufficiently configure the graphical elements of the UML classes and associations.

[2016-08-26 02:08] riannella commented on #25
For XML/JSON schemas, all we have is the "version/id" attributes.

[2016-08-30 00:40] riannella opened #41 "Add license example"
Add the below to the RDF/OWL encoding section (it was par of the Set example)
#

Because all of the rules associated with this policy have the same target, and do not have any constraints or duties (requirements), one may abbreviate the expression of the policy and use the Dublin Core rights or license predicates to associate the asset with that policy:

@prefix odrl: http://www.w3.org/ns/odrl/2/

[2016-08-31 01:38] riannella commented on #17
Will update the text to remove this constraint (and the UML model has been updated) and add text to say that the Policy Type may express additional constraints on the model.

[2016-08-31 02:43] riannella commented on #18
Updated general text in Section 4 and specific text in Section 4.5

[2016-08-31 02:43] riannella commented on #19
Updated general text in Section 4 and specific text in Section 4.5

[2016-08-31 04:25] riannella opened #42 "Updated Figure"
Create an updated Figure (Section 4) that shows the vocabulary structure

[2016-09-01 01:56] riannella commented on #42
Here is the proposed new figure - a "conceptual overview" of the vocab structure
![vocab-model](https://cloud.githubusercontent.com/assets/13191615/18152687/152995fc-703b-11e6-8f68-02aa46182376.png)

[2016-09-02 01:21] riannella commented on #17
Updated the XML Encoding section to remove the mandatory Permission (the XML Schema is correct)

[2016-09-02 09:17] sereAbi commented on #24
I'd add uid to the Policy box as done for the others.

[2016-09-02 09:43] sereAbi commented on #23
To abstract away from Role in the definition of Party, we need to mention "function" which assigns the Party to the Rule by associating it the "role" it plays in the Rule. I'd add a reference to foaf in addition to vcard, as in the V&E document.

[2016-09-02 10:00] sereAbi commented on #20
We can add to the conflict description in Sec. 4.1 that conflict may also be used to set priorities over the Permissions/Prohibitions in the same policy.

[2016-09-05 08:31] sereAbi commented on #23
I updated the definition along these lines, and added reference to foaf.

[2016-09-05 08:39] sereAbi commented on #20
I updated the conflict description as mentioned above.

[2016-09-06 01:55] riannella commented on #17
Done

[2016-09-06 01:55] #17 closed, assigned to nobody

[2016-09-06 01:55] riannella commented on #18
Completed

[2016-09-06 01:55] #18 closed, assigned to nobody

[2016-09-06 01:56] riannella commented on #19
Completed

[2016-09-06 01:56] #19 closed, assigned to nobody

[2016-09-06 01:56] riannella commented on #20
Completed

[2016-09-06 01:56] #20 closed, assigned to nobody

[2016-09-06 01:56] riannella commented on #23
Completed

[2016-09-06 01:56] #23 closed, assigned to nobody

[2016-09-06 01:56] riannella commented on #24
Completed

[2016-09-06 01:56] #24 closed, assigned to nobody

[2016-09-07 07:20] riannella opened #43 "Reference links not working"
Links to references in the Vocab tables does not work (and respec does not see them)
eg [iso8601]

[2016-09-09 01:27] riannella opened #44 "JSON examples"
All of the JSON examples (except the first) do not show up in the Scenarios section

[2016-10-17 09:15] simonstey opened #45 "Clarify/Revise outlined semantics of Extended Relations"
I've some concerns with the outlined semantics of Extended Relations as defined in Section 6.1 [1].

For example, for Permissions and Prohibitions it reads as follows:

**Permission**

1. I would argue that by granting someone the permission to perform a certain action does NOT imply that respective party MUST actually perform permitted action. The Assignee is permitted to do it, but doesn't have

[2016-10-18 03:48] riannella opened #46 "Support JSON-LD"
We will support JSON-LD serialisation (not current JSON as in V2.1) as close as possible to ODRL Ontology.
Update spec. required.

[2016-10-18 03:50] riannella commented on #46
See email thread starting here: https://lists.w3.org/Archives/Public/public-poe-wg/2016Oct/0020.html

[2016-10-18 04:24] riannella opened #47 "Vocabulary naming"
Ensure that the Label used for the terms do not differ just in case (eg Action, action) as this will not meet I18N requirements.

[2016-10-19 00:54] riannella opened #48 "Policy Versioning"
Propose a set of versioning attributes (model) and properties (vocab) for Policies that indicate the validity period of the policy.
See https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.04_Support_versioning_policies

[2016-10-19 02:38] riannella opened #49 "ODRL Profiles"
Move section to new Top-level Section (to show its importance).
Update the narrative

[2016-10-19 03:19] riannella opened #50 "Add more examples inline to Info Model"
Review info model to support "annotation model" style examples
(see https://www.w3.org/2016/poe/track/actions/27)

[2016-10-20 06:56] riannella opened #51 "Update Vocab terms names and Inheritance in Model"
At the TPAC meeting, I took the action [1] to look at some of the minor suggestions published in this ODRL review paper [2].

I recommend we adopt the following changes to the Vocabulary terms (as label changes, not the URI):

undefined: handle Undefined Actions
support:   support Undefined Actions
ignore:    ignore Undefined Actions
invalid:   invalidate Policy

conflict:  handle Policy Conflicts

[2016-10-27 11:24] riannella commented on #47
Also - swap the vocab Label and identifier - so the label becomes the section header

[2016-10-27 12:25] riannella opened #52 "MAY vs SHOULD"
Check all the MAY options and see if SHOULD is better.
As per https://tools.ietf.org/html/rfc2119

[2016-10-27 13:00] riannella commented on #49
Narrative updated.
Requirements clearer
new Section
http://w3c.github.io/poe/model/#profile

[2016-10-27 13:27] riannella commented on #47
Completed.
Used "Has" as prefix for same-label  terms.

[2016-10-27 13:27] #47 closed, assigned to riannella

[2016-10-27 13:30] riannella commented on #10
Closed this for now. It may become a WG issue if the overall changes are significant

[2016-10-27 13:30] #10 closed, assigned to nobody

[2016-10-27 13:35] riannella opened #53 "Add compensatingParty"
Add new party role: compensatingParty
(to match compensatedParty)

See https://www.w3.org/2016/poe/wiki/Requirements#POE.R.V.10_Add_terms_to_the_Roles_of_a_Party_Vocabulary

[2016-10-29 11:13] riannella commented on #51
inheritRelation needs to be added to the vocab/ontology (missing!)

[2016-10-29 11:25] riannella commented on #51
Completed

[2016-10-29 11:25] #51 closed, assigned to riannella

[2016-11-01 00:09] riannella opened #54 "Add Assertion Type"
Add a new Assertion policy Type

See https://www.w3.org/2016/poe/wiki/Requirements#POE.R.V.16_Assertion_Policy_Type

[2016-11-01 00:18] riannella opened #55 "Describe more options for Target Asset URI"
The URI used for the target Asset may not just point to a single resource.
Explain additional options, such as:
 - media fragments
 - POWDER
 - RFC6570
 - URI wildcards

[2016-11-03 12:29] riannella opened #56 "rightOperand is a reference to a value"
Add support to indicate that the rightOperand is a reference (URI) to a value, not the value itself.

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.E.01_Referring_to_external_resources_for_defining_payment_fees

[2016-11-03 12:29] riannella opened #57 "Add "unit-of-count"

[2016-11-03 12:30] riannella opened #58 "Add unit-of-count"
Add a unit-of-count to the Constraint

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.V.03_Add_concept_of_.27unit-of-count.27_to_Duty_Constraint_Vocabulary

[2016-11-03 12:31] riannella commented on #57
duplicate

[2016-11-03 12:31] #57 closed, assigned to nobody

[2016-11-03 12:34] riannella opened #59 "Add Constraint to Party and Asset"
Add Constraint model to Party and Asset.

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.01_Define_how_constraints_on_a_party_can_be_expressed_.28Migrated.29

Also addresses:
https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.07_Define_a_category_property_for_class_Party

https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.08_Add_a_category_property_to_Asset

[2016-11-03 12:35] riannella opened #60 "Subject of the Constraint"
Add new property to Constrait model to indicate (the assumed) subject

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.02_Define_target_of_a_constraint

[2016-11-03 12:37] riannella opened #61 "Inverse Target Link"
Support inverse target link only: targetURI <hasThis> policyURI
 - defined by vocabulary (narrative in model)

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.03_Introduce_policy_template

[2016-11-03 12:38] riannella opened #62 "Constraints on Constraints"
Define an updated constraints on constraints model

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.06_Support_relative_time_constraints

[2016-11-03 12:40] riannella opened #63 "Extended Relations"
Support extended relations (was experimental in ODRL Version 2.1)

See: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.10_Extended_Relations

[2016-11-03 12:41] riannella commented on #63
RESOLUTION: That the extended relations (AND, OR, XOR) will only apply to Duties and Constraints, not Permissions and Prohibitions

https://www.w3.org/2016/10/17-poe-minutes

[2016-11-03 12:56] riannella opened #64 "Normative and non-normative terms"
Need to decide and indicate Normative and non-normative terms in Vocab (+ at risk terms)

[2016-11-03 12:58] riannella commented on #45
Now moved to: https://github.com/w3c/poe/issues/63

[2016-11-03 12:58] #45 closed, assigned to nobody

[2016-11-04 12:36] riannella commented on #56
One solution to this is to add a new (boolean) attribute to the Constraint class (in the UML model) as all we need to know is how to interpret the rightOperand. It will either be the value we are interested in comparing, or it will be a URI to some external service that will return the value of interest (dynamically).

Lets call this new optional attribute "dataReference"
If it is true, then the r

[2016-11-04 12:41] riannella commented on #54
The definition of this new Policy Type:

An Assertion policy type reflects policy terms that a party claims to hold.

Comments: For example, and party (ie an assignee or assigner) can claim what terms they have over an Asset. An Assertion policy type does not grant such permissions/prohibitions but only asserts the parties claims.

[2016-11-04 12:44] riannella commented on #58
The solution to this has a dependency on https://github.com/w3c/poe/issues/62

[2016-11-04 12:46] riannella commented on #58
Then we add "unitOfCount" as a new constraint to the Vocab

[2016-11-04 12:52] riannella commented on #60
As we assumed that Constraints in a Permission only applies to the action, if we have now have Constraints that also apply to the Asset and/or Party, then we now need to associate them more explicitly. That is, if there was two parties, which constraint applies.

[2016-11-07 13:02] riannella opened #65 "Add reference to original ODRL requirements"
Add narrative and ref [[odrl2-req]] to original ODRL requirements.

[2016-11-07 13:49] iptc opened #66 "Names of constraints in Vocab Editor's Draft - 4 Nov 2016"
In the ODRL Vocabulary Editor's Draft document of 4 November - http://w3c.github.io/poe/vocab - the names of constraints (e.g. Absolute Position, Language or Spatial) have turned into Right Operands which i/ does not align with the ODRL 2.1 vocabulary and data model and ii/ also not with the data model in http://w3c.github.io/poe/model/ . Note: the page internal link to this section of the vocabul

[2016-11-08 12:52] riannella commented on #66
Fixed in current Editors draft

[2016-11-08 12:52] #66 closed, assigned to riannella

[2016-11-10 12:06] riannella commented on #44
The need to be added to the examples directory

[2016-11-10 12:10] riannella commented on #38
fixed

[2016-11-10 12:10] #38 closed, assigned to nobody

[2016-11-10 12:18] riannella commented on #43
fixed

[2016-11-10 12:18] #43 closed, assigned to nobody

[2016-11-10 12:27] riannella commented on #37
completed

[2016-11-10 12:27] #37 closed, assigned to nobody

[2016-11-14 10:37] nitmws commented on #58
Had a look into the Requirement and the related User Case: this sound more like a "pay-per-what" or more generic "what-triggers-a-payment" issue.

[2016-11-16 00:38] riannella opened #67 "Improve Constraint definitions"
Improve the definitions of the Constraint Names and Comments for clarity and consistency, and to enable processing (such as to indicate which variable to compare) with guidelines in the comments.

Being documented here:  https://www.w3.org/2016/poe/wiki/Constraints

[2016-11-16 00:42] riannella opened #68 "Update Constraint narrative"
update the Constraint narrative to include differences in evaluating the expression outcome for Perms/Prohibs/Duties

[2016-11-16 00:45] riannella commented on #68
Comments from Simon:

http://w3c.github.io/poe/model/#constraint states:

"[...] If multiple Constraint entities are linked to the same Permission, Prohibition, or Duty entity, then all of the Constraint entities MUST be satisfied. That is, all the Constraint entities are (boolean) anded. [...]"

Without actually explaining the concept of "satisfying a Constraint entity".

=> How can someone "sati

[2016-11-16 00:49] riannella opened #69 "Clarify the Party cardinality for Perms/Prohibs"
From simon:

The current spec states (comments inline; similar for prohibition):

It is not required for perm/proh to have any party assigned.

I would argue that not every assigner/assignee has the role of a supplier/consumer.

Is it possible to combine MUST and OPTIONAL?

[2016-11-16 02:26] riannella commented on #50
Have removed the Scenarios section

[2016-11-17 02:00] riannella commented on #68
There are some interesting statements about handling stateful constraints in the OMA spec:

http://technical.openmobilealliance.org/Technical/Release_Program/docs/DRM/V2_2-20110419-C/OMA-TS-DRM_DRM-V2_2-20110419-C.pdf

Even though it was for ODRL V1.1, the concepts still apply
We should review this too

[2016-11-17 11:20] riannella commented on #67
Change all the rdfs:comments to skos:note

[2016-11-17 11:21] riannella commented on #68
See Michaels' comments here: https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model

[2016-11-17 11:50] riannella commented on #64
Proposal, split vocab into Core Vocab (normative) and Common Vocab (non-normative).
The starting Core Vocab can be all the concepts/terms defined in the Info Model.

Then see results of implementors survey on Common terms that could become Core.

[2016-11-17 13:37] vroddon commented on #63
1. Extended relations used for constraints Currently, Constraints express mathematical terms with two operands and one operator. One of these operands is currently implicit (supposed to be a context property from the real life). I propose: (a) Creating a property called leftOperand which can be specified (or omitted) and (b) Adding the following individuals of Operation: AND, OR, NOT. If we want t

[2016-11-17 15:00] iherman commented on #68
I think that core statement is:

Based on the discussions we had on Tuesday, I wonder whether the SHOULD shouldn't be a MUST. It would also help to see some specific examples of how this would work in practice for some of the specific constraints we define.

[2016-11-18 00:27] riannella commented on #68
@iherman @nitmws I think it is a "should" as the default entity that is constrained is the Action.

[2016-11-18 02:44] iherman commented on #68
Hm. I apologize if I did not look it up (I am on a meeting) but isn't it so that the constraints are, usually, on an 'aspect' of an Action (e.g., time) rather than the Action itself, and that was exactly the issue of the discussion. What I am saying is that this 'aspect' MUST be exactly specified for the left operand of the logic operation, it should be more than a SHOULD.

I may miss something.

[2016-11-18 07:35] nitmws commented on #67
That POE-Wiki pages covers this issue: https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model

[2016-11-21 13:33] riannella opened #70 "Add more to Profiles on Constraints"
Profiles should be  more specific on how to process constraints

[2016-11-21 15:07] nitmws commented on #59
Comment: these Requirements propose to add properties to the classes Party and Asset for filtering out potential parties and asset - but not (explicitly) to use the ODRL Constraint.

[2016-11-21 15:09] nitmws commented on #60
Comment: the discussion of the Constraint conference call on 15 November preferred to express the subject of a contstraint by the natural language definition of the left operand and not to use a property of the class Constraint for that purpose.

[2016-11-21 15:15] nitmws commented on #68
In my proposed changes to constraint definitions on https://www.w3.org/2016/poe/wiki/Constraints the Action as constraint target is always explicitly included. By my experience with users of definitions I prefer no to state default values outside a definition, this is skipped in too many cases. And @iherman is partially right: a couple of constraints do no target the Action only, second ranking is

[2016-11-21 15:21] nitmws opened #71 "Improve Constraint-related definitions in the Information Model"
There were complaints that in the ODRL Information Model, Editor's draft of 16 November (http://w3c.github.io/poe/model/),  the class Constraint and the use of this class by Permission, Prohibition and Duty are not well defined.

[2016-11-21 15:22] nitmws commented on #71
See proposed changes in https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Mode

[2016-11-22 12:53] riannella commented on #59
Yes, as requirements they state this - and as long as the solution supports this, then the requirement is met. Hence, in this case, the proposal is to "reuse" the Constraint model to meet this requirement.

[2016-11-22 12:54] riannella commented on #71
This issue is already captured in this existing issue: https://github.com/w3c/poe/issues/68

[2016-11-22 12:56] riannella commented on #60
Sorry @nitmws I am  not sure I understand your comment. Can you give an example of what you mean?

[2016-11-22 13:05] riannella commented on #68
We can make it a MUST

[2016-11-23 13:07] riannella commented on #56
Another option is to have a new property called "rightOperandRef" that has the URI to de-reference (to get the value). And the rule is either rightOperand xor rightOperandRef must be present in the constraint.

[2016-11-23 13:14] riannella commented on #58
Apart from a payAmount Duty, what else would "unitOfCount" be used for?

[2016-11-23 17:48] nitmws commented on #58
Pondering that use case I feel this unitOfCount is not a part of a constraint but a constraint itself. Why: in first examples this unitOfCount was part of the Payment Amount constraint defining an amount of money. But in fact unitOfCount relates to the Duty action "compensate": a compensation is triggered if a person or device or ... exercises the action of the Persmission.
I think of creating a c

[2016-11-24 09:53] nitmws commented on #56
There are more details to consider: processing the right operand requires to include the rightOperand, the dataType and the unit properties. If we open up right operands to retrieving the value from a web resource I see these issues:
Issue 1: does it makes sense to include dataType and unit into the processing of a linked resource?
Issue 2: what exactly will be delivered by the linked resource of

[2016-11-24 10:07] nitmws commented on #60
I copy and paste from my proposed refined left operand definitions, any subject beyond the Action is in **bold**:
- absoluteTemporalPositionAsset: The absolute temporal positions in a media stream the **Asset** has to fit in after the Action.
- fileFormatBefore:  The file format of the **Asset** before the Action is exercised.
- version: The range of versions of the **Asset** which can or cannot b

[2016-11-24 10:20] nitmws commented on #59
@riannella my view on your proposal is: that makes processing more complicated than a filtering category of a class.

1. Start processing a Party
2. Check all the constraints if one or more apply/ies to this party (this raises the issue we discussed already: how to link constraint and party, a link from the constraint to "assignee" is not sufficient as there could be multiple of them.)
3. A hand-w

[2016-11-25 02:35] riannella commented on #56
Issue 1: perhaps it might....you could still express that what the "dynamic URL" will return is a decimal which is $USD.
Issue 2: we need to leave that to a Profile!

We could use the datatype to indicate the rightOperand is a "dynamic URL", but if we used xsd:anyURI that actually could be a real datatype someone might want to express (ie: the rightOperand is a URI value and this is literally what

[2016-11-25 02:52] riannella commented on #60
Ok, got it now ;-) Yes, I think natural language definition is good.

[2016-11-25 07:39] nitmws commented on #56
Yes, having a special data type (ODRL) value for such a URL would help. I suggest odrl:resourceURL because one uses this URL to access the resouce identified by it.

[2016-11-25 07:40] nitmws commented on #60
:-)

[2016-11-25 11:04] riannella commented on #59
Sure,  understand, but reusing the Constraint model means that implementors already have the code to do that?

[2016-11-28 11:41] nitmws commented on #59
My conclusion from recent discussion about creating code for constraints is that this needs to be done differently (= individually) for each constraint name/left operand. Therefore an "already have the code" will not be a widespread case. Maybe only a programming model or design could be reused.

[2016-11-28 14:58] nitmws commented on #62
What is a Constraing on a Constraint?
I think for a deeper discussion on 5 December  we need a description of what exactly that should be.

The referenced Requirement DM.06 raises this need: "Extend the temporal constraints by setting a time reference, any period in the rightOperand refers to this point in time." The referred UCs for that requirement are UC16 (combining two constraints: c1 = month

[2016-11-29 01:08] riannella opened #72 "Move Vocab short-name back to odrl-vocab"
Move the short-name of the Vocab spec back to "odrl-vocab" for consistency (with itself and other dual W3C specs, like annotations and activity-streams)

[2016-11-29 01:23] riannella commented on #27
Close this for now. We may reopen when after we get Horizontal review feedback

[2016-11-29 01:23] #27 closed, assigned to riannella

[2016-11-29 01:32] riannella commented on #36
The full expansion has been added

[2016-11-29 01:32] #36 closed, assigned to nobody

[2016-11-29 20:58] stuartmyles commented on #44
I added all of the JSON examples.

[2016-11-29 20:58] #44 closed, assigned to nobody

[2016-11-30 01:28] riannella commented on #53
Completed

[2016-11-30 01:28] #53 closed, assigned to riannella

[2016-11-30 01:36] riannella commented on #54
Completed

[2016-11-30 01:36] #54 closed, assigned to riannella

[2016-11-30 02:09] riannella commented on #70
Added more on implementation and OMA profile.
Completed

[2016-11-30 02:09] #70 closed, assigned to riannella

[2016-11-30 12:35] sereAbi commented on #22
I updated Example 3 in the Information Model to clarify better how inheritance works. Please check and adapt if needed.

[2016-11-30 13:34] sereAbi commented on #21
I added a new example that recalls some of the elements Simon highlighted above. I didn't provide any solution in the example, as I believe we need first to agree on it.

To me, in case of direct dependency, and conflict=perm/conflict=prohibits for the two policies, the merging results into an invalid policy.

In case of explicit dependency and conflict=perm/conflict=prohibits, then they can coexi

[2016-11-30 13:37] sereAbi commented on #50
The IM has been updated to support the Annotation Model style. Examples in JSON-LD have been included.

[2016-11-30 13:38] #50 closed, assigned to sereAbi

[2016-12-01 07:22] simonstey commented on #22
## Definition

there is no `inherit` attribute -> `inheritAllowed`?

where can they MAY be used? in the parent policy? in one/some/all child policies of the parent policy?

what? _the identifier from which this Policy inherits_ == parent policies identifier?
it's -> its

[...]
For example, an Assigner and Assignee may have a historical arrangement related to the specific use of content they make a

[2016-12-01 08:13] sereAbi commented on #22
Thanks for your comments Simon. I fixed the minor issues in the json-ld of the example. Concerning the explanation in the IM about inheritance, I think we need first to agree about the issues you raised and that I shared (drafting the example it becomes clear that these points weren't clear enough).

Renato, do we discuss this issue on Monday in the slot assigned to the IM?

[2016-12-01 10:24] simonstey commented on #22
it's missing a context and is therefore only plain json right? (not 100% sure on that though)

[2016-12-01 10:36] sereAbi commented on #22
Yes, it's the json encoding, sorry.

[2016-12-01 11:08] riannella commented on #21
I think the only option we have (for Example 3) is to say that if there is discrepancy between the two conflict values, then the result must be an invalid Policy

[2016-12-01 11:15] riannella commented on #21
@simonstey Looking at your table above, how does that impact how the conflict attribute should be processed?

[2016-12-01 11:50] riannella commented on #22
@simonstey fixed some of your first concerns.

inheritRelation is a way to allow other existing business rules to be expressed (that are typically not machine readable). It was from the IPTC.  There is an email thread here: https://lists.w3.org/Archives/Public/public-odrl/2013Apr/0052.html

[2016-12-01 11:52] riannella commented on #22
I think the "original" idea of inheritance - where actions and parities are "merged" is no longer valid (or even was!). I think we now look at inheritance as an "import" function, where the parent Rules are simply copied into the child.

[2016-12-01 12:34] riannella commented on #69
Updated, and the same changes in the Prohibition section

[2016-12-01 12:34] #69 closed, assigned to riannella

[2016-12-01 12:38] riannella commented on #71
@nitmws Closing this as it is the same as issue #68

[2016-12-01 12:38] #71 closed, assigned to nobody

[2016-12-01 12:51] riannella commented on #55
completed

[2016-12-01 12:51] #55 closed, assigned to nobody

[2016-12-01 13:15] sereAbi commented on #21
@riannella I agree, the easiest solution is to say that the resulting merging policy is invalid.

[2016-12-01 23:43] riannella opened #73 "Support Multiple Actions"
Should we relax the single Action per Perm/Prohib constraint?

Need to then be clear what a Constraint applies to (all the actions?, or one specific?)

What about Duties?

[2016-12-02 03:09] simonstey commented on #73
what about inheritance? if a rule was defined for more than 1 action, how would a processor determine whether this rule should be overriden by child rules?

besides that, I dont think we gain any additional expressivity from such a feature

[2016-12-02 05:42] simonstey commented on #63
why not use rdf:lists like SHACL [does](http://w3c.github.io/data-shapes/shacl/#constraints-logical) ?

[code]

I don't think we should add NOT (cf. recursion, inheritance, ...)

[2016-12-02 05:57] simonstey commented on #49
imo, Sections 4.1 & 4.3 should neither be part of the specification nor considered being normative

[2016-12-02 06:46] simonstey opened #74 "revising vocabulary definitions"
The majority of the definitions provided in the current ED of the vocabulary are either inconsistent, unclear or both.

For example:

| Definition | Comment |
| ------------ | ------------- |
| <blockquote> 4.1.1 Policy </br>Definition: An entity to capture the statements of the policy</blockquote>| statements == rules? |
| <blockquote> 4.1.3 Profile</br> Definition: The identifier of an ODRL Prof

[2016-12-02 07:05] simonstey opened #75 "3.1.2 Undefined Policy"
- it's about undefined actions not policies right?

- what's a _policy expression system_ ?
- how do we know whether an action _is part of a profile_ ?
- is there a default profile to which all currently defined actions belong to?

- by whom?
- do they also have to _support_ those actions? or do they only have to be made aware of them?

- what does that mean for systems automatically consuming/pro

[2016-12-02 07:14] simonstey opened #76 "3.1.1 Policy Conflict"
- only from merging? what if a policy contains conflicting rules, but wasn't merged with any other policy?

- what constitutes a conflict?
- how are _conflicting Actions_ identified?
- is it possible that two permitted actions of the same policy are causing a conflict?

- what?

prohibit: the Prohibitions will always takes preference

- what preference?

- i.e., any policy using `invalid` as confl

[2016-12-02 07:33] simonstey opened #77 "Consistency and cohesiveness of nomenclature"
Throughout the entire spec. almost every ODRL concept/term is formatted and/or named differently.

For example (the same hold for any other concept as well) :
  Policy -> (p|P)olicy, <code>Policy</code>, ODRL (p|P)olicy, ODRL Policy expression, (c|Child) (p|P)olicy, ...

1. if differences in formatting/naming should imply differences in semantics, they need to be made explicit
2. otherwise, they n

[2016-12-02 07:38] simonstey opened #78 "1.4 Terminology"
various concepts/terms used in the spec. aren't included in the terminology section

[2016-12-02 07:48] simonstey opened #79 "3.7 Action"
name: indicates the Action entity term (REQUIRED)

where is such a _name_ attribute defined? e.g., the [turtle serialization of ODRL](http://w3c.github.io/poe/vocab/ODRL22.ttl) doesn't contain any _name_ attribute at all.

[2016-12-02 08:14] simonstey commented on #22
thx for the pointer!
I still think that inheritRelation shouldn't be part of the core language (and I'm surprised that it actually made it into ODRL in the first place). In his email, Michael even wrote:

Keeping this property in ODRL basically allows to not only bypass ODRL entirely:

but also requires any engine to be able to process and interpret those additional _permission actions or constrai

[2016-12-02 15:04] sereAbi opened #80 "Actions for Rule"
The Information Model only allows one Action per Rule - is it too limiting?

[2016-12-02 15:18] simonstey commented on #80
why would that be too limiting?

currently we can express ->
<policy> odrl:permission odrl:pay, odrl:use .

[2016-12-03 15:35] nitmws commented on #79
I see it in the Information Model: http://w3c.github.io/poe/model/#action
The problem is that this name is transformed into the id of a specific action instance: e.g. the Display action (http://w3c.github.io/poe/vocab/#term-display) has an identifier http://www.w3.org/ns/odrl/2/display and the "display" of this URL is the name of the information model. Also not having a "name" in the tabular defin

[2016-12-05 07:56] nitmws opened #81 "Improve Constraint related definitions in Information Model"
The definitions regarding constraints in the Information Model - http://w3c.github.io/poe/model/#infoModel - sections about Permission, Prohibition and Duty are currently not very clear and precise.
This should be improved, see proposals in https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model

[2016-12-05 13:26] iherman commented on #62
Discussed on virtual F2F, Dec-5-16:

"we work on improved Constraint Definitions and include non-simple values for some constraints where it makes sense"

See: http://www.w3.org/2016/12/05-poe-irc#T13-26-11-1

[2016-12-05 13:26] riannella commented on #62
For Issue#60 we work on improved Constraint Definitions and include non-simple values for some constraints where it makes sense

[2016-12-05 13:31] riannella commented on #62
This now actually becomes an ODRL Vocab milestone issue

[2016-12-05 13:58] riannella commented on #59
Use scope for Party and Asset

[2016-12-05 14:01] riannella commented on #58
Add as new Constraint Name

[2016-12-05 14:20] riannella commented on #56
In order to support API calls, we add a new property rightOperandReference, and a new class

[2016-12-05 14:32] riannella commented on #63
See MPEG21 Contract REL

[2016-12-05 14:44] riannella commented on #48
Ben to look into what properties we need

[2016-12-05 14:48] vroddon commented on #63
Please consider also the model at the Privacy Preferences Ontology at http://vocab.deri.ie/ppo#
They also define operators in a simple way. 5 mins to look this example!

[2016-12-05 14:52] vroddon commented on #63
Please read Section 4.2.3 in "Overview of the MPEG-21 Media Contract Ontology", freely available at
http://www.semantic-web-journal.net/system/files/swj1218.pdf

See also the following excerpt: [excerpt1.pdf](https://github.com/w3c/poe/files/631382/excerpt1.pdf)

[2016-12-06 00:52] riannella commented on #60
5 Dec Teleconference decided to use Scope for Asset/Party.
So this requirement is not longer needed.

[2016-12-06 00:52] #60 closed, assigned to nitmws

[2016-12-06 00:56] riannella commented on #80
Closing this - as duplicate of #73

[2016-12-06 00:56] #80 closed, assigned to sereAbi, riannella

[2016-12-06 00:57] riannella commented on #73
Will leave as single Action per Rule (for now) until more info from the WG is received/discussed.

[2016-12-06 01:17] riannella commented on #62
@nitmws moved to Vocab milestone. Need to add the non-simple examples to the comments in the definitions??

[2016-12-06 01:52] riannella commented on #21
I've updated section 3.1.1

[2016-12-06 02:45] riannella commented on #59
Info Model updated - see "scope" section in Party and Asset.
Need to update Vocab

[2016-12-06 03:03] riannella commented on #56
Info Model updated (see Constraint section).
Need to add to the Vocab

[2016-12-06 03:46] riannella commented on #49
@simonstey I will make the entire section non-normative?

[2016-12-06 04:06] riannella commented on #64
What property/object do we use to indicate a term is  non-normative in the ontology?
Might be good to try and use SKOS?
I like the idea of a skos:scopeNote - the "scope" of the term is non-normative??

Any other options?

And then what is the object? a literal "non-normative"
or resource "http://www.w3.org/Consortium/Process/non-normative"

[2016-12-06 04:36] riannella commented on #42
completed

[2016-12-06 04:36] #42 closed, assigned to riannella

[2016-12-06 04:47] riannella commented on #79
Section 4.13  of the Vocab spec is called "Names for Constraints".
The way that "name" was modelled in the ontology was as the subproperties of the rightOperand property. I suspect that was done to subsume the object.

In XML we would have:
 <o:constraint name="http://www.w3.org/ns/odrl/2/dateTime"
                 operator="http://www.w3.org/ns/odrl/2/eq"
                 rightOperand="P30D"/>

I

[2016-12-06 11:55] riannella commented on #75
I have updated and *simplified* this section. In essence, we cant say how and ODLR system "supports" or "ignores" an action. So that is left up to the implementor.

[2016-12-06 12:13] riannella commented on #76
First question: if you keep reading the sentence...it then goes on to say "or to set priorities..."

I've updated the section.

Remember that to do conflict resolution properly, we look towards the Formal Semantics ;-)
All the ODRL expression can do it bluntly state the obvious.

[2016-12-06 12:25] riannella commented on #52
completed

[2016-12-06 12:25] #52 closed, assigned to riannella

[2016-12-07 03:59] riannella commented on #64
Posted a dated version of the ODRL Implementors Survey:
https://www.w3.org/2016/poe/wiki/images/8/88/ODRLImplementationSurvey-2016-Dec-07.pdf

[2016-12-08 12:08] riannella commented on #46
Now that we will support JSON-LD, does that mean we don't have to define our own JSON Schema as it is auto-generated from the ODRL Ontology?

[2016-12-08 14:18] iherman commented on #46
I indeed do not think we should define a JSON Schema. I believe, apart from what we already do in the information model document[1], we have to define a JSON-LD @context file that maps the JSON-LD to the RDF vocabulary and we *may* define, informally, JSON-LD Frames that define a preferred way of expressing things in JSON-LD (and that should reflect the way all the examples are in the info. model

[2016-12-09 03:47] riannella opened #82 "Allow Asset/Party at the Policy level"
In many cases, the Asset (target) and Parties (assigner, assignee) are the same for multiple Permissions and Prohibitions in an ODRL Policy.

It maybe a useful change to support the Asset/Party at the Policy level, which means that these values all apply to the enclosed Perms/Prohibs (and conversely means that the Perms/Prohibs do not define these values).

[2016-12-09 03:48] riannella commented on #82
From @victor:

I fully support this.

This creates, again, alternative manners to express the same thing.
But again, I believe that if necessary, a simple script can transform these expressions into a "canonical form".

I guess that we can define a "canonical" representation of one policy.
And then, different syntaxes that can be algorithmically mapped to the canonical representation.
By having a

[2016-12-09 03:49] riannella commented on #61
See related Issue #41

[2016-12-09 03:50] riannella commented on #61
We can define dct:license as the link between asset and policy.
The question is, what if the Policy already has an Asset defined?

Also, in XML, how do we support this? (at all?)

[2016-12-09 03:56] riannella commented on #63
Proposal:
- extend odrl:opertor to odrl:and odrl:or, and odrl:xor
- add a new "Composition" class to the model (associated with Rule)
- allow all three operators when used with Constraint and Duty
- allow only odrl:and for Perm/Prohib (which is the default)

[2016-12-09 04:18] riannella commented on #59
We have a slight issue now...
Scope was modelled for Parties as explicit subclasses of Parties.
For example, "All2ndConnections" is a type of Party - (which I think is not correct ;-)
And, or course, this is not reusable for Asset.

Hence, I propose we add an class called Scope and relation (has scope) to the ontology.
These can then be used for Asset.

I propose we re-classify the Party-based Sco

[2016-12-09 05:49] simonstey commented on #63
how does the first point, i.e. extending odrl:operator with odrl:and, odrl:or, and odrl:xor, relate to the rest?

[2016-12-09 06:29] simonstey commented on #59
Which (imo) is primarily due to ODRL's definition/interpretation of scopes rather than limited interest/missing use cases for them.

To start things of, I would begin with removing the collection aspect of "scopes". E.g., I think it would be way more useful to be able to write something like this:

[code]

[2016-12-09 07:25] riannella opened #83 "Add sameAs/subClassOf"
Add owl:sameAs axion to the ODRL Ontology (to enable greater semantic interoperability)

eg; odrl:Policy owl:sameAs dct:Policy

Make more suggestions here...

[2016-12-09 07:43] iherman commented on #83
I am not sure. That is a very strong statement, that means that anybody using dct:Policy would be automatically having an odrl:Policy, too.

If we do that, then we should get an agreement from DCMI and it actually raises the question of why we are having an odrl policy in the first place. Another (and not problematic) statement is to use rdfs:subClassOf instead.

Ivan

[2016-12-09 11:34] riannella commented on #83
Yes, sure...we can use subClassOf...and I changed the title of this issue;-)

[2016-12-09 11:40] iherman commented on #83
That would work for me.

[2016-12-09 13:21] nitmws commented on #82
My 5 cents on that: asset and party properties should be added to the Policy and not deprecated for Permission/Prohibition/Duty. The processing rule should be: the related assets and parties of a P/P/D are the assets and parties of this P/P/D instance or if not existing of the parenting policy instance. This way a processor would have to search "bottom up" but only for properties of the same name

[2016-12-09 13:23] nitmws commented on #81
Note on removing "Needs WG Decision": I feel that the proposed definitions change the current (partially not existing) definitions. Does that kind of change need a WG Decision or is this just an editing action?

[2016-12-09 13:42] simonstey commented on #82
then there's no need to make such a change in the first place

[2016-12-09 14:15] nitmws commented on #79
Sorry Renato, I can't follow this explanation. The Information Model shows for the Constraint class a name, operator and rightOperand and my understanding is what I wrote down in these proposals: https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model

In short: a constraint has a rule for comparing two values: one value defined by a left operand (defined as Name of Constraint in the

[2016-12-10 11:16] vroddon commented on #63
Can you provide one example?

Following the MPEG-21 MCO strategy, the result would be like this:

|<http://example.com/policy:0099>
	a odrl:Set;
	odrl:permission [
		a odrl:Permission ;
		odrl:target <http://example.com/asset:1> ;
		odrl:action odrl:reproduce
|||		odrl:constraint [
			aodrl:xor  ;
			odrl:operand  [
				a odrl:Constraint ;
				odrl:count 1 ;
				odrl:operator odrl:lteq
			] , [
||

[2016-12-11 11:30] riannella commented on #59
I don't think ODRL should get into defining members of groups (of parties).
We *try* to stick to identifying the party - and thats it.
With scopes, we have to support a way to "scope" that entity with a URI.

[2016-12-11 11:39] riannella commented on #81
My impression from the 5 Dec meeting was that we are "clarifying" the definitions of the current constraint terms.

[2016-12-11 11:43] riannella commented on #82
The proposal was *not* to deprecate the Asset/Party for Perms/Prohibs.
But to allow them to be specified at the Policy level - that then says all the Perms/Prohibs in the Policy use these entities. You could then has a target and assigner at the Policy level, then have 10 permissions in the policy, each with a different assignee.

XML ids are a necessary evil ;-)

[2016-12-11 11:50] riannella commented on #79
Yes, there is nothing wrong with the Info Model for Constraints. Which was verbatim modelled in XML for example, *but* the Ontology model took some liberties in how its expresses the same semantics. So, for example, there is no "name" property in the Ontology. It has been conflated into the rightOperand.

[2016-12-11 12:08] riannella commented on #63
@simonstey probably better then to have a composition-operator with those three

[2016-12-12 00:02] riannella commented on #22
Michael's comment was inheritRelation does not have to an ODRL Policy - it can point to a written agreement between the two parties (that is what happens in the IPTC community)
Yes, inheritRelation changes the processing landscape.
But the point is, if you see it and don't understand it, then you proceed at your own risk...

[2016-12-12 00:21] riannella commented on #22
I am proposing we refine the inheritance to be a the Rule level, not the action level - as the latter is too complex to process.

[2016-12-12 02:35] stuartmyles commented on #59
In my view, any kind of modifier to the identification of a party is a
mistake.

I'm against the "scoping" of parties as being either individuals or groups.
And, similarly, I think that the idea of identifying a party and then
filtering that party based on some kind of criteria (such as a constraint)
is very problematic. Specifically, I think it will be very difficult to
implement these kinds of f

[2016-12-12 03:05] riannella commented on #59
@stuartmyles The link to the requirement is in the first discussion item above.
As a WG member, you have the right to propose that this requirement not be supported (or to provide any other evidence for adoption). You can also propose that exisiting scopes be deprecated.

[2016-12-12 05:19] simonstey commented on #59
@riannella

We try to stick to identifying the party - and thats it.
With scopes, we have to support a way to "scope" that entity with a URI.

how's
`odrl:assignee <http://example.com/employeeUnder18> `
different from
[code]

[2016-12-12 05:22] simonstey commented on #82
what happens if both policy + nested rules define e.g. targets/parties?

[2016-12-12 05:27] simonstey commented on #76
what does "setting priorities" mean? Current wording implies that it's possible to assign priority levels to individual rules of a policy, i.e. permission to use > prohibition to read > prohibition to print > permission to display

[2016-12-12 05:42] riannella commented on #59
The first example shows a URI for the assignee.
The second example does the same, but then goes further and says, "that assignee is further scoped by this URI".
You can imagine in another Permission, there is the same employee URI but with a "over18" scope.

This is my interpretation of the original requirement.
I would support the removal of scopes.

[2016-12-12 05:45] riannella commented on #82
We would have a normative rule that if asset/party appears at Policy level, then it cannot appear at the Rule level.
This does allow, say an assigner at the Policy level, and assignee's at the Rule level.

[2016-12-12 05:47] riannella commented on #76
Is the word "preferences" better?

[2016-12-12 08:25] nitmws commented on #81
Already at the special call on constraints on 15 November it was said that it may help to check if the definitions of the Constraints and its uses in other classes is clear and anambiguous. The goal was to define in the Information Model a blueprint for what the "Name of a Constraint", the left operand, should cover and what the impact of constraints on a class using it is.
This is reflected by th

[2016-12-12 09:27] nitmws commented on #79
Hmmmm, does this conflation express the information model correctly? I doubt.

The current Constraint defintion says - http://w3c.github.io/poe/model/#constraint

- Constraints express mathematical terms with two operands and one operator
- name: a name that identifies the left operand of the operation (REQUIRED)
- operator: an operator function (REQUIRED)
- rightOperand: the right operand of the

[2016-12-12 09:40] nitmws commented on #59
I recall from the discussion on 5 December that scopes like "policy applies only to the group as a whole" and "policy applies to each member of a group" should be kept as they are. For other "scopes" it was not clear how to proceed: adding more terms to scope or to define something different.

[2016-12-12 16:20] stuartmyles commented on #46
But wouldn't this same logic apply to the XML encoding too? Why not just
auto-generate XML from the ODRL Ontology?

On the other hand, don't we need an JSON schema for people who don't care
about (or don't like or have never heard of) RDF?

Regards,

Stuart

On Thu, Dec 8, 2016 at 9:18 AM, Ivan Herman <notifications@github.com>
wrote:

[2016-12-13 05:55] iherman commented on #46
@stuartmyles, there are some major differences between RDF/XML and JSON-LD.

I believe it is possible to come up with an encoding of the model that **is** acceptable for JSON users who are not RDF users. JSON-LD has been defined with that goal in mind. It is not perfect, but I believe it goes a long way in this direction. Several WG-s have done this (Social Web, Annotation, even the CSV on the Web

[2016-12-13 06:41] riannella commented on #81
Sorry, I was talking about the actual constraint definitions...
The changes in here: https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model
will be applied to the info model.
I don't think we can change the name of "name" without breaking backward compatibility.

[2016-12-13 06:53] riannella commented on #59
Scope for Parties already exists in the current model, and in fact, you can already add any scope (URI) you like to an ODRL policy for a Party. Some are defined in the vocab, but in theory, any URI can be used.

[2016-12-13 06:56] riannella commented on #46
I think @stuartmyles was talking about auto-generating the XML Schema from the Ontology?
This never works in practice, as you end up with a convoluted and crazy XML Schema design.
Hand crafting is the only way....yeah for me !

As for the auto-generation of the RDF/XML ontology from the turtle ontology, I am waiting on @nevali to update the script 👍

[2016-12-13 08:26] iherman commented on #46
Oops, my apologies. And XML Schema being very different from an OWL Ontology I tend to agree that relying on some automatism may be an issue.

The question which is still open to me is whether we would keep the XML serialization on the agenda at all...

[2016-12-13 13:03] riannella commented on #46
We still have XML implementations. When we asked the community in October, both Associated Press and Reuters News said they will use the XML encoding.

[2016-12-13 13:18] riannella commented on #79
Perhaps we just need to explain this difference in the ontology model (vs the Info Model) in the Vocab/expression spec?

In essence, what the ontology model says is, take this:
   odrl:leftOperand odrl:count
   odrl:rightOperand 1 ;

and express it as this:
    odrl:count 1 ;

[2016-12-13 13:56] iherman commented on #46
O.k. (But that is another discussion then; it should certainly not be RDF/XML.)

[2016-12-13 14:14] vroddon commented on #79
I believe the model gains at least in understandability, namely, a
newcomer will intuitively understand the meaning.

Víctor

El 12/12/2016 a las 10:27, Michael Steidl escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-2

[2016-12-13 15:50] nitmws commented on #79
Re @riannella: such a description could be written down but that means a receiver of such a policy has to read the spec document from A to Z to learn by one of its sections how to deal with that as in fact this design does not comply with RDF rules.
My approach for my alternative design was: stick to the RDF rules, make it easy to understand at first sight - @vroddon thanks for your comment suppor

[2016-12-14 00:16] riannella commented on #79
@nitmws What rdf rules are not being complied with?

For the required properties, we have issue #https://github.com/w3c/poe/issues/26
that asks for more detailed axioms in the ontology. So, in your case, do we define Constraint as a *defined* class with the mandatory properties? (and someone to volunteer to do it ;-)

[2016-12-14 06:06] riannella commented on #67
@vroddon @nitmws Did you want to now update the Constraint Vocab will all the update definitions and new constraint terms?

[2016-12-14 06:17] riannella commented on #67
Changed all rdfs:comment to skope:note

[2016-12-14 06:43] riannella commented on #64
done.

[2016-12-14 08:40] vroddon commented on #67
No, but I will during tomorrow then.

Víctor

El 14/12/2016 a las 7:06, Renato Iannella escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34) 91336 3753
Skype: vroddon3

[2016-12-14 09:03] nitmws commented on #79
@riannella I'm not a deep RDF expert like @iherman but an RDF user with a focus on metadata of media assets. So let me modify my statement: a thisConstraint-leftOperand-rightOperand triple does not assert what it should by expressing a class definition by RDF.

The RDF 1.1 Concepts and Abstract Syntax - https://www.w3.org/TR/rdf11-concepts - defines:  "Asserting an RDF triple says that some relati

[2016-12-14 14:15] stuartmyles commented on #46
Yes - I admit, I raised the question of auto-generating XML from the
Ontology, to illustrate why I think auto-generating the JSON from the
Ontology is also not a good idea.

I don't seriously think that we should auto-generate either XML or JSON. In
both cases, the auto-generating the schema will result in ugly documents,
Fine for people who never plan to work with the formats directly (i.e.
those

[2016-12-14 14:45] Jimflip commented on #46
Hi

I think this has been said before, but to just to clarify and support the opinion.
The JSON representation should be the JSON-LD simply with the @context removed.
We define and provide the @context which will give us a representation in JSON that we agree on.

If people define their own JSON representation that is their choice, but with the semantics removed and a different representation then

[2016-12-14 15:28] stuartmyles commented on #46
removed.

Yes, I agree with this,

But the suggestion is now that we don't need to even have a specific JSON
representation. Instead that we simply generate JSON (or JSON-LD) from the
ODRL Ontology. My view is that, if we go down this path - not specifying
"here's the JSON syntax" - then other people will craft their own.

Regards,

Stuart

On Wed, Dec 14, 2016 at 9:45 AM, James Birmingham <notifi

[2016-12-14 15:33] iherman commented on #46
To add what @Jimflip said: please look at

- the [Web Annotation Model](http://w3c.github.io/web-annotation/model/wd2/) document, that defines the annotation structures in JSON that happens to be JSON-LD (it does include a single `@context`)
- the JSON-LD [`@context`](http://w3c.github.io/web-annotation/vocab/wd/#json-ld-context) is defined in the separate (RDF) [vocabulary document](http://w3c.gi

[2016-12-14 23:50] riannella commented on #79
@nitmws  are you concerned that when you read:
  odrl:count 1
that this is interpreted as "the odrl:count is 1" ?

[2016-12-15 12:13] nitmws commented on #79
@riannella yes, to be precise it could be read as: "this constraint's odrl:count is 1" ... and odrl:count is not a property of the class Constraint.

[2016-12-15 12:49] riannella commented on #48
I recommend these provenance properties:
- date
- version
- place

Validity dates can be expressed as Constraints.

[2016-12-15 17:11] vroddon commented on #63
I write again the example, as it was poorly formatted in my previous message....

[code]

[2016-12-15 18:53] vroddon commented on #67
The wiki at https://www.w3.org/2016/poe/wiki/Constraints is unclear on what has been decided.
For example, should I create a new "absoluteSpatialPositionAsset" term?

[2016-12-15 23:52] riannella commented on #63
And for Duties, we would also have the same properties?

[2016-12-15 23:55] riannella commented on #79
This is a significant change, as it will fundamentally change the current rightOperand property.
Hence, the decision is beyond this Github Issue discussion, and must be taken the to WG for a decision.
Can @nitmws and @vroddon work on a detailed proposal (including the proposed ontology change) and submit that to the WG for discussion/resolution?

[2016-12-16 00:01] riannella commented on #67
Yes, the current term definitions should be updated as per the wiki page.
And the new terms added (as sub-terms) of their parent.

5 Dec Meeting: RESOLUTION: For Issue#60 we work on improved Constraint Definitions and include non-simple values for some constraints where it makes sense

[2016-12-16 10:25] nitmws opened #84 "Review definition of Constraint by ODRL ontology"
The discussion under issue #79 raised in a sub-thread the question: are the key items of the mathematical/logical expression/comparison of a constraint - left operand, right operand and operator - as defined by the Information Model (http://w3c.github.io/poe/model/#constraint) well defined in the current draft ODRL Ontology (http://w3c.github.io/poe/vocab/ODRL22.ttl)

This issues should review tha

[2016-12-16 10:27] nitmws commented on #79
@riannella I followed your advice and started issue #84 about that topic. @vroddon could you have a look at that, please?

[2016-12-16 10:43] nitmws commented on #84
## Current status of the definitions of Constraint

... with a focus on left operand, right operand and operator

### By the Information Model

See http://w3c.github.io/poe/model/#constraint

- Constraints express mathematical terms with two operands and one operator. (Note: this definition leaves open what is expressed by these terms)
- name: a name that identifies the left operand of the operati

[2016-12-16 10:47] nitmws commented on #84
Comment on the definition of Constraint in the ODRL Ontology:

[2016-12-16 11:31] nitmws commented on #84
**Comment on the implementation of the Constraint class by the ODRL Ontology**

The basic requirement from the Information Model (IM) is: the required properties name (=left operand), operator and right operand(-reference) must be available in the Ontology.

The operator and the righOperand are defined as properties of the Constraint class, that is ok - but not completely, the definition of the se

[2016-12-17 07:43] vroddon commented on #84
If I understand well, the resulting expression would be:
[code]
I am very happy with this change. Everything is far cleaner now.

[2016-12-17 10:07] vroddon commented on #84
I have changed the ttl file and the index.hml.
I have uploaded the changes in the git into a new branch named issue84.
I DONT KNOW HOW TO PROCEED:
a) Push directly the changes to branch gh-pages
b) Wait for your approval

(for the moment I wait)

[2016-12-17 10:08] vroddon commented on #84
Actions taken in the uploaded version as branch issue84:
- Corrected the name of J. Birmingham in a metadata field.
- Created the new :LeftOperand class and the :leftOperand property.
- Changed all the constraints from subproperties of ;rightOperand to instances of :LeftOperand
- Added new concepts to the list of terms relevant to Constraints
	skos:member :leftOperand ;
	skos:member :LeftOperand ;

[2016-12-17 10:22] vroddon opened #85 "Editorial style"
Should text strings be ended with a dot when they are sentences?
Current practice at ODRL is totally irregular, and it should be at least uniform. I could not find a recommended practice for that.

![example](https://cloud.githubusercontent.com/assets/5434597/21286101/02cbff3a-c44b-11e6-8877-89564e93e9f7.png)

[2016-12-18 11:06] riannella commented on #85
If it is a sentence, them it should end with a full-stop

[2016-12-19 08:41] nitmws commented on #84
@vroddon a few comments on the ODRL22.ttl in the issue84 branch - changes shown as bold:

- The issue date should be set to a recent date - to make clear "this is a newer version as the one of 5 July 2016"
- :rightOperand refers to RightOperandReference - but this thing does not exist in this file, only a first suggestion?
- :LeftOperand skos:definition: "Left **operands** for constraint expressio

[2016-12-20 05:59] simonstey commented on #76
no.. the conflict attribute is neither _resolving conflicts_ nor does it _set priorities over the Permissions/Prohibitions in the same policy_. It is specifying a policy's conflict resolution strategy that must be adhered to when resolving conflicts of said policy.

In ODRL, there are currently only 3 strategies to choose from namely **invalid**,**perm**, and **prohibit**; and it happens that two

[2016-12-20 06:16] simonstey commented on #49
which would (afaik) make ODRL profiles non-normative altogether.

[2016-12-20 06:17] simonstey commented on #82
what about inheritance?

[2016-12-20 10:00] vroddon commented on #85
I have fixed them in the issue83. But there is still another style criterium pending to review....
...systematically checking of capitals are placed where they correspond. Please see this example:

![capitals](https://cloud.githubusercontent.com/assets/5434597/21346170/6f254f2e-c6a3-11e6-8883-971ba99c77dc.png)

[2016-12-20 10:01] vroddon commented on #84
I have effected the changes, again pushing only in the github branch issue84

Regards,
Víctor

El 19/12/2016 a las 9:41, Michael Steidl escribió:

I start with:
     skos:note "The range of the status property is identical to that of
the constraint expression."@en ;

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Inform

[2016-12-20 10:25] vroddon commented on #81
What is the status then of this issue? Does it need discussion in a call?

[2016-12-21 00:24] riannella commented on #49
Correct. ODRL Profiles are not mandatory to use ODRL.

[2016-12-21 00:30] riannella commented on #85
Yes, we should try and be consistent and use capital letter for the names of Entities in the human-text.

[2016-12-21 00:32] riannella commented on #81
I think if there are no objections to the current proposal to change the rightOperand, then we are ok to go ahead.

[2016-12-21 00:45] riannella commented on #84
Should we then also change Constraint "name" in the Info Model to "leftOperand" to make it abundantly clear?

The name of the SKOS Collection in the Ontology can also become "Constraint Left Operands"?

Set the label for leftOperand to be "Has Left Operand".

policyUsage should be an Individual of class Right Operand now.

[2016-12-21 00:55] riannella commented on #84
We should also add skos:historyNote to the updated terms to indicate the changes.

[2016-12-21 01:47] riannella commented on #76
Ok, made some edits to the section to make it about "strategies" rather than actual conflict resolution.

if there are other strategies we can add to the model, please suggest.

[2016-12-21 01:56] riannella commented on #82
If there are Asset/Parties at the Policy level in the Parent, they get inherited to the Child, along with any Rules.
Then in the newly inherited Policy (child+parent) the same rule applies.
If it already has Asset/Parties at the (child) policy level, then the outcome is an invalid policy.

[2016-12-21 08:01] nitmws commented on #81
By my view and intention the proposals in https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model are clarifications and refinements of free-text definitions without a change of the information model. Using the term "name" for the left operand may be a surprise but I agree to @riannella that this is a backward compatibility issue. If it is ok to add these modified definitions to the

[2016-12-21 10:42] riannella commented on #81
Yes, we (the InfoModel editors) can make this update.
But please see issue #84 on possibly updating "name" to "leftOperand"

[2016-12-22 09:29] nitmws commented on #81
Having a look at http://w3c.github.io/poe/model/ I see that @riannella and @sereAbi are the two editors of the Information model - will you apply the proposals in https://www.w3.org/2016/poe/wiki/Constraints_in_the_Information_Model ?

[2016-12-23 01:14] riannella commented on #81
Yes

[2017-01-03 12:22] riannella commented on #81
Completed

[2017-01-03 12:30] riannella commented on #79
Closing this issue - as it now appears as #81

[2017-01-03 12:30] #79 closed, assigned to nobody

[2017-01-03 12:35] riannella commented on #68
See #81

[2017-01-03 12:44] riannella commented on #74
Added prohibit (missing from skos collection)

[2017-01-03 12:48] #49 closed, assigned to riannella

[2017-01-03 12:49] #75 closed, assigned to sereAbi, riannella

[2017-01-03 12:50] #68 closed, assigned to nitmws, riannella

[2017-01-03 12:50] #39 closed, assigned to nobody

[2017-01-03 12:51] #21 closed, assigned to riannella

[2017-01-03 12:55] riannella commented on #41
This is the same as #61 .
Closed

[2017-01-03 12:55] #41 closed, assigned to nobody

[2017-01-03 13:03] riannella commented on #56
Added rightOperandReference  to vocab

[2017-01-05 14:23] iherman commented on #84
I try to understand how this would work, because I am still a bit messed up.

I take on example from the [ODRL2.1](https://www.w3.org/ns/odrl/2/ODRL21#sec-examples) which says:

[code]

In the new ontology, `payAmount` is defined as a Left Operand. Is it so that, under the new proposal, the example above would look like:

[code]

If so, this indeed looks way cleaner. It does smell like reification

[2017-01-05 14:33] vroddon commented on #84
Hi Ivan,

I think you have understood it correctly, we only have to write the spec
so that it is clear beyond doubt for you and for any reader.
Regarding the meaning of |odrl:RightOperandReference|, I believe it
clarifies the semantics of the attribute: value or reference?

In the given example the rightOperand was a number, which is quite
different  from URI. But consider the case when the rightO

[2017-01-05 15:19] nitmws commented on #84
Hi @iherman
the updated Information Model ED shows already an examples of such a constraint of a duty - http://w3c.github.io/poe/model/#duty

[code]

In #81 Renato said it should be discussed if the property "name" should become a "leftOperand" in the ontology - as "name" is used since ODRL 2.0 and this would be a remarkable renaming.
But that's more a backward compatibility/documentation terminol

[2017-01-05 15:44] iherman commented on #84
If this is all you want to do, why don't you use [anyURI from xsd](https://www.w3.org/TR/xmlschema-2/#anyURI <https://www.w3.org/TR/xmlschema-2/#anyURI>)? Why introducing a new type for this?

[2017-01-08 00:45] riannella commented on #84
@iherman there is a semantic difference. The requirement is to support the declaration of the rightOperand as the actual value, eg "10", "Canada", "2017-01-01" or "http://w3.org/" AND as a de-reference-able URI. The latter then would HAVE to be de-refed to get the actual value of the rightOperand.

Hence, RightOperandReference may be "http://weather.com/brisbane/today" and you have to deref it to

[2017-01-08 06:36] iherman commented on #84
Ah. O.k., I get it.

[2017-01-09 08:15] nitmws commented on #82
A note on inheritance inside a policy: the most flexible solution would be to permit having party/asset at the policy level and in addition at the P/P/D level too. The inheritance rule should be: the party/asset applying to a rule is the union of party/asset at the policy and at the rule level.
(Practical view: as the data structure has party/asset at both levels I'm afraid sooner or later they wi

[2017-01-09 13:03] riannella commented on #84
WG agreed to this change (9 JAN 2017)

[2017-01-09 13:09] riannella commented on #82
Look at implications of inheritance model

[2017-01-09 13:22] riannella commented on #73
WG agreed to this change (9 JAN 2017).
Also look at multiple Assets

[2017-01-09 13:32] vroddon commented on #48
I would also add authorship and license itself.

[2017-01-10 00:38] riannella commented on #48
Perhaps we just recommend Dublin Core for the prov properties?

[2017-01-10 00:56] riannella commented on #72
Resolved at https://www.w3.org/2017/01/09-poe-minutes
Change will be made at next WD release

[2017-01-10 00:56] #72 closed, assigned to nobody

[2017-01-10 01:02] riannella commented on #84
@nitmws @vroddon Can you please make these changes (now approved by the WG) and merge the github branch back into the main branch.

[2017-01-10 01:14] #81 closed, assigned to nitmws

[2017-01-10 01:15] #56 closed, assigned to nitmws

[2017-01-10 01:42] riannella commented on #59
The vocab needs to be add support for the Asset scope and update the scope support for Party

[2017-01-10 02:07] riannella commented on #61
Added this to http://w3c.github.io/poe/vocab/#targetAsset
Comments?

[2017-01-11 00:02] riannella commented on #84
I suggest we also rename "name" to leftOperand in the Info Model.
(For the XML encoding, we will still use "name" with a note to indicate the mapping)

[2017-01-11 08:54] vroddon commented on #84
Sure! I will make the changes tomorrow.

El 10/01/2017 a las 2:02, Renato Iannella escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34) 91336 3753
Skype: vroddon3

[2017-01-16 10:08] vroddon commented on #84
Done.
As soon as it gets approved I will delete the branch84 in the repo.

[2017-01-16 13:05] riannella commented on #48
The terms dcterms:replaces and dcterms:isReplacedBy are both defined
23:05 Serena: phila: that should be part of the processing part

[2017-01-16 13:21] riannella commented on #82
WG agreed to the examples send to the list:
https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0004.html
https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0005.html

[2017-01-16 13:25] philarcher opened #86 "ODRL Processor & Test Suite"
There are several sections of the ODRL model that talk about how ODRL should be processed. My strong recommendation is that these are collected into a specific section of the document that sets out methodically what a processor should do. An example would be https://www.w3.org/TR/powder-dr/#powderprocessor. This is backed up by a test suite, which is a feature of many standards. That is, you provi

[2017-01-16 13:42] nitmws opened #87 "Use of the label Left Operand in the ontology/vocabulary"
The ODRL Vocabulary & Expression Editor's Draft of 16 January 2017 uses the label "Left Operand" two times:

- http://w3c.github.io/poe/vocab/#term-leftOperand (4.12.6) identifier =  	http://www.w3.org/ns/odrl/2/leftOperand - used for the property of a left operand in Constraint class
- http://w3c.github.io/poe/vocab/#term-LeftOperand (4.12.7) identifier =  	http://www.w3.org/ns/odrl/2/leftOperand

[2017-01-16 13:59] vroddon commented on #87
Well,

4.12.6 is lowercase (leftOperand) whereas 4.12.7 is uppercase
(LeftOperand); which is consistent with the convention for naming
properties and classes respectively. Please note that the labels are the
same, though.

How should we proceed?

Regards,
Víctor

El 16/01/2017 a las 14:42, Michael Steidl escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de

[2017-01-16 16:25] nitmws commented on #87
@vroddon at the call on 9 January - https://www.w3.org/2017/01/09-poe-minutes - something similar was discussed: constraint vs Constraint.
Following what @riannella said then: should we label the leftOperand as Has LeftOperand (http://w3c.github.io/poe/vocab/#term-constraint) and keep the LeftOperand as it is?

Regarding naming conventions: there are also some recommending to prefix a class with "

[2017-01-16 16:30] vroddon commented on #87
Then I will replace in the repo (TTL and HTML) leftOperand with hasLeftOperand...
I do agree that the name will be then more clear.

[2017-01-16 19:32] vroddon commented on #87
Now I realise that we should speak then of hasRightOperand, and hasRightOperandReference.
And then, indeed, "hasConflict" instead of "conflict", and "hasPermission" instead of "permission", "hasInheritFrom" etc.

I see the minutes at https://www.w3.org/2017/01/09-poe-minutes, and see no disagreement with Phil's proposal, but also I dont see an explicit "mandate" (issue/resolution). Michael, do you

[2017-01-17 01:29] riannella opened #88 "Move Scenario Examples to Best Practices NOTE"
I propose to remove the Scenario Examples from the ODRL Vocab spec and move them to the ODRL Best Practices NOTE.
(They have already been removed from the ODRL Info Model)

[2017-01-17 03:14] riannella commented on #22
Followed the model outlined here: https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0005.html

Narrative and examples have been updated

[2017-01-17 03:16] riannella commented on #82
Added new section on 3.1.1 Policy Structures

[2017-01-17 03:16] riannella commented on #73
Added new section on 3.1.1 Policy Structures

[2017-01-17 05:24] riannella commented on #58
Added to the vocab

[2017-01-18 02:59] riannella commented on #59
Completed

[2017-01-18 15:25] vroddon opened #89 "Renaming properties"
Shall we adopt the recommendations to prefix a property with "has" or "is"?
http://wiki.opensemanticframework.org/index.php/Ontology_Best_Practices#Naming_and_Vocabulary_Best_Practices

We would have properties like "hasPermission" instead of "permission", "hasConflict" instead of "conflict" etc.
I see some consensus from the minutes at https://www.w3.org/2017/01/09-poe-minutes but this is an impo

[2017-01-19 00:19] riannella commented on #89
The current practice is to only "fix" those terms that have the "same" URI (except) for the capital letter (such as /Permission and /permission) - and the change is to add "Has..." to the label for the properties - the purpose is to meet I18N requirements for different (label) languages.

We want to avoid changing URIs unless its something is broken ;-)

[2017-01-19 00:51] riannella commented on #74
Above changes made.

[2017-01-19 01:45] riannella commented on #48
Added new Policy Provenance section

[2017-01-19 02:32] riannella opened #90 "XML Linking"
No that we support policy-level assets, parties, actions, we do not need to have XML linking (id and idref).

Update  (or remove) this section?

[2017-01-19 02:43] riannella commented on #46
Hi @stuartmyles - any ideas how we update the current JSON section  to JSON-LD ?

[2017-01-19 04:15] riannella commented on #25
updated to use owl:deprecated true ;

[2017-01-19 04:16] riannella commented on #90
Should we also remove the XML Schema Appendix (as it can be downloaded anyway)?

[2017-01-20 02:24] riannella commented on #67
Now that leftOperands are NamedIndividuals, we cannot support "narrow terms" like:
  absoluteSpatialPositionAsset NT of absolutePosition

[2017-01-20 02:31] riannella commented on #67
I think all the "This may be used to express [plus] semantics." should be removed.
We should do a ODRL/PLUS Profile (one day!)

[2017-01-20 03:05] riannella commented on #67
@nitmws (and all!) - Some comments on the Constraint changes:

1 - Would the new label for "Absolute Position Asset" read better as "Absolute Asset Position"?

2 - Same question for the two "narrower" absolute positions

3 - Can the URI for /absoluteSpatialPositionAsset be /absolutePositionSpatial to make it consistent with /absolutePosition (and not too long)?

4 - Same question for Temporal

5 -

[2017-01-20 03:50] riannella opened #91 "ODRL Latest Version Redirects"
We should update the redirects for these ODRL Latest Version URLs:

http://www.w3.org/TR/odrl
http://www.w3.org/community/odrl/model/2/
REDIRECT-> https://www.w3.org/TR/odrl-model/

http://www.w3.org/community/odrl/vocab/2/
http://www.w3.org/community/odrl/xml/2/
http://www.w3.org/community/odrl/json/2/
http://www.w3.org/ns/odrl/2/
REDIRECT-> https://www.w3.org/TR/odrl-vocab/

[2017-01-20 09:50] nitmws commented on #87
@vroddon I see @riannella setting the issue to To Be Closed ...
I would suggest a consistent naming = the properties should have has or is (for properties setting a characteristic of a class like type) as prefix.

[2017-01-20 10:05] vroddon commented on #87
Very timely your comment as I was about to implement the changes in the other direction. I explicitly asked this in a new issue https://github.com/w3c/poe/issues/89
can you perhaps share your view there?
I wait until this decision is taken:
- to rename all the properties
- to rename only the properties for whose name there is a colliding class.

[2017-01-20 12:50] riannella commented on #87
This option:  to rename only the properties for whose name there is a colliding class.

Which I think is all completed now.

[2017-01-20 16:13] nitmws commented on #67
While working on the ontology document, Left Operand region:

- I see there many second skos:note assertions - but they are not visible in the Editor' Draft document: bug or feature?
- I see there many assertions about the data type using an XML Schema data type. How seriously to take that for a JSON format?

[2017-01-20 18:16] nitmws commented on #67
Just pushed the updated ODRL22.ttl.

And that are my replies to @riannella 's posting of today - all not mentioned items were done as suggested.

- re 7: sticked to "Action Datetime or Period" this Left Operands covers both: datetime for executing the action and a period in which the action can be executed. This needs an "or".
- re 10: File Format After not added - yet. File  Format is defined as

[2017-01-20 18:18] nitmws commented on #67
Simple question: how is the HTML generated from the ODRL22.ttl? I don't have Linux, can't run the Makefile.

[2017-01-20 20:46] vroddon commented on #67
The task is ultimately done by a "phpspecgen.php" file.

The code seems to be have been adapted from yvesr's phpspecgen:
https://github.com/motools/musicontology.com/blob/master/docs/phpspecgen.php
which in turn is derived from njh's:
https://github.com/njh/phpspecgen
I tried (and failed) on Windows, so I run it on Linux.

Víctor

[2017-01-20 22:22] vroddon commented on #89
I have effected this changes in the TTL file.
Not yet updated the .html.

In particular, the following properties have been renamed.
permission --> hasPermission
prohibition --> hasProhibition
action --> hasAction
constraint --> hasConstraint
duty --> hasDuty
operator --> hasOperator
leftOperand --> hasLeftOperand
rightOperand --> hasRightOperand

The definition of permission, prohibition, action,

[2017-01-20 22:27] vroddon opened #92 "Should hasRightOperandReference survive?"
I believe there was a redundant property. Since :hasRightOperand can have as range a :RightOperandReference, In such a case, I don't see the point of maintaining a property like :hasRightOperandReference.  I have commented the redundant property, to be deleted if I dont hear the contrary.

[code]

[2017-01-21 11:38] nitmws commented on #67
@vroddon I see that the phpspecgen.php script is the core action of the Makefile. Unfortunately I don't have a quick-to-use Linux at hand.

[2017-01-22 11:39] riannella commented on #89
@vroddon This was **not** what the WG agreed to. The agreed to only change the **label** to "Has..." not the URI. We did not want to deprecate a term that is not broken (by changing its URI).
Can you please reverse this change?

[2017-01-22 11:45] riannella commented on #92
@vroddon The range for "hasRightOperand" is incorrect. It should be xsd:any only.

We do need rightOperandReference - we discussed why in #84

[2017-01-22 11:57] vroddon commented on #89
@riannella Done. Changes have been reverted as they were before my commit.

Víctor

El 22/01/2017 12:39, Renato Iannella escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
Facultad de Informática
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34) 91336 3672
Skype: vroddo

[2017-01-22 11:57] riannella commented on #67
RE: 10 - fileFormat is a constraint. If the value of fileFormat is "JPEG" and it constrained the "Transform" permission action, then the outcome of the action is the asset transformed into JPEG (only) format (no matter what its original format).

I don't understand why you would have a "file format of the Asset while the Action is exercised" as that is the original format?

Same with :11 with lang

[2017-01-22 11:58] vroddon commented on #92
yes, the way it is now is contradictory/redundant.

Víctor

El 22/01/2017 12:45, Renato Iannella escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
Facultad de Informática
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34) 91336 3672
Skype: vroddon3

---
El software de a

[2017-01-22 12:03] riannella commented on #67
RE: 15 So spatial can only have long/lats as the rightOperand?

[2017-01-22 12:05] vroddon commented on #92
@riannella the range of :rightOperand now only reads xsd:any

[2017-01-22 12:06] riannella commented on #67
There should only be one skos:note per term?
I assume JSON uses xml schema datatpes?

[2017-01-22 12:12] vroddon commented on #67
@riannella Information in the notes we have now is not exactly equivalent, and there is a certain logical order. The way we have it now does not guarantee the order consequently...
...I am in favour of merging them. Should I do it?

[2017-01-22 12:13] riannella commented on #67
Fixed the multiple skos:notes.
Made the index.html and published.

[2017-01-22 12:14] riannella commented on #67
@vroddon Can you explain what the order is? and what you would merge?

[2017-01-22 12:19] vroddon commented on #67
@riannella Consider the example below. We have:
[code]
Whereas I think we should have
[code]

[2017-01-22 12:22] vroddon commented on #67
@riannella Alternatively, we may want to use `skos:example`

[2017-01-22 12:23] riannella commented on #67
Ok, I see know. Lets merge the skos:notes and put the example at the end.

[2017-01-22 12:25] riannella commented on #90
We need to leave id/idref in for constraints on constraint support.

[2017-01-22 12:25] #90 closed, assigned to riannella

[2017-01-23 08:34] nitmws commented on #67
@riannella re -10 and -11: constraints refer in many cases to the asset and the defined as asset could be available in different renditions, e.g. a photo as TIFF, JPEG, PNG, GIF ... In this case a File Format constraint with the original definition ""The file format applicable to the Asset" and a permission action "transform" would raise the question: is this the input format of the transformation

[2017-01-23 08:44] nitmws commented on #67
@riannella re your "I assume JSON uses xml schema datatpes?": no, it doesn't. JSON has only the basic Javascript data types string, numeric, boolean and operator. And JSON Schema allows to add formats, e.g. to strings:  date-time, uri, email ... and numeric could have number (= xsd:decimal) and integer as sub-types. Therefore a note "... should be a xsd:date or a xsd:dateTime ..." cannot be implem

[2017-01-23 08:55] simonstey commented on #67
haven't we agreed to support/maintain only JSON-LD rather than both JSON-LD+JSON?

[JSON-LD typed values](https://www.w3.org/TR/json-ld/#typed-values)

[2017-01-23 09:05] nitmws opened #93 "normative vs non-normative vocabulary terms strategy?"
At POE calls it was said that a distinction of "normative" and "non-normative" could be applied to terms in the POE vocabulary - http://w3c.github.io/poe/vocab
All terms could have one of these two stati, having a look at them I can't see a strategy in some cases:

- Actions for Permissions and Prohibitions:
This is a hierarchical vocabulary with "use" (= making use of an asset) and "transfer" (=

[2017-01-23 12:03] riannella commented on #67
Yes @simonstey only JSON-LD

[2017-01-23 12:05] riannella commented on #67
I am hoping that some clever person (or script) can take the ODRL turtle and create a JSON-LD Schema?

[2017-01-23 12:08] riannella commented on #67
@nitmws Yes, the intention of file format/language was that it was the output created.
That is, I have file in format X, I can then transform it - but only constrained by file format Y - hence after the transformation, I have file in format Y.

[2017-01-23 12:14] riannella commented on #93
@nitmws The strategy was based on implementations. We took the ODRL Implementation survey as the first cut. See Issue #64 for snapshot of the implementation survey.
We will get updates from implementors over the next 6 months to update the term status.

The idea for this was that if there is only 1 implementor of a term/concept, then it would not be acceptable to W3C to standardise.

[2017-01-23 12:26] nitmws commented on #93
Thanks @riannella for this clarification. Then we should wait with final non-/normative decisions until we have more feedback - would a good reason to ask IPTC members for one.

[2017-01-24 00:19] riannella commented on #63
WG agreed to proposal at: https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0012.html
at 23JAN teleconf

[2017-01-24 00:19] riannella commented on #62
WG agreed to proposal at: https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0012.html
at 23JAN teleconf

[2017-01-24 00:35] vroddon commented on #63
Who has been assigned this task?
If nobody else does, I can update the ontology accordingly.

[2017-01-24 00:39] riannella commented on #63
Please do @vroddon - I think we just need to add the three operators odrl:xor odrl:or odrl:and

I will update the Info Model today

[2017-01-24 01:05] vroddon commented on #63
Implemented (only the operators :xor, :or, :and).
The odrl:dependsOn (https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0012.html) has NOT been implemented in this commit.

[2017-01-24 04:07] riannella commented on #63
Added section "Constraint Relations" to the Information Model: http://w3c.github.io/poe/model/#constraint-relations

[2017-01-24 07:47] riannella commented on #62
Added "constraint on constraint" support to section "Constraint Relations" in the Information Model: http://w3c.github.io/poe/model/#constraint-relations

Also used "isNecessaryFor" instead of "dependsOn" operator

[2017-01-24 11:07] nitmws opened #94 "Constraint specs currently do not cover logic operation on constraints"
This is about what was discussed as Extended Relations topic.

The current specifications regarding Constraints read (http://w3c.github.io/poe/model/#constraint):
- _Constraint_: Constraints express a Rule for comparing two operands by one operator. If the two operands match the result of the Constraint is true.
- _leftOperand_: The leftOperand identifies the left operand of the logic operation fo

[2017-01-24 11:56] riannella commented on #67
@nitmws I have updated the File Format definition, and removed Language After

[2017-01-24 12:01] riannella commented on #67
@nitmws I think we should keep the original definition for the Spatial constraint - that is - a named or identified area. And create the new constraint for the long/lag coordinates. (Basically, swap what we have now).

The new term can be "spatialCoordinates" ?

[2017-01-24 12:04] riannella commented on #67
To be more consistent, and have shorter URIs, can we remove the word Asset from these:
http://www.w3.org/ns/odrl/2/absoluteSpatialAssetPosition
http://www.w3.org/ns/odrl/2/absoluteTemporalAssetPosition
http://www.w3.org/ns/odrl/2/relativeSpatialAssetPosition
http://www.w3.org/ns/odrl/2/relativeTemporalAssetPosition

(Note: the labels are unchanged)

[2017-01-24 13:19] nitmws commented on #67
@riannella  re making Spatial a named or identified area: from the news industry I confirm that the primary use of a spatial constraint will refer to a named entity. So this change is ok. And moving the specs based on coordinates to a spaticalCoordinates constraint is ok.

[2017-01-24 13:26] nitmws commented on #67
Re taking "Asset" out of identifiers: I don't have a fundamental objection to that - but a concern: at IPTC we have regular discussions about the fact that many users of (IPTC) standards only look into formal validation documents (XML Schemas, JSON Schemas ...) and even expecting that they will read the attached documentation is reaching too far in many cases. Therefore we try to have "telling ide

[2017-01-24 13:35] nitmws commented on #67
Re creating JSON-LD from the ODRL22.ttl: try http://rdf-translator.appspot.com/ with http://w3c.github.io/poe/vocab/ODRL22.ttl as input. At first sight the outlook didn't look bad.

[2017-01-25 01:28] #82 closed, assigned to riannella

[2017-01-25 01:28] #73 closed, assigned to riannella

[2017-01-25 01:28] #61 closed, assigned to nobody

[2017-01-25 01:28] #58 closed, assigned to nitmws

[2017-01-25 02:16] riannella commented on #67
Updated the spatial constraints to /spatial and /spatialCoordinates.

[2017-01-25 02:20] riannella commented on #67
RE: "asset" in URIs - the main reason is consistency, as we have "relativePosition" and "absolutePosition"

Implementors need to read specs ;-)

[2017-01-25 03:13] riannella commented on #46
Dear all @stuartmyles @iherman @nevali @Jimflip @vroddon

@nitmws has said that we can create JSON-LD from the http://w3c.github.io/poe/vocab/ODRL22.ttl at http://rdf-translator.appspot.com/

It certainly produces some nice JSON-LD output.

The JSON-LD Context defined for the Annotation Vocab looks like this:
   http://w3c.github.io/web-annotation/vocab/wd/#json-ld-context

@iherman Do you know ho

[2017-01-25 04:07] riannella commented on #94
@nitmws I think the "opening up" option is better. I have updated the Constraint section.

[2017-01-25 05:58] iherman commented on #46
@riannella : to be honest, I do not know. CC-ing this to @azaroth42 (https://github.com/azaroth42, a.k.a. Rob Sanderson).

(will also send a direct mail)

[2017-01-25 08:05] nitmws commented on #67
@riannella  ... we should invent a documentation technology which provides access to technical details only after having read the free-text specification ... ;-)

[2017-01-25 08:55] nitmws commented on #94
@riannella Frankly I'm not happy with this "opening up" language as I tried to make it clear what each of these attributes stands for, now it got ambiguous.

I think we must use a strict divide by "in case of a Constraint expression" and "in case of Constraint Relations expression" else any reader who is not familiar with the thinking of this group will not be able to sort out the difference ... s

[2017-01-26 17:38] azaroth42 commented on #46
Yes, we created it by hand. The rationale being that the context is not just a simple translation of the schema, but instead an abstraction layer to turn an ontology into an API that's understandable and (more importantly) idiomatic for developers as opposed to ontologists.  For example, `oa:hasBody` in the ontology (following the best practice of verb phase for predicate) is just `body` in the JS

[2017-01-26 18:47] azaroth42 commented on #46
Example context and the first example from ODRL2:  http://tinyurl.com/jyude82

[2017-01-27 00:59] #84 closed, assigned to nitmws, vroddon

[2017-01-27 00:59] #59 closed, assigned to nitmws

[2017-01-27 01:00] #48 closed, assigned to nobody

[2017-01-27 01:00] #25 closed, assigned to nobody

[2017-01-27 01:00] #87 closed, assigned to nitmws

[2017-01-27 01:52] riannella commented on #46
So, what then would be the manual process to create the (simplest) JSON-LD Context?

Do we just take all (200 or so)  ODRL ontology terms (URIs) and list them like:

    "Policy":           "o:Policy",
    ....
    "policyUsage": "o:PolicyUsage"

And if the term is a property (and has a URI object) then we say:

    "target":     {"@type": "@id", "@id": "o:target"},

Would that work?

[2017-01-27 02:45] riannella commented on #94
1 - I have applied all these change...

2 - I did not include "it SHOULD include the entity it constrains and how its value for a comparison has to be retrieved/generated." as we have no way of actually supporting that now. We once discussed "subjectOf" but the consensus seemed to be to have better constraint definitions.

3 - Updated vocab with "This operator MUST only be used for Constraint rela

[2017-01-27 02:50] riannella commented on #67
Took "Asset" out of the 4 URIs

[2017-01-27 08:07] nitmws commented on #94
re 1: thanks

re 2: my proposed definition might need a slight adjustment (in bold): "it**s free-text definition** SHOULD include the entity it constrains and how its value for a comparison has to be retrieved/generated."
This sentence was explicitly a goal for the revisions of the existing Names of Constrant/Left Operands in the ODRL vocabulary: to explicity say if this constraint applies to the

[2017-01-27 15:27] stuartmyles commented on #46
I've just noticed these emails with @stuartmyles mentions in them. Are
these meant to be me alerting me somehow?!!?

Anyway, now that I've seen it I will trace back through the thread and see
if I can contribute in any way. Apologies for not checking this email
account sufficiently diligently before now.

Regards,

Stuart

On Thu, Jan 26, 2017 at 8:52 PM, Renato Iannella <notifications@github.com>

[2017-01-27 17:20] azaroth42 commented on #46
@riannella That should work :)  You would want to distinguish between @type:@id, and @type: @vocab if you want to avoid prefixes in the values.  The distinction is described here:  https://www.w3.org/TR/json-ld/#type-coercion

[2017-01-29 16:04] simonstey opened #95 "3. ODRL Information Model"
what? how's the context of an ODRL policy defined? how does one *execute* the *use*? the use of what?
Given that ODRL defines both `odrl:use` and `odrl:execute`, this might cause confusion.

Isn't that domain specific? Why do we need to make those statements?

that's not only limiting the applicability/usefulness of ODRL in general, but also not reflected in the examples of the spec.

phrasing; do

[2017-01-30 00:45] #92 closed, assigned to nobody

[2017-01-30 00:45] #89 closed, assigned to nobody

[2017-01-30 00:45] #78 closed, assigned to sereAbi, riannella

[2017-01-30 00:45] #77 closed, assigned to sereAbi, riannella

[2017-01-30 01:06] riannella commented on #94
Re 2: added a new 3rd paragraph to the section.

Re 3: Done

re 4: I see now. I think we allow this as the reuse of constraints is good thing.

re:5 : yes, you would have to use SHACL to do the same in OWL (and we won't ;-)

re 6: Hmm...you are right...its the rightOperand! Updated ;-)

[2017-01-30 02:32] riannella commented on #95
I have made the suggested changes.
Please see the diffs here: https://github.com/w3c/poe/commit/b4c6fca8cced6b13c34a15e227f32e065ff1f6da

Comments:

1) We use RFC2119 for consistency
2) Example 21 is an Offer and should not define an Assignee
3) Examples aid in better understanding the specification. If there are ones that are incorrect or could be updated, then please indicate.
4) We plan to have

[2017-01-30 05:50] simonstey commented on #95
AFAIK (and others, e.g., @philarcher1 or @iherman please correct me if I'm wrong) using a RFC2119 key word like MUST NOT for a statement like `A Prohibition indicates that the Policy expresses an Action that MUST NOT be performed,` would require any implementation using ODRL to be actually able to verify whether prohibited action is indeed not performed in order to conform to the standard. Can we

[2017-01-30 06:37] riannella commented on #95
1) Don't forget that ODRL is an expression language, not an enforcement language :=)
2) You can always express a Duty, but who does it depends on other factors, eg an Offer being "accepted" an turned into an "Agreement"

[2017-01-30 06:47] simonstey opened #96 "3.1 Policy"
-> A Policy has following attributes:

s/uid/id to align it with [json-ld's node identifier](http://json-ld.org/spec/latest/json-ld/#node-identifiers)?  `the unique id ..` e.g., OWL does not adhere to the [UNA ](https://en.wikipedia.org/wiki/Unique_name_assumption) -> s/the unique identification of/an identifier of ?

which trivially applies to all attributes of any of the concepts.. s/semantics/s

[2017-01-30 08:17] nitmws commented on #94
re 2: looks good, thanks.

re 3: currently (Mon, 30 Jan, 8:15 GMT) we can't see that in the Vocab document as it is still the 27 January verson.

re 4: after a conversation with @simonstey I understand the approach "in  RDF a constraint is an entity with an identifier, this way it can be referrenced from anywhere". This formal approach is ok. But leaning towards a practical use, see my example abo

[2017-01-30 08:37] nitmws commented on #95
Note on a detail:
- the non-normative chapter 1 talks explicitly about "digital content" as the thing permissions and obligations are about ...
- while the normative chapter 3.2 doesn't use the constraining "digital", it defines "_The Asset entity can be any form of identifiable resource_". Based on this definition: is it ok or not ok to permit the display of the Nefertiti Bust (https://en.wikiped

[2017-01-30 13:44] vroddon opened #97 "On prohibitions living alone"
I understand a prohibition living alone may bring no new information whatsoever. But I would argue the following:

- **How to mark "All rights reserved" in a digital catalog?** (let's say of e-books). You can imagine a catalog, many of whose entries are waiving some rights with ODRL expressions. Great.
What shall we do with those entries (e-books) which have waived no right at all? Well, no permis

[2017-01-31 03:58] riannella opened #98 "isNeccessaryFor"
@simonstey @nitmws
Updated isNeccessaryFor and added more processing rules.
Please  make any suggestions

[2017-01-31 04:04] riannella opened #99 "Align vocab terms to the definitions in the IM"
Update all the vocab terms that are defined on the IM to be the same

[2017-01-31 04:05] #93 closed, assigned to nobody

[2017-01-31 04:05] #62 closed, assigned to nitmws

[2017-01-31 04:05] #63 closed, assigned to nobody

[2017-01-31 08:52] nitmws commented on #98
My  views on the current isNecessaryFor (IM of 31 January) in 3.8.1:
- I put this issue on the top - frankly it came up while writing all the bullets below: **is our thinking about this isNecessaryFor going in the right direction?** A logic combination of two constraints can be expressed by the operators or, xor or and. And if the left and the right operand must be satisfied then "and" should be u

[2017-01-31 11:29] riannella commented on #97
@vroddon the good news is that the ODRL Info Model does support a policy with just a Prohibition.
The PolicyTypes makes that clear: https://w3c.github.io/poe/vocab/#policyTypes

A question about your example. You are prohibiting "odrl:action" ?

[2017-01-31 12:11] vroddon commented on #97
@riannella
1) ok! from yesterday's conversation I understood you were questioning this type of policy.
2) In the given example odrl:action is the property and we are just forbidding "IPR rights" and "Database rights".
The only change I see is replacing "odrl:Policy" by the "odrl:Prohibition"

[2017-01-31 12:11] #97 closed, assigned to nobody

[2017-01-31 16:19] stuartmyles commented on #46
I'm a bit confused as to where this (creating a JSON-LD mapping) stands now.

Based on Rob and Renato's emails, it sounds like someone needs to create a
JSON-LD context file. And that, essentially, it needs to be done manually.
Is that right? If so, is there someone already working on doing that? If
not, then I can volunteer. (I just don't want to do it if someone - likely
better qualified than me

[2017-02-01 01:15] riannella commented on #96
"uid" should be mapped to @id in json-ld section.

other changes made.

[2017-02-01 01:19] riannella commented on #46
@stuartmyles no one has started the manual creation of the JSON-LD context file. Please do 👍 .
We need this asap to move the Vocab spec forward.

We also need to then update the narrative section on JSON-LD...I assume it will be shorter now?

[2017-02-01 02:01] riannella commented on #94
re: 3 - updated the spelling in Vocab now

re: 4 - agree - the Best Practices document is a good place for this.

re: 6 - fixed - but left out "definition of" as that is more semantics

[2017-02-01 02:09] riannella commented on #95
Removed the "digital" only wording...

[2017-02-01 03:38] riannella commented on #98
What does C1 odrl:and C2 mean?
Both constraints must be satisfied (and we don't care when or even if they *ever* get satisfied).

So, now consider C1 odrl:isNeccessaryFor C2.
Both constraints must be satisfied and there is a temporal dependency: as soon as C1 is Satisfied, then start processing C2.

We call rename this more precisely as:
  C1 odrl:andBefore C2

We can explain that its makes sense

[2017-02-01 06:04] riannella commented on #98
How can we have "circular chaining" if there are only two operands which are both atomic constraint expressions ?

[2017-02-01 06:08] riannella commented on #98
Item 8: If we say  "... the left operand Constraint MUST be processed first, after its result is available the right operand Constraint MUST be processed."

Isn't the first part of that the same as saying the first constraint is satisfied? Because "the result" could be "no" and you need to wait...

[2017-02-01 14:26] nitmws commented on #98
@riannella and @simonstey I stick to my question: is isNecessaryFor what we need or do we want to communicate: a constraint related to an Action must be checked at the time of exercising the Action.

Re Renato's thoughts above:

Re "What does C1 odrl:and C2 mean": right, both MUST be satified. And right: how to deal with "no result of C1 is available" is not discussed anywhere in the ODRL specs.

[2017-02-01 20:42] stuartmyles commented on #46
@azaroth42 looking at your example, it seems you rewrote the JSON - was that to make it easier to map it into JSON-LD? If so, I have some questions...

Here is the original JSON example:

{
    "policytype": "http://www.w3.org/ns/odrl/2/Set",
    "policyid": "http://example.com/policy:0099",
    "permissions": [{
        "target": "http://example.com/asset:9898",
        "action": "http://www.w3.o

[2017-02-01 23:08] azaroth42 commented on #46
You can specify that the property must be expressed as a singleton list, rather than reducing it to just an object. I simplified down, but that's not necessary for JSON-LD, just a choice I made at the time :)

And yes you can use full URLs. I think its a good practice for static URLs (such as using URLs as identifiers like 'modify') to reduce it to an entity in the context ... but that's certainly

[2017-02-02 08:04] riannella commented on #98
1) *All* constraints need to be checked at the time of exercising the action. So why are the Constraint Relations any different?

2) We define what happens if there is no result of a constraint in the Perm/Pro/Duty sections:
"Constraint: the Permission may refer to one or more Constraints which affect the validity of the Permission - it only becomes effective if all of the referred Constraints are

[2017-02-02 10:03] nitmws commented on #98
Re @riannella comment before:

re 1: That they _must_ be checked at the time ... is not defined. And if they _need_ to be checked at the time ... depends on the constraint: if the constraint limits the use of an asset to the time after a specific date and time one can draw conclusions from that already hours before - e.g. putting the story in a publication queue with a publication time set to the

[2017-02-02 12:00] riannella commented on #98
1/2/3 - Added a new 3rd para of the Constraint section.

4 - It is an "and" PLUS a sequence. So, we can be very precise and call it "odrl:andSequence" instead?

5/6 - The benefit you have is that IPTC covers a business domain  - with known semantics and business rules.  ODRL only has that capability in ODRL Profiles.

The use case is "a time period after an event has concluded".

[2017-02-02 12:03] riannella commented on #98
I think this is the original requirement: https://www.w3.org/2016/poe/wiki/Requirements#POE.R.DM.06_Support_relative_time_constraints

Which turned into the big "constraints on constraints" discussion...

[2017-02-02 12:04] riannella commented on #98
And the Use Cases: https://www.w3.org/2016/poe/wiki/Use_Cases#POE.UC.19_Relative_Time_Constraints

https://www.w3.org/2016/poe/wiki/Use_Cases#POE.UC.16_Accessing_Historical_Data

[2017-02-02 13:27] vroddon opened #100 ":Asset owl:equivalentClass owl:Thing ."
@riannella I find this triple terribly dangerous.

Please note that we are expressing that "_any individual IS an :Asset_" which is quite different from saying that "_anything CAN BE an :Asset_". I believe we just wanted to express the latter. Otherwise parties, actions or feelings will be assets.

Can we remove this triple?

[2017-02-02 13:34] riannella commented on #100
Get rid of it!

[2017-02-02 14:17] nitmws commented on #98
Hi @riannella is this a night shift today for you :-( ?

Re your comments above: I'm aware of this discussion but my conclusion is that isNessareyFor doesn't cover the needs. Why:
- re POE UC 19: This UC defines that first a dynamic point in time is set (end of an event) and then this point in time is the starting point for a temporal delay, only after this delay the Action may be exercised. How t

[2017-02-02 15:33] vroddon commented on #100
done

[2017-02-02 15:33] #100 closed, assigned to nobody

[2017-02-03 00:14] riannella commented on #46
Just saw this job posting:
  https://www.upwork.com/job/Create-JSON-Context-Definition-for-ODRL_~0156ff5fdb318c478f/

Anyone have any idea who it could be from?

[2017-02-03 01:47] riannella commented on #46
Should we map ODRL's policy uid and type to @id and @type in JSON-LD?

[2017-02-03 01:53] simonstey commented on #46
stuart as it seems :D  (you can toggle open the feedback on the very bottom)

yes

[2017-02-03 02:12] riannella commented on #46
ok, cool, could be the first time anyone has made direct money from ODRL ;-)

@stuartmyles please ensure you use the latest turtle at: http://w3c.github.io/poe/vocab/ODRL22.ttl
(not the ODRL21 version)

[2017-02-03 04:04] riannella opened #101 "Vocab terms "to an audience""
There are 4 vocab actions that end in "...to an audience":
- present
- display
- play
- textToSpeech

Typically, the right to "publicly perform" is an additional right (compared to me only allowed to play my music in private at home.)

I would like to recommend "...to an audience" be removed and if you need to express "the audience" then you can use the "recipient" constraint.

@nitmws I recall th

[2017-02-03 05:56] riannella commented on #98
I have an AI-Bot that works at night as me ;-}

POE-UC-19 is our classic "30 Mins after then end of the football match".
C1: event gteq "http://epl.com/2017/match"
C2: dateTime gteq P30M

In this case, you can't "and" C1 and C2 as the results are not the same (C1 has to "happen" first)

The "delay period" is intrinsic in the semantics of "event".

I think that this new operator (whatever we call i

[2017-02-03 08:45] nitmws commented on #98
Re POE-UC-19 ...:

- C1 Left Operand [Event](http://w3c.github.io/poe/vocab/#term-event): does not fit by its definition "_An identified **event at which** the Action may be exercised._" By that definition the right operand must be an identifier for an event - e.g. for the 2014 FIFA World Cup https://www.wikidata.org/entity/Q79859
- C2 Left Operand [Action Date Time or Period](http://w3c.github.io

[2017-02-03 11:02] vroddon opened #102 "Definition of policy"
@sereAbi I suggest we replace this definition

with this one:

[2017-02-03 11:06] riannella commented on #102
"over a resource" should be "an Asset" in all the terms in section "1.4 Terminology"
(Resource and Content are not formally part of the IM).
We should also up the ontology to match

[2017-02-03 11:23] riannella commented on #98
RE: "Event" semantics - you also need to account for the operator. An event is a period in time. So "lt" and "gt" are operations that can be applied to it?

The definition probably should be "An identified event used for exercising the Action"

[2017-02-03 11:34] riannella commented on #98
Hmmm....what if you Prohibit the action, constrained with a dateTime = P30M ?

[2017-02-03 12:09] vroddon commented on #102
I have changed the definitions in the ontology according to this.

The current definition of Action does not make me happy:

I believe should read

In any case, these are the definitions as I have left in the ontology.

[2017-02-03 13:12] riannella commented on #102
Sounds OK

[2017-02-03 13:15] riannella commented on #98
@nitmws Are you ok then if:
1) we change isNeccessaryFor to isSatisfiedBefore
2) add a new constraint left operand: delayPeriod

[2017-02-03 13:33] nitmws commented on #98
@riannella I like your suggestion:

re 1: great, with a definition like "The left operand constraint of a Constraint Relation must deliver a satisfied result before the right operand constraint is evaluated. The right operand constraint may build on the satisfaction of the left operand constraint."

re 2: great too. Name = Action Delay Period, definition like "The Action may be executed after the

[2017-02-03 13:51] vroddon commented on #102
Done! I leave the issue open as a reminder to Serena/Renato to change the definition in the Information Model text...

[2017-02-03 19:18] stuartmyles commented on #46
Yes, this was from me. (It is good that you've seen it - I actually haven't
gotten any responses, yet, so I wasn't certain whether it had worked! I've
used this service a couple of times in the past and I normally get several
responses over night. However, none so far, which is a bit ominous).

I looked at creating the ODRL Context myself. After some study, I decided
that I could get to the level

[2017-02-04 07:08] nitmws commented on #98
@riannella an as I hope better naming for this discussed Constraint Relation operator has occurred to me:

- id: odrl:sequentialLtrAnd (or shorter odrl:seqLtrAnd)
- name: Sequential Left-to-Right And
- definition (as above): The left operand Constraint of a Constraint Relation must deliver a satisfied result before the right operand Constraint is evaluated. Finally both of the Constraints MUST be

[2017-02-04 07:38] riannella commented on #98
What about: andSequence  ?

[2017-02-04 10:38] nitmws commented on #98
We must include the direction. If C1 and C2 of the example above are in the left and right operand a sequence from right to left would spoil the intention. In this context an id `andSequenceLtr `would be ok. (And for the super-flexible people we could define an andSequenceRtl with a reversed definition ;-) )

[2017-02-04 11:21] riannella commented on #98
Sure...but the definition makes that clear what the direction is (and left to right is natural).

It is also unlikely that we (or anyone) would then also have "andSequenceR2L" as it is the exact same as the L2R with C1 and C2 swapped ;-)

[2017-02-04 11:28] riannella commented on #46
I am slightly confused too...(being weened on XML...:-)

Doesn't the JSON-LD context *also* act as the JSON schema?

So in the Annotation json-ld context: http://w3c.github.io/web-annotation/vocab/wd/#json-ld-context

Then when a JSON person writes  "Annotation", it really means "oa:Annotation" (and the latter keeps LD people happy)? ?

[2017-02-04 11:45] iherman commented on #46
These two are completely different. [JSON Schema](http://json-schema.org/) is a separate semi-specification; "semi" in the sense that I am not sure it is really stable. Nor do I know how widespread it is. A JSON-LD context is very different. It does not "check" the JSON file (as a JSON Schema would do) but it rather maps the JSON content on something that RDF processors like.

Yes. A JSON-LD parse

[2017-02-04 11:52] riannella commented on #46
So what do we do?

[2017-02-04 11:57] nitmws commented on #98
My/our (bad) experience: users try to infer from the characters of an id what it stands for. I would appreciate a Ltr in the id, only 3 characters.

[2017-02-04 12:03] iherman commented on #46
I am not sure I understand the question. Didn't we agree that we use JSON-LD as an encoding? If so, we must have a JSON-LD context file. What is the question?

[2017-02-04 12:45] riannella opened #103 "Add "stream" to Vocab"
"Streaming" is a common action for media now.
I recommend we add this.
Should it also be a narrower term of Present?

[2017-02-04 12:53] riannella commented on #46
Yes we did, but it seems that then does not address JSON developers (as well).
I had hoped/assumed that we were going to support both - thru the "context".

[2017-02-04 15:10] iherman commented on #46
You mean because it is not a JSON Schema, too?

I do not know how widespread is the usage of JSON Schema in the JSON developers' community. The fact that (afaik) it is still a moving target is not a good sign.

As far as I remember (@azaroth42 ?) we did look at JSON Schemas in the Annotation WG, and wondered whether it was worth defining a separate Schema file. But ended up not doing it.

In any c

[2017-02-04 20:57] azaroth42 commented on #46
[JSON Schema](http://json-schema.org/documentation.html) is primarily a validation tool, in the same way that XML schemas are. We use it in the test suite for the Annotation WG to validate that documents conform to the specific JSON-LD serialization required, but did not make a single uber-schema as the complexity far outweighed any benefits.

JSON-LD's context document just maps from JSON to RDF,

[2017-02-04 22:35] #67 closed, assigned to nitmws, vroddon

[2017-02-05 11:00] riannella commented on #98
I'm not keen on putting too much semantics into the identifiers (after all, we don't use "LxorR")

[2017-02-06 06:20] simonstey commented on #103
unfortunately for data in general too, cf. http://streamreasoning.github.io/RSP-QL/RSP_Requirements_Design_Document/

[2017-02-06 06:39] simonstey commented on #102
is that true though?

1. A duty may not have a target asset (in contrast to perms/prohibs)
2. A duty can only be defined for perms, thus isn't affected by the expansion mechanism defined in [3.1.1 Policy Structures](http://w3c.github.io/poe/model/#structure)
3. It's missing the whole "*A Permission entity MAY include a Duty entity that indicates a requirement that MUST be satisfied in order to und

[2017-02-06 12:05] riannella commented on #102
That was not correct. It has been updated in the terminology section:
 http://w3c.github.io/poe/model/#terminology

[2017-02-06 12:32] vroddon commented on #102
I have updated again the ontology to reflect two changes in the terminology:
- Capital letter for "Rules" in the definition of :Policy
- A longer definition for :Party
As I am not aware of further issues, we may want to close this issue.

[2017-02-06 23:27] riannella commented on #91
Actually the ns URL: http://www.w3.org/ns/odrl/2/
should redirect via accept headers (.ttl. .rdf .html .xsd .json)

[2017-02-06 23:45] riannella commented on #102
@vroddon I removed " .. e.g., a person, a group of people, an organisation, or an agent." from the Definition as it is coved in the skos:note
(and definitions should not include examples ;-)

[2017-02-07 04:02] riannella opened #104 "Update each section's list of attributes"
@simonstey - based on the teleconf yesterday - I have updated the Permission section to make the list of attributes more relatable.
  http://w3c.github.io/poe/model/#permission

Please review and comment..then we can update the other sections in a similar way.

[2017-02-07 06:34] simonstey commented on #104
Hi!

Using which property?

&

That's not how [`odrl:relation`](https://github.com/w3c/poe/blob/gh-pages/vocab/ODRL22.ttl#L568) and [`odrl:target`](https://github.com/w3c/poe/blob/gh-pages/vocab/ODRL22.ttl#L587) are used in the ontology nor defined in the [Vocab](https://w3c.github.io/poe/vocab/#term-relation): "_Note: 	**Sub-properties of relation** are used to define the nature of that link._"

[2017-02-07 10:50] riannella commented on #104
Hmmm...I think you maybe viewing the ODRL Information Model as a direct OWL Ontology model?
It is independent from any serialisations (and, or course, based on UML).
The intention is that the IM is *mapped* to various serialisations (thats what ODRL22.ttl does for OWL/RDF and ODRL22.xsd for XML Schema etc)

[2017-02-08 03:53] riannella commented on #46
@stuartmyles
I've attempted to create the JSON-LD context file for ODRL. See:
   https://raw.githubusercontent.com/w3c/poe/gh-pages/vocab/ODRL22.jsonld

@azaroth42
I am not sure if you can have a look at this? I followed the template used by the annotation spec.
I also tried to verify this in the JSON-LD playground but it gives me a processing error...and not sure where!

[2017-02-09 03:00] riannella commented on #104
Updated the other sections.

[2017-02-09 16:35] stuartmyles commented on #46
Hi Renato,

How did you create the JSON-LD file? Was it automatically or by hand?

Right now, it won't work, since it doesn't match the JSON examples. Also, I
notice some odd typos, e.g.

"function":           {"@type": "@id", "@id": "odrl:fuction"},

Which is why I'm wondering how you did it.

However it is something and I can try to alter it to actually match the
JSON schema.

I have gotten one

[2017-02-10 01:09] riannella commented on #46
I wrote it by hand (2 hours of cut, copy, paste ;-)

I used the Annotation spec JSON-LD context as the template:
  http://w3c.github.io/web-annotation/vocab/wd/#json-ld-context

Basically, all classes, individuals, and properties (that are not taking URI objects) become:
   "xxx": "odrl:xxx"

Any property that takes a URI object becomes:
   "xxx":                 {"@type": "@id", "@id": "odrl:xxx"

[2017-02-10 02:01] riannella commented on #46
Update: Gregg Kellogg (one of the JSON-LD editors) has agreed to help us out...

[2017-02-10 02:09] riannella opened #105 "Undefined Actions"
@simonstey In your PDF comments you have indicated that the entire section on "3.4 Undefined Actions" should be removed - is that correct ?

[2017-02-11 01:04] gkellogg commented on #46
Well, one thing that makes the context invalid is on line 151, where `meteredTime` should be `odrl:meteredTime`; that seems to be the immediate source of the issue you found in the playground.

There are some other things you should consider:

As you discuss, properties who's range is a resource rather than a literal (similar to owl:objectProperty) should typically have `@type: @id`. However, then

[2017-02-13 00:42] riannella commented on #46
thanks @gkellogg for your review and suggestions!

[2017-02-13 01:15] riannella commented on #46
I have updated the JSON-LD context file to use @vocab where appropriate.
Also updated the JSON-LD section (very minimal).

[2017-02-13 01:43] gkellogg commented on #46
Be careful with @vocab, if you think this will be combined with other contexts.

[2017-02-13 01:44] riannella commented on #46
Thanks for the warning @gkellogg - can you give us an example of what could go wrong?

[2017-02-13 01:48] gkellogg commented on #46
When combining contexts, the last one wins. I recommend the use of @vocab only when used by the final author of a JSON-LD document. If you explicitly define all terms in your vocabulary, you avoid this situation.

[2017-02-13 12:00] stuartmyles commented on #46
Here's a draft JSON-LD context which appears to support all of the existing
JSON encodings:

https://dl.dropboxusercontent.com/u/8555005/context.json

I want to do more testing, though, just to make sure.

Note that one difference in this ODRL Context (versus the one that Renato
has been developing) is that it follows the convention we established for
JSON - that explicit URIs always be used. This

[2017-02-13 12:39] vroddon opened #106 "On the convenience of rdfs:Resource for the rdfs:Range"
We find very often rdfs:Resource as rdfs:Range in the Ontology.

[code]

What is the purpose of declaring

Is it helping anyhow? Which is the purpose of that?
I am not sure it is incorrect, but I had never seen it before either.

[2017-02-13 13:09] nitmws commented on #101
If "to an audience" is removed the actions present, display, play and textToSpeech should include a note requiring to add a recipient party to define a private or open audience.

[2017-02-13 13:09] riannella commented on #103
Leave definition broad.
Not a narrower version of Present

[2017-02-13 13:50] vroddon opened #107 "Making ODRL2.2 to be OWL DL"
# **PROBLEM**
If you check the current complexity of the ontology, you will see it is not OWL DL.
You might want to test at the most famous OWL validator: [Manchester](http://mowl-power.cs.man.ac.uk:8080/validator/validate)
Because it is sometimes down, I created my own wrapper around OWL-API.
[My OWL profiler](http://owlprofiler.appspot.com)
We may want to claim that the ODRL Ontology is OWL DL.

[2017-02-14 01:22] #64 closed, assigned to riannella

[2017-02-14 01:42] riannella commented on #105
Section marked as possibly to be removed in future

[2017-02-14 02:17] riannella commented on #101
I think the definition of Present is an issue. It was originally defined in ODRL 2.0 more like a synonym for play, and display - but now has a very broad definition: "...perform or exhibit an Asset"

For "Present" to be a true parent to Play/Display/Print it's definition will need to reflect that.

 I would suggest something like: "...to render the Asset in visual or static form."

(The other chan

[2017-02-14 02:30] riannella commented on #103
Stream added. Please review.

[2017-02-14 04:02] riannella commented on #46
What is the impact then, if any, of *not* enumerating all the actions?
(I ask since I see both the W3C Annotations and Activity Streams JSON-LD contexts do...)

[2017-02-14 04:04] riannella commented on #46
There are some technical issues with the new context - namely "scope" is a property of a Party (or Asset) and we have an explicit "assignee_scope" - meaning every role would need to define that?

[2017-02-14 13:12] riannella commented on #106
I am happy to see this removed.

[2017-02-14 13:14] riannella commented on #107
I think these changes seem sensible (and nothing is lost).

[2017-02-16 00:49] #94 closed, assigned to nobody

[2017-02-16 00:50] #95 closed, assigned to nobody

[2017-02-16 00:50] #98 closed, assigned to nitmws

[2017-02-16 16:16] stuartmyles commented on #46
Good catch! I think the problem here is that we didn't cover the pattern
properties in the ODRL Context.

Here it is in the JSON Schema:

"patternProperties": {
                "^[a-z]+party": {
                    "type": "string",
                    "format": "uri"
                },
                "^[a-z]+_scope": {
                    "type": "string",
                    "format": "uri"

[2017-02-17 00:20] riannella commented on #46
Why can't you just have a "scope" property?
That is what we show in the Info Model examples...
See here: http://w3c.github.io/poe/model/#party-scope

[2017-02-17 00:49] riannella commented on #46
Some other points...
1 - pollicyid -> uid
2 - policytype -> type
3  - policyprofile -> profile
4 - permissions -> permission
5 - constraints -> constraint
6 - rightoperanddatatype -> datatype
7 - rightoperandunit -> unit
8 - duties -> duty
9 - prohibitions -> prohibition
10 - rightOperandReference missing
11 - what about the operators?

[2017-02-17 00:54] riannella commented on #46
What about all the Classes?

Should we support:

        "assignee": [{
                "@type": [ "odrl:Party", "vcard:Organisation"],
                "@id": "http://example.com/org44/",
                ...
        }]

[2017-02-20 00:53] riannella commented on #102
My update:

Duty - A set of Actions that are obliged to be performed for Permissions.
Asset - The subject of a Policy that Rules are applied to.
Constraint -The limits and restrictions to Actions in Rules

[2017-02-20 00:53] #102 closed, assigned to sereAbi

[2017-02-20 07:24] simonstey opened #108 "wrong wgPatentURI in InfoModel config.js"
should be -> `https://www.w3.org/2004/01/pp-impl/87755/status`

[2017-02-20 07:26] simonstey opened #109 "This specification doesn't appear to have any 'Privacy' or 'Security' considerations sections."
Respec now raises following warning:

How do we address this?

[2017-02-20 08:03] riannella commented on #108
Fixed

[2017-02-20 08:09] riannella commented on #109
Looks like "w3c" changed Respec for "ED" documents.
We can raise an issue.
But the UCR will become a "WG-NOTE" when we release the dated version

[2017-02-20 08:12] iherman commented on #109
This is indeed a new feature of Respec (it is only a warning, though).

We did talk about looking at the horizontal issues and surveys. Then we can see. But the section on privacy or security can be as simple a saying that this spec does not raise any of those issues; it is a sign that the group has considered the problem i the first place.

All that being said: we we plan to publish is a draft. I

[2017-02-20 10:05] nitmws commented on #101
As I recall the Action vocabulary discussion for ODRL 2.1 the intention of Present was to define at a generic level: this action is targeting an audience beyond the assignees = the assignee is the party presenting the asset to a wider/public/b2c audience. All the other sub-terms of "use" are actions in the context of the assignee only. And the "real" actions of presenting the asset are the sub-ter

[2017-02-20 11:08] riannella commented on #109
I think this is occurring in the UCR NOTE, so in reality, should not need such a section.

[2017-02-20 11:29] vroddon commented on #107
These changes have been implemented in the git branch issue107. To be merged as soon as they are approved in the call.

As you see, the 21 statements above have been added, and half a dozen have been removed (as described above). With these changes, the ontology becomes OWL DL. Checked, for example, with (http://mowl-power.cs.man.ac.uk:8080/validator)

[2017-02-20 12:03] riannella commented on #107
@vroddon I think we can make a call on this issue (it's an obvious improvement). So lets just make the merge....

[2017-02-20 12:07] riannella commented on #101
Sorry @nitmws, the intention of "Present" was to be a parent to play/display/print - so you would have one action that covered 3 "common" actions in the expression.

If you look at: https://www.w3.org/community/odrl/vocab/2.0/
You can see "present" as a synonym for Play and Display

[2017-02-20 12:15] riannella commented on #101
I would recommend we deprecate Present.

[2017-02-20 12:18] riannella commented on #101
..as it touches on, but does not complete the economic rights:
Reproduction Right
Distribution Right
Public Performance Right
Fixation Right
Communication Right
Transformation Right

[2017-02-20 13:09] vroddon commented on #76
Merged
(Revision: 2ebab830920efae27881e66509538d82646ae7d2,  at 20/02/2017 12:25:51)

[2017-02-21 00:29] riannella opened #110 "Additional party Roles"
(From BenWS)

In support of UC11 (http://w3c.github.io/poe/ucr/#POE.UC.11) I’ve listed the parties frequently in the kinds of licenses we support. Those marked with an asterisk are already supported in ODRL.

attributedParty*
attributingParty

consentingParty*
consentedParty

informedParty*
informingParty

compensatedParty*
compensatingParty

contractingParty
contractedParty

[2017-02-21 08:55] simonstey opened #111 "@uid vs @id"
some examples use `@uid` some `@id`.. shouldn't all examples use `@id`?

[2017-02-21 09:18] vroddon commented on #111
I understand @id within JSON-LD but... what is @uid? I just checked there is no meaning for that in the spec...

[2017-02-21 09:24] simonstey commented on #111
`uid` is a legacy attribute of ODRL, see e.g., ->

[2017-02-21 10:58] riannella commented on #111
I thought I had swapped them all over (to @id) - will do now...
The uid (from the model) is mapped to @id for JSON-LD

[2017-02-21 11:06] riannella commented on #111
Done

[2017-02-21 11:07] #108 closed, assigned to sereAbi, riannella

[2017-02-21 11:07] riannella commented on #107
Completed

[2017-02-21 11:07] #107 closed, assigned to nobody

[2017-02-21 11:07] riannella commented on #106
Completed

[2017-02-21 11:07] #106 closed, assigned to nobody

[2017-02-21 17:42] stuartmyles commented on #46
Apologies for the delay in getting back to you on this. I was out of the
office yesterday.

A couple of things...

The JSON-LD @context that I provided *does* support scopes being mapped
into the RDF equivalent, so it doesn't look we need a change there.

However, in the process of looking more closely at how the "scope" property
is defined in the ODRL 2.2 ontology, I think there may be a bug ther

[2017-02-21 18:22] stuartmyles commented on #46
So, I would say there are two overall requests here to alter the JSON
representation of ODRL:

1. Rename all of the properties - generally, take off the prefixes to bring
the JSON property names into alignment with the names in XML or RDF. For
exampe, no longer "policytype" but "type".
2. Rather than simple, flat structures (such as { "assignee" : "
http://example.com/org44/" } ) instead have list

[2017-02-22 00:59] riannella commented on #46
Fixed the scope property in the ontology, and added AssetScope class.

[2017-02-22 01:10] #104 closed, assigned to riannella

[2017-02-22 01:10] #105 closed, assigned to riannella

[2017-02-22 01:59] riannella commented on #109
@simonstey feedback from respec team:

as a quick fix, you can set:
  lint: false,
in your ReSpec config. That should turn off that warning.

[2017-02-22 11:19] simonstey commented on #109
ah cool thx

[2017-02-28 00:31] riannella opened #112 "What does it mean for permissions/prohibitions/duties if their constraint(s) are (un)satisfied?"
TRACKER ISSUE-10: What does it mean for permissions/prohibitions/duties if their constraint(s) are (un)satisfied?

satisfiability of constraints

What does it mean for permissions/prohibitions/duties if their constraint(s) are (un)satisfied?

State:
RAISED
Product:
POE - Information Model
Raised by:
Simon Steyskal
Opened on:
2016-11-08
Description:
http://w3c.github.io/poe/model/#constraint states

[2017-02-28 00:32] riannella opened #113 "Does every permission/prohibition need to have both an assignee & assigner?"
ISSUE-11: Does every permission/prohibition need to have both an assignee & assigner?

parties of perm/proh

Does every permission/prohibition need to have both an assignee & assigner?

State:
RAISED
Product:
POE - Information Model
Raised by:
Simon Steyskal
Opened on:
2016-11-08
Description:
The current spec states (comments inline; similar for prohibition):

It is not required for perm/proh to h

[2017-02-28 00:43] riannella opened #114 "Accessibility"
Run the two specs thru an Accessibility checker:
  http://achecker.ca/checker/index.php

[2017-02-28 06:35] simonstey commented on #112
In the meantime, the section on constraints was reworked and quoted paragraph now reads as follows:

What is _the Rule_ referring to? I suggest replacing _Permission, Prohibition, or Duty entity_ with _Rule_ and aligning the rest with:

- _The Permission entity MAY refer to one or more constraints. The Permission becomes effective if all of the constraints are satisfied._ [1]
- _The Prohibition en

[2017-02-28 10:47] simonstey commented on #112
related #68

[2017-02-28 11:12] simonstey opened #115 "Definition of odrl:delayPeriod"
The description of Example 27 in Section 3.8.1 Constraint Relations [1] states:

Which is wrong considering the definition of `odrl:delayPeriod` which itself imposes some sort of temporal dependency, hence doesn't rely on `odrl:andSequence` for doing so[2]:

(ignoring imprecise wording for now)

[1] http://w3c.github.io/poe/model/#constraint-relations
[2] https://w3c.github.io/poe/vocab/#term-dela

[2017-03-02 01:14] #103 closed, assigned to riannella

[2017-03-02 01:23] riannella commented on #46
It's not clear why PRISM choose to create their own XML Schema. Ironically, the schema they have published has serious errors.

[2017-03-02 01:27] riannella commented on #46
In 1) the issue is not that we are translating from XML to JSON, but from the Information Model to JSON. So we want to preserve the IM terms and concepts as much as possible and only change them when there is a technical need or benefit (eg uid->@id)

If you look at the JSON-LD examples in the IM, are they ok?

[2017-03-02 01:31] riannella commented on #46
Just noticed some of the examples in the IM repeat property names  - will fix....

[2017-03-02 01:32] riannella opened #116 "JSON example - fix repeated properties"
Need to fix the JSON examples where we have repeated the same property

[2017-03-02 01:39] riannella commented on #46
For 2), are you asking for no complex structure in the JSON-LD?

For example, See Example 18 in: http://w3c.github.io/poe/model/#role

[2017-03-02 01:41] riannella commented on #46
For 3), best practice (from a metadata perspective, ISO11179 etc) is to not use plurals.

Otherwise, all terms would need to be plural, as we support multiple targets, actions, assignees, assigners...

[2017-03-02 01:59] riannella commented on #112
@simonstey I assume the first part of your comment above was just to replace  "Permission, Prohibition, or Duty entity" with "Rule"?

[2017-03-02 02:05] riannella commented on #112
I don't think we need the second part now on "same constraint" (I cannot remember why we added it...but there was a reason ;-)

I will remove that text.

[2017-03-02 05:42] simonstey commented on #112
Kind of.. I suggest to replace:

with something along the lines of: "_When multiple Constraints are attached to the same Rule they are interpreted as conjunction. A Rule becomes effective if all of its Constraints are satisfied._"

I will remove that text.

+1

[2017-03-02 09:57] simonstey opened #117 "Differences between constraint terms"
Section 3.8.1:

What's the difference between:

1. **Constraint object**
2. **Constraint expression**
3. **Constraint Relations**
4. **constraint**
5. **atomic Constraint**

and how are they defined?

[2017-03-02 10:14] vroddon commented on #117
Glad to clarify the terminology we use.

The definition of Constraint
<https://www.w3.org/TR/odrl-vocab/#term-Constraint> might be improved:
"/The limits and restrictions to Actions in Rules./". I dislike the
plural, and perhaps instead of Actions we may want to say "the exercise
of Actions", etc.
Having said that, to my understanding:

 1. *Constraint object. A Constraint, as a concept. But in th

[2017-03-03 00:33] riannella commented on #112
Done

[2017-03-03 05:28] simonstey commented on #112
The first part hasn't changed though..

[2017-03-03 05:28] #109 closed, assigned to nobody

[2017-03-03 07:01] riannella commented on #112
Sorry, fixed now

[2017-03-06 11:05] nitmws commented on #117
Hi @vroddon your link points to the Vocabulary & Expression document, @simonstey talks about the ODRL Model Info document - at e.g. https://www.w3.org/TR/odrl-model/
Re Simon's issues:

1. Right, the Constraint is called "entity" in its specification in 3.8 - should be aligned in 3.8.1
2. 3.8 says in the first para "Constraints are a logical expression  ...". For me the entity is the wider term an

[2017-03-06 11:45] nitmws commented on #115
I agree the wording of Example 27-related things need clarification:

* Re Action Delay Period in http://w3c.github.io/poe/vocab/#term-delayPeriod
Its definition could be modified to: The Action may be exercised after the end of this period. The point in time triggering this period MAY be defined by another temporal constraint with an odrl:andSequence relationship expressed by a Constrations Relat

[2017-03-06 11:56] nitmws commented on #113
From my discussion with the lawyer partnership reviewing the ODRL 2.1 Action vocabulary: a policy reflects in fact an agreement/contract between two parties and these two parties must be defined.

An Assigner must be clearly defined as this entity claims to have the right to establish a contract regarding a specific asset. The Assignees could be also well defined - even should if the policy permit

[2017-03-07 06:06] riannella commented on #113
The wording in section 3.4 and 3.5 has been updated not to depend on Assignees/Assigners in the definition.

Only certain Policy Types (eg Agreement) require these party roles.

As we only express URIs to identify roles, implementations must then check that is the party exercising the policy.

[2017-03-07 14:04] vroddon commented on #117
I see. I would make a difference between a concept and its
representation (expression).

Víctor

El 06/03/2017 a las 12:05, Michael Steidl escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34)

[2017-03-08 02:56] riannella commented on #115
1) Perhaps delayPeriod should be less specific about *how* the point in time to trigger the delay is from an odrl:andSequence, but that there must be a point-in-time expressed somehwhere/how?
(as we should allow the definitions of these concepts stand-alone - another ISO11179 principle)

2) If the operator is odrl:gt, then that would work?

3) ok

[2017-03-08 03:22] riannella commented on #117
Note: we should define a Constraint as:

"The Constraint entity can be used to define the context in which to process Actions in Rules, such as limitations, restrictions, or interpretations that must be applied to the Actions."

?

[2017-03-08 04:22] riannella commented on #117
"Constraint entity"  refers to the actual IM class, and "constraint" is a general reference to any instance of a Constraint entity.

So we *usually* start a section with "Thing Entity" then start to talk about just the "Thing".

So Section 3.8.1 could be rewritten as:

Constraint entities MAY also be used as both of the values for the leftOperand and rightOperand of a constraint. These are called

[2017-03-08 04:30] riannella opened #118 "Vocab Time examples"
Give better examples for the 5 time-based constraint actions (to make it clearer how they are used and their differences)

dateTime
delayPeriod
elapsedTime
meteredTime
timeInterval

[2017-03-08 07:14] simonstey commented on #117
What is called Constraint Relation?

[2017-03-08 08:27] nitmws commented on #117
* I prefer using the to be defined term as singular. So "Constraint/s Relation" or "Complex Constraint" - else people may wonder if more than one must be used.
* The term Complex Constraint will raise questions about alternatives: what is a "Simple Constraint"? In general it would be good to introduce all variants of Constraint in the first part of 3.8. I suggest not using this term as it will mak

[2017-03-08 08:41] nitmws commented on #115
* re 1/"stand-alone": we have a POE use case and we have segmented its ODRL implementation into related particles. Therefore it makes sense to include such relationships into a specification as it helps a user to quickly find out what particles are of big help. To align to ISO11179 we could avoid pointing at odrl:andSequence in the Definition of the Action Delay Period but we should add a hint abo

[2017-03-10 11:02] riannella commented on #115
Yes, Notes are good.

[2017-03-13 07:30] simonstey opened #119 "1.4 Terminology"
I've some remarks regarding the definitions given in Section [1.4 Terminology](http://w3c.github.io/poe/model/#terminology):

That's afaik only partially true, as duties do not operate on the same level as permissions/prohibitions and as such do not define _"what is obligatory over an Asset"_, but define obligations for performing their respective permission(s) they are attached to.

A rule is _"a

[2017-03-13 10:32] simonstey commented on #22
[3.1.5 Policy Inheritance](http://w3c.github.io/poe/model/#inhertiance):

What are **information compositions**? What are **data compositions**?

[2017-03-13 10:53] simonstey commented on #76
The section about policy conflict strategies now includes following example:

where _"Assignee Fred had been granted an "exclusive" distribution Permission, and the other Policy said the same for Assignee Mary."_ refers to a conflict arising between **two permissions** (due to their duty to [`odrl:ensureExclusivity`](https://w3c.github.io/poe/vocab/#term-ensureExclusivity)).

How would such a conf

[2017-03-13 11:11] simonstey opened #120 "3.3.2 (Party) Scope"
[3.3.2 Scope](http://w3c.github.io/poe/model/#party-scope) states:

[3.4 Permission](http://w3c.github.io/poe/model/#permission) states:

If a permission with a duty is defined for an assignee with scope `group`, **all** members of that group have to fulfill the duty in order for the permission to be granted?

[2017-03-13 11:20] simonstey commented on #96
[3.1 Policy](http://w3c.github.io/poe/model/#policy) states:

That's wrong, e.g. [3.4 Permission](http://w3c.github.io/poe/model/#permission) states:

or [following example in section 3.7](http://w3c.github.io/poe/model/#action):

Also, can you **grant** someone a Prohibition? ;)

[2017-03-13 11:32] nitmws commented on #118
I'll reflect use cases I'm aware of as news/media guy:

* dateTime:
option 1: the Action of the Rule may be exercised before (operator lt/lteq) or after (operatior gt/gteq) the date defined by the rightOperand. My use case: an article may be shown only until 13 April 2017 = for 1 month from now.
option 2: the Action of the Rule may be exercised inside a period of time = between the start date/time

[2017-03-14 01:34] riannella commented on #119
Here is my proposal (everything is defined in the singular):

Policy - A Rule expressing what Action is allowed and/or disallowed over an Asset.
Rule - A Permission, Prohibition or Duty that expresses an Action that may, must not, and must be performed (respectively),
Action - An operation that is applicable to an Asset
Permission - An Action that may be performed over an Asset.
Prohibition - An A

[2017-03-14 01:42] riannella commented on #22
They are the same.

Rewrite as:

ODRL supports a simple inheritance mechanism in which a (child) Policy may inherit all the information entities that the (parent) Policy is composed of. The inheritance is aimed at including the  information entities between Policies.

This is then what section 3.1.1 talks about.

[2017-03-14 02:06] riannella commented on #76
I think we remove this example (as it is  not relevant to this conflict detection strategy), and we have one later in that section that is.

[2017-03-14 02:07] riannella commented on #120
Correct.

[2017-03-14 02:15] riannella commented on #96
Updated to:

The Permission entity MAY refer to one or more <code>duty</code>/ies. The Duty expresses an obligation that MUST be fulfilled in order for the Permission to be valid.

and:

Example Use Case: The Party expresses an Offer policy for the target Asset http://example.com/music:1012, namely the Permission to play the Asset.

[2017-03-14 02:19] riannella commented on #96
Grant can also mean "to be willing to concede" ;-)

https://www.merriam-webster.com/dictionary/grant

[2017-03-14 02:35] riannella commented on #118
I also like the idea of dateTime just being explicit datetimes only - no Periods (durations), as in P2H, as then we have the "when does it start" issue (otherwise it is the same as elapsedTime).

Also, elapsedTime, meteredTime, and timeInterval are all time periods (xsd:duration), and all "start" the moment you first exercise the action.

[2017-03-16 13:59] vroddon commented on #119
@riannella
Implemented, save for the first one: Policy is not " A Rule expressing...." for it can comprise many rules.
Current definition is:
_"A set of Rules defining what is allowed, disallowed or obligatory over an Asset."_
Proposed definition was:
_"A Rule expressing what Action is allowed and/or disallowed over an Asset."_
My proposal:
_"A Rule expressing what Actions are allowed and/or disal

[2017-03-17 00:37] riannella commented on #119
True, but for consistency I defined everything in the singular, as your definition is also true, but not when there is one action. That is, the atomic (non-reducible) definitions.

[2017-03-20 03:05] riannella commented on #114
Accessibility checker still gives 3 errors on the Vocab doc
<img width="1045" alt="screen shot 2017-03-20 at 13 05 09" src="https://cloud.githubusercontent.com/assets/13191615/24087686/f014f114-0d6d-11e7-9e34-b4c411368dba.png">

[2017-03-24 01:36] riannella commented on #120
@simonstey Added "to be closed"...unless there is some change proposal?

[2017-03-24 01:46] riannella commented on #119
Updated the Model

[2017-03-24 01:58] riannella commented on #117
I propose we explicitly create two subsections in 3.8 Constraints:
 3.8.1 Atomic Constraint
 3.8.2 Compound Constraint

The UML model should also be updated with an association from/to Constraint.

[2017-03-24 02:10] riannella commented on #115
Updated

[2017-03-24 02:26] riannella commented on #110
Also added "trackedParty" to match "trackingParty"

[2017-03-24 02:43] riannella commented on #101
Alternatively, we can define Present as an action for  play/display a (multimedia) asset.
ie, the Parent to play and display (only)

Having said that....
play is only for audio assets, and display *seems* defined only for static visual asset.
what about a movie?

I think "play" should be update to "audio/video" asset

[2017-03-24 02:44] riannella commented on #99
We are doing this as we go along...but at some stage we need to do a close review of the two documents

[2017-03-24 02:53] riannella commented on #83
We should look at some general purpose vocabs to map to.
Suggest:
 schema.org
 dbpedia

and some license-specific.
Suggest:
  https://creativecommons.org/ns

[2017-03-24 02:56] riannella commented on #76
Updated

[2017-03-24 03:00] riannella commented on #22
updated

[2017-03-24 03:07] riannella commented on #26
Shall we update the ontology for the Policy Types to be "defined classes" ?
And maybe also Constraint?

[2017-03-24 07:31] simonstey commented on #26
fwiw, using SHACL to verify whether policies of type odrl:Agreement:

1. have at least one permission or prohibition
2. each referenced permission/prohibition as at least one assignee

[code]

[2017-03-24 07:34] #120 closed, assigned to sereAbi, riannella

[2017-03-24 07:37] simonstey commented on #119
the model document isn't loading properly for me..
I think you've messed up some html tags while updating it ;)

[2017-03-24 08:04] riannella commented on #119
try now...

[2017-03-27 01:17] riannella commented on #118
Comments from wide review:
  https://lists.w3.org/Archives/Public/public-poe-comments/2017Mar/0012.html
Confirm our need to clarify scope of dateTime to explicit datetime values only

[2017-03-27 08:21] vroddon commented on #101
...or MediaResource as in the Ontology for Media Resources.
https://www.w3.org/TR/mediaont-10/#ont-ttl

[2017-03-27 10:11] riannella commented on #101
A "multimedia" asset ?

[2017-03-27 10:52] vroddon commented on #101
good!

[2017-03-30 09:07] simonstey commented on #119
only 1 rule/action/asset?

s/and/or

not sure if _applicable to_ fits here.. (I'm not a native though)

[2017-03-30 09:25] simonstey commented on #112
[Section 3.6 Duty](http://w3c.github.io/poe/model/#duty):

which means ->

[code]

as long as payamount != 5AUD, the duty is not in effect, hence the permission is granted

[2017-03-30 09:28] vroddon commented on #119
For the first: see a few commens above. My proposal was: "A Rule expressing what Actions are allowed and/or disallowed over one or more Assets."

For the second: I don't see it wrong, but I am not native either.

[2017-03-30 09:48] simonstey opened #122 "On Duties and their Permissions"
Throughout the entire spec the relationship between permissions and their duties is defined as follows:

There are some duty actions, however, which are basically useless given that definition. e.g. an [odrl:uninstall](https://w3c.github.io/poe/vocab/#term-uninstall) duty would require to uninstall/delete an asset before the permission to use respective asset could actually be granted.

[4.18.11 U

[2017-03-31 00:58] riannella commented on #112
Hi @simonstey - i'm sorry but I don't follow the outcome.
Is it because of the word "effective"?

Would it be better to state "If all constraints of a Duty are satisfied, then the Duty is considered to be fulfilled".

[2017-03-31 02:09] #76 closed, assigned to sereAbi, riannella

[2017-03-31 02:09] #96 closed, assigned to sereAbi, riannella

[2017-03-31 02:09] #110 closed, assigned to riannella

[2017-03-31 02:09] #113 closed, assigned to riannella

[2017-03-31 02:09] #115 closed, assigned to sereAbi, nitmws, riannella

[2017-03-31 02:38] riannella commented on #119
1) "A" is used as in the indefinite article - it can refer to any Rule.
But it is the *information model* that is normative in terms of cardinality of the defined terms.

2) fixed

3) What about "an operation that may be applied to an asset" ?

[2017-03-31 03:12] riannella commented on #122
Yes that is true. If you have a duty to uninstall Asset X in order to play Asset X, then you have pretty bad policy ;-)

Another way to look at this is that the duty could be to uninstall some other asset (using a different target) that competes/conflicts with the permission target asset.

Should uninstall be deprecated? Others?

[2017-03-31 05:15] simonstey commented on #112
Yes, see e.g. ->

[effective (ɪˈfɛk tɪv) adj.](http://www.thefreedictionary.com/effective)

Yes.
1. A duty is in effect as long as its associated permission is "valid" (i.e., the permission's constraints are satisfied).
2. A duty is considered to be fulfilled if its constraints are satisfied.
3. For a permission to become effective, it must be valid and all of the permission's duties must be fulfi

[2017-03-31 05:48] simonstey commented on #22
Yes, inheritRelation changes the processing landscape.
**But the point is, if you see it and don't understand it, then you proceed at your own risk...**

It's not that easy though..
if implementations want to conform with the standard, they have to implement (i.e., correctly deal with) all normative features of respective standard.

So if an ODRL implementation wants to process a policy (containin

[2017-03-31 08:00] vroddon commented on #26
I see two different issues:

a) To add the shapes in the ontology. However, even if the spec is moving to CR soon, the recent schism in the RDF Data Shapes working group is worrysome: the dissidents, of crucial importance in the community, are also working hard in a parallel spec: https://www.w3.org/community/shex/. I wouldn't know now for which spec to opt.

b) I dont see how to define the policy

[2017-03-31 09:40] simonstey commented on #26
Something like that? (you can use http://shacl.org/playground/ to try it out)->

**Shapes Graph:**
[code]

**Data Graph:**
[code]

[2017-03-31 11:20] riannella commented on #26
I was talking OWL defined classes for reasoners...

[2017-03-31 11:31] riannella commented on #112
Added 1) and 2) to Duty section and 3) to Permission section.

[2017-03-31 11:37] simonstey commented on #26
e.g., to be able to infer that a policy in which each rule has an assignee+assigner is of type odrl:Agreement?

-------- Original message --------
From: Renato Iannella <notifications@github.com>
Date: 3/31/17  13:20  (GMT+01:00)
To: w3c/poe <poe@noreply.github.com>
Cc: simon <ssteyska@wu.ac.at>, Comment <comment@noreply.github.com>
Subject: Re: [w3c/poe] Ontology constraints/restrictions (#26)

I

[2017-03-31 11:39] vroddon commented on #26
But i dont think we can deduce it. Perhaps it is a Set or a Ticket....

Víctor

El 31/03/2017 a las 13:37, simon escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34) 91336 3753
Skype: vroddon

[2017-03-31 11:43] riannella commented on #26
Perhaps we can't (shouldn't) do this as we don't have the necessary *and* sufficient information !

[2017-04-03 04:50] riannella commented on #22
At a very atomic level, the semantics of odrl:inheritRelation mimics a duty in that two parties agree to follow some (external) policy.

So, perhaps we can use a Duty instead:

       "duty": [{
            "action": "odrl:reviewPolicy",
            "target": "http://ap.com/agreements/foo-001"
            }]

[2017-04-03 12:29] philarcher commented on #91
Docs in /TR space are very tightly controlled. See my message to Philippe le Hegeret at https://lists.w3.org/Archives/Public/public-poe-wg/2017Apr/0006.html.

The namespace docs at /ns are not under that kind of control and can be updated as the WG wishes.

It would not be appropriate to set up a redirect from the community group docs to /TR space. They were created by different groups operating u

[2017-04-06 00:55] riannella commented on #91
We can't edit the CG reports once they become final.
It would be good to simply add a new header field:
 "Superseded by:"
(probably same for the NOTE)

[2017-04-06 01:13] riannella opened #123 "Synchronize (addition to vocab)"
Original Feedback: https://lists.w3.org/Archives/Public/public-poe-comments/2017Apr/0000.html

===========
FROM: Luca Andrea Ludovico <ludovico@di.unimi.it>, Paolo Perlasca <perlasca@di.unimi.it>, Adriano Baratè <barate@di.unimi.it>, "Prof. Goffredo Haus" <haus@di.unimi.it>

in response to your request for comments, I am forwarding to you some proposals of ODRL definitions coming from the IEEE 159

[2017-04-10 12:40] vroddon commented on #123
Two ideas:
1) When editing the MPEG-21 Media Value Chain Ontology, several parties participating in the standard's edition claimed that Synchronization was an action of utter importance for them to have.
2) The definition we are given is not sound, as we are using the defined term within the definition.

MVCO's definition was: "Concurrent performance/display of two distinct Works or Adaptation Ins

[2017-04-10 13:07] riannella commented on #122
update the duties to include "the requirement is **agreed** to satisfied/fulfilled"

[2017-04-10 13:10] riannella commented on #22
WG decided to remove inheritRelation

[2017-04-10 13:13] vroddon commented on #88
Agreed. Already started discussions with Ben.

[2017-04-10 13:19] vroddon commented on #26
In the call of 10/04/2017, we agreed NOT to have Shapes in the ODRL Ontology.
I believe this issue can be closed.

[2017-04-10 13:21] riannella commented on #26
Closed!

[2017-04-10 13:21] #26 closed, assigned to nevali, vroddon, riannella

[2017-04-11 02:21] riannella commented on #123
Yes, it is big thing now in the music industry - when you license your music for a movie or TV show.
I think we can come up with a slightly better definition as @vroddon suggests.

[2017-04-11 02:55] riannella commented on #22
Removed inheritRelation attribute from Model and deprecated from Vocab

[2017-04-11 03:11] #22 closed, assigned to nitmws, stuartmyles, riannella

[2017-04-11 03:36] riannella commented on #122
Updated duty narrative to include “agreed” as part of the semantics.
@simonstey please check you are ok with the changes

[2017-04-11 03:36] riannella commented on #99
Completed

[2017-04-11 03:36] #99 closed, assigned to riannella

[2017-04-11 07:02] simonstey commented on #122
->

A Permission MAY refer to one or more Duties which indicate obligations that MUST be fulfilled in order for the Permission to be valid.

also: (imo) you can only **fulfill** a duty, but not **satisfy** it.

fwiw: I found a [paper](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.666.1141&rep=rep1&type=pdf) discussing the differences between "pre-obligations" and "post-obligations".

[2017-04-11 07:18] riannella commented on #122
Change commited

[2017-04-19 06:06] #122 closed, assigned to riannella

[2017-04-19 10:04] iherman opened #124 "what is the authoritative 'formal' definition?"
This may just be an editorial point, but we should be careful...

The model document says, in 1.2.

At the same time, section 4 of the vocab document says

Do we really mean that the formal semantics is governed by the [UML semantics document](http://www.omg.org/spec/UML/2.5/PDF)? What is then the relationship between the UML Semantics and the RDF semantics underlying the serialization of the voca

[2017-04-19 10:29] iherman opened #126 "Wrong examples (4 & 5) in the model document"
Example 4 is buggy. It contains the `"target"` key twice, which is a syntax error in JSON. Example 5 is also erroneous for the same reasons.

Example 5 can be settled by using one `"permission"` key and two elements in the corresponding array (this is the intention!). Example 4, if kept, should make it clear that this would be the _intention_ but is not doable in the JSON syntax. Or something like

[2017-04-19 10:54] iherman opened #127 "rearrange examples in example 7"
It would help understanding if, in the two permissions of example 7, the k/v pairs were in the same order, to make it visually clear that we are expanding the rules from example 6.

[2017-04-19 11:54] riannella commented on #126
Thanks @iherman - this is the same issue as #116 (and will be fixed now...)

[2017-04-19 11:59] Kizilaslan commented on #116
Sahinbeybelediye27@hotmail.com

[2017-04-19 12:00] riannella commented on #116
fixed example 4 and 5

[2017-04-19 12:00] #126 closed, assigned to riannella

[2017-04-19 12:02] riannella commented on #127
@iherman Fixed.

[2017-04-19 12:02] #127 closed, assigned to riannella

[2017-04-19 12:03] Kizilaslan commented on #124
27020

[2017-04-19 12:04] iherman commented on #116
Just to to miss it: same issue with examples 26 and 27

[2017-04-19 12:16] riannella commented on #116
Fixed examples 13, 14, 22, 26, 27

[2017-04-19 12:26] riannella commented on #124
I think that the line "The ODRL Information Model is formally specified using UML notation" should be removed as the **whole** (normative) document defines the IM (not just Figure 1).

And the term "...formally..." should be removed from the Vocab document.

[2017-04-19 12:27] riannella commented on #112
@simonstey Are you OK with this issue now?

[2017-04-19 12:34] iherman opened #128 "What properties are used with which classes?"
The definitions of classes, more exactly the properties used on those classes, along the two documents (model and vocab) is not in sync. This makes reading the documents a bit difficult...

I have checked only the `Policy` class in more details:

1. The UML diagram in the model suggests that the allowed properties on that class are `uid`, `type`, `conflict`, `undefined`, `inheritAllowed`, and `pro

[2017-04-19 12:36] iherman commented on #124
In any case. As I have just commented elsewhere (#128), I wonder about the value of the UML diagram in the first place.

[2017-04-19 12:39] iherman opened #129 "What does 'information entity' means? (Model document)"
This term is used in sections 3.1. and 3.15, nowhere else and without definition...

[2017-04-19 12:42] iherman opened #130 "What does Policy merge means (model document)"
It is referred to in 3.1.3. Does it mean like a merge of RDF Graphs? Is it restricted to inheritance or are there other ways of combining policies? (Only inheritance is mentioned in the document.) In any case, it makes sense in 3.1.3 to refer to the policy inheritance, which is probably the most common example. (Maybe even reorder the sections?)

[2017-04-19 12:43] iherman opened #131 "What is an ODRL Processor? (Model document)"
The terms comes out of the blue in 3.1.3. It sounds very formal, but not defined...

[2017-04-19 12:44] iherman opened #132 "(Editorial) use 'code' for URL-s in the text"
Using `<code>` for URL-s in the document may be a good idea, would make things more readable imho.

[2017-04-19 12:45] iherman opened #133 "URI or IRI? (Model)"
RDF uses IRI for identifiesr, we use URI-s. Maybe worth asking our I18N friends.

[2017-04-19 12:56] iherman opened #134 "Asset references (Model document)"
Section 3.2 refers to four different ways for identifying assets.

1. URI (possibly with fragments). Apart from the separate issue on IRI-s (#133) that is clear.
2. POWDER. I have several problems with this.
    1. What is exactly the value of the `asset` property in that case? Is it a reference to a full POWDER structure (that would then assign a bunch of attributes to a set of URI-s) or a `<iris

[2017-04-19 13:07] iherman opened #135 "Definition of relations (model)"
3.2.1 defines relations. It refers to an `Entity` (whatever that means), but the text is not very clear how that is used. It also says

which is again unclear; because `value` is often used to denote the "object" in RDF (or as part of a key-value pair in JSON), one would expect to use something like

[code]

but that is clearly wrong.

The vocab document makes it clearer. "relation" is a property,

[2017-04-19 13:08] iherman opened #136 "Let us not use P3P terms..."
Example 23 uses the term `http://www.w3.org/2002/01/P3Pv1#contact`. Let us try to find another example; P3P may also be deprecated or rescinded, nobody uses it...

[2017-04-19 13:11] iherman opened #137 "Editorial: the formatting of the examples is not consistent (model)"
In many cases `@context` is not intended (it should) and/or the content of `@context` is not intended (it should...). In other cases it is; it should be consistent in the document.

[2017-04-20 02:46] riannella commented on #123
**Proposal: add new vocab term:

synchronize: The assigner Permits/Prohibits the Assignee to use the Asset in timed relations with media (audio/visual) elements of another Asset.**

[2017-04-20 02:47] riannella commented on #119
@simonstey @vroddon Any comments/Feedback?

[2017-04-20 02:50] riannella commented on #118
Proposal: remove "period" from datetime definition

And add some narrative examples to the other time-based terms.

@nitmws Comments?

[2017-04-20 02:52] riannella commented on #117
@simonstey @nitmws @vroddon Any comments/feedback on the proposed naming of the two types of constraints?

[2017-04-20 02:54] riannella commented on #101
@nitmws Any comments/feedback?

[2017-04-20 02:55] riannella commented on #85
@vroddon Any more instances of this?

[2017-04-20 03:29] riannella commented on #83
Proposal:

odrl:Action subClassOf
 http://schema.org/Action

odrl:Asset subClassOf
  http://schema.org/CreativeWork
  http://dbpedia.org/page/Asset
  http://creativecommons.org/ns#Work

odrl:Party subClassOf (union)
 http://schema.org/Organization http://schema.org/Person
 http://www.w3.org/2006/vcard/ns#Individual http://www.w3.org/2006/vcard/ns#Organization
 http://xmlns.com/foaf/spec/#term_Pers

[2017-04-20 04:24] riannella commented on #124
Ok...some comments on #128

[2017-04-20 06:42] vroddon commented on #85
Not that I am aware of, after my push.
However, there are some formating elements in the text that should not be there. For example, we find in several definitions pieces of text like...

I believe the characters "[" or "]" should be removed from the ontology. But I am not sure about what to do, because if we do it we will lose the links in the HTML.

[2017-04-20 06:49] vroddon commented on #83
@riannella  Comments:

1) DBpedia resources should be http://dbpedia.org/resource/* instead of http://dbpedia.org/page/*

2) I would use https://creativecommons.org/ns#Permission instead of http://web.resource.org/cc/Permission

3) I would soften some relations. In many cases this will not hold:

some assets will be databases, private records or even something else. The same for other cases like o

[2017-04-20 06:51] vroddon commented on #117
I am happy with that

[2017-04-20 07:26] vroddon commented on #119
@riannella Comments:

1) The definition for agreement is formulated in an unclear manner, it should be in singular form and I find it too strong (talking about contracts and licenses).

Also Assertion is plural, whereas Offer singular.

2) Article. Some definitions have it, some not.

vs

3) Some of the elements are defined by their use.

We might define them instead as:

[2017-04-21 01:19] riannella commented on #128
I think (as discussed in #124) we need to put less emphasis on UML as a driver of the IM. I have a proposed update for the IM Figure (which is just a diagram now ;-) and includes names on the links between the entities.
![odrl-model](https://cloud.githubusercontent.com/assets/13191615/25258673/5e7c7a6c-2684-11e7-9cd9-95e43f281745.png)

[2017-04-21 01:27] riannella commented on #128
Comments on:

1) There was previous concern that Asset was the parent of Policy, so I suggest we remove that relationship.

2) This means that Policy does not have a "scope" which is better.

3) Do you think we need to add more details to the Note in Section 3.1 (remember that in XML, we actually have attributes called uid and type)

4) hopefully the new figure will work

5) Should we add uid and

[2017-04-21 01:33] riannella commented on #129
The term refers to the "bits" that make up a policy.
Like a policy is "made up of" the parties, the assets, the perms, the duties etc.
Can you suggest a better term/phrase?

[2017-04-21 01:39] riannella commented on #130
Merge can also mean you have a number of policies which could refer to the same Asset and Parties (over time) and you want to ascertain the current set of Rules that are available to you.

Should we add that as narrative?

Yes, we can reorder the sections.

[2017-04-21 01:46] riannella commented on #131
We needed something to refer the "processing rules" to...

Perhaps we can change "ODRL Processor" to something like "...the processing of ODRL expressions..."

?

[2017-04-21 01:56] riannella commented on #132
Done. I have added <code> to all hrefs to external URLs.

Need to do Vocab document

[2017-04-21 01:57] riannella commented on #133
Good question - we are yet to finish the I18N horizontal review questionnaire - raise at next call

[2017-04-21 01:59] riannella commented on #134
I am ok with the proposed changes.

@philarcher1 ok if we remove Powder?

[2017-04-21 02:15] riannella commented on #135
Yes, "default value" is not the best wording (now).
I will update this to reflect its role as and abstract property as well.

There are too many "entity" words...I think because we used definite "The" instead of the indefinite "A", such as "The Duty entity may..."

Perhaps we can simply replace all these (and have "A Duty may..." ?

[2017-04-21 02:32] riannella commented on #136
Done. Replace with example.com

[2017-04-21 02:35] riannella commented on #137
Sorry, we are not JSON-LD people ;-) so am not sure what we did wrong here...can you be more specific? thanks...

[2017-04-21 02:41] riannella commented on #85
yes, and the references in the appendix will go too...

Is it a major issue to leave the [[...]] in the skos:note ?

[2017-04-21 02:42] riannella commented on #83
Lets just put the strong relationships in.

Can you add these?

[2017-04-21 04:01] riannella commented on #119
Proposal: some consistency in the policy types:

 Agreement: A Policy that grants the assignee a Rule over an Asset from an assigner.
 Offer: A Policy that proposes a Rule over an Asset from an assigner.
  Request: A Policy that proposes a Rule over an Asset from an assignee.
 Assertion: A Policy that asserts a Rule over an Asset from parties.
 Privacy: A Policy that expresses a Rule over an Asset

[2017-04-21 04:12] riannella commented on #119
RE: Undefined Term

Is it the "class of actions" or the class of "ways to process" undefined actions?

[2017-04-21 06:22] riannella opened #138 "Policy Conflict - Deprecate?"
Should we deprecate the Policy conflict strategy section:
  https://w3c.github.io/poe/model/#conflict

It only covers a small part of all the potential conflicts between policies.

[2017-04-21 06:24] riannella opened #139 "Undefined Actions - deprecate?"
Should we deprecate the Undefined Actions section:
  https://w3c.github.io/poe/model/#undefined

It makes little sense under the "open world assumption" and is typically implementor (or Profile) dependent.

[2017-04-21 06:43] vroddon commented on #85
Well, I guess any other ontology visualization will also show the brackets... (ontology editor, a Pubby linked data server, an application making SPARQL queries...)

[2017-04-21 07:02] riannella commented on #128
Here is an updated figure
![odrl-model](https://cloud.githubusercontent.com/assets/13191615/25266380/4d4b76aa-26b4-11e7-9294-916a75e69d94.png)

[2017-04-21 07:05] riannella commented on #85
We could just leave the text in the skos:note, like "W3C vCard Ontology" then under the blue table we can added an extra (html) line like:
 References: W3C vCard Ontology [[vcard]]
that will add the reference correctly

[2017-04-21 07:35] iherman commented on #129
I am fine with the term if it is defined somewhere, e.g., in the terminology section. At present it just pops up in the text without explanation, and it isn't even used consistently across the document (it appears only in those two sections...)

[2017-04-21 07:38] iherman commented on #130
Formally, I presume there may be other possible conflicts, although I did not analysed them. For example, what happens if I merge two Policies on two, totally different assets? I would expect that to be meaningless.

In other words, it is not _only_ to add some narrative, but also to use the narrative to _define_ the merge and specify the cases when the merge is meaningless.

[2017-04-21 07:40] iherman commented on #131
Yeah, that sounds better, but it is still a bit vague. I would prefer to define the term ODRL processor more formally, probably an abstract processor that, given a set of policies and a set of questions (what are they?) gives some meaningful answers. If defined somewhere at the beginning, the term may be used all across the document and may make some of the explanation a bit cleaner. As a bonus, i

[2017-04-21 07:43] iherman commented on #132
Hm. I am looking at the document dated 21 April, and I still see:

in the prose right before Example 9 (and there are others). Do you still need to commit?

[2017-04-21 07:52] simonstey commented on #138
what other potential conflicts do you think of?

[2017-04-21 07:52] simonstey commented on #139
+1

[2017-04-21 07:54] simonstey commented on #135
+1

(IIRC I complained about that in another issue too)

[2017-04-21 07:57] iherman commented on #137
It is, mainly, inconsistent. B.t.w., there is nothing JSON-LD specific, it is simply JSON.

In Example 1:

[code]

In Example 3:

[code]

In Example 18:

[code]

I would simply prefer a standard JSON style. Ie,

[code]

and

[code]

(Note, b.t.w., that the current JSON-LD for Example 18 is probably wrong, the context is a single object in all our examples.)

I guess the safe thing is to use a JSON

[2017-04-21 08:00] iherman commented on #128
That is certainly cleaner. But not all the arrows are labelled, ie, that must be complete. Also, I would prefer all colourful blocks to represent only classes; looking at the vocabulary 'Relation' is a property (and 'Role', too?) which is an extra complication with the diagram.

[2017-04-21 08:03] vroddon commented on #83
Good!
I have just implemented the most conservative approach.

- Action as a subclass of schema.org Action: "An action performed by a direct agent and indirect participants upon a direct object. Optionally happens at a location with the help of an inanimate instrument. The execution of the action may produce a result. Specific action sub-type documentation specifies the exact expectation of each a

[2017-04-21 08:09] simonstey commented on #137
After skimming through JSON-LD's [5.1 The Context](https://www.w3.org/TR/json-ld/#the-context) section I'm wondering whether we are actually using `"@context"` correctly. (I'm not a JSON-LD expert though)

According to [5.1 The Context](https://www.w3.org/TR/json-ld/#the-context) Example 5:
[code]
A policy like:
[code]
should actually look like:
[code]
right?

[2017-04-21 08:11] iherman commented on #137
You are right. I believe we already said that.

Actually, the better approach is to have a profile file somewhere (containing all those) and make a reference to it from `@context`

[2017-04-21 08:17] simonstey commented on #137
ah ok

+1

[2017-04-21 08:23] simonstey commented on #135
found that other issue -> #104

[2017-04-21 08:43] simonstey commented on #130
also:

Isn't that the same? If you merge policies (as in RDF graph merging) you throw all their rules in a new policy, thus any conflicts arising from such a merge are "_conflicts between Permissions and Prohibitions in the same Policy_".

- what? only the same asset? So if Alice has the permission to use an asset, but Bob is prohibited to use the very same asset, there's a conflict?
- what are re

[2017-04-21 08:59] simonstey commented on #129
[3.1.1 Policy Composition](https://w3c.github.io/poe/model/#composition)

-> delete the whole sentence; 0 content

[3.1.5 Policy Inheritance](https://w3c.github.io/poe/model/#inhertiance)

[...]
The (child) Policy MUST access the (parent) Policy and replicate the following in the (child) Policy:
    - All policy-level Assets, Parties, Actions.
    - All Permission and Prohibition Rules.

-> s/info

[2017-04-21 09:12] simonstey commented on #128
- move `uid` from Duty up to Rule
- add `uid` to Action/Constraint
- remove  Relation/Role concept thingy

also: the figure suggests that one can relate policies to duties, while ODRL allows to define duties for permissions only.

[2017-04-21 09:23] simonstey commented on #124
also related: #104 :

**It is independent from any serialisations (and, or course, based on UML).**
The intention is that the IM is mapped to various serialisations (thats what ODRL22.ttl does for OWL/RDF and ODRL22.xsd for XML Schema etc)

[2017-04-24 01:35] riannella commented on #131
Ok, I added a def to the terminology list

[2017-04-24 01:57] riannella commented on #132
Ok, understand now ;-)

I've updated the example style to "json" and it all works now

[2017-04-24 02:02] riannella commented on #138
For example, one rule stated that Assignee Fred had been granted an "exclusive" distribution Permission, and the other rule said the same for Assignee Mary.

So, conflicts at the action "semantics" level

You could also have constraint conflicts.
One rule says "print this less than 5 times" and the other "print more that 10 times"

[2017-04-24 02:08] riannella commented on #83
I would not use foaf:Agent for the reason's you give, but explicitly foaf:Person/Organisation

vCard Individual/Org is ok - it does refer to non-legal entities.

[2017-04-24 02:25] riannella commented on #137
Ok, I fixed the consistency of the "context" in all the examples.

We already have a context profile (linked in the Vocab spec):
  https://github.com/w3c/poe/blob/gh-pages/vocab/ODRL22.jsonld

And in section 1.2, we say to see the Vocab spec for normative serialisations.

[2017-04-24 02:50] riannella commented on #135
Removed "entity" throughout the document.

[2017-04-24 02:59] riannella commented on #130
Hence why I proposed #138

Its a difficult space to get into **normatively** given  how complex some policies may become...and perhaps we can make it part of the Formal Semantics NOTE instead?

[2017-04-24 03:06] riannella commented on #129
@simonstey Done.

[2017-04-24 03:56] riannella commented on #124
I think we can remove the UML dependence, and express the IM as _close-as-possible_ to RDF/OWL but not dependently.

[2017-04-24 04:33] riannella commented on #128
Ok, please see the attached.
@iherman I think we need the two colour boxes to show the core properties of each Class (yes, I know its not RDFy and more UMLy ;-)

![odrl-model](https://cloud.githubusercontent.com/assets/13191615/25322475/ce9e0e8c-28fa-11e7-89b4-af666f751b71.png)

[2017-04-24 04:39] riannella commented on #128
And we will rename attribute to property ;-)

[2017-04-24 08:45] iherman commented on #131
+1 for me, but we may want to wait the discussion on the semantics before we close the issue. I guess the definition of the Processor is very much at the heart of the semantics document, and they should be in sync.

[2017-04-24 08:50] iherman commented on #132
The examples are indeed looking fine, but that is #137 ! (Did you comment in a wrong issue?)

The original issue still stands. Eg, in section 3.1.5, it currently says:

and it should say

(Disregard the fact that the github markdown turns a URI string into a link, that is not the point.)

[2017-04-24 08:56] iherman commented on #128
I am fine with the diagram I think. Personally, I would prefer to make it more black-green-white rather than these black-yellow colours, but that is really a matter of taste...

[2017-04-24 11:58] vroddon commented on #83
@riannella I have implemented the changes you suggest. However,  please note that the current note of Party reads:

It still speaks about "agents" and "things"!
What is the objection against the use of agents?

[2017-04-25 02:03] riannella opened #140 "odrl:use"
Should we mention odrl:use in the Information Model as the top of the hierarchy of all actions?
(and must be supported??)

[2017-04-25 02:30] riannella commented on #46
JSON-LD context now published at: http://www.w3.org/ns/odrl.jsonld
All examples in IM will now use this, and remove the "odrl:" prefix from values/objects

Context will now use "uid" and "type" (not @id and @type in examples)
(and has been updated)

[2017-04-25 06:38] iherman commented on #46
@riannella at this moment the context file uses 'id' and not 'uid'. Should I change this?

[2017-04-25 07:51] riannella commented on #46
Yes, I just did: https://github.com/w3c/poe/blob/gh-pages/vocab/ODRL22.jsonld
(but can't write to w3c.org/ns/)

[2017-04-25 09:12] iherman commented on #46
I did the update. (Indeed, that folder is team-writable only.)

You can just ping me or Phil if an update is necessary.

[2017-04-25 23:53] riannella commented on #117
WG agreed to change (24/4/2017)

[2017-04-26 00:38] riannella commented on #132
Ok, fixed them all now ;-)

[2017-04-26 00:46] riannella commented on #128
See attached?
![odrl-model](https://cloud.githubusercontent.com/assets/13191615/25413438/a1b00398-2a6d-11e7-864a-019816b0e2fe.png)

[2017-04-26 00:48] riannella commented on #83
I think that is ok, as an Agent is still a person/org (not an algorithm...)

[2017-04-26 01:00] riannella commented on #133
As per WG discussion (24/4/2017) URI has been updated to IRI.

[2017-04-26 02:22] riannella commented on #134
I have removed all references to POWDER.

[2017-04-26 08:46] iherman commented on #128
Why not use `type` instead of `isA`?

[2017-04-26 09:05] riannella commented on #128
Would that get it confused with the "type" in Policy?

[2017-04-26 09:09] iherman commented on #128
I take your point. Leave it as is, and see if the readers complain...

[2017-04-26 11:40] riannella commented on #128
or "typeOf" ?

[2017-04-26 11:57] iherman commented on #128
Either... technically it is subclass of, right? But that is too technical at that level.

Leave it as is. There are other things to worry about:-)

[2017-04-26 11:59] riannella commented on #128
Yes, they are subclasses of Rule.

[2017-04-26 12:27] riannella commented on #46
I have updated all the examples in the IM to use the new JSON-LD @context URI and now uses "type" and "uid" properties

[2017-04-26 12:30] riannella commented on #124
This is now the same as #128 (so will close this)

[2017-04-26 12:31] #116 closed, assigned to riannella

[2017-04-26 13:02] iherman commented on #46
Overall, it looks good. However... unfortunately, Example 25 is incorrect. Incorrect JSON at the moment and, unfortunately, it is not even that easy to do it in a proper JSON-LD. Indeed, JSON-LD becomes a bit complex (too complex for my taste) when the idea is to have a forest, so to say, and not a tree of objects. (A separate keywords, `@graph` must be used, AFAIK; @gkellogg should advise us.)

I

[2017-04-26 13:16] vroddon commented on #140
Please note that the current text about Actions does not say anything about hierarchies.
http://w3c.github.io/poe/model/#action

[2017-04-26 13:21] vroddon commented on #128
It is a beautiful figure. But I would have chosen colours with more constrast, so that even if printed b/w the model is well rendered.

I am sorry to insist, but I can foresee this figure being reproduced many times, in many presentation and in many printed papers. So I believe that the effort worths.

For example, a couple of years ago I prepared a "ODRL reference card". It is still online:
http:

[2017-04-26 13:32] vroddon commented on #119
@riannella I have updated the Turtle file to include the latest version of the definitions.

Agree that "class of actions" is not correct, because other classes are not defined as "class of...".
Revision: cf13891d2bbad9bc49d3a54b1b2e44761c4d3cde

[2017-04-26 14:05] iherman commented on #128
@vroddon there is no 'official' colour code guide, although there some issues mentioned in [1]. However, the issue is often the requirement on minimum luminosity and the right contrast among colours. The requirements are listed in the WAI document[2] but, probably, the tools advising on on the right contrasts are easier to use. [3] is a good tool that can be installed on your machine, [4] looks li

[2017-04-26 16:30] gkellogg commented on #46
Yes, there are a couple of ways to go when you have more than one node object at the top-level:

1) Wrap them in an array `[{"@context": .., ...}, {"@context": .., ..}`
2) Wrap them all in `@graph` with a shared context `{"@context": ..., "@graph": []}`.
3) Find a common object property and use a reverse relationship. For example, in an RDFS document, this might be `rdfs:isDefinedBy`, in which cas

[2017-04-26 23:48] riannella commented on #140
Should we add it??

[2017-04-27 00:45] riannella commented on #128
I have created a plainer version - see attached
(also I have removed "name" from Action as that is an XML-thing)
![odrl-model](https://cloud.githubusercontent.com/assets/13191615/25463022/893100f0-2b36-11e7-8b0e-9245870e2a16.png)

[2017-04-27 00:52] riannella commented on #46
Thanks for your suggestions @gkellogg.
Since this is the Information Model document (not the serialisations) and the JSON-LD are informative examples, then I would recommend we go for @iherman #2 option.

[2017-04-27 01:43] riannella commented on #128
Note: action does not have a uid property

[2017-04-27 15:17] larsgsvensson commented on #128
According to the [ED of the vocab document](https://w3c.github.io/poe/vocab/#term-Rule), nor does `Rule`. I also note that `Rule` (as an abstract class) is not defined in the Information Model

[2017-04-27 15:51] larsgsvensson opened #141 "Processing of dc:isReplacedBy"
In the Information Model, the section on [Policy Provenance](https://w3c.github.io/poe/model/#provenace) says

Since this is a normative document, I think it should be explicit, that the replaced policy *must* be ignored (even if it's implicit). Suggested text:

[2017-04-27 16:10] larsgsvensson opened #142 "Example used for "scope""
In the Information Model, the [definition of "scope"](https://w3c.github.io/poe/model/#asset-scope) says that

The example (Example 17) uses a value for **scope** that is not in the ODRL vocabulary (but might be in an ODRL profile). It would be helpful for the reader if there was some explaining text making it explicit that it is assumed that http://example.com/imt/jpeg is defined in a profile (e.

[2017-04-27 16:19] larsgsvensson opened #143 "Use of "agent" in the definition of "Party""
The ODRL Information Model says that a

I find the use of agent vs Party confusing. In most contexts (e. g. FOAF) entities that perform things are named "agents". I guess that "Party" is used for historical reasons but then it would be better to say that odrl:Party is roughly equivalent to [foaf:Agent](http://xmlns.com/foaf/0.1/Agent) (defined as "eg. person, group, software or physical artifact")

[2017-04-27 16:23] larsgsvensson opened #144 "Cardinality of Permission in Policy"
The Information Model [states that](https://w3c.github.io/poe/model/#permission)

Exactly what is the cardinalty here? A **may** means that it's optional, so the above definition would allow me to construct a Policy with no Permission and only Prohibitions and Duties (which wouldn't make much sense since the Assignee cannot really do anything). So I assume that you mean that the Policy **must** co

[2017-04-27 16:28] larsgsvensson opened #145 "Action names to be used"
The Information Model says about [Action](https://w3c.github.io/poe/model/#action)s:

Does that mean that anyone can define Actions in a profile? If so I propose to add the following text:

[2017-04-27 16:42] larsgsvensson opened #146 "Usage permissions for Ticket"
The Definition of [Ticket](https://w3c.github.io/poe/vocab/#term-Ticket) says

And the note adds

I think the first two sentences (referring to Offer) should be removed. Further I find the reference to the Assignee confusing. The definition says that a Ticket is redeemable by anyone who holds the ticket. Does that hold even if the Ticket is assigned to someone else (i. e. the Holder is different f