[2017-04-27 16:48] larsgsvensson opened #147 "Text for note on Target"
The note for [Target](https://w3c.github.io/poe/vocab/#term-target) is very terse:

I think the following text would improve readability

[2017-04-27 16:54] larsgsvensson opened #148 "Actions for Prohibitions and Duties"
The note on [has Action](https://w3c.github.io/poe/vocab/#term-action) says

What are the cardinality constraints on Prohibitions and Duties?

[2017-04-27 17:01] larsgsvensson opened #149 "Note on Duty"
The note on [Duty](https://w3c.github.io/poe/vocab/#term-Duty) says

To me that feels incorrect. If I have the permission to do something I am still not obliged to do it (i. e. the performing of a Persmission is optional). In other words: A Duty is a Rule that **must** be performed by the Assignee. A Permission is a Rule that **may** be performed by the Assignee.

[2017-04-27 17:14] larsgsvensson opened #150 "Should vs must in some odrl:LeftOperand"
The usage notes on some LeftOperands are very inconsistent regarding the use of **must** vs **should**

In [count](https://w3c.github.io/poe/vocab/#term-count) the note says

When would it be OK to use a negative integer?

In [dateTime](https://w3c.github.io/poe/vocab/#term-dateTime) the note says

In what cases would it be OK not to use an xsd:date or an xsd:dateTime? And can I use any datatype a

[2017-04-28 02:15] riannella commented on #128
I have updated the IM based on the new figure (class/property view) and removed the UML stuff.
I have also added a "Rule" section to the document- as the parent of properties for Perm/Prohib/Duty.

Please review the diffs here: https://github.com/w3c/poe/commit/e055b79b52922eb52942a7622cebe25df3c091f1

[2017-04-28 02:29] riannella opened #151 "XML encoding: qcodes and qnames"
Do we still need to support Qcodes and Qnames in the XML Encoding section:
  https://w3c.github.io/poe/vocab/#xml

And/or do we need to make these universal across all serialisations?

Or does the new support for IRIs work ok as is?

[2017-04-28 02:32] riannella opened #152 "RDF/OWL encoding"
Is the current text in the RDF/OWL Encoding section:
  https://w3c.github.io/poe/vocab/#rdfowl
enough for implementors to normatively follow?

[2017-04-28 02:34] riannella opened #153 "JSON-LD Encoding"
Is the current text in the JSON-LD Encoding section:
https://w3c.github.io/poe/vocab/#json
enough for implementors to normatively follow?

[2017-04-28 04:56] riannella commented on #117
I have updated the Constraint section and split into two (Atomic and Compound)

[2017-04-28 05:34] simonstey commented on #128
for some reason my comments didn't get through ;(

Thus, they *all* (incl. Duty) inherit *all* features from Rule.
As such, a policy like:

[code]

is a valid policy according to the latest IM diagram.

So either:

1. We remove the relationship between Policy and Rule, and add ones between Policy and Perm/Prohib.
2. Allow Policies to directly reference Duties via `odrl:duty` (my preference)

[2017-04-28 06:01] simonstey opened #154 "Difference between Policy Types and Rule Types"
Section [3.1 Policy](http://w3c.github.io/poe/model/#policy):

Section [3.5.1 Permission](http://w3c.github.io/poe/model/#permission):

While policy types are neither part of the current IM diagram [1] nor discussed in more detail in the IM at all, rule types are. They are, however, handled similarly in the [Vocab](https://w3c.github.io/poe/vocab/#term-Policy).

so why not do the same in the IM to

[2017-04-28 06:38] vroddon commented on #154
I have a point against Policies indicating a specific type mandatorily.
I also have a question on the RDF style.

When talking to non-ODRL people, the idea of policy was readily grasped by everyone and declaring the odrl:Policy was straightforwardly understood. However, using odrl:Set was confusing (set being too polysemical a word).

Indeed, both "policy" and "set" can be in the RDF triples decla

[2017-04-28 06:46] vroddon commented on #140
I am strongly in favour of it. I think we need a something to meed "everything", for the two examples that I provide next:

**First example: All rights reserved.**
[code]

I was more precise and I distinguished between copyright and database right, also limiting the prohibition in a very specific manner. odrl:use is not precise because the asset can still be read if it is in the internet for examp

[2017-04-28 07:54] iherman commented on #153
I believe that is enough, in terms of definition. However, I guess for the readability a text explaining that we do not define a generic JSON encoding but we rely on JSON-LD's capability to encode the RDF vocabulary, etc, etc, would be welcome. The JSON encoding is, in this sense, different from the XML encoding that does not seem to rely on RDF/XML.

[2017-04-28 08:01] iherman opened #155 "Systematic labeling of normative vs. informative"
At the moment there is no separation between normative and informative sections. Remember that, in a W3C Rec, any section that is not explicitly labeled is considered to be normative. I think we will have to make a thorough overview on this. E.g.

1. We have to make explicit that examples are _not_ normative (e.g. in the conformance section)
2. I am not sure whether the XML serialization is normat

[2017-04-28 10:32] larsgsvensson commented on #128
Renato,

Thanks for the updated model. Some minor comments:

Line 106: "The ODRL Information Model represents Policies to express Permissions and Prohibitions related to the usage of Assets." Suggestion: "The ODRL Information Model represents Policies that express Permissions, Prohibitions and Duties related to the usage of Assets."

Line 821: This one seems to be left in there by accident...

Lin

[2017-04-29 13:28] #136 closed, assigned to riannella

[2017-05-02 01:21] riannella commented on #154
@vroddon Are you OK with @simonstey request to show "type" as a class in the IM?

So Policy would look like:
<img width="337" alt="screen shot 2017-05-02 at 11 20 50" src="https://cloud.githubusercontent.com/assets/13191615/25600710/7d5375d2-2f29-11e7-8b6d-611a1d8189e4.png">

[2017-05-02 01:25] riannella commented on #154
@vroddon Opinion 1:

I would be OK to make type optional - AND to even deprecate "Set" as it is meaningless (just use Policy by itself) ?

Opinion 2:

I assume Example 2 is fine. (Good stuff for Best Practices?)

[2017-05-02 01:32] riannella commented on #140
We will probably need a more refined definition for odrl:use than "The Assigner permits/prohibits the Assignee to use the Asset as agreed"

[2017-05-02 01:33] riannella commented on #140
Are you proposing to add odrl:IPRight and odrl:databaseRight to the Vocab?

What would be their definitions?

[2017-05-02 01:42] riannella commented on #155
1) Do you mean the examples in the Encoding section of the Vocab document?
We state this: https://w3c.github.io/poe/vocab/#conformance

2) I assume we need test cass for all serialisations  @philarcher1

3) Yes, we have discussed this a lot. The proposal is that we ask implementors (again) which terms they use and document that (like we did the first time [1]). From that we can split the Vocab int

[2017-05-02 01:57] riannella commented on #128
@larsgsvensson Thanks. Made those updates. Except for line 872, did not include "that the Assignee" as we include parties in the Rule narrative.

[2017-05-02 02:08] riannella commented on #128
@simonstey Yes, you are correct that it is a "valid policy according to the latest IM diagram" but it is not valid according to the IM narrative:
  "A Duty must only be associated with a Permission"

The ODRL Ontology has defined prohibition property with range owl:unionOf ( :Prohibition  :Action )
Maybe we should also add disjointWith classes?

Or are you saying we should support Polices with jus

[2017-05-02 02:56] riannella opened #156 "General feedback on POE Use Cases"
@aisaac

1. General feedback on POE Use Cases (https://www.w3.org/TR/2017/WD-poe-ucr-20170223/)

Are the requirements identified in this document (https://www.w3.org/TR/2017/WD-poe-ucr-20170223/#Requirements) referred in other POE documents? It would be great to see which requirements have been implemented or not, and by which specific item of the Information Model or Vocabulary. Unless all have b

[2017-05-02 03:00] riannella opened #157 "Europeana/DPLA use case"
@aisaac

2. Europeana/DPLA use case (https://www.w3.org/TR/2017/WD-poe-ucr-20170223/#POE.UC.27)

First, thanks for including us, it is really good to have connections between our initiatives. And we'll try to remain compatible with POE specifications. Especially in our modeling work (http://rightsstatements.org/files/170106requirements_for_the_technical_infrastructure_for_standardized_internationa

[2017-05-02 03:02] riannella opened #158 "Relation to other standard frameworks for expressing rights statements"
@aisaac

3. Relation to other standard frameworks for expressing rights statements (esp. Creative Commons and DC)

Our RightsStatements.org use case raises the question between POE and other standard frameworks to represent rights/licenses. But I believe the issue goes much beyond our own case.

First, the POE pattern is centered on rights statements (which for us correspond to the POE "policy" no

[2017-05-02 03:04] riannella opened #159 "Question about Data Quality Vocabulary case"
@aisaac

Here's a small piece of feedback for POE, where I'd like to specifically add Riccardo Albertoni to the thread. We've both worked on the W3C Data Quality Vocabulary, which appears as a POE use case at
https://www.w3.org/TR/2017/WD-poe-ucr-20170223/#POE.UC.26

DQV uses ODRL for expressing a quality policy:
https://www.w3.org/TR/vocab-dqv/#ExpressConformanceWithPolicy
It seems that because o

[2017-05-02 03:58] riannella opened #160 "Possible extensions of the (SKOS) concept schemes defined in POE"
@aisaac

1.  I'd like to make a suggestion regarding possible extensions of the (SKOS) concept schemes defined in POE, such as the Actions one.
The POE model foresees that there can be new actions, which from the perspective of POE are not supported, and thus captured as ‘undefined’. This is apparently being debated, as reflected in https://github.com/w3c/poe/issues/105. But can’t a simpler, more

[2017-05-02 03:59] riannella opened #161 "Mechanism for specifying constraints"
@aisaac

2. I was a bit surprised the detail of the mechanism for specifying constraints (in section 3.8 and others). There are many, many hidden semantics beyond the use of simple resource from that mechanisms. For example, when odrl:event is used in a constraint, the value that should actually be checked is the end time of that event. And this sort of interpretation varies from one resource/oper

[2017-05-02 04:01] riannella opened #162 "Model clarifications"
@aisaac

3. I have some remarks/questions about the explanation of what POE elements are, which may be a bit more than editorial comments. It could be that the model is not clear, or it could be that my understanding of relationships between POE elements was hindered by editorial choices. Here’s the list of what I noticed:

- Permission, Prohibition and Duty are defined in 1.4 as ‘A set of Actions

[2017-05-02 04:02] riannella opened #163 "Model editorial"
@aisaac

4. Simple editorial suggestions:

- in 3.1 it would be good if the list of attributes could refer to the various sections that follow. And that these sections would be given in the order of the list! Otherwise the list’s explanations read quite rough.

- the order of subsections in 3(.1) seems quite unnatural. I don’t understand why I had to read about the intricacies of policy compositio

[2017-05-02 04:04] riannella opened #164 "Vocab clarifications"
@aisaac

- I think it is not really helpful to have two different Actions vocabularies (one for P/O and the other one for Duties). This sort of ontological commitment can even be dangerous. Why can’t an action now earmarked for P/Os, say Distribute, be used as a Duty? One could imagine that a Party gets the permission to do things with an Asset, on the basis that this party takes care of distribut

[2017-05-02 04:06] riannella opened #165 "Naming of elements/properties"
@aisaac

Remarks on the naming of POE elements:

- it’s really confusing to have classes and properties that have the same identifier, the only difference being capitalization, e.g. ‘Permission’ and ‘permissions’. I know you may inherit this from earlier ODRL work, but as POE is not yet a Recommendation, it would be useful to question that. Having the property identifier for “Has Permission” be ‘h

[2017-05-02 04:06] riannella opened #166 "Vocab Editorial"
@aisaac

- about Figure 1
-- why does it include two ’is’ and ‘has’ arrows? These are not elements of the POE vocabulary, nor of RDFS/OWL.
-- it’s confusing to seek to represent both sub-class and part-of relation between Rule and its specialization as one arrow.
-- Profiles are not in the figure

- using the word ‘concept’ for section titles like ‘Policy concepts’ or ‘Asset concepts’ doesn’t help

[2017-05-02 07:07] larsgsvensson commented on #128
Thanks, @riannella . Is that commit https://github.com/w3c/poe/commit/30eabde4d832bdfe0a131adda3a3f3e0b52d0455 ?

[2017-05-02 07:13] riannella commented on #128
@larsgsvensson Yes

[2017-05-02 07:18] #137 closed, assigned to sereAbi, riannella

[2017-05-02 07:18] #135 closed, assigned to sereAbi, riannella

[2017-05-02 07:18] #129 closed, assigned to riannella

[2017-05-02 07:19] riannella commented on #131
Reopen (and discuss) this in the Formal Semantics NOTE.

[2017-05-02 07:19] #131 closed, assigned to riannella

[2017-05-02 08:30] iherman commented on #155
Ah, yes, indeed, I missed that. This takes care of the examples.

I would day *this decision is urgent*. The CR (which, afaik, is planned after the F2F meeting) **must** contain something about this. Either we decide on what is and what is not normative or, at the minimum, we label all features that _may_ become informative as "at risk" in the document. If we do not do that, and we "downgrade" som

[2017-05-03 01:25] riannella commented on #46
Now split Example 25 into two examples.

[2017-05-03 01:26] riannella commented on #46
Any more comments on this issue??

[2017-05-03 03:46] riannella commented on #141
Updated with commit 5d4f9221b955281c572afe8f4b485a8d4b06c713

[2017-05-03 03:57] riannella commented on #142
Updated in commit 87cfc9856bbe3cb200f07cb7745e74e0556a6717

[2017-05-03 04:02] riannella commented on #143
In the ODRL Ontology we have for Party
owl:unionOf ( schema:Person schema:Organization foaf:Person foaf:Organization vcard:Individual vcard:Organization )

We found the semantics of foaf:agent to be too broad.

[2017-05-03 04:05] riannella commented on #144
We now have removed such statements from the IM.
See this commit e055b79b52922eb52942a7622cebe25df3c091f1

We leave such rules to the definition of Policy Types now (or Profiles).

[2017-05-03 04:07] riannella commented on #145
This was updated in this commit e055b79b52922eb52942a7622cebe25df3c091f1

[2017-05-03 04:20] riannella commented on #146
(That seems to be a copy/paste error ;-)
I have updated the definition of Ticket in this commit c1126c6146d95d8120005c48d8045967b27aa5ab

[2017-05-03 04:27] riannella commented on #147
This has been superseded in this commit e055b79b52922eb52942a7622cebe25df3c091f1

[2017-05-03 04:29] larsgsvensson commented on #143
Does that mean that software agents are explicitly not instances of `odrl:Party`?

My point is that the IM talks about things that take active roles or produce specified effects. What kind of things could that be if software is excluded?

[2017-05-03 04:32] riannella commented on #148
Updated in this commit e055b79b52922eb52942a7622cebe25df3c091f1

[2017-05-03 04:34] riannella commented on #149
Updated in this commit e055b79b52922eb52942a7622cebe25df3c091f1

[2017-05-03 07:34] larsgsvensson commented on #141
OK, thanks @rianella

[2017-05-03 07:35] larsgsvensson commented on #141
OK, thanks @riannella

[2017-05-03 07:37] larsgsvensson commented on #146
OK, thanks @riannella

[2017-05-03 07:43] vroddon commented on #154
@simonstey  I am not sure of having understood.
As of today, the recommended practice is this:

[code]
Besides the representation in the diagram... how would it be in Turtle?

[2017-05-03 07:45] vroddon commented on #154
@riannella

Perhaps we should raise this issue to confirm? I agree indeed but I just added the "Needs WG Decision".

[2017-05-03 07:52] vroddon commented on #140
@riannella I would pay attention to CreativeCommons 4.0 for one reason: they have no jurisdiction-dependant ports and they aim at being universal. Slightly changing the text at https://creativecommons.org/licenses/by/4.0/legalcode we could have:

[2017-05-03 07:58] vroddon commented on #143
Shall we have a short discussion in the next call?

[2017-05-03 08:04] simonstey commented on #154
@vroddon hm? is it about verbosity of the examples only or do you mean in general?

[2017-05-03 08:10] simonstey commented on #156
quick comment:

We did something similar for SHACL (cf. http://w3c.github.io/data-shapes/data-shapes-ucr/#requirements)

[2017-05-03 08:12] simonstey commented on #156
Proposal: Re-open submission of new/revised use cases

[2017-05-03 08:31] vroddon commented on #154
Oh! I don't understand the diagram, i.e., I don't know how to produce examples from the diagram.

[2017-05-03 08:36] simonstey commented on #149
I would even argue that the same holds for Duties too:

Since Duties can only be associated with Permissions, I only have to fulfill a Duty if I want to be eligible for its respective Permission. (I don't have to pay you 100000€ if I don't want to use your data ;)

[2017-05-03 08:51] simonstey commented on #161
+1

well well well ;)

[2017-05-03 10:25] simonstey commented on #143
owl:unionOf ( schema:Person schema:Organization foaf:Person foaf:Organization vcard:Individual vcard:Organization )

How is this enforced for https://w3c.github.io/poe/vocab/#xml ?

why? too broad for what?

[2017-05-03 10:29] simonstey commented on #148
it's in the vocab

[2017-05-03 10:31] simonstey commented on #147
no, this commit doesn't update the vocab

[2017-05-03 10:42] simonstey commented on #159
@aisaac

yes, as of now it should look like this ->

[code]
  .

[2017-05-03 12:46] aisaac commented on #159
Thanks @simonstey!
I'm trying to loop @riccardoAlbertoni in. I guess this should becomes an issue of DQV rather than POE. Or maybe we should postpone this until POE has progressed towards Rec status - in case there would be other changes to the POE part on constraints.

[2017-05-04 00:36] riannella commented on #155
Proposal for CR:

1. ODRL Info  Model

Mark these sections as non-normative:
3.1.1 Policy Composition
3.1.2 Policy Provenance
3.1.3 Policy Conflict Strategy
3.1.4 Undefined Actions
3.1.5 Policy Inheritance
(and move them to the end of  section "3. ODRL Information Model"

2. ODRL Vocab & Expression

Split  the current Vocabulary section into two:
"4. Core Vocabulary" (normative)
"5. CommonVocabula

[2017-05-04 01:36] riannella commented on #140
@vroddon the CC4 definition of "IPRight" includes database rights?
(and the current definition only applies to EU jurisdictions, which we cannot support ;-(

I am slightly confused on what the proposed action hierarchy is (or should be).

At the moment, we have odrl:use and odrl:transfer at the "top".

[2017-05-04 01:58] riannella commented on #149
Proposal: Update first para of Duty section to read:

A Duty class is a specific type of Rule that specifies agreed Actions that are <strong>obligatory</strong> and MUST be fulfilled **in order to be granted the associated Permission.** A Duty **MUST** only associated with a Permission. The Permission is valid (including the Permission's constraints all being satisfied) if and only if the Duty has

[2017-05-04 02:08] riannella commented on #161
How would the Information Model be updated to handle "SHACL-based" ODRL Constraints?

[2017-05-04 02:21] riannella commented on #143
There was some discussion back here: https://lists.w3.org/Archives/Public/public-odrl/2014Sep/0011.html

I think the "physical artefact" part of foaf:Agent was too broad (a statue in a park ;-).

But I am not too worried if that is a real assignee !

[2017-05-04 02:22] riannella commented on #143
Proposal: add foaf:Agent and vCard:Agent to odrl:Party union

[2017-05-04 02:27] riannella commented on #148
Whoops..missed that.

Commit 07c34e7c2a1b3a73134e3cf64984b165553e4bc4

[2017-05-04 02:31] riannella commented on #147
Update vocab now 51dddf982cda8b6c158e9c29cbdd8b9508c12da3

[2017-05-04 02:45] riannella commented on #159
@aisaac Yes, probably a DQV issue now :-)

BTW, the Duty in your example does not have an action.

[2017-05-04 03:22] riannella commented on #158
Proposal:

1 - update the IM to include a new property odrl:policy (hasPolicy)
(declare as sub-property of dc:rights and http://www.w3.org/ns/ma-ont#hasPolicy)

2 - Remove the "target asset" section from the RDF/OWL Encoding section in the Vocab.
(there will be an example in the IM)

3 - Remove deprecated terms as instances of Action

Comments:

1 - we kept odrl:attribute as an action as CC only h

[2017-05-04 04:50] riannella commented on #166
1 - The figure has now been updated (based on the changes to the IM figure)

2 - Removed "Concepts" from section headings

3 - Updated script to also add "broader terms"

4 - Fixed

5 - Have added domain of Rule to assignee, assigner

6 - We can't change that easily (unless we start hacking http://librdf.org/raptor/rapper.html)
Suggest we leave it.

7 - True, but relation's range is Asset (in this

[2017-05-04 05:26] riannella commented on #163
1 - Added links
2 - Have reordered the sections
3 - Fixed and explained irredicible
4 - Fixed (now consistent)
5 - Fixed
6 - fixed
7/8 - Fixed previously with model update
9 - Updated

Commit 28791d6144ac723b292602d36a53bb10b303e53b

[2017-05-04 07:32] vroddon commented on #140
Yes, the CC definition of "Copyright and Similar Rights" includes that of database rights. I have split them on purpose, but we can keep only one single term.

But I do not agree with the "jurisdiction problem": as it is formulated, the CC's definitions are clear and jurisdiction-agnostic. The text "as well as other essentially equivalent rights anywhere in the world" is very clear.
There is also

[2017-05-05 01:07] riannella commented on #140
@vroddon You can't define databaseRights in terms of EU laws and say that is jurisdiction-free. Australia (and many other countries) would disagree ;-)

But..my underlying question is that I can't see these term(s) as **actions**? ie verbs?
What are we allowing the assignee to do/not do?

[2017-05-05 01:31] riannella commented on #165
1 - The working group has discussed and has decided to keep the same naming of identifiers and use the label as the human-readable text. The latter would have "has x" for properties etc. We did not want to do wholesale changes to the URIs unless there were broken.

2 - See 1)

3 - inheritRelation has now been deprecated

4 - We would argue that Privacy is a type-of Policy: https://en.wikipedia.org

[2017-05-05 01:35] riannella commented on #161
I think we need to update the definition of each constraint left operand in the Vocab to make sure it is clearly defined/described. We say this in the IM, so we just need to check that in the vocab.
So, for example, we should say how "event" is used with the operators.

[2017-05-05 01:38] riannella commented on #160
See #139 (as we may remove this feature).

I think these types of suggestions should be in the Profile section.

[2017-05-05 03:18] riannella commented on #162
We have made a major update to the IM that addresses many of these comments now.

See this commit e055b79b52922eb52942a7622cebe25df3c091f1

1 - covered in commit

2 - removed all the "refers"

3/4 - covered in commit

5 - The ODRL conflict strategy only deals with perms/prohit conflicts. We have issue #138 discussing this now.

6 - Added more details.

7 - Updated the two scope sections. One reaso

[2017-05-05 08:10] simonstey commented on #112
http://w3c.github.io/poe/model/#constraint still reads:

which is not the case for Duties

[2017-05-05 12:15] stuartmyles commented on #151
In my view, it would be fine for us to drop support for QNames and QCodes from ODRL XML (and not spread them to other encodings). Within IPTC our experience has been that full IRIs (or URIs) are easier to deal with in the general case - the space savings of using QCodes entail additional processing to map from QCodes to full IRIs.

[2017-05-08 00:18] riannella commented on #151
Thanks. Will remove them from the XML encoding spec/schema

[2017-05-08 00:20] #134 closed, assigned to riannella

[2017-05-08 00:20] #132 closed, assigned to riannella

[2017-05-08 00:20] #83 closed, assigned to vroddon, riannella

[2017-05-08 00:21] #133 closed, assigned to riannella

[2017-05-08 06:17] riannella commented on #112
I will change that para to now read:

"If there are multiple Constraints applied to a  Rule, then they are interpreted as conjunction in that each Constraint MUST be satisfied."

[2017-05-08 12:19] nitmws commented on #150
Quick note: as editor of leftOperands I have copied and pasted notes from the ODRL specifications of corresponding/equivalent leftOperands (constraints called there).

Questions 1: were the must, should, could etc applied to the note in the RFC 2119 (https://www.ietf.org/rfc/rfc2119.txt) context?

Question 2: what level of agreement is required to modify the notes: by the Editors of the draft docu

[2017-05-08 12:32] riannella commented on #150
A1: Should be the same ;-)
A2: Editors

[2017-05-08 13:14] vroddon commented on #164
This is a bunch of issues.
1. Actions for Duties, actions for Permissions/Obligations. I agree with Antoine, as I don't find a reason to split the actions in two categories. But I think this deserves discussion.
2. SKOS - I have no opinion about what to do. What should we implement?
3. I don't see anything wrong in Section 4.1.1. However, I see Section "3.1.1 Policy Composition" in the model as so

[2017-05-08 13:31] riannella commented on #150
A1: MUST be the same ;-))))

[2017-05-09 00:01] riannella commented on #156
WG agreed (8 May) to allow update of these UC/reqs (only)

[2017-05-09 00:03] riannella commented on #154
WG agreed (8 may) to adopt subclass model for "types" and include current "policy types" in IM

[2017-05-09 00:05] riannella commented on #139
WG agreed (8 May) to remove this section and deprecate terms in Vocab

[2017-05-09 00:05] riannella commented on #138
Little support for this, so closing the issue

[2017-05-09 00:39] riannella commented on #157
WG agreed (8 May) to allow update of these UC/reqs (only)

[2017-05-09 02:56] riannella commented on #154
The IM has been updated to replace the "type" property with subclasses.
I have included 3 subclasses: Set, Offer, Agreement in the IM.

Do we need to  include all the rest? (As the above 3 are the core policy subclasses...and the reader now has a better idea about what they mean in terms of additional constraints/cardinalities... the others in the Vocab/Profiles should be more clearer?)

All the J

[2017-05-09 08:17] simonstey opened #170 "A Party MUST have the function role fulfilled by a Party"
what? is this something that can be checked by a machine?

http://w3c.github.io/poe/model/#party

[2017-05-09 09:04] nitmws commented on #153
As I like precise statements I suggest this change in the JSON-LD Encoding section - inserted words in bold:
Implementations producing ODRL expressions **in JSON** should include ...

[2017-05-09 09:06] simonstey opened #171 "consistency of definitions"
http://w3c.github.io/poe/model/#rule

why are those 3 conditions phrased differently?

- A Rule MUST have an Asset via the target property.
- A Rule MUST have an Action via the action property.
- A Rule MAY have one or more Parties via the assigner/assignee property.
---------------
- A Rule MUST have a target Asset.
- A Rule MUST have an Action
- A Rule MAY have one or more Assigners and/or Assig

[2017-05-09 09:19] simonstey commented on #154
says who? do we define/specify/explain that somewhere? why is `odrl:Offer` a core policy subclass but `odrl:Request` isn't?

-----------

also:

**consistency**

[2017-05-09 09:46] simonstey opened #172 "ODRL Profiles & RFC2119"
the entire [section on ODRL Profiles](http://w3c.github.io/poe/model/#profile) is flagged as being non-normative, but uses RFC2119 keywords, e.g.:

what's the semantics of a non-normative RFC2119 MUST?

(cf. http://ln.hixie.ch/?start=1140242962&count=1);

[2017-05-09 09:52] simonstey commented on #172
this should also be updated/removed:

[2017-05-09 11:43] philarcher commented on #172
I agree that RFC2119 keywords are inappropriate in a non-normative section. But the POE WG should take note that the <a href="https://www.w3.org/2017/dxwg/">Dataset Exchange WG</a> (DXWG) kicks off next week and is <a href="https://www.w3.org/2017/dxwg/charter#deliverables">chartered</a> to, among other things, define what is meant by an application profile and explain one or more methods for publ

[2017-05-10 02:29] riannella commented on #170
Updated to:

"A Party MUST have a <code>function</code> indicating the role undertaken by the Party."

[2017-05-10 02:41] riannella commented on #153
@nitmws would that be "...in JSON-LD..." ?

[2017-05-10 02:54] riannella commented on #171
No reason in particular ;-)

Actually, perhaps at the Rule level we should say:

A Rule MUST have an Asset via the **relation** property.
A Rule MUST have an Action via the action property.
A Rule MAY have one or more Parties via the **function** property.

Then state:

The abstract relation and function properties MUST be represented as explicit types of these properties in the subclasses of Rule

[2017-05-10 03:28] riannella commented on #154
As per the last ODRL Implementors Survey:
  https://www.w3.org/2016/poe/wiki/File:ODRLImplementationSurvey-2016-Dec-07.pdf

We also state:

"An ODRL Policy may be subclasssed to more precisely describe the context of use of the Policy that may include additional constraints that ODRL processors must understand. The Policy subclasses are documented in the ODRL Vocabulary [vocab-odrl] or in ODRL Pro

[2017-05-11 00:14] riannella commented on #172
RE: what's the semantics of a non-normative RFC2119 MUST?

It means "IF you implement X, then you MUST do it this way"

Other recent specs use RFC2119 terms in non-normative sections:
https://www.w3.org/TR/2017/PR-activitystreams-vocabulary-20170413/#places
https://www.w3.org/TR/annotation-model/#additional-media-types-selector-combination
https://www.w3.org/TR/activitystreams-core/#activitystream

[2017-05-11 00:56] riannella commented on #139
Removed the Undefined Actions section from IM and deprecated in the Vocab and removed from encodings

Commit 01a3a9aa29476308b90423457c635c745a09938f

[2017-05-11 06:56] simonstey commented on #172
Which is not what [4.2 Requirements](http://w3c.github.io/poe/model/#profile-requirements) says though:

_"any consuming system"_ != _"any consuming system that supports/implements given profile"_
Actually, it's even contradicting itself as it continues on with stating that:

Since it's required that **any** consuming system **MUST** understand the identified Profile, any system that doesn't, does

[2017-05-11 07:48] nitmws commented on #153
@riannella the first step is: the production must produce JSON syntax (and not XML or something else), only then adding @context makes sense. A more expanded statement could be: "Implementations producing ODRL expressions **in JSON for the use with JSON-LD** should include a @context property value ..."

[2017-05-11 10:30] simonstey opened #173 "What's the immutable core of ODRL that cannot be changed by Profiles?"
[4.2 ODRL Profile Requirements](http://w3c.github.io/poe/model/#profile-requirements)

What are the "core" concepts of ODRL that cannot be changed/removed by Profiles?

[2017-05-11 10:47] simonstey commented on #171
I know :D

That's not true for Duties:

I really like the "explicit types of these properties" part! other parts of the spec should be adapted accordingly..

e.g. in the Duty section:

[code]

`ex:Bob` is defined as asignee of the Duty, is  `ex:Bob` a _Party function_?

[2017-05-11 13:07] simonstey commented on #153
we moved from JSON to JSON-LD as discussed in #46

[2017-05-11 13:41] simonstey commented on #111
why do we substitute @id with uid?

[2017-05-11 14:03] simonstey opened #174 "whats's the rationale behind uids?"
why are they mandatory for concepts like Asset and Party but optional for Rules?

why do we call them uids?

related: #111

[2017-05-12 00:32] riannella commented on #118
Removed period support from dateTime and updated time-based terms with examples

Commit a196056e6daede396d6b1332ab1c6f2855e47af0

[2017-05-12 00:39] #117 closed, assigned to riannella

[2017-05-12 00:49] riannella commented on #172
Perhaps we should remove the concept of Profiles completely?
And leave it up to implementors/communities (like other specs...)

I note that RighstML (an example cited) does not actually use the "profile" property @nitmws @stuartmyles

[2017-05-12 00:52] simonstey commented on #172
+1

[2017-05-12 01:14] riannella commented on #153
As said in #46:
"The JSON representation should be the JSON-LD simply with the @context removed."

Is that ok @nitmws @stuartmyles  ?

[2017-05-12 01:51] simonstey commented on #153
why?

as @gkellog said:

[2017-05-12 01:57] riannella commented on #171
Updated the Rule to be less specific and added the specifics to the subclasses.
Also, please check the wording now for Party in Duty

Commit: f21736313e70e45c4fa9a6f461e2ac6c36c23d0a

[2017-05-12 05:09] iherman commented on #172
@riannella I presume we had this concept because there is a need for it; completely forgetting about it may be a step too far. Maybe the best approach is what @simonstey proposed, ie, move it into a separate note. Once it is a note it is also safer to make references to a nascent WG that @philarcher1 proposed.

[2017-05-12 05:13] simonstey commented on #172
in which case we have to address #173

[2017-05-12 06:20] simonstey commented on #74
I should have put more emphasis on the **etc.** part...

The current Vocab draft is in large parts still inconsistent and unclear (+ garnished with typos every now and then). It needs to be **thoroughly reviewed** (by at least >=2 members of the WG) and updated/fixed accordingly.

For example (**this is only a small subset**):

Definition: 	A Rule expressing what Action is allowed and/or disallowe

[2017-05-12 06:22] simonstey commented on #119
reopen because of #74

[2017-05-12 07:13] philarcher commented on #172
The concept of a profile for ODRL is exactly in line with what the DXWG is going to tackle so if POE is happy to leave it at that, it can be done with confidence. The KO meeting for DXWG is on Thursday during the POE F2F (I'll need to slip out of the room for that hour). The POE WG has time within it remaining charter to assess whether or not DXWG will deliver the required level of support and, if

[2017-05-12 07:15] philarcher commented on #173
That looks like a set of requirements that could be taken on board by DXWG. They will be working on a UCR within the coming weeks and so, perhaps, this list can be the basis of a use case in that document?

[2017-05-12 07:25] simonstey commented on #173
\- the bold parts, as a Profile shouldn't be a valid ODRL Profile if it throws away/alters all concepts of ODRL

[2017-05-12 08:08] simonstey commented on #124
has this happened already?

because the current IM draft still contains references to _relation properties_, _function roles_/_types of function properties_, and other concepts that are only relevant for a potential ODRL XML encoding, but not (or only indirectly) for JSON(-LD) or RDF ones.

take for example:

here's a valid JSON-LD encoding of a policy in which `billie` doesn't have "a function th

[2017-05-12 08:59] simonstey opened #175 "An Action is associated to the Asset with the action property in a Rule."
http://w3c.github.io/poe/model/#action:

what? how?

[2017-05-12 09:26] simonstey commented on #154
as in:
[code]
or as in:
[code]

----------

in addition to what?

- has the following **what**?
- s/Rule/Prohibition or Permission/

[2017-05-12 09:38] simonstey opened #176 "invalid examples"
**Example 9:**
[code]
offer without assigner

--------------------

**Example 13:**
[code]
unsupported policy type

--------------------

**Example 23:**
[code]
what's `"permission": [{   }]` supposed to mean?

--------------------

**Example 28:**
[code]
missing assigner&assignee for prohibition

[2017-05-12 09:59] simonstey commented on #166
and its domain is Rule:

Definition:	Relation is an abstract property **which creates an explicit link between an Action and an Asset**.
Range:	Asset
Domain:	Rule

so.. how?

[2017-05-12 10:15] simonstey opened #177 "Policy Composition & Vocab"
According to http://w3c.github.io/poe/model/#composition:

example 21:
[code]
however, e.g. http://w3c.github.io/poe/vocab/#term-target defines only Rule as its domain

=> <http://example.com/policy:8888> is both Policy and Rule?

[2017-05-14 08:51] nitmws commented on #164
re use of SKOS
My background: I'm maintaining the about 200 IPTC controlled vocabularies = concept schemes and IPTC has adopted SKOS. From that point of view:

The ODRL ontology used both skos:Collection-s and skos:ConceptsScheme-s. I have to say frankly it is hard to make a clear distinction between both, From their definitions l infer collections are closer to what an enumeration is in the progr

[2017-05-14 09:31] nitmws opened #178 "Actions (Permission/Prohibition and Duty) - editorial issues"
Going over the definitions of Actions for Permission-Prohibition and for Duty in Vocab Editor's Draft I see these issues should be solved, correcting typos and minimal changes are not included. It covers also the raised issue of the use of RFC2119. (TOC numbers are based on the Vocab Editor's Draft of 11 May)

Permission-Prohibition
* Use (4.12.1): remove "the" in Note: ... by **the** narrower act

[2017-05-14 20:13] nitmws opened #179 "Constraint: specs of classes and of instances of LeftOperand - editorial issues"
Going over the specifications regarding C/constraints  in Vocab Editor's Draft (of 11 May) I see these issues - and I'm aware of the already raised and discussed use of RFC 2119 terms.

Constraint
* Has Constraint (4.15.2) - Definition: I suggest "Constraints applied to the Rule". (More than 1 constraint can be used - and they are more than just related.)
* Has Operator (4.15.4.) - Definition: I s

[2017-05-14 20:31] nitmws opened #180 "Definitions of Atomic Constraint Operators"
The specification of Constraint in the Info Model defines Atomic Constraints "in which the left and right operands are logically compared" and Compound Constraints "in which the left and right operands are existing Atomic Constraints" ... and I'm sure they are also compared. (Should be added in the Info Model)

The Definition of the Constraint Operators in the Vocab Editor's Draft (of 11 May) use

[2017-05-15 00:53] riannella commented on #148
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 00:54] riannella commented on #147
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 00:54] riannella commented on #145
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 00:54] riannella commented on #144
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 00:54] riannella commented on #142
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 00:55] riannella commented on #141
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 04:07] riannella commented on #111
That ended up no being correct, as the JSON-LD context does the mapping from the IM's uid to an id

[2017-05-15 04:15] riannella commented on #153
BTW, I also was quoting @gkellogg

[2017-05-15 04:31] riannella commented on #124
Example 1 does exactly as the model says...Billie has the functional role of "assigner"

Thats what this says:

     "assigner": "http://example.com/billie",

XML simply has a different syntactical way of expressing that...

[2017-05-15 06:06] riannella commented on #176
Ex 9 - fixed
Ex 13 - is valid - Privacy is defined in the ODRL Vocab (and mentioned as such in the example)
Ex 23 - added "..." which means the rest of the policy is here...
Ex 28 - fixed

Commit 33ad6920a5b0e4f1220f98f62def97e8bc0cfa5a

[2017-05-15 06:08] riannella commented on #174
If they are not mandatory for Asset and Party, then what Asset and Party are you referring to??

uid - unique identifier

[2017-05-15 06:13] riannella commented on #146
@larsgsvensson Can you please confirm you are ok with the resolution of this issue (and close it) or please add any further feedback/comments.

[2017-05-15 07:06] simonstey commented on #174
if they are mandatory, you can't have blank nodes for assets/parties:

[code]

[2017-05-15 07:10] simonstey commented on #176
why use a policy type that's not one of the officially supported policy types (e.g. as shown in [IM Diagram](https://w3c.github.io/poe/model/00Model.svg)

[2017-05-16 00:07] riannella commented on #174
Would any real system do that?
That is, assign the permission to reproduce asset9898 to foaf:name "Bob"

[2017-05-16 00:30] riannella commented on #176
Updated the example to Agreement and simplified to be more about the duty.

Commit  7c700942d4e8fa96b3764244cb1406db4013055a

[2017-05-16 01:06] simonstey commented on #176
closed #176

[2017-05-16 01:42] riannella commented on #124
I've added more explanation to section 3.0 on the abstract properties and the need for them to be subtyped. Also added a new figure.
(and @philarcher1 feedback email asked for more clarification)

commit 57115fe8cabcc94e029d86d4b161092b8277df6c

[2017-05-16 01:54] riannella commented on #101
Proposal:

1 - update "play" definition  to "The Assigner permits/prohibits the Assignees to perform a multimedia Asset"

2 - deprecate "present"

comments?

[2017-05-16 01:58] riannella commented on #112
The last para of 3.6 Constraint section now reads:

"When multiple Constraints apply to the same Rule they are interpreted as conjunction. A Rule becomes effective if all of its Constraints are satisfied."

@simonstey ok?

[2017-05-16 01:58] riannella commented on #128
Any final comments/feedback on this issue??

[2017-05-16 02:02] riannella commented on #149
Change made

commit 54054796c0e88bca9a7f9e2ca12a322ff4ac34bd

[2017-05-16 02:27] riannella commented on #151
Change made.

Commit 04388d9d5012f0619732cbe076552e9907e1d2b8

[2017-05-16 02:34] riannella commented on #143
Completed.

commit 9af11bd5a25fc7bd83bc3ff7622beb7406f060e2

[2017-05-16 02:50] riannella commented on #130
Added inheritance as example/link in Conflict section and reordered both sections.

commit 11d7d64aea230a98a069a509b018e692aa910e7d

[2017-05-16 02:58] riannella commented on #85
Proposal:

After the final REC is published, we edit the .ttl file and remove all the respec code

[2017-05-16 03:44] riannella commented on #175
Agree...we keep referring to Actions for Assets, when they should be for Rules (and the Rule describes the action semantics)

[2017-05-16 03:55] riannella commented on #175
Updated.
Commit f58a025183c9ac2db7965d836f01ed4164d3964f

[2017-05-16 04:09] riannella commented on #154
@simonstey As in your first example. Perhaps odrl:Set is equivalent class to odrl:Policy ?

removed: "and does not assert any additional cardinalities or semantics"

"..has the following **requirements**:"

I think for Set we leave it as Rule (as we don''t want to restrict them) but for Offer and Agreement we change Rule to "Permission or Prohibition" ?

[2017-05-16 04:15] riannella commented on #177
Update the Ontology?

[2017-05-16 05:57] simonstey commented on #154
I would suggest phrasing it along the lines of:

--------

thus permitting policies like:

[code]
? that would be big news :O 👍

(@vroddon might want to chime in on this)

[2017-05-16 07:20] riannella commented on #154
Done: 38b945c2c639cf51ec61ef9b7e24e498e3bc9fdc

Let Set be free :-)

[2017-05-16 07:59] vroddon commented on #85
Agreed!

[2017-05-16 08:19] vroddon commented on #172
REL Profiles have been there for the last 15 years, but history alone should not be the only reason to maintain a feature.

The advantage of having profiles is that the specification of each adopter can eventually have an official sanction. If profiles are now not mentioned, homogeneous practice will be lost. But I believe this is entirely up to the interest of current adopters. What do they think

[2017-05-16 08:21] vroddon commented on #74
Do you believe is it worth to have a specific call today or tomorrow to jointly propose better definitions?

[2017-05-16 08:26] vroddon commented on #154
@riannella @simonstey

Sorry if this was already discussed but...
...is there any reason for using/not using OWL Property restrictions?
<https://www.w3.org/TR/owl-ref/#Restriction>

Víctor

El 12/05/2017 a las 11:26, simon escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de

[2017-05-16 08:29] vroddon commented on #176
Indeed, the IM reads  "An ODRL Policy of type Offer: must include at least one Party with assigner functional role."
How should I express "this is a general offer for everybody"? (like an offer in Wal-Mart)

[2017-05-16 08:36] vroddon commented on #177
Implemented in Revision: 316555baab131ed6e01878f6e38d595ae33e3421
Four properties (action, target, assigner, assignee) have changed their domain to:

[code]

[2017-05-16 08:38] simonstey commented on #177
what about their super-properties?

[2017-05-16 08:54] vroddon commented on #178
Partially implemented in Revision: 28689e1b1a19cf165a3233f206cbec8a71a19248

@nitmws All the points have been implemented, except the following:

- Obtain Consent (4.14.9): the definition should outline how the consent should be obtained, the current definition could be interpreted as wide open but then it is also unclear and could be interpreted differently easily.

**NOTE DONE - UNCLEAR**

- Wat

[2017-05-16 09:00] vroddon commented on #177
Good point. I implemented the same for :funcion and :relation
Revision: 2ee14f6b020c56a49f6c74d81c5121cbc234a1ce

[2017-05-16 09:00] #177 closed, assigned to nevali, nitmws, stuartmyles, vroddon, riannella

[2017-05-16 11:29] simonstey commented on #128
adapt figure wrt. #154

[2017-05-16 23:57] riannella opened #181 "Model Comments/Feedback (PhilA)"
As you may have just seen, I've been reading through the model doc again, this time looking for validation/processing rules. In doing so, I have made some notes. Some of these might end up as separate issues but the majority are editorial.

3.2.1 Relation.

I am confused by the section being about the relation property and then the example uses target. Suggest: use text from the vocab doc to expla

[2017-05-17 02:52] riannella commented on #154
There is no reason why not to.

What would it look like?

[2017-05-17 02:55] riannella commented on #176
Offers are for anyone, but they must come from someone.

So, your example would have the assigner of "walmart.com"

[2017-05-17 04:28] riannella commented on #154
Clarification....(as we currently say Duty is for Permission only....)..

So in the example above, the duty at the Policy level means what?

[2017-05-17 06:15] riannella commented on #178
obtainConsent - I don't think we can say **how** this is obtained - as there are too many different ways - we can really only say that it must be obtained. The example says you **could** use a consenting Party (to contact) for example.

watermark - I am not sure the note make sense. I recommend we remove the note.

reproduce - is like a copy function (but does not necessarily mean exact copies alw

[2017-05-17 06:18] riannella commented on #101
Alternative for 2)

- Leave "Present" as the action to perform/exhibit the asset, but remove it as the parent of play/display/print

[2017-05-17 06:29] riannella commented on #74
@vroddon we have 14 hours to teleconf soon ;-)

@simonstey yes "etc" is too broad :-) ...please submit issues on all bits that need clarification. If its just a typo, then feel free to edit the files yourself.

@nitmws I think @simonstey is asking for clarification on the "Absolute..." terms

[2017-05-17 06:31] riannella commented on #74
We need to ensure that all the changes to these core terms are reflected here:
  https://w3c.github.io/poe/model/#terminology
In the narrative of the IM spec and in the definitions in the Vocab spec.

So, lets see if we can agree on them here....once...then duplicate....

[2017-05-17 06:33] riannella commented on #74
@simonstey what is your suggestion for defining these key terms:

https://w3c.github.io/poe/model/#terminology

[2017-05-17 09:38] iherman commented on #154
@vroddon @riannella : what would we want to achieve with complex OWL statements? Do people use ODRL expressions to deduce new valid statements, or are we looking for a semantics to produce data checkers? There is a difference: the OWL semantics is not really good for checking purposes (unless it creates new statements that are in contradiction with others).

[2017-05-17 11:20] nitmws commented on #178
re @riannella
* obtainConsent: I think a minimal requirement of "obtaining a **documented** consent" would help as in the legal context documentation of actions is essential.
* watermark: I support to remove the note
* reproduce: I agree to the outlined change of the definition. But how to express what may/not be done with the duplicate of the copy? Such a duplicate is not made without any purpose

[2017-05-17 13:47] aisaac commented on #156
Regarding revision of mentioned cases and requirements, this sounds good. Have you got a precise timing in place?

Also, about the other comment in this issue: will there be something to show which requirements are met? It's unclear from the subsequent thread. Maybe it should be treated as a new issue?

On 09/05/17 02:01, Renato Iannella wrote:

[2017-05-17 13:49] aisaac commented on #157
Sounds good. Have you got a precise timing in mind?

[2017-05-17 13:57] aisaac commented on #158
I'm sorry but I think this issue is too big for discussion. I want to answer your points, but I'm afraid that this will result in a long thread mixing different things.
Would it be possible to at least try to separate what follows 'Second,' from what is after "First,"?

[2017-05-17 14:04] aisaac commented on #159
OK this should be transferred. Hopefully the new W3C Data Exchange Working Group will accept to be the home for the issue.

But before we close I have to ask @riannella about the duty, so that we know for sure how to change DQV.
When you say "the Duty in your example does not have an action", what kind of action would be appropriate here?
The idea is that the serviceProvider would commit to a cert

[2017-05-17 14:18] aisaac commented on #160
Looking at #139: I think it makes sense removing the 'undefined action' as it was at
https://www.w3.org/TR/2017/WD-odrl-model-20170223/#undefined
And it could be that treating this as part of Profiles is the right thing to do.

However I would still consider POE has to offer something. Is it possible that #139 is closed noting that there should be something? From the perspective of #160 this shoul

[2017-05-17 14:19] aisaac commented on #139
Is the resolution suggesting to remove the possibility of any new actions, even following the mechanisms suggested in #160?
If not then it should be explicit here that a resolution to #160 should follow up on closing #139

Also is the resolution suggesting that there is nothing to replace the processing options  (support, ignore, invalid) at https://www.w3.org/TR/2017/WD-odrl-model-20170223/#undef

[2017-05-17 14:35] aisaac commented on #161
An update of the definition of each constraint left operand in the Vocab would help. But I'm not sure it would solve everything. Indeed as you say I could find some info in the IM about these operands. But it really didn't feel natural at all. Like, the first time I see an operand I would think "oh but what does this thing stands for exactly?" and then when finding an example later I would think "

[2017-05-17 17:51] nitmws opened #182 "Normative and non-normative parties, actions, leftOperands, operators ..."
In the current ODRL Vocabulary Editor's Draft (16 May) I see many instances of Party, Action, LeftOperand, Operator with a non-normative status.
What is the future use of these instances: will/should be included into a Recommendation document at all?
If not: should they be moved to a draft-like document that they don't get lost for any future work on e.g. profiles?
If yes: can they be adopted by a

[2017-05-17 23:04] aisaac commented on #162
1. OK

2. OK

3. OK

4. I am not sure the commit addresses my point. "Policy Composition" is still the heading of (the new) section 3.7. May complain is that this expression is ambiguous. On the one hand, it can be understood as discussing the contents/components of a Policy. But one could also understand it as an attempt to compose different Policies together, which is not the case. (In a way, th

[2017-05-17 23:15] aisaac commented on #163
1. OK
2. Much better like this!
3. OK I understand it now!
4. OK
5. OK
6. OK
7/8. OK
9. OK
On 04/05/17 07:26, Renato Iannella wrote:

[2017-05-17 23:18] aisaac commented on #111
I too am really curious why there is such mapping in the JSON-LD context, instead of just re-using JSON-LD's basic @id. The latter would be really much, much simpler to understand for these who are even vaguely familiar with JSON-LD.

[2017-05-18 00:16] aisaac commented on #165
1/2. Where is the group discussion? I'm curious to see the arguments.

I know that identifiers are technically not semantically meaningful. But when you start minting some that are meant to have a meaning in order to help users of your vocabulary, you’d rather do it well.

Of course there are valid concerns when one embarks on changing names/identifiers, especially for legacy applications. But are

[2017-05-18 00:31] riannella commented on #154
Lets leave ODRL as a "vocabulary" rather than an "ontology".

The Formal Semantics NOTE can take on the latter.

[2017-05-18 00:59] riannella commented on #178
obtainConsent
 - what about "...verifiable consent..." ?

reproduce
 - use a constraint? reproduce 1000 copies, recipient =uni students ?
 - ok, remove note.
 - updated definition: "The Assigner permits/prohibits the Assignee(s) to make duplicate copies the Asset in any material form"
 - this also means I can reproduce a digital audio file onto a vinyl record.

distribute
 - if you wanted both act

[2017-05-18 01:17] riannella commented on #182
This is related to issue #155 and will be discussed at the F2F ;-)

As I outlined, my preference is to split the Vocab spec into two sections.
All the normative stuff (required by the IM) in the Core Vocab, and everything else in the Common Vocab.

Another, more radical approach :-0 would be to just to only have the IM as the normative spec (have all the formal IM-only vocab terms in an appendix t

[2017-05-18 02:32] riannella commented on #158
Sure, please create seperate issues for the discussion

[2017-05-18 02:54] riannella commented on #159
The duty action would be something like "uptime" (as that is what is also being constrained).
ODRL does not include this term.

We did work on this a long long time ago:
https://www.w3.org/2012/09/odrl/archive/odrl.net/Profiles/Services/WD-20080402.html

[2017-05-18 03:04] riannella commented on #139
We state at: https://w3c.github.io/poe/model/#action
"The ODRL Vocabulary [vocab-odrl] defines a standard set of common Actions that may be used and ODRL Profiles may also define Actions"

If (and only if) we remove Profiles, then we would make it clear that terms can still be used from different vocabs in ODRL.

Correct, there is nothing replacing the deprecated Undefined terms.

[2017-05-18 03:17] riannella commented on #161
We tried to make them feel natural with the left/rightOperand+ operator properties.
And operators are important. So "gt" and "lt" mean different times for an "event" rightOperand.

I think the key point here is that ODRL is aimed at **expressing** a policy - not enforcing it.

So I can imagine that an ODRL policy would drive more detailed and enforceable rules at a specific implementation level.

[2017-05-18 03:40] riannella commented on #163
Wide review changes accepted.

[2017-05-18 03:40] #163 closed, assigned to sereAbi, riannella

[2017-05-18 03:46] riannella commented on #111
At this teleconf: https://www.w3.org/2017/04/24-poe-minutes
it was discussed (by @iherman ) to use the names of that the IM uses (eg uid over @id)

[2017-05-18 04:06] riannella commented on #165
1/2 - There was some discussion here:
  https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0001.html

There are 4 implementors we surveyed last year (who all use the current uris):
https://www.w3.org/2016/poe/wiki/images/8/88/ODRLImplementationSurvey-2016-Dec-07.pdf

4 - So you prefer to label it "Privacy Policy"? What about the others...add "Policy" to their labels?

[2017-05-18 07:23] aisaac commented on #111
Yes I guess my question is more for IM than Vocab. Why would IM be committed to uid?

On 18/05/17 05:46, Renato Iannella wrote:

[2017-05-18 07:27] aisaac commented on #165
On 18/05/17 06:06, Renato Iannella wrote:

If the group think these implementers would be against any changes, then so be it.
This said I would still have a check with the people who submitted them: are they real production systems?
You may even submit them the changes.

Yes

For the sake of homogeneity you may do it. But it's far from necessary, because they are much less ambiguous. In fact there

[2017-05-18 07:32] aisaac commented on #161
I reckon the effort to make them feel natural, but what is natural for a couple of elements is less so when it's put in the perspective of what is natural for other elements.

I'm not asking to remove the constraint expression from POE altogether: just trying to isolate it from a much less debatable core.
In fact while the current constraint mechanism is for expression not for enforcement, some su

[2017-05-18 07:35] aisaac commented on #139
OK then what I'm asking for is that Profiles would point to a mechanism to extend actions in a way that is still beneficial to interoperability across profiles, which is what the Web Annotation pattern for motivations tries to achieve for a different set of concepts. If this is the idea you have, you record it and #160 not discarded then I'm more than happy :-)

On 18/05/17 05:04, Renato Iannella

[2017-05-18 07:43] aisaac commented on #165
Actually it is acceptable to change names - and even models much much later than the rec stage that you're currently in - that's what happened for us who were implementing the Web Annotation standard last year.
So the group should really do what they feel is right and not feel strongly committed to keeping any implementation of an earlier ED workable.

On 18/05/17 06:06, Renato Iannella wrote:

[2017-05-18 13:11] aisaac commented on #159
Thanks.
We won't probably be able to create this as part of DQV, because that would put us in a strange position where we could potentially have to include actions for everything relevant to quality. But we can mimic one, for the sake of the example.

Do you know which standard Action we could attach it to?
To encourage best practices, we'd like to show how to mint a new action by extending existi

[2017-05-18 13:30] vroddon commented on #154
In the one hand, I am in favour of adding cardinality constraints, as this is a common practice not only for reasoning purposes. In the other hand, I am happy to get rid of them, as having a lightweight vocabulary is likely to gain wider attention.

Given that we have a Formal Semantics Note, I am also in favour of keeping the vocab as simple as possible.

[2017-05-18 13:33] vroddon commented on #182
We should discuss this in the F2F

[2017-05-18 14:47] riannella opened #183 "Remove Scope - replace with Constraint"
That we remove the concept of scope and allow constraints on parties and assets

Add AssetCollection and AssetIndividual as subtypes of Asset. Do the same for Parties

Also
To remove the mention of URI templates in section 3.2 (for simplification) and media frags because it's unnecessary

[2017-05-18 16:49] aisaac commented on #164
Some extra comments:

2. (SKOS) The idea would be to homogeneize all the concept-like resources of POE are represented, solving the issues noted by @nitmws and I, articulating with the suggestion to use SKOS to handle extensions/profiles in #160
@nitmws: about skos:ConceptScheme vs skos:Collection, I think in general POE doesn't have anything that should be represented as skos:Collection Gathering

[2017-05-18 17:05] aisaac commented on #166
1. OK
2. OK
3. Great!
4. OK (though I guess it doesn't even appear, if unspecified is deprecated)
5. I have not checked all of them, but it like there's great improvement already.
6. It was a mere cosmetic suggestion, so if it's too complex, no problem.
7. @simonstey pointed the issue.
8. OK

On 12/05/17 11:59, simon wrote:

[2017-05-18 18:00] aisaac opened #184 "Compatibility with common patterns for linking assets to policies"
Split from #158 , in the context of https://lists.w3.org/Archives/Public/public-poe-comments/2017Apr/0005.html :

The POE pattern is centered on rights statements (which for us correspond to the POE "policy" notion). And the property that indicates the policy that applies to an asset (odrl:target) goes from the policy to the asset.
The most common pattern, and we believe the one that fits most app

[2017-05-18 18:02] aisaac commented on #184
From @riannella at https://github.com/w3c/poe/issues/158#issuecomment-299088960

Proposal:

1 - update the IM to include a new property odrl:policy (hasPolicy)
(declare as sub-property of dc:rights and http://www.w3.org/ns/ma-ont#hasPolicy)

2 - Remove the "target asset" section from the RDF/OWL Encoding section in the Vocab.
(there will be an example in the IM)

[2017-05-18 18:05] aisaac commented on #158
The "first" part is now in #184 .
The "second" part can still be discussed here.

[2017-05-18 18:06] aisaac commented on #184
@riannella this ticket contains the "first" part of #158  can you assign and label it please?

[2017-05-18 18:15] aisaac commented on #184
Reactions to the proposal:
1. This can be fine, but
- why not odrl:hasPolicy instead of odrl:policy?
- regarding your mapping to MO: wouldn't the property be equivalent (sameAs) mo:hasPolicy? (there might be hidden semantic traps in a strict equivalence, but I must suggest it still :-) )
- regarding your mapping to DC: wouldn't the property be a super-property of dc:rights?
- you shouldn't forget

[2017-05-18 18:37] aisaac commented on #158
Your proposal 3 solves the inconsistency in the POE spec, but it doesn't solve this issue. If I understand well, removing deprecated terms as instances of Action would amount to fully deprecate them, which doesn't give the kind of correspondance I was hoping for.

Yes an ODRL Policy can inherit a CC License. This would be a way to present some mapping at the level of instances (of policies) CC Lic

[2017-05-19 02:28] riannella opened #185 "Vocab feedback"
@aisaac

Renato told me it would be useful if I can continue the comments at https://lists.w3.org/Archives/Public/public-poe-comments/2017Apr/0008.html
I couldn't do it before today, sorry.
This time the nature of comments is a bit random. But they are mostly editorial.
NB: I’m still using the numbering as in the review: https://www.w3.org/TR/2017/WD-odrl-vocab-20170223/

- a bit everywhere in the

[2017-05-19 02:30] #138 closed, assigned to sereAbi, riannella

[2017-05-19 08:47] vroddon commented on #178
Implemented by commit 86da7ad81a345ba2ddda4470c7f7c1987781ff5a
- note of watermark removed
- updated definitions for distribute and obtainConsent
- added note to distribute

I dont close just in case @nitmws has further comments.

[2017-05-19 08:48] riannella commented on #86
Process of validation is seperate from evaluation

ODRL Validator = check for conformance of the policy that is meets the ODRL IM (spec) requirements

ODRL Evaluator = determines whether the permissions and prohibitions of a policy are in effect
(based on the ODRL Validator conformance)

(add to the terminology)

Update IM to make clear where Validation and Evaluation occurs.
The latter when some

[2017-05-19 08:49] vroddon commented on #183
Please note that if Constraints can be imposed on Assets and Parties, the domain of two properties will have to change.

[2017-05-19 09:14] riannella commented on #173
Profile cannot change the IM

Only add terms.

review core model - all of the MUST's ok - or change to SHOULD ?

keep only "If a consuming system does not understand the ODRL Profile, then it MAY continue processing the Policy expression, but it SHOULD NOT assume it has interpreted the Policy expression correctly"

s/"any consuming system"/"any consuming system that supports/implements given profi

[2017-05-19 09:16] riannella commented on #172
See #173

[2017-05-19 09:29] aisaac commented on #185
Just in case, my alias is @aisaac - unlike what's on the first line :-)

[2017-05-19 11:13] riannella commented on #173
Make it clear on the purpose of Profiles.

And they may reuse ODRL Common Vocab terms

[2017-05-19 11:21] riannella commented on #182
Add Action use and transfer to the IM (top-level)

Split the current single Vocabulary section into two:
"4. ODRL Core Vocabulary" (normative)
"5. ODRL Common Vocabulary" (non-normative)
(latter used as a possible source for Profiles)

PROPOSED: That we will publish the non normative vocab terms as the 'ODRL Common Vocabulary' but *not* as a Profile.
PROPOSED: That we will create at least one prof

[2017-05-19 11:21] riannella commented on #155
See #182

[2017-05-19 12:27] larsgsvensson commented on #146
Yes, fine with me. I'm closing.

[2017-05-19 12:27] #146 closed, assigned to riannella

[2017-05-19 12:29] larsgsvensson commented on #141
Fine with me.

[2017-05-19 12:29] #141 closed, assigned to riannella

[2017-05-19 12:33] larsgsvensson commented on #142
Fine with me.

[2017-05-19 12:33] #142 closed, assigned to riannella

[2017-05-19 12:42] larsgsvensson commented on #147
Fine with me

[2017-05-19 12:42] #147 closed, assigned to riannella

[2017-05-19 12:43] larsgsvensson commented on #148
Fine with me.

[2017-05-19 12:43] #148 closed, assigned to riannella

[2017-05-19 13:25] riannella commented on #182
Encoding section of Vocab -> non-normaticve
Leave only XML in there.

Move rdf and json-ld context to Conformance section (and list all the namespaces)

[2017-05-19 14:56] riannella commented on #160
F2F: Update model to support hierarchies (relationship) expressible between Actions

RESOLUTION: That we introduce the terms odrl:narrowerThan and odrl:alsoRequires to the Information Model. These are applicable to Assets, Parties and Actions

requires = other actions that it requires (eg share must include distribute)

both are transitive

REMOVE all SKOS !!!!

http://www.w3.org/2017/05/19-poe-mi

[2017-05-19 15:40] aisaac commented on #160
This sounds rather weird a decision, sorry to say it. Why re-defining a whole hierarchy apparatus? If you want to represent 'hierarchies' it means that you have a rather 'conceptual' approach of actions anyway.

But maybe I need to see your requirements. It's not clear from the minutes, why these would be different from what SKOS means to tackle.

My problem is not only the matter of re-using SKOS

[2017-05-22 07:56] larsgsvensson commented on #144
I read through the section on Rules and its subclasses now it's very much clearer. Thank you!

[2017-05-22 07:56] #144 closed, assigned to riannella

[2017-05-23 06:11] riannella commented on #74
What about:

Policy - One or more Rules that allow or disallow a Rule
Rule - Expresses an Action that can be related to an Asset, Party or Constraint.

[2017-05-23 06:38] larsgsvensson commented on #74
Shouldn't that be "Policy - One or more Rules that allow or disallow an Action"?
(One Rule to allow them all...)

[2017-05-24 03:18] riannella commented on #183
I have removed Scopes and added constraints to Party and Asset (in the Information Model).
Also added the Party/Asset/Individual/Collection classes

See the commit a18744d510defabb246324dafca2673319de2f4

[2017-05-24 03:48] riannella commented on #74
Sure:
"Policy - One or more Rules that permit or prohibit an Action"

[2017-05-24 04:13] riannella commented on #183
Vocab:
Added Asset/Party Individual/Collection subclasses, Added to constraint domain.
Deprecated all the Scope terms.

Commit: 2fd8e85adc458b288cb6c2d97f5301c12edcd60c

[2017-05-24 04:30] riannella commented on #183
Updated the XML serialisation and schema for the above

commit: d1b76a9430e7b2879a215a8a59707d4210681544

[2017-05-24 04:31] riannella commented on #172
This issue will be tracked via #173

[2017-05-24 04:33] riannella commented on #155
This will be tracked via #182

[2017-05-24 05:45] #176 closed, assigned to sereAbi, riannella

[2017-05-24 05:45] #85 closed, assigned to vroddon, riannella

[2017-05-24 05:46] #152 closed, assigned to vroddon

[2017-05-24 06:45] simonstey commented on #74
**Proposed:** Policy - A non-empty set of Permissions and/or Prohibitions.

that's not the essence of a rule.. It's more something along the lines of:

**Proposed:** Rule - An abstract concept that represents the common characteristics of Permissions, Prohibitions, and Duties.

--------------

what?
**Proposed:** Action - An operation on an Asset.

A permission is not an action.
**Proposed:** Perm

[2017-05-25 05:34] riannella commented on #140
As discussed at the F2F and #182 - we only add use and transfer to the IM.

[2017-05-25 05:53] riannella commented on #173
I have updated the ODRL Profiles section.  Now only talks about adding terms.

Also added a "mechanism" subsection to show how to define the new terms (please review carefully @vroddon ;-)

Also added use/transfer to the Action section.

[2017-05-25 05:53] riannella commented on #173
commit is here: 225dce9c885b31a719f71a9ea1d3f8bf49a3ec0d

[2017-05-25 06:22] riannella commented on #74
Since we use "set" as a Policy subclass, how about:
Policy - A non-empty group of Permissions and/or Prohibitions

We don't want to express "rights" per say, so how about:
Permission - The ability to perform an Action over an Asset

An Agent is someone/thing that performs on your behalf, so how about:
Party - An entity or a collection of entities that undertake Roles in a Rule

[2017-05-26 00:10] riannella commented on #182
Added Namespaces list. XML encoding now informative. Updated intro.

commit a5990e3cdb1ab518b08ce281c700345411bd5b2d

[2017-05-26 03:07] riannella commented on #182
Split the Vocab into Core and Common

commit: 920c7fbddd91cd3d158432931853e6f36f696cd0

[2017-05-29 01:34] riannella commented on #184
Added hasPolicy to IM (section 2.1.4) and to Vocab.

Commit cc1838063977889e3af0ae5bfde965c7c53af472

[2017-05-29 01:38] riannella commented on #159
I don't think there is a "standard" action that you can re-use.

See the Profile mechanism here: http://w3c.github.io/poe/model/#profile-requirements

[2017-05-29 02:14] riannella commented on #164
OK, lots of stuff here ;-)

1) Actions - difference between P/O and Duties.
Ok - we will put all actions in one section "Actions for Rules"

2) SKOS
 - I know we primarily use skos:Collection to drive the script to create the Vocab sections in the document.
- We will change from using  skos:broaderTransitive to odrl:narrowerThan (as there are more semantics here that just representing a KOS hierar

[2017-05-29 02:27] riannella commented on #150
1) count - removed the note.
2) dateTime - xsd is now a MUST (same for all date/time constraints)
3) fixed wording

commit: a82f28226581d96c497254726411f9c4ab30b322

[2017-05-29 02:36] riannella commented on #166
7) In fact it's domain is Rule and Policy.
Listing relation in Asset is not wrong, is it?

[2017-05-29 02:59] riannella opened #186 "Auto Script Bugs"
1) When  you have a unionOf in a property like:

 rdfs:domain [
		a owl:Class ;
		owl:unionOf ( :Rule :Asset :Party ) ;
	] ;

The property does not then appear as "in range of" in the three classes.

The same for:

	rdfs:range [
		a owl:Class ;
		owl:unionOf ( :Duty :Action ) ;
	] .

The property then does not appear in "Inherited Properties"

2) Action is defined with:
	rdfs:subClassOf skos:Conce

[2017-05-29 04:23] riannella commented on #185
1) removed all subclass of owl:Thing

2) That is an identified bug - we will fix and should then appear #186

3) Yes, it is supposed to be a link to skos:Concept, but is a bug in our auto-script. Need to fix @nevali #186

4) Need to raise with WG - we have overloaded the definitions with roles and perms/prohibs

5) removed "like a database"

6) identified as an issue in #101 - solution is to remov

[2017-05-29 05:02] riannella commented on #179
Changes made.

"Has Right Operand" range - we leave unspecified.

RFC 2119 terms are now lowercase (this what the W3C respec script does)

commit: e7ee1e3f947f9ebfb17bbf6c7aaf18ce8da3688f

[2017-05-29 05:08] riannella commented on #119
This is now being tracked in #74

[2017-05-29 08:28] sereAbi commented on #180
I updated the IM so that we specify that Compound Constraints "in which the left and right operands are existing Atomic Constraints" are also compared.

[2017-05-29 09:23] aisaac commented on #184
I'm going to wait for the answers re. the mapping of this property, but in the meantime I've checked the updates to the IM and Vocabulary. My only comment is about when both hint that the Asset "is assumed to be" the target of the Policy. Doesn't the group want to make this stricter and say that the Asset is the target of the Policy?
This is what I was suggesting when point that there could be an

[2017-05-29 09:33] aisaac commented on #159
No standard action? OK we will have to try to do it ourselves then, trying to get inspiration from
https://www.w3.org/2012/09/odrl/archive/odrl.net/Profiles/Services/WD-20080402.html

Regarding the profile mechanism, the pattern for extending actions seems ok. But that's only the pattern. I still disagree with the use of ODRL specific properties for this. But that's the topic of #160.

So this tic

[2017-05-29 09:56] aisaac commented on #164
1 -> sounds good to me!

3 -> ok I trust this will be fixed, I won't check it!

4 -> ok I see the point now, and the mention of the sub-property pattern in your last ED
http://w3c.github.io/poe/model/#profile-requirements
I see this extension pattern is even mentioned in
http://w3c.github.io/poe/model/#relation
which is very useful.

5, 6 -> I think I will have a problem with the new pattern for c

[2017-05-29 10:09] aisaac commented on #166
7. It's not formally wrong, indeed. But I think what @simonstey and I would prefer is that the property is presented in the section dedicated to the class that is its domain. I.e. through odrl:relation, one 'reaches' an Asset from a Policy, not the other way round.
This would be the same for hasPolicy, by the way. It is applied 'on' assets, not policies. So it would make sense to present it in the

[2017-05-29 11:56] aisaac commented on #185
1 -> OK
2 -> OK
3 -> OK
4 -> I'll wait then.
5 -> perfect!
6 -> this would be fine but I see #101 is still open to discussion so am going to wait for that.

7 -> almost perfect. I would complain that the URI has not been changed to be a bit more precise, but you've heard me about this issue before, I'll stop here on this one ;-) and be happy with the fact that the documentation is now much, much c

[2017-05-29 12:12] vroddon commented on #184
I had documented the use of dct:license as a best practice:
https://www.w3.org/2016/poe/wiki/Best_Practices#3._How_to_grant_Alice_the_permission_to_use_an_asset_.28III.29

Should we replace dct:license by odrl:hasPolicy? Should we keep both?

[2017-05-29 12:17] vroddon commented on #74
Updated the changes in the definitions by commit b4fcf222447327cc5979adf8df72782999456e34

[2017-05-29 12:18] aisaac commented on #184
@vroddon are suggesting to replace odrl:hasPolicy by dct:license in the ODRL spec? Or to replace dct:license in your example by odrl:hasPolicy?

[2017-05-29 12:23] simonstey commented on #184
while every license is also a policy, every policy isn't necessarily a license

[2017-05-29 12:24] vroddon commented on #184
I would advice to have a odrl:policy and recommend it as best practice, but tolerate dct:license.
dct:license is defined as:

This may not be always the case.

As a comparison cc:license (see https://creativecommons.org/schema.rdf) is a property defined to be the same (owl:sameAs) http://www.w3.org/1999/xhtml/vocab#license but subproperty of http://purl.org/dc/terms/license"

[2017-05-29 13:37] aisaac commented on #184
For rightsstatements.org we had a bit of a hard time navigating in the landscape of existing classes of policies/statements and the properties available to connect to them (see pages 7-8-9 at http://rightsstatements.org/files/170106requirements_for_the_technical_infrastructure_for_standardized_international_rights_statements_v1.2.pdf)

But indeed we ended up judging that dct:license was too specif

[2017-05-29 13:45] aisaac commented on #184
I forgot to point out that even the single axiom
dct:license subPropertyOf odrl:hasPolicy
would still enable to present best practices like @vroddon 's https://www.w3.org/2016/poe/wiki/Best_Practices#3._How_to_grant_Alice_the_permission_to_use_an_asset_.28III.29 without changing them. I.e. they'd be not only 'tolerated': they would use a property that is well used in the field, while being compati

[2017-05-29 14:20] sereAbi commented on #181
I updated the info model wrt these comments. I still have to integrate in a uniform way the discussion about the processing. I'll do it wrt resolution of issue #86

[2017-05-29 23:54] riannella commented on #160
Resolutions 29/may17:

1. rename narrowerThan to partOf for Asset and Party and remove AssetIndividual and PartyIndividual
2. rename alsoRequires to implies for Action

Waiting on more info for alsoRequires for Party/Asset

[2017-05-30 00:46] riannella commented on #181
@sereAbi I think for conformance, we should replace:
  "The most important sub properties of function/relation are"
with
  "An ODRL validator MUST support the following sub properties"

[2017-05-30 01:39] riannella commented on #74
Updated the definitions across both documents now.

Just noticed we use "obligation" here:
 Prohibition - The obligation to not perform an Action over an Asset
Which could be confusing with Duties:
  Duty - The obligation to perform an Action

Proposed change to:
 Prohibition - The inability to perform an Action over an Asset
which mirrors:
 Permission - The ability to perform an Action over an As

[2017-05-30 02:03] riannella commented on #184
Updated the narrative to say: "...MUST be inferred to be the target Asset..."

Added:     owl:inverseOf :target ;

Added axiom:   dct:license rdfs:subPropertyOf odrl:hasPolicy .

commit: b6987fa58d84f84f047e79ae6d959be54c4a1d83

@vroddon suggest the examples use odrl:hasPolicy

[2017-05-30 02:07] riannella commented on #159
Perhaps take this requirement to the new Dataset Exchange WG:
  https://www.w3.org/2017/dxwg/wiki/Main_Page

and propose they create a full ODRL profile to capture all the "service" requirements?

Thanks ;-)

[2017-05-30 02:07] #159 closed, assigned to riannella

[2017-05-30 02:22] simonstey commented on #184
what does this mean for XML?

[2017-05-30 02:24] riannella commented on #184
This is beyond XML capabilities - unless implementors directly code this support.

[2017-05-30 02:28] riannella commented on #164
5/6 - We added the new AssetCollection and PartyCollection classes to address URI-hijacking.
This means the URI for an Asset/PartyCollection identifies a group of resources/entities that the constraint is applied to (constraints cannot be applied to an Asset or Party class).

2 - Can you add to #160 ?

[2017-05-30 02:48] riannella commented on #166
ok, so:
1 - Move relation and function to Rule
2 - Move hasPolicy to Asset

ok?

[2017-05-30 02:51] riannella commented on #101
Done (as per above)

commit: a4697a3

[2017-05-30 02:59] riannella commented on #185
6 has been done in commit: a4697a3

12 But we are not selecting "part of a resource" with ODRL Constraints. For example, date constraints on the usage of the Asset, or "purpose=education" ...

[2017-05-30 10:29] simonstey opened #187 "Requirements of Agreement Policies"
Following 3 Agreement Policies conform to those requirements:

[code]
----------------------
[code]
----------------------
[code]

should that be the case?

edit: fixed policy type

[2017-05-30 16:27] larsgsvensson commented on #187
Would it be OK to have a policy with only a prohibition, sort of saying that "everything else is allowed"?

[2017-05-30 16:45] simonstey commented on #187
you would probably need something along the lines of:

[code]

[2017-05-30 16:52] larsgsvensson commented on #187
OK, but there you have one Permission _and_ one Prohibition. Would it work with _only_ a Prohibition? If not, I'd suggest to rephrase

to

An ODRL Policy of type Agreement:
MUST include at least one Permission and MAY include one or more Prohibitions

[2017-05-30 19:54] larsgsvensson commented on #173
Just out of interest: Since profile creators are encouraged to mint IRIs for their profiles, will there also be an IRI identifying that ODRL Core Profile? That would fit nicely with the profile negotiation being done in DXWG as pointed out by @philarcher1

[2017-06-01 01:06] riannella commented on #162
4) What if we named the section "Policy Rule Composition" ?

5) Can  you give an example of a duty-related conflict?

7) We have now addressed this with the Asset/PartyCollection. Only assets/parties of this type (indicating multiple members) can have constraints (was scopes).

11) We want to 'express' datatypes in the model. We state you can use rdf:datatype: https://w3c.github.io/poe/vocab/#term

[2017-06-01 04:29] riannella commented on #173
I don't think so.

There is probably not a concept of a "Core Profile" in that a purpose-specific vocabulary - only the odrl core vocabulary - which are the terms you need as a foundation to  make odrl expressions...

Is there a use case for one?

[2017-06-01 04:45] riannella commented on #187
Proposed update:

An ODRL Policy of type Agreement:

 - MUST include at least one Permission or Prohibition.
 - MUST include at least one Party with assigner functional role in the same Permission or Prohibition
 - MUST include at least one Party with assignee functional role in the same Permission or Prohibition

Similar update for Offer

[2017-06-01 04:49] riannella commented on #187
We moved away from having a default position on what was allowed (or disallowed).
So now we recommend you express explicitly what you want.

So @larsgsvensson's use case would be best meet with @simonstey example.

[2017-06-01 05:10] riannella commented on #161
Supporting enforcement mechanisms is outside our scope:
  https://www.w3.org/2016/poe/charter

[2017-06-01 15:39] larsgsvensson commented on #187
Yes, my use case is met by @simonstey's example. My concerns were more with the wording. If you say

it's not quite clear what the 'or' means. Does it mean

MUST include at least one Permission
MUST include at least one Prohibition

or

MUST incluce at least _one of_ Permission and Prohibition

If it is the latter, is sufficient to have only one Prohibition what would that mean?

My apologies if I

[2017-06-01 15:43] larsgsvensson commented on #173
My use case is that when we transport ODRL data using one of the common media types (e. g. application/ld+json) that doesn't tell the client which profile it will get and the client also cannot ask for ODRL information conforming to a specific profile since the generic media type cannot transport that kind of information. In the DXWG we'll develop an http extension mechanism to do that where profi

[2017-06-02 01:36] riannella commented on #187
We are using "or" when at least one of its constituent sentences is true:
 -  at least one Permission.
 -  at least one Prohibition.

If there is only a Prohibition, then that simply means the parties are prohibited from performing the action.

[2017-06-02 01:38] riannella commented on #173
I see..if you are only using the "core", then can you just use the odrl namespace identifier?

[2017-06-02 05:36] riannella commented on #160
Added narrowerThan, implies, partOf properties to model and updated vocab.
updated the vocab to use narrowerThan

commit: ba08816cd3f0eeb38e083e802d070c75c40316a6

[2017-06-02 05:39] #140 closed, assigned to sereAbi, riannella

[2017-06-02 05:39] #155 closed, assigned to riannella

[2017-06-02 05:39] #172 closed, assigned to iherman, sereAbi, philarcher, riannella

[2017-06-02 05:40] #139 closed, assigned to sereAbi, riannella

[2017-06-02 05:48] riannella commented on #166
Done.

commit ac44dfa114376b950efbf54644b82259de690ddc

[2017-06-02 21:47] larsgsvensson commented on #187
If a Prohibition without a Permission doesn't make sense (since it essentially prohibits anyone from performing the action and the policy isn't really necessary), then my take is that it would it be enough to write that an ODRL Policy of type Agreement MUST include at least one Permission without specifying a cardinality constraint for Prohibition:

An ODRL Policy of type Agreement:

- MUST includ

[2017-06-04 17:54] nitmws opened #188 "ODRL Ontology: formal definition and design issues"
Having a deeper look at the whole ODRL Ontology - http://w3c.github.io/poe/vocab/ODRL22.ttl as of 2 June - I noticed these issues:

1. Formal use of [SKOS ](https://www.w3.org/TR/skos-reference/)
a) The atomic particles of SKOS are skos:Concepts and the containers skos:ConceptScheme or skos:Collection can include skos:Concepts only. Only the skos:Collection's #actions and #actionsCommon include sk

[2017-06-05 03:04] riannella commented on #187
Some policies only talk about Prohibited actions.
For example:
  http://policies.unc.edu/files/2013/04/PPDHRM.pdf
  https://informa.com/Documents/Corporate%20Responsibility/Code%20of%20Ethics/Anti-Bribery%20and%20Corruption.pdf

The key part of an Agreement is the parties (and roles).
That is, at least 2 parties agree to "something".
So, in essence, the functional roles are more important than the

[2017-06-05 10:06] vroddon commented on #188
Whereas under OWL Full both owl:Class and rdfs:subClassOf are totally equivalent, OWL DL classes are subject to some restrictions that grant that some reasoning processes can be computed. I made the small experiment of implementing your proposal, and my reasoner apparently does not complain and says everything stays within low complexity. I also could not find additional discussions on the web abo

[2017-06-05 10:09] vroddon commented on #188
My opinion is that this would not harm, but we would be at risk of underspecifying.
In two different implementations, I'd rather see either class individuals or literals as the values of my properties. I am in favor of keeping the distinction.

[2017-06-05 10:41] vroddon opened #189 "ODRL Ontology in non-perfect state"
The current ODRL ontology fails to be loaded by Protègè v.5.2 (the up to date version).

I cannot openly denounce any specific mistake, but I raise the warning as most of our readers will use Protègè. Or am I the only one with such a problem? I have been able to open the ontology with specific software (owlgred, swoop and older versions of Protègè once transformed the ontology into RDF/OWL by conv

[2017-06-05 11:09] iherman commented on #189
While I think having our ontology recognized by these tools is a fine goal, I am a bit uneasy. To take the vcard example above: as a naïve user I would expect a reasoning tool to pick up the ontology for vcard and add the resulting axioms to the ODRL ones, and not expect everything to be in one place. Otherwise the tools breaks the distributive nature of the Web.

Of course, if the vcard (OWL) ont

[2017-06-05 11:46] vroddon commented on #189
Well, in the particular case of vcard, the ontology defines the Organization as an owl:Class (https://www.w3.org/2006/vcard/ns#Organization) but for some reason Protègè fails to obtain it --my guess is that the ontology URI  starts with http: whereas the redirection points to https:.

But of course, the case you explain may be the case of other vocabularies we use. Before raising the issue publicl

[2017-06-05 12:03] iherman commented on #189
Ah. It may indeed be a matter of http vs https. I would think that is a problem that Protege has to solve, and it is not an ODRL problem. Ie, I do not think we have to deal with it.

Thanks

[2017-06-05 12:43] vroddon commented on #182
I have not seen the file still split, but this is a sensitive operation I would not like to do alone. Or should I propose in a different branch a first attempt?

[2017-06-05 12:51] vroddon commented on #187
As an additional use case for "prohibited actions", please remind the problem of how to express:

"Copyright. All rights reserved"

[2017-06-05 13:28] riannella commented on #182
I don't think we mean an actual physical split of the file.
It is more of a separation of the Core and Common parts in the Vocab Specification document.

[2017-06-06 01:19] riannella commented on #189
I  loaded https://raw.githubusercontent.com/w3c/poe/gh-pages/vocab/ODRL22.ttl
into Protege 5.1 and 5.2 and could not see any errors?

[2017-06-06 01:51] riannella commented on #187
Can you explain the use case more @vroddon ?

Copyright is protected by jurisdictional laws, so are all your rights associated with it.

[2017-06-06 02:28] riannella commented on #188
1) I agree - we need to assert all terms in the ODRL Ontology as skos:Concept
(so that we can use the skos collections, and definition, note, etc)

I do not know why we have defined an "actions" skos:ConceptScheme ?
Why do we need to ?

2) The *inference* from using hasPolicy is that the asset you are describing/identifying is the target Asset of the identified policy (and makes no other assumptio

[2017-06-06 02:30] riannella commented on #160
See discussion starting in this thread:
  https://lists.w3.org/Archives/Public/public-poe-wg/2017Jun/0002.html

[2017-06-06 02:35] riannella commented on #161
Another way: A community can also define a new Rule subclass, that uses their own constraint semantics.

[2017-06-06 02:42] riannella commented on #181
Updated as per above.

commit e570ffb1ef8b71d6cb887f0ff56283355b90b65c

[2017-06-06 02:43] riannella commented on #174
@simonstey do you have any more comments/feedback here?

[2017-06-06 03:05] riannella commented on #111
@vroddon You are right. uid is missing :-)
Now added

fc5b514c6911424e9e092c9b1927dcf2dc88087e

[2017-06-06 04:04] riannella commented on #185
Updated all Actions and removed assigner/assignee and perm/prohibt from the definitions

Confirmed by WG thread: https://lists.w3.org/Archives/Public/public-poe-wg/2017May/0039.html

commit dfa9279bdfde28ae0dd1e01a3c565c4a561f8a79

[2017-06-06 04:14] riannella commented on #164
1) Moved all Actions into one section (Actions for Rules)

commit 30fd9e6213ce1cf1cf05b75fe8a66084c73c628a

[2017-06-06 05:02] iherman commented on #174
I agree with @simonstey : there seem to be genuine cases when blank nides are perfectly fine, and a mandatory uid would make this impossible. @riannella, I don't really understand your question:

The example of @simonstey may be translated as a permission to *any* party whose name is Bob. Sounds goid to me (of course, in real life, one would use a different property to uniquely identify a person,

[2017-06-06 05:03] simonstey commented on #174
That is, assign the permission to reproduce asset9898 to foaf:name "Bob"

that's not what it says though.. it states that the `odrl:assigner` of  `<http://example.com/notValid>` is an individual of type `odrl:Party` with `foaf:name "Bob"`.

edit: was about to say what @iherman said, so +1 to that ;)

[2017-06-06 05:32] vroddon commented on #189
I downloaded the software again and this time I had no trouble.
Newer reasoners do not complain, probably they follow the redirects correctly.
I also tried the Ontology pitfall scanner "Oops" (http://oops.linkeddata.es/). It only reveled what we know ("http://www.w3.org/ns/odrl/2/hasPolicy may not be inverse of http://www.w3.org/ns/odrl/2/target ") plus a few minor issues.

[2017-06-06 05:32] #189 closed, assigned to riannella

[2017-06-06 06:15] riannella commented on #174
@iherman you answered my question ;-)
In "real life" you would uniquely identify the party.

Identification of Parties and Assets is a fundamental principle of ODRL Policies.

@simonstey's example to me looks like a "back-door" for a party constraint:

"assigner": {
            "@type": "Party",
            "uid":  "http://all-the-people-of-world.org",
            "constraint": [{

[2017-06-06 06:26] riannella commented on #186
Fixed 2)

[2017-06-06 06:40] #119 closed, assigned to sereAbi, vroddon, riannella

[2017-06-06 06:50] iherman commented on #174
But that does not mean using `uid`, though my reaction is not coming from any practice in ODRL rather the general way vocabularies are used. The pattern of such simple blank node structures (David Booth referred to these as [“Well behaved RDF”](http://dbooth.org/2013/well-behaved-rdf/Booth-well-behaved-rdf.pdf)) is widespread. Also, in terms of description logic, if the predicate in use can be def

[2017-06-06 07:48] nitmws commented on #187
May I chime in on @vroddon 's considerations with my IPTC-background of photo-related discussions about (international) copyright.
As ODRL should be a standard which can be used in any country worldwide I suggest to have a look at https://www.rightsdirect.com/international-copyright-basics/ - in particular Global copyright section.
The key message "there is no such thing as an international copyri

[2017-06-06 08:56] vroddon commented on #187
@riannella Even if by default no permission is granted, the fact is that ODRL users will have many resources, some of them eventually as "All rights reserved". Indeed, one may attach no ODRL policy to them, but for it will be easier to treat if there is an equivalent expression to "All rights reserved".

The problem is that even a policy like this:
[code]
is wrong, because we are going too far: we

[2017-06-06 09:10] aisaac commented on #160
After discussion on #164 . I need to have a more general look at all SKOS-related matters in POE, taking into this ticket but also the questions raised in #164  (if still relevant).
@riannella what would be the deadline for it? This week I can't work much on it...

[2017-06-06 09:17] aisaac commented on #164
OK I've added a note in #160 about the SKOS matters here.

so the last item to discuss here (or is it elsewhere too, I may revisit this comment if I find it elsewhere) is the problem of URI-hijacking for parties and assets. Creating new classes doesn't solve the issue. It's about which resource (id/uid) are created or re-used. Their type doesn't matter much. As of now, the issue is still present,

[2017-06-06 09:23] aisaac commented on #166
OK!

On 02/06/17 07:48, Renato Iannella wrote:

[2017-06-06 09:39] aisaac commented on #185
6. I'm afraid I won't have time to check everything in that (impressive!) commit right now, but I've looked at the first changes and they do fix the problem I had with the definition!

12. I won't argue that the ODRL constraints always amount to selecting a part of a resource. But some are clearly (e.g. the part of 18+ friends in user44's friend group, or the position within an asset).  And my hop

[2017-06-06 10:29] aisaac commented on #161
Yes enforcement is out of the scope, it's fine. I was not urging that POE should provide semantics or algorithms for enforcing constraints.
Rather, acknowledging that this is a complex issue, and that some patterns currently chosen for expressing constraints are debatable, I was suggesting to
- see if the 'semantics' can be homogenized
- move this part in its own 'module' (and separate document).

[2017-06-06 11:04] aisaac commented on #162
4. Maybe while reading the next version at once I will still feel uneasy with 'composition' itself. But right now it seems a better wording, anyway!

5. Maybe a policy that (possibly by inheritance) asks the assignee to attribute the creator and at the same time to anonymize the asset?
Or a policy that declares inheritance from CC-BY but requires compensation for commercial use?
They will all look

[2017-06-06 11:10] aisaac commented on #184
As said in another ticket, at this point I have trouble judging the new global picture.
I have to voice this caveat for the future, if I spot something I have forgotten :-)
But in the meantime I think the changes mentioned in this ticket give a very appropriate answer to my original comment. And that it be closed. Thanks!

[2017-06-06 15:11] larsgsvensson commented on #188
Regarding the use of rdfs:Class vs owl:Class I found this post by Antoine Zimmermann most helpful:
https://lists.w3.org/Archives/Public/public-sdw-wg/2016Nov/0069.html

[2017-06-06 16:23] nitmws commented on #187
@vroddon why is it not possible to prohibit playing a copyright protected audio?

And what I meant with my "no legislation in general": ODRL is not made to prohibit e.g. bashing a human person etc.

[2017-06-07 00:28] riannella commented on #174
I don't have a problem with blank nodes - but all means use them....but the ODRL Info Model says you must uniquely identify the party/asset. Hence, the blank node requires the uid property.

You say "... then the implicit identification of the node via the usage of that predicate is also perfectly fine."
I would then ask, please explain how the blank node (with foaf:name Bob) implicitly does that?

[2017-06-07 01:11] riannella commented on #160
@aisaac middle of next week would be good.

[2017-06-07 01:11] #118 closed, assigned to nitmws, riannella

[2017-06-07 01:15] riannella commented on #165
I have updated the label to "Privacy Policy"

commit c1aa20d1b732da1a1300859106836019a929686a

[2017-06-07 01:29] riannella commented on #164
Are you proposing that instead of the constraint mechanism for parties/assets, we should (more simply) say that you mint a new URI?

So in example 19, the assignee is "http://example.com/user44/friends/age/gt/17" ?

[2017-06-07 01:41] riannella commented on #161
To be frank, I think the the WG would not agree to take out the entire constraint mechanism and put it into a separate NOTE.

[2017-06-07 01:50] riannella commented on #162
@simonstey what do you think about 5) above?

[2017-06-07 02:40] riannella commented on #162
4) updated title

11) mandatory now
I now think we can't directly use @type (in JSON-LD) as that is the type for the entire node.
So you would need to express:
              "rightOperand": "100.00",
              "dataType": "http://www.w3.org/2001/XMLSchema#decimal",
as:
   "rightOperand":
  {
    "@value": "100",
    "@type": "http://www.w3.org/2001/XMLSchema#decimal"
  }

Updated rightOperand/

[2017-06-07 02:41] riannella commented on #184
thanks for your feedback and followup

[2017-06-07 02:44] riannella commented on #188
Great: "My advice would be to type the classes using both rdfs:Class and owl:Class"

[2017-06-07 05:08] iherman commented on #174
Yeah well… then indeed we have a problem. This means the model includes a restriction that we may have a problem with…

I guess a MUST can be replaced by a SHOULD.

If a predicate is declared to be inverse functional (which is not the case for foaf:name but just suppose this for a moment) then if

[code]

then an OWL reasoner would deduce that

[code]

You are right this is not identification in t

[2017-06-07 06:08] simonstey commented on #162
I definitely agree with @aisaac here. Even more so, since Duties can now have **any** Action as their `odrl:action` and not just ones that can't be used by Permissions/Prohibitions and vice versa.

Btw we state in [2.5.3 Duty](http://w3c.github.io/poe/model/#duty):

Which is too restrictive, as not **any** assigned Party needs to have permissions to perform the Duty Action but only the ones that a

[2017-06-07 06:23] nitmws commented on #188
Re rdfs:Class vs owl:Class
The not so nice statements by Antoine in the email were:
"OWL is a very complicated beast" and
"Warning: the explanations below are pretty long and detailed and brain damaging."

My conclusion: this group should have a focus on well formulated and correct free-text specifications, a thing like the OWL ontology could help experts but can't tell the story about ODRL to new

[2017-06-07 06:57] nitmws commented on #188
re @riannella 's comments:

re 1a) to narrow down "all terms": the individuals/instances of the classes Action, LeftOperand and Operator defined by ODRL - right?

re 1b, 5a, 5b) the use of SKOS Concept Scheme needs some practical considerations:

- it is a typical container of concepts making them a Controlled Vocabulary, taxonomy ...
- but how to organise it: a/ different containers for different

[2017-06-08 00:38] riannella commented on #174
All that "reasoning" happens outside the scope of ODRL.

In essence a "should" would propose:

{
    "@context": "http://www.w3.org/ns/odrl.jsonld",
    "@type": "Agreement",
    "uid": "http://example.com/policy:1011",
    "permission": [{
        "target": "",
        "assigner": "",
        "assignee": "",
         "action": "play"
    }]
}

[2017-06-08 00:52] riannella commented on #187
Our charter says we are not to get into jurisdictional aspects (like copyright law).

We only _recommend_ the use of dc:coverage to indicate "the jurisdiction under which the Policy is relevant".

Parties will use the fact that there is copyright law in their jurisdiction to enable them to assert ODRL Policy Agreements. (In fact, these agreements would probably be covered by that jurisdiction's co

[2017-06-08 00:57] riannella commented on #187
@nitmws Yes, my examples weren't the best, but here is one _real_ example:

{
    "@context": "http://www.w3.org/ns/odrl.jsonld",
    "@type": "Agreement",
    "uid": "http://university.com/policy:5555",
    "prohibition": [{
        "target": "http://univeristy.com/ict-resources",
        "action": "uni:access-porn",
        "assigner": "http://univeristy.com/",
        "assignee": "http://univer

[2017-06-08 01:02] riannella commented on #187
To summarise my point, and ODRL Agreement is between the Parties with two distinct functional roles (assigner,  and assignee).

**What** they agree on is something we should not make any assumptions about.

The ODRL info model has "Rule" for this purpose.

[2017-06-08 01:16] riannella commented on #162
So we can change this:

to

 With these semantics, there will never be a conflict with the duty action.

[2017-06-08 01:25] riannella commented on #188
@nitmws I agree with your conclusion above - the ontology is something that a **newbie** would not look at (or should not ;-) until they are comfortable with understanding the Spec first.

In fact, the word "owl" does not even appear in any Vocab term in the Spec.

[2017-06-08 01:39] riannella commented on #188
The Vocab spec does not mention anything about the SKOS "actions" ConceptScheme (for example).

I don't think we (even as the Community Group) understood what we wanted from SKOS :-(

Perhaps the best option is to remove the SKOS actions conceptScheme from the ontology and, if there is a demand, we create a NOTE on the proper SKOS-i-fication of ODRL ??

As for the current SKOS collections (use to

[2017-06-08 01:47] riannella commented on #188
Re: 2) Sorry, understand now... will update to:

[2017-06-08 03:11] riannella commented on #160
Implemented the changes as per:
  https://lists.w3.org/Archives/Public/public-poe-wg/2017Jun/0013.html

commit: 2ba294e90de7f26a1425e0852ec751435e41ccce

[2017-06-08 07:27] nitmws commented on #188
@riannella ... be careful: "... be the target Asset of the  Rules ..." will make people think that the Asset must be the target of **all** rules - but a single Rule in a Policy with this asset as target is sufficient.

[2017-06-08 07:44] nitmws commented on #188
Re SKOS Concept Scheme / Collection:
The SKOS Collection specification - https://www.w3.org/TR/skos-reference/#collections - defines them as "SKOS concept collections are labeled and/or ordered groups of SKOS concepts." The spec does not require that the "collected" concepts are in a Concept Scheme. Therefore it is formally ok to use only Collection. (Informally I still think that for handing over

[2017-06-08 08:00] nitmws commented on #187
Re legal context: ok, let's include dc:coverage as property of Policy for setting the legal context.
I'm aware of the basic principle of ODRL not to nail down any specific legal context but I also know from discussions in the photo business sector that they want to indicate "our licences are based on the legislation of XYZ country" or "our licences are based on our basic Terms and Conditions" and

[2017-06-08 09:23] larsgsvensson commented on #187
I do see the point in @riannella's [comment](https://github.com/w3c/poe/issues/187#issuecomment-306967515) about universities forbidding students and staff to access porn. But I also say that without the permission to use the ICT infrastructure in the first place, that prohibition doesn't make much sense... But I could imagine a general prohibition to e. g. use the ICT infrastructure or to access

[2017-06-09 00:44] riannella commented on #188
1) hasPolicy -> we can't tell how many Rules there are in the Policy. So we can only say the Asset is the target for **all** the Rules. Will update narrative.

2) So technically we are using skos:collection correctly ;-)
I added some ## comments just before the skos:collections.
And removed the "actions" ConceptScheme (as we have no skos hierarchy defined for them).

commit 385734bce8ffa01da22c99b

[2017-06-09 00:51] riannella commented on #187
@nitmws Ok, we have dc:coverage in the ODRL Metadata now.

For your second use case, it sounds like you may then need to include:
  https://w3c.github.io/poe/vocab/#term-reviewPolicy
as a Duty?

or should we add this:
   	http://purl.org/dc/terms/requires
to the recommended ODRL  Metadata ?

[2017-06-09 01:03] riannella commented on #187
Commit as per @larsgsvensson comment above: ae0c44228cae9661a02ec257dc4c17c985dc6dd9

[2017-06-09 01:25] riannella opened #190 "assigneeTo and assignerTo inverse properties?"
We have two external entities we refer to: Assets and Parties.

For Assets, we now have the inverse property hasPolicy for target.
(so an Asset, in the wild, can assert a relationship to an ODRL Policy)

Should we consider also the same for Parties?
That is:
  :assigneeTo owl:inverseOf :assignee ;
  :assignerTo owl:inverseOf :assigner ;

Then, a party can assert they are the assignee/assigner to a

[2017-06-09 05:51] simonstey commented on #190
That is:
:assigneeTo owl:inverseOf :assignee ;
:assignerTo owl:inverseOf :assigner ;

- `odrl:assigne(r|e)To`->`odrl:assigne(r|e)Of`
- what about all the other ["functional roles" of parties](http://w3c.github.io/poe/model/#function)?

Not exactly, it's **to all Rules** of a Policy, cf. [2.3.1 Function](http://w3c.github.io/poe/model/#function) which says:

Which actually makes the definitions of

[2017-06-09 06:13] riannella commented on #190
Fixed the Policy/Rule issue with assigner/e
commit: bc11e69f0ca87d1f5555a3df3cd886f93a104e7a

1) yes, "assignerOf" and "assigneeOf" ;-)
2) Other functional roles: we should only deal with the "core"

3) Policy has two assigners (bob and alice)
4) Yes, as a Policy, but as a Rule, they are have one Rule each.
5) Yes (if she was to become odrl:assignerOf policy:01)

[2017-06-09 06:31] simonstey commented on #190
My point is that there's a subtle but important difference between:

1. _"A policy has/contains two assigners"_ -> only implying that |AS| = 2, with AS being the set of all assigners of rules in the policy
2. _"Alice and Bob are both the assigner of the policy"_ -> implying that |AS| >= 2, **and** that both Alice and Bob are the assigners of **all** Rules in the policy.

[2017-06-09 07:17] riannella commented on #190
Yes, agree. Functional roles only apply to Rules.

So, we would not typically say that a "Policy has two assigners" -> we would say that a "Policy has two Rules, and each of those has one assigner".

[2017-06-09 07:17] nitmws commented on #187
Re my use case "our licences are based on our basic Terms and Conditions":
I'm aware of a legal thing named Standard Form Contract in English - https://en.wikipedia.org/wiki/Standard_form_contract -  and this thing has a high relevance in (Central) Europe, named  Generic Business Conditions in German speaking countries while it has almost no role in e.g. Australia. In European countries it is betw

[2017-06-09 11:58] nitmws commented on #190
We must avoid any statement indicating an assignee/r party and a policy have a direct relationship (in which direction ever). This should be stated only regarding a Rule.
And the same applies to hasPolicy (see #188): no statement about a Policy having a target asset and in the inverse that an Asset is the target of a Policy. Such statement can only be made regarding Rules too.

[2017-06-10 11:00] vroddon commented on #188
I fully agree with Antoine about "

My advice would be to type the classes using both rdfs:Class and
owl:Class and to try to keep things within OWL 2 DL because in most
cases"

Víctor
El 07/06/2017 8:23, Michael Steidl escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
Facultad de Informática
Universidad Politécnica de Madrid

Cam

[2017-06-10 11:17] vroddon commented on #187
very good:
dc:coverage "The spatial or temporal topic of the resource, the spatial
applicability of the resource, or the*jurisdiction *under which the
resource is relevant."

I had always used cc:jurisdiction before.

Víctor

El 08/06/2017 2:52, Renato Iannella escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
Facultad de Informá

[2017-06-12 02:00] #153 closed, assigned to iherman, stuartmyles

[2017-06-12 02:06] riannella commented on #162
Updated as per above: 1c55587d1e111c7738a5713388a83458dd693b45

[2017-06-12 10:08] fornaran opened #191 "Modelling duty/obligation"
In ODRL a “Duty entity indicates a requirement that MUST be SATISFIED for Permissions to become VALID.…Even though a Duty entity is mandatory, the ODRL model does not specify any conditions on WHEN the Duty Action must be performed.”

If I understood the semantics of a Duty correctly, in order to be allowed to use a VALID permission a party must BEFORE satisfy the related Duty; otherwise, the perm

[2017-06-12 11:52] simonstey commented on #174
no, not having a value at all is different from allowing blank nodes.

well OWL doesn't adhere to UNA anyway, cf. [4.7 Equality and Inequality of Individuals](https://www.w3.org/TR/owl2-primer/#Equality_and_Inequality_of_Individuals):

[code]

[2017-06-12 13:08] riannella commented on #174
RESOLUTION: That for asset and party, we change the MUST for uids from MUST to SHOULD, adding a narrative that if you don't use UIDs, then the system needs its own method of identifying the asset or party

[2017-06-12 14:25] nitmws opened #192 "Specifications of includedIn and implies need improvements"
I refer to Asset in the Information Model Editor's draft of 12 June - http://w3c.github.io/poe/model/#asset

**Re includedIn**

* For Policy, Asset and Party classes the properties are explicitly listed, this should be done for `includedIn `and `implies `of the Action class too.
* Definition of `includedIn`, starting with "The purpose of the includedIn ...": "the latter" and "the former" should be

[2017-06-13 00:23] riannella commented on #160
WG agreed to withdraw the "alsoRequires for Asset/Party" proposal

[2017-06-13 03:04] riannella commented on #192
IncludedIn
1) Done
2) Done
3) Agree - should be transitive
4) Done
5) fixed

Implies
1/2) Done
3) Done

commit: cd6890751c8187e49b728a941d35b8f8ac8f1c08

[2017-06-13 03:06] riannella commented on #174
Changes not made yet :-)

[2017-06-13 03:16] riannella commented on #174
Changes applied.

commit: 52149f9130c1303bafc780255d01491570c039b5

[2017-06-13 04:13] riannella commented on #191
hi @fornaran - thanks for your feedback.

You say "...in order to be allowed to use a VALID permission a party must BEFORE satisfy the related Duty" - this is not totally correct. There are some use cases where a Duty could be satisfied after the permission has been actioned (eg stream music and pay at the end of the month).

But I think the wording can be made more clearer in Duty section: http:/

[2017-06-13 06:01] simonstey commented on #162
hmm.. I'm not 100% sold on the "the assigned Party" part, as it's still not clear to which party this actually refers to, cf: [Duty](https://w3c.github.io/poe/model/#duty):

what do we actually want to say with that?
Is it:

a) the parties responsible for fulfilling a duty have to have explicit permissions:
[code]

b) each duty comes with implicit permissions, thus, any prohibition contradicting o

[2017-06-13 06:23] nitmws commented on #192
Re Information Model of 13 June / section 2.4 Action:
The statement "Action terms must be defined using the includedIn property with either use or transfer as the parent term. " does not reflect having a transitive includedIn. Should be like "Action terms must be defined using the includedIn property referring to an encompassing Action and either use or transfer as the top level parent term by tra

[2017-06-13 06:50] riannella commented on #192
1) Updated

2) Updated reproduce/extract

As for "present" - this has been discussed in issue #101
The resolution (at the time!) was that Present did not encompass all the 3 children, and thoses relationships were removed. This can be challenged now that we have a clearer definition (and motivation) for includedIn

commit 5202a25729de97486e99b9ace17f217eed432ca5

[2017-06-13 08:57] nitmws opened #193 "Evaluation of Constraints of a Rule inconsistent"
I refer to the Information Model document of 13 June - http://w3c.github.io/poe/model

* A Rule defines: "A Rule MAY have one or more Constraints via the constraint property. The Rule becomes effective if all of the Constraints are satisfied."
* The Compound Constraint section defines "Compound Constraints refer to two existing Atomic Constraints as the left and right operand. For example, Atomic

[2017-06-13 10:58] fornaran commented on #191
Hi riannella  - thanks for your answer.
The proposed update allows the semantics of permission with duties to express a wider set of use-cases, but I see a problem.

When do I obtain a VALID permission (and therefore I can use it without violating a prohibition)?

1.  If I obtain a VALID permission to perform an action (i.e. play stream music) if and only if the Duty has been fulfilled (i.e. pay 1

[2017-06-13 11:37] larsgsvensson commented on #150
Yes, that commit resolves my issues.

Thanks,

Lars

[2017-06-14 00:04] riannella commented on #150
Thanks

[2017-06-14 00:04] #150 closed, assigned to nitmws, riannella

[2017-06-14 02:11] riannella commented on #162
1) Updated the list of Duty requirements to make it clear about the assignee of the Duty

commit: e88abc364ffb53b676770b23ac1f829ffb5d00b6

2) B) is ok, but now (i assume) we now need to update the Conflict Strategy with a new option "duty" as there are three conflicting options (with "perm" and "prohibit") ?

Which also means that we have to remove:

[2017-06-14 04:28] riannella commented on #123
Completed

[2017-06-14 04:28] #123 closed, assigned to riannella

[2017-06-14 05:34] riannella commented on #193
If a Rule has a Compound Constraint, then the two Atomic constraints (in the left/right operand) are **not** considered constraints of the Rule (but of the Compound constraint itself.).

An ODRL Evaluator will know (from the type of the left/right operands) if they are dealing with a Compound Constraint or not.

RE: Footnote: If you look at Example 16: http://w3c.github.io/poe/model/#constraint-co

[2017-06-14 05:46] riannella commented on #191
We will be treating "constraint checking" as a "black-box" for ODRL evaluators (as we are not scoped to address enforcement, only expression).

So when an constraint is evaluated by the external system, it will simply return true or false.
If its true, then the Permission is valid, if false, then not-valid.

So in case 2) above, the implementations may have the assignee's credit card details (whic

[2017-06-14 07:30] larsgsvensson commented on #145
Assuming that the change was in line 794
[code]
that commit resolves my issue.

[2017-06-14 07:32] larsgsvensson commented on #149
Yes, that answers my issue.

Thanks,

Lars

[2017-06-14 07:34] larsgsvensson commented on #143
Fine with me.

Thanks,

Lars

[2017-06-14 11:53] nitmws commented on #193
@riannella I have a serialization-driven view on that issue.
What is the conclusion from your statement:

* A Constraint instance is independent from any Rule
* This instance has its unique identifier, e.g. from example 16: http://example.com/policy:88/C1
* But what serialization of data will one get when accessing this URL? There is not definition in the XML Schema for such a standalone Constrain

[2017-06-14 12:08] simonstey commented on #193
if "standalone" constraints would cause issues with ODRL's legacy XML/JSON serializations, so would any other ODRL concept.

[2017-06-14 12:54] nitmws commented on #193
The ODRL 2.0/.1 XML and JSON reflected a user's view on the model design: a policy is a wrapper/container of one to many rules. Permissions, prohibitions, duties, constraints - they all have their specific structure **inside** the container.
And it is a wide expectation and need to have all Things relevant for a Policy inside the serialization of a Policy. Having to hand over the data of a policy

[2017-06-15 00:35] riannella commented on #145
Yes

[2017-06-15 00:35] #145 closed, assigned to riannella

[2017-06-15 00:35] #149 closed, assigned to riannella

[2017-06-15 00:35] #143 closed, assigned to riannella

[2017-06-15 00:50] riannella commented on #193
We have documented how XML serialisations deal with compound constraints here:
  https://w3c.github.io/poe/vocab/#constraint-relations

(Yes, I know, we need to s/Constraint Relations/Compound Constraints/)

Is there more we can add there?

[2017-06-15 01:04] riannella commented on #192
Now that "includedIn" is more "encompasses" (rather than a pure hierarchy) then I propose we more precisely define "Present" as "To perform and visualise a multimedia Asset"
with
Play: To perform an multimedia Asset
Display: To visualise a multimedia Asset

I don't think "print" fits in?

[2017-06-15 01:51] riannella commented on #190
I've added the new inverse properties:
  https://w3c.github.io/poe/model/#policy-assigned

Comments? (haven''t added to Vocab yet)

commit: ebee0d47953fa1db0ca72e7d7dad912a3a9c5f2e

[2017-06-15 07:43] nitmws commented on #193
Well, the #constraint-relations section shows <constraint>s as children of policy, but the definition of <policy> (below 5.1) does not list constraint as supported element.
And the XML encoding definitely needs a mapping from the Information Model to the encoding. What are <asset> and <party> elements at the policy level good for? The Policy class doesn't know them.

[2017-06-15 14:59] nitmws commented on #192
The history of this mini-tree in ODRL 2.1 is:
Present = to perform or exhibit an Asset to an audience.
Print =  to print an Asset onto paper or to create a hard copy.
Play = to perform an audio Asset to an audience.
Display = to display the visual media Asset to an audience or the public.

Present encompassed that an audience can experience any kind of presentation of an asset. Frankly the focus w

[2017-06-16 06:07] riannella commented on #193
I've updated the xml section.

The XML Schema already supported constraint at the policy level.

commit c56da6d0d706019a667af9f9ff85d27c7d62dfea
9972af294a6d588e7df97e66eafbe06c037638fb

[2017-06-16 06:16] #46 closed, assigned to stuartmyles

[2017-06-16 06:16] #124 closed, assigned to sereAbi, riannella

[2017-06-16 06:16] #128 closed, assigned to sereAbi, riannella

[2017-06-16 06:16] #130 closed, assigned to riannella

[2017-06-16 06:16] #151 closed, assigned to nitmws, stuartmyles, riannella

[2017-06-16 06:16] #170 closed, assigned to sereAbi, riannella

[2017-06-16 06:16] #171 closed, assigned to sereAbi, riannella

[2017-06-16 06:16] #175 closed, assigned to sereAbi, riannella

[2017-06-16 06:17] #101 closed, assigned to nitmws, riannella

[2017-06-16 06:17] #154 closed, assigned to sereAbi, riannella

[2017-06-16 06:17] #178 closed, assigned to nevali, nitmws, stuartmyles, vroddon, riannella

[2017-06-16 06:17] #179 closed, assigned to nevali, nitmws, stuartmyles, vroddon, riannella

[2017-06-16 06:17] #180 closed, assigned to sereAbi, nitmws, riannella

[2017-06-16 06:17] #181 closed, assigned to sereAbi, philarcher, riannella

[2017-06-16 06:17] #182 closed, assigned to nevali, stuartmyles, vroddon, riannella

[2017-06-16 06:17] #183 closed, assigned to sereAbi, riannella

[2017-06-16 07:18] simonstey commented on #184
[3.4.3 Has Target Policy](https://w3c.github.io/poe/vocab/#term-hasPolicy):

\+

\+

**Valid Policy**:
[code]

=

**Invalid Policy**:
[code]

[2017-06-16 07:19] simonstey commented on #74
there's still a lot to fix, cf. #184

also:

just because I'm able to do something doesn't mean that I'm also entitled to do so (and vice versa)..
For example:
- I'm (potentially) able to rob a bank, so according to that definition I also have the permission to do so.
- If I have the permission to download an asset but I'm currently not able to do so because my pc broke, I have suddenly both a per

[2017-06-16 08:04] simonstey opened #194 "not all contraint operators are logical operators"
http://w3c.github.io/poe/model/#constraint:

that's wrong, you can't use logical operators in atomic constraints.

Relational operators [1]:
[code]

Logical operators [2]:
[code]

[1] http://www.cs.mtu.edu/~shene/COURSES/cs201/NOTES/chap03/relational.html
[2] http://www.cs.mtu.edu/~shene/COURSES/cs201/NOTES/chap03/logical.html

--------------

Also

:+1:

:-1: (the constraint is satisfied, not its

[2017-06-16 08:50] vroddon commented on #184
However,

this is a valid policy, am I wrong?

#  inferred
ex:PartA odrl:hasPolicy<http://example.com/policy:01>  .
ex:PartB odrl:hasPolicy<http://example.com/policy:01>  .

#  becomes invalid because not >all< rules of the policy have
#  both ex:PartA and ex:PartB as their target
<http://example.com/policy:01>
     a  odrl:Policy;
     odrl:assignee ex:Bob ;
     odrl:assignee ex:Alice ;
     odr

[2017-06-16 09:03] simonstey commented on #184
not according to 3.4.3 Has Target Policy:

either you ignore the MUST -> policy becomes invalid

or you add the inferred target triples to the rules and end up with a new policy with different semantics

[2017-06-16 09:42] vroddon commented on #184
In which sense is the word "inferred" used?
If informally, I would say my expression is totally correct.
If formally, it would not, unless we add this SWRL expression (what we do not want...):

`assigner(?policy, ?X) ∧ permission(?policy,?P) ⇒ assigner(?P,?X)`

[2017-06-16 09:51] simonstey commented on #184
it was about assets :)

[2017-06-16 10:01] vroddon commented on #184
Well, reformulated, I understand this is a valid policy. Am I wrong? Just to confirm....

[code]

@simonstey I have edited the Turtle to make the most compact version that is possible. Alice can present but cannot hide PartA.

[2017-06-16 10:42] simonstey commented on #184
well.. afaik not as you can't (and iirc never could) have actions as values for perm/proh.

[2017-06-16 10:45] vroddon commented on #184
Disagree, this is the current ontology:

[code]

[2017-06-16 10:58] simonstey commented on #184
which is then not in line with the current IM

[2017-06-16 11:51] vroddon commented on #184
Oh! What a pity!
Even the first example at the best practices  [doc](https://www.w3.org/2016/poe/wiki/Best_Practices) uses that pattern, due to the extreme compacity, the absence of blanknodes and the ability to represent a policy as a collection of pairs property/value: a highly desired feature.

I have not found evidences on when this feature was agreed, nor when it was deprecated, so in order t

[2017-06-16 15:07] aisaac commented on #158
I was asked to check issues I had raised. This one still remains.

[2017-06-16 15:15] aisaac commented on #165
Great for "Privacy Policy"!

About the naming issue (1/2 and the bits in other comments that were about changing the URIs) I am still skeptical. You say it's been discussed at
https://lists.w3.org/Archives/Public/public-poe-wg/2017Jan/0001.html
but I can't find it mentioned there.

I still think it would be worth discussing it and with the implementers. As said above at this stage of the WG it sho

[2017-06-16 15:20] aisaac commented on #166
I was asked to check issues in which I was involved. I think this one can be closed now.

[2017-06-18 16:50] aisaac commented on #184
I was asked by @riannella to check this one.
Wrt to the original issue, there is still one issue pending: check the mappings from the new property odrl:hasPolicy to other DC and CCrel properties. And looking at @vroddon has done in this regard at https://www.w3.org/2016/poe/wiki/Best_Practices#3._How_to_grant_Alice_the_permission_to_use_an_asset_.28III.29 (though as of today, the RDF triples are s

[2017-06-18 17:03] aisaac commented on #161
I haven't said it should be aimed to be a NOTE. It could be something closer to a REC, as the group sees fit. My point is that if for some reason there are problems with this new spec, possibly causing it to be refused as a REC, then that wouldn't impact the other 'core' spec.

[2017-06-18 17:17] nitmws commented on #193
@riannella the /parts/xml.html was updated but not the index.html!

Having a look at the commits:
The statement "The Policy element MAY also contain the constraint element to support Compound Constraints" is not clear enough:

* the asset & co are named as plural "... MAY contain ... element_s_ ...". As also multiple <constraint>s may be used they need a plural too.
* "... to support Compound Cons

[2017-06-18 17:24] aisaac commented on #162
There’s still the issue about URI hijacking, but I’m going to continue this in #164 instead as it seems to be where it’s happening.

Definition of rightOperand and rightOperandReference is better, both in the Voc and the IM. Well done.

I think I'm ok with the current use of data types, but their definition (https://w3c.github.io/poe/vocab/#term-dataType) is still strange (“In RDF encodings, use o

[2017-06-18 17:53] nitmws commented on #193
For XML it looks like we have a solution - but not for JSON(-LD):

Examples 17 and 18 in the Information Model document's https://w3c.github.io/poe/model/#constraint-compound section show a "constraint" at the top level of the object. The object claims by its `"@type": "Offer"` to be a subclass of odrl:Policy.
But in the ODRL ontology we have this specification of the constraint property:
[code]

[2017-06-18 20:19] aisaac commented on #164
I am proposing that for the assignee (or any resource that results from the application of constraints) one shouldn't re-use a URI that already has a a different meaning. So either minting a new URI or leaving the assignee anonymous (by leaving it as a blank node).

In any case I am not proposing this instead of the stating the constraints. These are needed for expressing the information. From a m

[2017-06-18 21:15] aisaac commented on #185
I was asked by @riannella to check issues I'm involved in. I guess for this one it's up to whether anyone would like to react to the last point on 12. If there's no desire from the WG I guess it's acceptable, though perhaps a missed opportunity.

[2017-06-18 21:21] aisaac commented on #160
@riannella does the last comment reflect the last position of the group wrt SKOS-related features? If yes then I can embark on reviewing these SKOS-related features. If not then I'd rather wait a bit, because I don't have much time...

[2017-06-19 00:33] riannella commented on #74
I think the fact that your PC is broke has nothing to do with an ODRL Expression.

If there is a power failure, does ODRL have to deal with that ? ;-)

[2017-06-19 00:48] riannella commented on #194
Updated narrative (removed 'logical')

commit: 4fecef42057870c0fbf415297bb1e37b84c9f2c7

[2017-06-19 01:00] riannella commented on #158
Sorry @aisaac - can you be more specific as to which one still remains?

[2017-06-19 01:08] riannella commented on #165
(Wasn't the best documented discussion ;-)
See "benws: having 2 URIs for the same property?"

The point was that the URIs are not broken.

Stuff has been added/deprecated, but exisiting stuff remains unchanged.

Our work is based on exisiting deliverables, and not a new spec.

[2017-06-19 01:08] #166 closed, assigned to riannella

[2017-06-19 03:15] riannella commented on #184
Removed the "inverse" property.

commit: 034d59be9c7ac04c0318af5c79d084cc2a36f7d6

As for the turtle shortcut:
     odrl:permission odrl:present ;

We need to add this example to the "Policy Rule Composition" section.

[2017-06-19 03:19] riannella commented on #161
**If**, and **when**, there are "problems with this new spec", then the WG will make some decisions.

But there are no obvious issues with constraints in this *expression* language.

[2017-06-19 03:20] riannella commented on #162
Thanks ;-)

[2017-06-19 03:47] riannella commented on #160
Yes, please also look at some comments in #188

[2017-06-19 03:49] riannella commented on #185
The WG seems ok with the current approach. @philarcher1 raised the correct use of URIs (a few weeks ago too).

[2017-06-19 03:52] riannella commented on #164
The uid has moved to a "Should" now.

So, this is possible:

       odrl:assigner [
            a odrl:Party ;
            foaf:name "Bob" ;
        ]
See #174

[2017-06-19 04:09] riannella commented on #192
I think if you want Present to be some form of **public performance**, then it should not then be includedBy play and display.

The latter are aimed at "personal use" (and yes, you can show your friends at home, but not hire a 10,000 seat stadium and "play" the latest hollywood movie).

But, you can **explicitly** add wider recipients to "play" if needed (or just use the new Present).

[2017-06-19 04:31] riannella commented on #193
Updated xml narrative (and index.html now)

We do also support an Atomic Constraint at the policy-level that is there only to be referenced by an (atomic) constraint in a Rule. Eg  the same atomic constraint in 2 rules.

commit: dc4065d2d37d1c521100f158489dfa2683a1730a

[2017-06-19 05:40] riannella commented on #190
Added to Vocab.

commit: a65c9de73abe6a99c4e4be11e579d887a116b2fa

[2017-06-19 05:49] simonstey commented on #162
commit: e88abc3

lets see..

that's not in line with what we discussed in https://github.com/w3c/poe/issues/154#issuecomment-301697412 :

Let Set be free :-)

------------------

+ What's the difference between the term **relation** in _`target` relation property_ and _sub-properties of `relation`_? why are the 2 formatted differently?
+ I don't get the second sentence.. What's the rationale behin

[2017-06-19 07:07] aisaac commented on #158
Hi @riannella, sorry I should perhaps have been more explicit.
While reviewing issues on which I had not much to add, I was looking at the entire thread on Github and didn't repeat my old comments.
So for this issue my last comment (https://github.com/w3c/poe/issues/158#issuecomment-302504720) has not been answered, and thus I guess the issue thus remains. I really can't say more, I'm afraid.

On

[2017-06-19 07:13] aisaac commented on #165
Is this in your charter, that you have to b backward-compatible?
Being based on a deliverable doesn't necessarily mean that you have to keep all URIs. It's a CG deliverable, things can change (unless you would have a very wide base of stable implementations).
Don't take me wrong, I understand if you end up keeping the old URIs. After all I was once in a WG (SKOS) that kept old URIs even if all of

[2017-06-19 07:17] aisaac commented on #161
OK, fair enough. This can be closed then.

On 19/06/17 05:19, Renato Iannella wrote:

[2017-06-19 07:22] aisaac commented on #164
This is a very good move forward!
Still I would insist that there should be nothing in the spec that encourages people to hijack URIs, which is a bad practice. It's not only about letting users the opportunity to do things in an ok way, it's about discouraging them to do bad things.
But I guess we were almost already there when in your previous comment you suggested that in example 19, the assigne

[2017-06-19 07:24] aisaac commented on #185
I would hope the WG is ok with the current approach for selectors!
I was suggesting to look at re-using exisitng patterns because it's a good practice (see BP15 at https://www.w3.org/TR/dwbp/#dataVocabularies).
But I also understand if the WG judges it has more pressing issues to solve. I have to reckon I've seen worse cases of ontology duplication, after all.

[2017-06-19 07:39] aisaac commented on #165
Oh, and not only because I'm keen on long discussions: I do really think that some of the naming issues do not help POE adoption.

[2017-06-19 07:51] vroddon commented on #162
I think we should re-define ensureExclusivity. Current definition reads:

Instead, I would say that ensureExclusivity can be defined in a more precise manner, for example:

[2017-06-19 07:55] nitmws commented on #193
@riannella by which feature of ODRL may an Atomic Constraint of a Rule reference an Atomic Constraint?
Should it look like this reformulated example 15?
[code]
If yes: how to make this work in XML?

[2017-06-19 08:04] nitmws commented on #192
Sorry, I disagree.
Play means to let the sound of an audio media asset fill a space for the purpose of letting person(s) listens to this sound. This is the physical action for a specific generic purpose. The same applies to display and also to print.
The count of the persons consuming the media asset is another story. It is well known that e.g. media assets have different licence fees for differen

[2017-06-19 08:08] vroddon commented on #192
@nitmws,

In the area of contracts on rights on multimedia assets, public performance is a very commonly traded right. How should this be expressed in ODRL then?

[2017-06-19 08:33] nitmws commented on #188
I come back to the hasPolicy definition: despite it is not defined anywhere explicitly a Policy must have at least one Rule, this is what can be said about a Policy. And that at least one of the Rules has the entity using hasProperty as target asset.
I'm aware that potential ODRL/RightsML users want to keep the number of Policies low, the restriction that all Rules have to use the entity as target

[2017-06-19 08:43] simonstey commented on #188
it's stated explicitly (but weirdly formulated) in http://w3c.github.io/poe/model/#policy :

[2017-06-19 08:45] simonstey commented on #162
https://www.w3.org/community/odrl/vocab/2-1/ said:

[2017-06-19 09:37] nitmws opened #195 "Single vs. Collection of Asset and Party unclear"
The Information Model defines the Asset Class this way:
_An Asset is a resource or a collection of resources that are the subject of a Rule._
... and the subclass AssetCollection that way:
_an Asset that is a group of resources. This indicates that all the items in the group will be the subject of the Rule._

Unclear is:

* Wording: why are "some assets" called "collection of resources" and "group

[2017-06-19 09:41] nitmws opened #196 "Checking the dynamic use of partOf"
That's the use case:
An asset entity uses hasPolicy, the id of this asset is http://example.org/assets/131432. The referred policy (http://example.com/policy:1033) defines as target asset a collection of many assets (http://example.com/assetCollection:8378) intentionally including this asset http://example.org/assets/131432.

To check:

* MUST this asset be included into the Policy document/resour

[2017-06-19 12:04] nitmws commented on #192
@vroddon use "display" as action and by my understanding: if no constraint is set the asset can be displayed to an unlimited audience.

[2017-06-19 12:13] nitmws commented on #188
... I've read that statement, but an explicit statement with a weird formulation does not fit.
Better would be "A Policy must include at least one permission and/or prohibition Rule."

[2017-06-19 14:11] nitmws opened #197 "XML Schema design"
Having a look a the XML Schema https://github.com/w3c/poe/blob/gh-pages/vocab/ODRL22.xsd of 2 June and trying to take the position of an ODRL newbie:

* In general: why is the naming of elements so different from the JSON shown in the Information Model document? XML has no target, assigner, assignee etc. It looks like the XML schema sets of focus on the classes and asserts a subclass by an attribu

[2017-06-19 17:46] nitmws opened #198 "Use of cardinality restrictions in the ontology?"
At the call on 19 June - https://www.w3.org/2017/06/19-poe-minutes - the question was raised if something required for testing is missing in the ontology.
I think the definition of the cardinality of object and data properties is missing as the free-text of the Information talks about it but this is not reflected by the ontology.

OWL 2 defines how to express cardinalities https://www.w3.org/TR/ow

[2017-06-20 03:55] iherman commented on #198
@nitmws : I agree the ontology should express these things if possible; it may also help in specifying our testing goals.

I am _not_ a good OWL2 expert, I would expect @simonstey to see this. But I think the same expression can be made slightly more simple:

[code]

But: does the IM means "a Rule MUST have an Action via the action property" there must be exactly one, or whether there must be at l

[2017-06-20 04:12] riannella commented on #158
Ok....as you state above: "If these are still important actions..." We still note the CC-like terms we defined in ODRL as Actions, but we want them to use the actual CC terms URIs. (so they CC terms are more important, in this case.)

The example from Dcat is different. They want you to use those terms (and are not deprecating anything).

[2017-06-20 04:15] #161 closed, assigned to sereAbi, riannella

[2017-06-20 04:30] riannella commented on #164
Ok, I've added a sentence to the narrative (to hopefully) capture that.

commit: 5ee91db6a45a41b4e7dea0f7aa35b33f6c8aebc2

[2017-06-20 04:34] riannella commented on #185
I believe that ODRL constraints required more than OA Selectors, such as operators (for example).

If there was a natural fit, we would have used it ;-)

[2017-06-20 04:46] riannella commented on #165
Is there was empirical evidence on the impact of adoption and URI names?

I've spent many years with the SNOMED ontology: http://bioportal.bioontology.org/ontologies/SNOMEDCT

with URIs like: http://ihtsdo.org/snomed/SCT_49872002
(a virus)

Business drives adoption :-)

[2017-06-20 04:53] riannella commented on #193
Yes. A Rule (ie Duty) can have a uid, which is then referenced as above.
(In fact, the first constraint can also be a ref to C1)

In XML, you can use the id/idref attributes

[2017-06-20 05:25] simonstey commented on #198
and so does [SHACL](https://www.w3.org/TR/shacl/#core-components-count) (cf. https://github.com/simonstey/ODRL-SHACL-Shapes/wiki/3.5-Rule) :
[code]

Deciding whether to use OWL ([OWA](https://en.wikipedia.org/wiki/Open-world_assumption)), SHACL ([CWA](https://en.wikipedia.org/wiki/Closed-world_assumption)), or both for expressing those restrictions really depends on the respective use cases.

For

[2017-06-20 05:45] riannella commented on #162
@simonstey list:

1) Agree. I commented here: https://github.com/w3c/poe/issues/154#issuecomment-301982097
"the duty at the Policy level means what"

I **recommend** we keep the requirement that a Duty can only ref from a Permission.

What do you think @vroddon ?

2) Poorly worded. Fixed.

3/4)
- added the assigners now

policy:00) Who are the assignees: Alice is the assignee of the Permission, an

[2017-06-20 06:04] riannella commented on #195
1) s/group/collection/

2) There is not definitive way to indicate a (single) Asset - as we are only concerned with Collections to ensure the constraints are applied correctly

3) We have no restrictions on levels of partOf

commit: 9bfdc6fae0d75cc4be9679b834afefa7b9b723b0

[2017-06-20 06:20] iherman commented on #198
@simonstey you are right. From the point of view of the CR process, and based on what you describe, SHACL might actually be a better option.

(I will have to read the latest SHACL document again:-)

[2017-06-20 06:21] riannella commented on #196
odrl:partOf would typically be used in the Asset definition as you have done  (not the Policy).

But you could also do:

 "permission": [{
       "target": [{
           "@type": "AssetCollection",
           "uid":  "http://example.com/archive1011" },
          { "@type": "Asset",
           "uid":  "http://example.com/archive1012",
           "partOf":  "http://example.com/archive1011"}
       "

[2017-06-20 06:26] nitmws commented on #196
Ok, I suggest to add a copy of example 6 as second example (6b) to Target Policy in the Information Model with
`"odrl:partOf": "http://example.com/assetCollection:8378",`
in the graph and the explanation that being part of a collection can be expressed this way.

[2017-06-20 06:36] riannella commented on #192
@nitmws let me pose two use cases ;-)

1) I buy song x from Apple to listen on my iPod - is this odrl:play?
2) I buy song x from Sony to play at (a very full) Wembley Stadium - is this odrl:play ?

[2017-06-20 06:38] simonstey commented on #196
[code]
-> `:alice` is permitted to display `:asset1`

-------------
adding `:bob` as new member of `<http://example.com/students>` and `:asset1` as new part of asset collection `<http://example.com/assetCollection:8378>`:
[code]
-> `:alice` is permitted to display `:asset1` and `:asset2`
-> `:bob` is permitted to display `:asset1` and `:asset2`

[2017-06-20 06:39] riannella commented on #192
Public Performance (or more technically, the right to Communicate) is an exclusive right of copyright owners, and hence, can be traded to others.

[2017-06-20 06:39] nitmws commented on #198
@iherman and @simonstey I see the points of your considerations but take the view of an ODRL newbie - the guys we have to convince ODRL is an easy-to-use standard:

The restriction code at the top of this thread was not written down by me but by Protege (5.2.) and Protege also shows this restriction clearly in the User Interface. So if a guy investigating the ODRL ontology would see cardinality re

[2017-06-20 06:44] riannella commented on #188
We define the term Policy here:
  https://w3c.github.io/poe/model/#terminology

and here:
  https://w3c.github.io/poe/vocab/#term-Policy

@nitmws - is that ok?

[2017-06-20 06:45] nitmws commented on #198
@iherman this statement shows a key problem of the current specifications: the free-text defines primarily cardinality in an (slightly) ambiguous way. To pin down the wording to be definitely unambiguous the free-text would get more verbose. Therefore I think the definition of cardinality by the ontology would set a clear status.

[2017-06-20 07:03] iherman commented on #198
@nitmws

Maybe true. But I try to be realistic: do we have the time and energy to do both within our remaining charter time?

[2017-06-20 07:50] nitmws commented on #198
@iherman I agree both need more time but delivering a half-baked standard shouldn't be our goal. I guess adding the cardinality constraints to the ontology should not exceed 4 hours of work - and I'm ready to commit.
I only need to find an agreement with @riannella that the ttl is not edited by him while I edit the cardinalities.
Another facet of this action is: I hope I'll interpret the free-text

[2017-06-20 08:03] simonstey commented on #195
An asset can be a single asset as long as it's:
1. not of type AssetCollection, and
2. has no assets that are part of it.

[2017-06-20 08:10] simonstey commented on #190
https://w3c.github.io/poe/model/#policy-assigned

the description references http://example.com/policy:1011 while the example uses http://example.com/policy:1010

[2017-06-20 08:25] simonstey commented on #188
it's actually not.. according to:

following ODRL policy of type Set doesn't qualify as a Policy anymore:
[code]

Long story short
  -> "A Policy must include at least one Rule."
  -> "Policy = A non-empty group of Rules" (I'm kinda missing hints to additional stuff like conflict/inheritance etc. here)

[2017-06-20 08:34] simonstey commented on #173
sounds reasonable to me..

[2017-06-20 08:36] #174 closed, assigned to sereAbi, riannella

[2017-06-20 08:56] simonstey commented on #184
odrl:permission odrl:present ;

I don't think we should allow this..
The benefits of being able to do something like this:
[code]
instead of:
[code]
don't outweigh all the issues/complications this would come with..

(btw., that wouldn't be a turtle shortcut only.. all of that applies to any serialization of ODRL)

[2017-06-20 09:49] aisaac commented on #185
Well, this is the  most convincing answer I've received so far I think :-)
Maybe I've misunderstood something earlier: I was not under the impression that the OA selectors had been examined, and a clear case made that they were not capturing everything.
Now I believe that the issue can be closed!

[2017-06-20 09:57] aisaac commented on #165
Well, at least there is the empirical evidence that it made things more difficult to understand for me ;-)
(and also for you in the case of SNOMED-CT, I guess).

Note that I can live cumbersome naming choices. What bothers me most is if there are inconsistencies and conflicts in the naming. For example doing a fictious adaptation in the SNOMED case:
- one virus is named SCT_49872002 while another

[2017-06-20 10:05] simonstey commented on #198
The cardinality check can **only** be done with SHACL. OWL was never really intended to be used for the purpose of constraint validation. Again, I'm not saying that we have to choose between OWL or SHACL, but we have to use the right tool for the right purpose.

If the only reason to adopt OWL is so that Protege renders restrictions nicely, we might even consider dropping it all together and have

[2017-06-20 10:15] aisaac commented on #164
I'm sorry it's still not solving the problem. It's not really about what is meant with the pattern, it's what is asserted in RDF.
Basically as long as example 20 remains with the hijacking of the 'friends of user 44' URI as it is currently at
https://github.com/w3c/poe/blob/5ee91db6a45a41b4e7dea0f7aa35b33f6c8aebc2/model/index.html
then the issue I've raised in point 7 at
https://github.com/w3c/poe

[2017-06-20 10:17] iherman commented on #198
That is an important point. It can actually be misleading. A cardinality constraint in OWL + an OWL reasoner may simply deduce that some individual are identical (to be more exact, they are `owl:sameAs`) and not reveal any errors. And that deduction results may actually lead to problems.

[2017-06-20 10:25] simonstey commented on #197
it must be compatible/consistent with the current IM&Vocab

[2017-06-20 10:46] aisaac commented on #158
For DCAT I just wanted to point at how they have documented such things. I.e. DCAT includes a 'title' property, but they say that for this dct:title should be used.

I think this is quite the same situation as when you write "We still note the CC-like terms we defined in ODRL as Actions, but we want them to use the actual CC terms URIs. (so they CC terms are more important, in this case.)"

What i

[2017-06-20 12:03] nitmws commented on #198
@simonstey you may be right by an academic view but from my experience with teams having to implement a standard they need a) something which shows in a strict way structures, properties and their cardinality as guideline for their serializations and b) something which checks if their instance of a serialisation complies with the specification.

(Aside: why was something like the JSON Schema creat

[2017-06-20 12:16] simonstey commented on #198
the IM should be exactly that. and as long as anyone feels that that's not the case (me included), the IM needs to be reworked and fixed.

[2017-06-20 20:06] nitmws commented on #198
@simonstey I agree. But what is needed or missing to achieve that?

I see these basic, more formal needs:

* A consistent formal terminology. Should ODRL follow the RDF terminology and define classes and properties etc? (I support that.)
* What needs to be defined for a class. (e.g. a name and subclass of what other class(es) it is)
* What needs to be defined for a property. (e.g. a name, its doma

[2017-06-21 00:55] riannella commented on #197
1) The naming of xml entities was designed to fit the most flexible model in that most "elements" will be URIs (defined by the ontology).
So that is why we have the "function" attribute and the values can be "...odrl/2/assignee" etc.
This then means anyone can have any URI as the functional role and you don't need to modify the XML Schema to add any new elements or attribute values. The XML serial

[2017-06-21 01:09] riannella commented on #190
fixed

commit: 60012d41b51fb006894d38538e568157cf1285a6

[2017-06-21 01:20] riannella commented on #173
When would ODRL data **not** conform to the "core profile" ?

[2017-06-21 01:24] riannella commented on #184
I am all for minimising "issues and complications" ;-)
@vroddon ok?

[2017-06-21 01:25] riannella commented on #185
Thanks

[2017-06-21 01:25] #185 closed, assigned to nevali, nitmws, stuartmyles, vroddon, riannella

[2017-06-21 01:44] riannella commented on #165
And I would certainly agree with you in an ontology with literally **over a million** URIs, that random underscores are not helpful ;-)

But for us, Permission V permission (like in here: https://www.w3.org/2016/poe/wiki/Policy_Inference) is not so critical...

[2017-06-21 01:53] riannella commented on #164
Ok, I am slowing being to understand :-))

So, if for PartyCollections (and also AssetCollection) we also had a "source" property, and we stated that you must use this if you want to use a constraint, such as:

[code]

Then that would be ok?

[2017-06-21 02:15] riannella commented on #158
I think it is slightly different case. DCAT says use a title and that must be dct:title. They never defined a dcat:title property...then a year later thought...hang on...we should not use that but re-use  dct:title.

And looking at: https://www.w3.org/ns/dcat.ttl
I can't even see any of the dct properties ;-)

What if we added more narrative text to the Deprecated terms Appendix ?

[2017-06-21 05:53] riannella commented on #197
3) Actually, we could add some xs:assert elements, such as:

`<xs:assert test="(@type='http://www.w3.org/ns/odrl/2/Offer' and ( (count(./o:permission) > 0 ) or (count(./o:prohibition) > 0 ) ))"/>`

But this will get messy quickly and we need articulate all the Types

[2017-06-21 06:34] riannella commented on #188
So you propose to update the definition of Policy (discussed in #74) to "A Group of Rules"?

Then we need to agree on how to deal with:

[2017-06-21 06:40] simonstey commented on #188
this part needs to be fixed anyway, as duties can be associated with policies too if respective policies are of type odrl:Set.

I would suggest to delete this sentence as a whole.

[2017-06-21 07:01] nitmws commented on #197
Re @riannella

re 1. I'm aware that an XML element with generic semantics and with an attribute to narrow down semantics (e.g. for a subproperty in RDF) is a very flexible solution.
The ODRL IM defines only two functions of Party: assigner and assignee, all other functions are "add ons" (and I think should be from another namespace). This way a new function gets a new name/identifier in a not-ODRL

[2017-06-21 07:49] riannella commented on #188
Are you saying that with a Set, you can have a single Duty, but with Offer and Agreement, a Duty must be with a Permission..or...a Duty can be with any Policy?

[2017-06-21 08:05] simonstey commented on #188
the former.

a duty must have at least one Rule

all other types can only have perm/proh

duties can be used with both policies and perms (unless the policy type prohibts it)

[2017-06-21 08:52] vroddon commented on #162
I would treat it in the same manner as #issue  184 (https://github.com/w3c/poe/issues/184), whichever the result...
(pity that I missed Monday's call ...)

[2017-06-21 09:00] vroddon commented on #184
About allowing: `<http://example.com/policy:01> odrl:permission odrl:present `
Pros:
- A policy can be described as a resource (policy01) with a set of properties and values. Ideal for lazy implementors, easy storage/processing (a policy as a POJO, stored in a single table in a relational database, or in a couple of columns in a CSV file).
- Easy understandability, "less lines in a powerpoint": no

[2017-06-21 09:57] aisaac commented on #165
I understand that for you it's not critical. And I can also live with it probably. But this is not only about us. As I said earlier, we're not an implementer who would have to start and read everything from scratch. We all have to do a big effort to put ourselves in the shoes of someone who’d discover your model and vocabulary for the first time.

[2017-06-21 10:02] aisaac commented on #164
Yes, "source" as is used in your last example would be good!
Or "base", or whatever the group prefers. Since you are creating your own pattern, not re-using the Web Annotation one, you are rather free. The condition is that the property allows to put some 'distance' between the original (group of) entities and the party that is derived from it.

[2017-06-21 10:21] aisaac commented on #158
I insist it is the same case. The DCAT documentation uses this editorial trick to include Title in their model (it's visible next to the other elements) in the case where they have not created the 'real' property in their own namespace.
Someone who would just look at the Turtle file would say, 'hey but why this stupid model doesn't give any title to datasets'? The DCAT documentation says 'well we

[2017-06-21 10:23] larsgsvensson commented on #158
Yes

[2017-06-21 10:27] vroddon commented on #158
I like a lot this approach

El 21/06/2017 a las 12:21, aisaac escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica de Madrid

Campus de Montegancedo s/n
Boadilla del Monte-28660 Madrid, Spain
Tel. (+34) 91336 3753
Skype: vroddon3

[2017-06-21 12:06] simonstey commented on #162
"the duty at the Policy level means what"

for whatever purpose it's used for.. whether it's modeling legislations/regulations or stating that Alice ows Bob 10 euro (she has the obligation to pay him 10€).

what's the problem with allowing policies of type Set to have duties?

(tbh, I don't understand why I have to fight for this again)

[2017-06-21 14:27] nitmws commented on #184
We at IPTC have a rule for the syntax design: don't support expressing the same semantic assertion by syntax variants differently. The reason is quite simple: a parser has to check all syntax variants before statements can be retrieved from a document - and this makes parsers more complex and expensive.
With that background I don't support such shortcuts - what is the real benefit? To have less ch

[2017-06-21 14:56] vroddon commented on #184
In such a case, I believe we can close this issue.
I have effected the changes in commit ef769e80f70d529c186219cca3d8bfaaed5143a0

The range of :permission, :prohibition and :duty have been updated and consequently limited.

[2017-06-22 02:32] riannella commented on #197
1) if we follow that model, then XML implementors need to create/maintain two items for the same thing: the URI for the term, and the xml element. The current model, all is needed is the URI for the term (that other serialisations can use too)

Dave Compton at TR is an ODRL XML implementor (from what I have seen). Perhaps ask him what is preference is? Doing this change will break every exisiting

[2017-06-22 02:38] riannella commented on #184
Reopening this - just from a process point-of-view - as this is an original "wide review" comment.

@aisaac are you ok with the resolution?

[2017-06-22 04:36] riannella commented on #158
I've added a new section called "Collective Vocab" for this purpose and added **all** the CC terms as ODRL actions (we can add others?)

Comments?

commit: 2f5e18b21d227ca37b25584ed07725104779420b

[2017-06-22 04:57] riannella commented on #198
Some comments ;-)

1) If you feel the IM is incorrect/ambiguous then please indicate the precise place and make a recommendation (eg para 2 of section X says Y and perhaps should be Z, or why do you say Foo in para 9 of section W)

2) It will be impossible to express the full IM in an ontology/schema file.

[2017-06-22 05:07] riannella commented on #188
Also being discussed at #162

[2017-06-22 05:18] simonstey commented on #184
@vroddon

well technically, the same holds true for:
[code]
where `<http://example.com/policy:01>` is also a resource with properties and values ;)

There's an important difference between making policies _"easy to understand"_ or _"easy to store/process"_.

As outlined [here](https://www.w3.org/2016/poe/wiki/Policy_Inference) and here [2.7 Policy Rule Composition](https://w3c.github.io/poe/model/

[2017-06-22 05:24] riannella commented on #162
So why then can't Bob and Alice have an odrl:Agreement to pay 10€ ?
(that make more semantic sense ;-)

What if you inherit a Set (with just a Duty in it) into an Agreement?

Policies need to have consistent Rules processing.

Perhaps we only allow Duties at the Policy level (like Perm/Prohibit) and it simply means that all the Duties need to be satisfied for all the Perms/Prohits in the Policy to

[2017-06-22 05:25] riannella commented on #164
Ok, will raise at Monday's teleconf

[2017-06-22 06:05] simonstey commented on #162
(that make more semantic sense ;-)

it does, but Agreements have to have at least one Perm/Prohib. What would be the accompanying Permission? The use of those 10€? ;)

The same as if you inherit an Offer (having Rules with assigners only) into an Agreement, the Agreement would become invalid. (assuming inherit A into B means B inherits from A)

I agree! But since we treat duties as black boxes any

[2017-06-22 06:23] nitmws commented on #197
re @riannella

re 1. hm, RDF/XML defines "RDF/XML uses XML QNames as defined in Namespaces in XML [XML-NAMES] to represent IRIs." (https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-intro) - this way http://purl.org/dc/elements/1.1/title and <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">  provide the same identifier.
I'll ask Dave.

re 3. sorry, can't get your reasoning. Do you claim

[2017-06-22 06:27] nitmws commented on #198
re 1. I've started to add notes to a printout of the IM. Where to put that - I prefer a Wiki page, easier to edit than a Github issue. A bit tricky is the dynamic status of the IM: reviewing takes time and in this period the wording may have changed ...

re 2. ok, but then we should write down what is covered by the ontology and what not.

[2017-06-22 06:39] riannella commented on #197
Sorry...it ignored some of my xml elements. Example is:
[code]

[2017-06-22 06:40] riannella commented on #197
1)...hmmm...But aren't we talking just plain old XML? (not RDF/XML)

[2017-06-22 06:42] riannella commented on #198
Github issues are the best and most transparent way.

[2017-06-22 06:43] riannella commented on #162
Cool..see what "fighting" for this gets ;-))

[2017-06-22 08:23] simonstey commented on #173
are we talking about core profile as in https://w3c.github.io/poe/vocab/#vocab-core
or as in https://w3c.github.io/poe/vocab/#vocab-common?

If it's https://w3c.github.io/poe/vocab/#vocab-core, than (as @riannella pointed out) there's no reason to have such a URI, because **ALL** ODRL data has to conform to the core.

[2017-06-22 08:29] larsgsvensson commented on #173
Yes, but the point is that when you de-reference a URI in order to get a document (e. g. an ODRL document) all the server currently tells you is the media type of that document, e. g. `text/turtle` or `application/ld+json`. It does not tell you that it is an ODRL document. Sending  a profile URI with the document can help the client to understand that what he gets is an ODRL document conforming to

[2017-06-22 08:54] simonstey commented on #173
aah I see. @riannella's and my point was that you don't need a URI for stating that an ODRL document **conforms** to ODRL core (it has no other choice than doing so). However using a URI to tell a client that the stuff it gets **is** ODRL data, is a different story.. How do other Vocabs handle that?

Couldn't we adopt something similar as outlined in https://www.w3.org/TR/prov-aq/ ?

[2017-06-22 10:04] aisaac commented on #158
Pfew this is a lot to review :-)
But this is a good sign: the progress is fast!

I will start with the vocabulary documentation at
http://w3c.github.io/poe/vocab/

I will check the Turtle later, also because if I do this it will probably pre-empt on the review of SKOS usage that I've promised wrt #160...

For the record I am using for CC reference the namespace doc at https://creativecommons.org/n

[2017-06-22 10:08] simonstey commented on #158
scr, I had to "Share A Like" ;)

[2017-06-22 10:21] nitmws commented on #173
Note on @larsgsvensson : the ODRL Community applied for a Media Type registration at IANA and this was rejected as that version of ODRL was not owned by a "reliable standards body". A W3C-owned ODRL should be accepted.

Such a media type should apply to all profiles of ODRL. A Media Type registration could include having a parameter "profile" - a well known example for that is "text/plain;charset=

[2017-06-22 10:25] nitmws commented on #198
But how to do that in practice? If I suggest to change 20 paragraphs should I open 20 issues? Or all in one issue, but then it will be very hard to track the discussion on specific suggestions (which is already the case in some Github issues)

[2017-06-22 10:33] iherman commented on #173
@nitmws, @larsgsvensson : I am not fully convinced about the media type. Would it be an extension to JSON, something like `application/odrl+json`? Or an extension to Turtle? The problem I see that processors that do recognize `json-ld` would not recognize `odrl+json`, and, afaik, `odrl+ld+json` is not a valid media type registration...

[2017-06-22 10:56] philarcher commented on #173
I would also argue against a media type. Since ODRL can be serialised in multiple ways, and have multiple profiles, it seems to me that Occam's razor is to mint  URI for the core profile which tells you that the JSON-LD, or Turtle, or XML, or Foo, conforms (only) to the core profile. Any other profile can assume that the processor understands core, of course. But, again, I really think this WG wou

[2017-06-22 11:12] aisaac commented on #184
@riannella  I am now quite unclear about what the 'resolution' is...

I see there is a hasPolicy from Asset to Policy, and dc:license is a subproperty of it.
(btw the Turtle file apparently uses dct: and your documentation used dc:. Probably both should have the same)
This seems to meet most of the original issue.

The only question mark is why
odrl:hasPolicy owl:inverseOf :target
has been removed

[2017-06-22 11:44] simonstey commented on #184
(short answer for now)

it propagates it to **all** attached Perm/Proh.

which would together with ->

prevent policies from having rules with different targets.

[2017-06-22 12:15] aisaac commented on #184
Alright, so the property chain axiom is irrelevant then, thanks for the answer.

This said I'm still curious about the inverse axiom. The definition for hasPolicy says: "Identifies an ODRL Policy for which the identified Asset is the target Asset to all the Rules.' and "The Asset being identified MUST be inferred to be the target Asset of all of the Rules of the Policy."

In the context of the the

[2017-06-22 14:28] nitmws commented on #184
@simonstey my view on [2.7 Policy Rule Composition](https://w3c.github.io/poe/model/#composition)

First para (A Policy may contain ...) states "... each Rule may contain multiple Assets, Parties, Actions, Constraints, and Duties ..." but the [Rule](https://w3c.github.io/poe/model/#rule) definition talks only about "an Action/Asset" vs "one or more Parties/Constraints". This lets me conclude: only

[2017-06-22 17:17] nitmws commented on #173
@philarcher1  the end date of the [DXWG](https://www.w3.org/2017/dxwg/charter) is 30 June 2019, in almost exactly 2 years. What can we expect by September 2017?

[2017-06-22 19:47] larsgsvensson commented on #173
@nitmws  What do you need by September 2017? If you decide on an own media type, you loose the possiblilty to mix and match information, e. g. to put ODRL data in the same graph as other information.
The DXWG can promise that we'll eventually deliver a mechanism to negotiate on profiles. A (negotiation) profile is -- as @philarcher1 said -- independent of the media type and specifies "additional s

[2017-06-23 00:42] riannella commented on #198
20 github issues 👍

[2017-06-23 01:31] riannella commented on #184
@aisaac

But it does not work the other way...if you have a Policy with two Permissions each with a different target Asset. The inverse will mean that each target Asset is a target to the  entire Policy.

[2017-06-23 02:28] riannella commented on #158
1) I initially was going to do that then thought are these actions part of the "**ODRL** Common Vocabulary"? (ie are these "ODRL" or from another source).
Would users think these terms are ODRL terms?
BTW, the ODRL Common Vocab is non-normative too.

2) Collective was an attempt to say we've "collected" these other terms from other sources that you may like to use...(but clearly not working ;-(

*

[2017-06-23 03:00] riannella commented on #196
I've added new partOf sections to Asset/Party and added examples.

commit: 64e83c716a92e20052286b7630ea7d70d7f80a1b

[2017-06-23 03:44] riannella commented on #194
@simonstey are you ok with my comments I made on your commit comments?

[2017-06-23 03:48] riannella commented on #184
With Duties now becoming part of the Policy-level Rules #162 we need to revisit the "Policy Rule Composition" narrative...

[2017-06-23 05:45] simonstey opened #199 "Duplicates in Vocabulary"
While skimming through the current Vocab draft for issue #194, I noticed that "constraint operators" are listed twice:

Once as part of the **Core** Vocab in [3.14 Constraint Operators](https://w3c.github.io/poe/vocab/#constraintOperators):

    3.14.2 Exclusive Or
    3.14.3 And
    3.14.4 And Sequence

and once as part of the **Common** Vocab in [4.6 Constraint Operators](https://w3c.github.io/p

[2017-06-23 06:18] simonstey commented on #184
with `odrl:hasPolicy owl:inverseOf odrl:target` and given following policy:
[code]
a reasoner would infer:
[code]

[2017-06-23 06:19] riannella commented on #199
1) Main reason was that the logical ones are all explicitly mentioned in 2.6.2 Compound Constraint.
We can do the same in 2.6.1 Atomic Constraint and perhaps explicitly list the operators we thing should be core:
 - eq

**Any others??**

2) Copy/paste error (now fixed)

3) We can prefix all the sub-section headings in Section 4 with "Common..." ??

[2017-06-23 06:34] riannella commented on #184
wouldn't it infer:

[code]

[2017-06-23 06:58] simonstey commented on #184
no, because in:
[code]
the subjects of the two `odrl:target` triples are the two Rule blank nodes:
[code]

[2017-06-23 07:07] riannella commented on #184
Ok, so I removed the inverseOf axiom as I thought from here:
  https://github.com/w3c/poe/issues/184#issuecomment-308952898
That it was not correct?

[2017-06-23 07:14] simonstey commented on #184
#184 (comment)
That it was not correct?

aah.. yes my bad..
it's still not correct though, because it would then point to a Rule instead of a Policy.

[2017-06-23 07:16] riannella commented on #184
Ok, just to be clear, we **don't add** the inverseOf axioms.

[2017-06-23 07:19] simonstey commented on #184
👍

[2017-06-23 07:26] nitmws commented on #197
For "plain old" XML a rule like "append the namespace URI and the local name to create a URI for the element" does not exist. This was "invented" by RDF.
See "plain old" namespace rules at https://www.w3.org/TR/xml-names/#ns-using - example:
`<edi:price xmlns:edi='http://ecommerce.example.org/schema' units='Euro'>32.18</edi:price>`
This would result in this URI for the price element `http://ecomme

[2017-06-23 08:00] simonstey commented on #197
are they?
https://www.w3.org/TR/rdf11-concepts/#section-IRIs says:

[2017-06-23 08:04] philarcher commented on #173
+1 to Lars. I am not suggesting that we create a dependency on DXWG, that would be a bad move. Rather, I'm suggesting that POE can afford not to be prescriptive in how profiles are serialised and just define what information needs to be included in a profile - however it's done. The detail of how to share a profile of any vocabulary is a specific deliverable of DXWG and we, in POE, can just point

[2017-06-23 09:07] simonstey commented on #199
In the Vocab, I would split the operators into logical operators and relational ones and simply link from the IM to the respective sections in the vocab.

[2017-06-23 09:18] simonstey commented on #74
and being **able** to do something has nothing to do with being **permitted** to do something

btw. we define Duty as:

where **obligation** according to http://www.dictionary.com/browse/obligation is defined as:

to fulfill one's obligations.

    an agreement enforceable by law, originally applied to promises under seal.
    a document containing such an agreement.
    a bond containing a penalt

[2017-06-23 09:40] nitmws commented on #197
https://www.w3.org/TR/rdf11-concepts/#dfn-namespace-iri talks about IRIs used for namespaces - and does not explicitly require # or / at the end in this section. But all the namespace IRIs used in the RDF 1.1 documents use one of them and also the majority of Turtle or JSON-LD W3C documents, this is setting a strong message at least. I don't know if an explicit requirement exists somewhere else an

[2017-06-23 10:42] nitmws opened #200 "IM wording for classes and their relationships"
Going over the [Information Model (IM) document](https://w3c.github.io/poe/model) I notice that the wording of relationships between classes is not clear and/or inconsistent.

1. Is RDF the data model behind the IM? No clear statement about it anywhere. But [1.2 Conformance](https://w3c.github.io/poe/model/#conformance) tells "The examples throughout the document are serialized as [json-ld]" and m

[2017-06-23 11:11] nitmws commented on #198
OK, a first set of issues combined in Github issue #200

[2017-06-24 10:24] nitmws commented on #195
@simonstey the tripwire of 2. is: it is not required that a used AssetCollection must list all of its "parts" in a policy. Therefore at the time of processing a Policy the processor does not know exactly if this asset thing thing has other Assets claiming they are a partOf it.

[2017-06-24 10:42] nitmws opened #201 "Note on Policy Inference"
@simonstey has provided a [Policy Inference](https://www.w3.org/2016/poe/wiki/Policy_Inference) with a very clear and useful workflow of expanding compact assertions of a policy to a list of atomic permissions and prohibitions.

Pondering how this can be used for checking if a user is permitted/prohibited to take an action on an asset I got aware of a foggy area in such a practical context: the od

[2017-06-25 09:41] nitmws opened #202 "IM: upgrade Short-cut Instances of Classes in Policy Rule Composition to a section"
I refer to the [Information Model](https://w3c.github.io/poe/model/#) (IM) document of 23 June.

Its section [2.7 Policy Rule Composition](https://w3c.github.io/poe/model/#composition) is not only about composing the Rules of a Policy, the region starting with "An ODRL Policy may also declare multiple Assets, ..."  is about adding instances of Asset, Party or Action as properties to the Policy (ca

[2017-06-26 05:48] simonstey commented on #201
what practical problems? if there's no indication about any partOf/memberOf/.. relation, then you simply can't compute any inferences.

For example:
[code]
one way to evaluate such a request is to:
+ merge it with existing policies and check whether any conflicts arise; if that's the case -> **deny**
+ for each policy, check whether the set of (atomic) rules of the request is a subset of the set o

[2017-06-26 06:27] nitmws commented on #201
@simonstey I see as "practical problem" that the policies on the Policy Inference page look like including all required information for evaluating requests. In practice a Policy will include only W3C as assignee and processing the odr:Request needs to check if ex:Alice has a odrl:partOf relationship with ex:W3C. This requires information beyond the data in an odrl:Agreement with only` odrl:assigne

[2017-06-26 08:52] simonstey commented on #201
as long as those triples reside in the same RDF graph as the policies it's fine.

btw., you also don't know whether a policy expression actually includes all of its rules.. In RDF, those two serializations are equivalent:

[code]
is equivalent to ->
[code]
so whenever an ODRL processor processes/evaluates/validates policies, it does that based on all information that's available to it at that time

[2017-06-26 10:37] nitmws commented on #201
Right, this needs to be considered and managed by the provider/publisher of the Policies. This could result in having only a single Permission/Prohibition in Policies and for the evaluation they have to be combined - hm, I'm not aware that the IM tells anything about that case, it defines only inheritance as relationship between Policies.

Further it could be the case that the same Permission/Proh

[2017-06-26 10:42] nitmws commented on #202
Add on: [2.9 Policy Inheritance](https://w3c.github.io/poe/model/#inhertiance) defines how a (child) policy could inherit from a (parent) policy.
What about short-cuts in the parent policy?
*  will target, assigner, assignee and action at the "policy-level" also be replicated to all Permissions/Prohibitions of the child policy?
* may a Compound Constraint in a child policy refer to a constraint re

[2017-06-26 10:54] simonstey opened #203 "Constraint Narrative"
that's wrong, they are applied to instances of those classes not on the classes themselves -> remove entire sentence

according to that, each compound constraint is also an atomic constraint

no.. a constraint is evaluated as the constraint it is, it's the constraint evaluation that we treat as a black box.

what? -> remove

remove (it's also kinda weirdly phrased)

checking **satisfiability of**

[2017-06-26 11:13] simonstey commented on #201
no and that's exactly my point (and also kinda @aisaac's in #164).

In RDF, a policy like:
[code]
is actually just a more readable version of:
[code]
which can also be represented as:
[code]

[2017-06-26 11:22] simonstey commented on #202
good question.. it depends on whether the parent policy must be expanded before it can inherit its rules.

if it's not a blank node, why not?

[2017-06-26 11:53] simonstey opened #204 "Remove inheritAllowed functionality & single inheritance restriction"
**inheritAllowed**: unless someone comes up with a convincing use case that would justify keeping it.

**single inheritance**: what's the reason for allowing single inheritance only?

[2017-06-26 12:19] nitmws commented on #202
The discussion in #193 sounded like the referenced constraint should be in the same policy - next question: should a parent policy be considered as "same policy"?

[2017-06-26 12:21] nitmws commented on #201
Sorry, got it: two different statements about the same subject.

[2017-06-26 12:27] simonstey commented on #202
[code]
?

the parent policy is not the same as the child policy (unless they are owl:sameAs) . they might be equivalent in terms of their semantics though.

[2017-06-26 13:00] simonstey opened #205 "EXAMPLE 19 makes no sense"
https://w3c.github.io/poe/model/#constraint-compound:

[code]
what's the intended semantics of this permission? C1 is satisfied from the very beginning, so the permission is not in effect before 1.1.2018 and can then be exercised 100 times.

[2017-06-26 13:19] riannella commented on #164
WG agreed to this (26 June)

[2017-06-26 14:23] nitmws commented on #162
Re the discussion at the [call on 2017-06-26](https://www.w3.org/2016/poe/wiki/Meetings:Telecon20170626)

First to say: following this issue and also issue #154 it is hard to draw unambiguous conclusions. E.g. is this discussion about having Duty at the policy-level applying only to the subclass Set and not other subclasses? If: Set is defined as "represents any combination of Rules" and it leaves

[2017-06-27 01:49] riannella commented on #173
Is this a reasonable proposal:

In the Profile section: https://w3c.github.io/poe/model/#profile
we state that the "default" value for the profile property is "http://www.w3.org/ns/odrl/2/"
(if you don't use any other community Profile) and that URI may be used in comms between systems in identifying the ODRL core profile being exchanged.

[2017-06-27 01:54] riannella commented on #199
Yes, but are **all** the operators in the Vocab in "Core" ?

[2017-06-27 02:34] riannella commented on #74
@simonstey What changes are you proposing?

(BTW, we don't focus on "rights"..so we can chose the 2nd dictionary definition ;-)

[2017-06-27 02:37] riannella commented on #197
@nitmws Is the proposal to rewrite the XML Schema to support new <elements> instead of referring to URIs from the Vocab (and other Profiles) ?

[2017-06-27 02:38] riannella commented on #195
Yes, that is correct. We can't really do anything about that...can we?

[2017-06-27 03:14] riannella commented on #203
Updated

commit: 17fcf93d84824fa2ee5d145e61ceae7467af3cfc

[2017-06-27 04:20] riannella commented on #201
So what do we do with this issue?

[2017-06-27 04:31] riannella commented on #205
A **choice** needs to be made between C1 and C2 ("xor").
(and we make no assumptions on how that is done)

So an ODRL Evaluator would not look at the atomic constraints in isolation of the semantics of the (logical) operator.

[2017-06-27 05:22] riannella commented on #200
1) I think the main reason we don't explicitly state it (just as the Annotation spec does not: https://www.w3.org/TR/annotation-model/) is that the ODRL IM is **more** than just the RDF model. We do use Class and property terms.

2) I've added "Class" to all the main headings for consistency, and the first para uses "Class", then after that just using the Class name with Capital first letter seems

[2017-06-27 05:34] simonstey commented on #205
(and we make no assumptions on how that is done)

but that's not how xor works..
http://mathworld.wolfram.com/XOR.html:

A | B | A xor B
:---: | :---: | :---:
0 | 0 | 0
1 | 0 | 1
0 | 1 | 1
1 | 1 | 0

Hence, to check whether an XOR compound constraint is satisfied **both** of its atomic constraints have to be validated, otherwise you don't know whether **only one** (but not both) of its atomic cons

[2017-06-27 05:37] riannella commented on #162
My concern is that I don't want the semantics of Duty to change depending on **where** it is in the Policy.

And we (currently) make lots of assumptions on who the assignee is for the Duty (based on the Permission).

[2017-06-27 05:59] simonstey commented on #195
that's why we shouldn't adopt the Open World Assumption for evaluating/processing policies. otherwise, you also wouldn't know whether a policy is really linked to all of its rules, a rule is really listing all of its assignees, assigners, etc.

sticking to CWA for policy evaluation, i.e. everything that's not explicitly stated does not exist.

-------------------
fwiw, following SHACL shape can be

[2017-06-27 06:02] riannella commented on #205
Hmm...so its a poor example ;-))

What if C1 was "purpose=education" and C2 was "meteredTime=P60M" ?

[2017-06-27 06:24] simonstey commented on #205
I don't understand the example given in https://w3c.github.io/poe/vocab/#term-meteredTime:

but i could also "consume" those 60min all at once, 1min/day over 60 days, etc. right? if that's the case -> s/can/could e.g./

when's a meteredTime constraint considered to be satisfied then? if I have exercised the action for < 60min it's not = 60min so it's unsatisfied?

----------
anyway..

assuming tha

[2017-06-27 06:25] riannella commented on #204
I'm ok to remove inheritAllowed.
others?

RE: single inheritance - the main reason was to "reduce" complexity.
Is there a use case for it?

[2017-06-27 06:34] simonstey commented on #205
if you want to state that unless your purpose == education, you can exercise the action for not more than 60min, you could use an OR:

C1 | C2 | C1 or C2
:---: | :---: | :---:
0 | 0 | 0
1 | 0 | 1
0 | 1 | 1
1 | 1 | 1

If your purpose == education ( I(C1) = 1 ), then I don't care how long you exercise the action
If you've exercised the action for <= 60min ( I(C2) = 1 ), then the purpose doesn't matt

[2017-06-27 06:40] riannella commented on #205
Yes, meteredTime is the accumulated time to use the asset - and it can be broken down into as many parts as and as much elapsed time as you like.

(lt/lteq would be better as well for this time-based constraints....fix that...)

[2017-06-27 06:45] riannella commented on #205
Now I remember why I didn't like "constraints on constraints" :-}

[2017-06-27 06:46] riannella commented on #205
It probably makes more "semantic" sense to use the same left operand.
Such as:
 C1: media = "print"
 C2: media = "online"

[2017-06-27 06:51] riannella commented on #195
We only know what we know ;-)

Perhaps some of this more _semantic_ processing we document in the Formal Semantics Note?

[2017-06-27 06:56] simonstey commented on #205
Such as:
C1: media = "print"
C2: media = "online"

only if you want to explicitly rule out cases where media is both print and online, otherwise you would use again OR, e.g.:

[code]

[2017-06-27 07:35] nitmws commented on #200
@riannella thanks for all the changes you have applied so far.
Re your list above:
1. What does "**more** than just the RDF model" mean? Class and Property are defined by the RDF Schema and this is part of RDF (see https://www.w3.org/standards/techs/rdf). (Note: the Web Annotation Rec tells "The examples throughout the document are serialized as [JSON-LD] using the Context given in Appendix A of t

[2017-06-27 07:53] nitmws opened #206 "Define Atomic and Compound Constraint as subclasses"
The IM defines for the[ 2.6 Constraint Class](https://w3c.github.io/poe/model/#constraint) an Atomic Constraint and a Compound Constraint.
Each of them has different sets of usable properties and properties have different rules for their use - but they are not defined as subclasses of the Constraint Class.
As e.g. the Policy Class has the sub-classes of Set, Offer and Agreement (and possibly more)

[2017-06-27 13:20] riannella commented on #205
For the example use case in the IM, I think thats a better example (to show Compound Constraints)

For the second example above, the single atomic constraint could suffice too:
[code]

[2017-06-27 16:51] nitmws commented on #201
If we would include the content of the Policy Inference into the IM we should add a note that the partOf relationships may be provided by systems managing the assignee persons and not by the system managing the policy data. (I'm aware of the RDF-thinking that each identified node simply exists, regardless of any underlying system. But in practice the issue is: what is included in the JSON object o

[2017-06-28 01:36] riannella commented on #202
@nitmws first comments:

The "short-cuts" are related to the  2.7 Policy Rule Composition section in that they explain how you then generate the atomic policies. I've added a subsection and some narrative that the atomic policy is recommended.

I think the key point is that we don't want to promote short-cuts all over the IM document. We want them to produce atomic policies - and the compact ones

[2017-06-28 01:47] riannella commented on #202
And perhaps we make the whole section 2.7 non-normative too

[2017-06-28 02:36] riannella commented on #206
I contemplated this...then asked what was the overall benefit....
Lets decide at the next call

[2017-06-28 02:50] riannella commented on #206
Updated model would look like this...
![odrl-model-constraint](https://user-images.githubusercontent.com/13191615/27618550-62d2fe72-5c00-11e7-8aa8-58c2ede569c9.png)

[2017-06-28 02:53] #111 closed, assigned to sereAbi, riannella

[2017-06-28 06:48] riannella commented on #201
I don't think we should include detailed narrative like the Policy Inference wiki page in the IM.
Thats better in the Formal Semantics or Best Practices.

[2017-06-28 08:57] nitmws commented on #202
@riannella thanks for your considerations, they provide background.
I'm not sure if the approach "make short-cuts non-normative" will work:
* currently only 1. Introduction and 3. ODRL Profiles of the IM are non-normative - both have no impact on classes and their properties
* the e.g. Rule Class defines in the IM that it may have any sub-property of the relation property, this covers non-normativ

[2017-06-28 08:59] nitmws commented on #201
Ok, then the Model label should be replaced by a FormalSemantics and/or BestPractices label.

[2017-06-29 03:19] riannella commented on #200
1) RDF is a Model and the ODRL IM is also a Model, but technically there is no "model behind the IM".   They use common terms like Class and Property (which mean the same) but the IM, for example, has "inheritance" with specific meaning, which is different (in some cases) to RDF.
However, the Vocab is where we say...this is how the IM is mapped to RDF(/owl):

3) Ok, added Class to sections heading

[2017-06-29 06:52] riannella commented on #164
Added the source property

commit 68fdba317c2766c432e6b08d81059da2d0a3f508

[2017-06-29 06:58] riannella commented on #205
Updated example 19

commit b0db98a2d6c0cd7a026bd078cc57ce03e3f7d7fe

[2017-06-29 09:13] nitmws commented on #200
@riannella thanks for the many changes - the definitions of properties look much more consistent now, I hope this is also interpreted as better.

Re 1: I'm afraid this is a topic for about 10 years of discussion ;-)
My maybe very pragmatic view is: if a Model can be mapped and expressed by RDF means it cannot include contradictions to the RDF Model.

[2017-06-29 10:37] larsgsvensson commented on #173
No, I don't think that it would be correct to use the ODRL Namespace URI to denote the profile. The Namespace URI points to an owl:Ontology/voaf:Vocabulary and that is not the same thing as a profile. My suggestion would rather be something like "http://www.w3.org/profiles/odrl/2/" but of course we cannot just hijack the W3C webserver to implement that. Perhaps @philarcher1 has a suggestion.

[2017-06-29 11:52] iherman commented on #173
I agree with @larsgsvensson : using the URI of the ontology proper is a bit muddy. But it can be as simple as "http://www.w3.org/ns/odrl/2/coreProfile", or something similar. Introducing a separate 'path' for profiles on the W3C space may suggest that we will use that path to "register" different profiles in future, which I do not think we should commit ourselves to.

[2017-06-29 15:21] vroddon commented on #173
I understand this solution does not preclude using third party URI's, like `http://my_industry.org/odrl/myProfile`...

[2017-06-29 15:23] vroddon commented on #201
Can we assume that the [policy inference](https://www.w3.org/2016/poe/wiki/Policy_Inference) has been entirely accepted?

[2017-06-29 16:27] larsgsvensson commented on #173
That is in my opinion correct, particularly since every community profile MUST have its own URI. But as long as you use the core profile, you SHOULD use the Core Profile URI.

[2017-06-30 00:20] riannella commented on #191
Hi @fornaran Are you ok with this response?

[2017-06-30 00:22] riannella commented on #194
#199 will address this now

[2017-06-30 00:24] riannella commented on #188
Will be addressed by outcome of #162

[2017-06-30 00:34] riannella commented on #201
Yes, I think that is the general conclusion now that we have added the new properties to the IM.

(Note: the final expanded policy should have close to 100 Rules ??)

[2017-06-30 00:38] riannella commented on #173
Ok, how about: `http://www.w3.org/ns/odrl/2/core`

Will there (potentially) be any requirement to return something if this is dereferenced?

[2017-06-30 03:11] riannella commented on #202
I have done the first suggestion above.

But am not sure about what you mean for the second? Are you saying we need reverse rules too?

commit: e0db360d54f174a9d30d9f61320be5a7c54afad7

[2017-06-30 05:13] simonstey commented on #205
true.. I wouldn't use a single string as `odrl:rightOperand` to represent a collection though..

[better](https://www.w3.org/TR/turtle/#collections) ->
[code]

[2017-06-30 05:14] #205 closed, assigned to sereAbi, riannella

[2017-06-30 05:44] simonstey commented on #204
Is there a use case for it?

<img src="https://user-images.githubusercontent.com/10495449/27722155-ef3f37de-5d65-11e7-8d68-bc868b574737.png" alt="License Merge" width="200px" />

[code]

[2017-06-30 06:28] iherman commented on #173
@riannella that URL works for me.

As for the return value: no different than dereferencing any other term in the ontology...

[2017-06-30 06:32] larsgsvensson commented on #173
@iherman

And that is?

@riannella

What we will propose in the DXWG is that the profile URI SHOULD return some kind of description, but the provider is not compelled to do so. Also there SHOULD be links from the profile document to schemas implementing that profile (e. g. a SHACL document or an XML schema). Exactly what that will look like is still work-in-progress...

[2017-06-30 06:33] simonstey commented on #203
what?
1. what's the definition of a party/asset that's not "in effect"?
2. if **all** of the constraints on p/a collections are satisfied? even those of completely unrelated collections?

[2017-06-30 07:35] riannella commented on #203
1) "effect" only applies to Asset/PartyCollections that have constraints.
(single) Asset/Parties are just that.

So not  "in effect" means the constraint has not been satisfied.

2) better:

 ?

[2017-06-30 07:45] nitmws commented on #202
@riannella thanks for following the first suggestion.

re the second: my general suggested change of the narrative is that the IM only talks about short-cuts where they become effective and that's at the Rule level.
In details:
* [2.7.1 Compact Policy](http://w3c.github.io/poe/model/#composition-compact) currently tells "An ODRL Policy MAY also relate to multiple Assets, Parties, and Actions at th

[2017-06-30 09:31] iherman commented on #173
@larsgsvensson

Good question, I actually do not know how the ontology would be presented in general. Ideally, there should be a content negotiation: expecting HTML would lead to a (reference of) human readable text, otherwise an RDF statement defining that term to be an individual, a property, a class, etc.

But we may not have the time/energy to do that, so the dereferencing may just redirect to

[2017-06-30 10:36] philarcher commented on #86
OK, I've had a go at this as promised, and there's a pull request to match https://github.com/w3c/poe/pull/207. My approach was to work through the examples in the IM and note where the actions of an evaluator were either implied or expressed, and then tried to codify what it should do. It is not complete, but does, I hope show a possible way forward of the WG agrees with the general approach. IMO

[2017-06-30 10:40] simonstey commented on #203
(single) Asset/Parties are just that.

what's the definition of a ~~party/asset~~ Asset/PartyCollection that's not "in effect"?

1. no, if constraints of a rule aren't satisfied -> the rule is not in effect
if a rule is not in effect it means that this rule is "ignored" by further processing steps
2. this still doesn't answer my question though.. what does it mean for a ..collection to be "in effe

[2017-06-30 11:01] simonstey commented on #203
i.e. instead of performing an expansion to atomic rules for **all** member of a p/a collection as outlined in https://www.w3.org/2016/poe/wiki/Policy_Inference#Semantics_of_Party_Relations, it's done for those that satisfy all constraints only.

[2017-06-30 13:05] fornaran commented on #191
Hi riannella,
Your response is ok for me for modelling all those cases when a credit card (or something similar) is communicated before to use a given service.
Nevertheless, a policy may also need to express the obligation to perform an action because of the performance of another action. For example if you enter in a Congestion Charge area then consequently you are obliged to pay x euro within 24

[2017-06-30 16:46] benedictws commented on #206
Sub-classing constraints will likely be of use to any evaluation engine testing these constraints.

I also think we have the opportunity here to significantly enhance the expressiveness of ODRL.

I notice that three of the four operators allowable in a compound constraint have no sensitivity to order - i.e there's no distinction between a left and a right operand.

This suggest two things: both le

[2017-07-01 11:52] nitmws commented on #206
To clarify: the leftOperand and the rightOperand are properties and may become sub-properties of a operand property.
But how could this help? An Atomic Constraint has the properties leftOperand, operator and rightOperand, a Compound Constraint has in case of the operator andSequence the properties leftOperand, operator and rightOperand; in the case of or OR xor OR and the properties operand and op

[2017-07-03 04:52] riannella commented on #86
(aside: respec renumbers all the examples automatically, so we can't refer to "Example 13" ;-(

[2017-07-03 04:58] riannella commented on #191
I am not sure this use case fits?

ODRL expresses statements about content usage...so, for example, what asset is the Policy about?

You could (if you wanted) define the "congestion area" as an Asset, then an action "drive-in", then add a Duty (pay x $)

[2017-07-03 09:35] benedictws commented on #204
Surely multiple inheritance would only be a problem if we were to inherit state (aka odrl:status). But this is explicitly disallowed.

So perhaps we can drop the single inheritance restriction.

[2017-07-03 10:44] fornaran commented on #191
From my oint of view the Duty (pay x $) is not a pre-condition for performing the action "drive-in" on the asset "congestion area", in fact the access to the congestion area is not prohibited (there is not a barrier).

Like for the nurse example reported in my first comment, the policy that I would like to express is:

A certain action a1 is permitted (i.e. it is permitted to enter a congestion ar

[2017-07-03 12:34] riannella commented on #191
Yes, you can create a new Policy Type (like these: http://w3c.github.io/poe/vocab/#policySubClassesCommon)
So, this sounds like it might be better for your use case?

[2017-07-03 12:43] riannella commented on #204
Agreed to both changes (WG teleconf 3 July 2017).

[2017-07-03 16:28] nitmws commented on #206
My view on the change of the Constraint design as discussed at the call on 2017-07-03 - https://www.w3.org/2017/07/03-poe-minutes

1. Create a subclass Binary Constraint (close to the previous Atomic Constraint) and a subclass Multi Constraint of the Constraint Class
2. Binary Constraint class properties:
- leftOperand, cardinality 1, range: LeftOperand class instance or Constraint class instance

[2017-07-04 00:06] riannella opened #208 "Range of RightOperand"
Clarify range of rightOperand

[2017-07-04 00:08] riannella opened #209 "Duty->Consequence"
Proposal for "consequence" for not fulfilling a Duty (from Sabrina/Simon by 14 July).
And possibly "Regulation" policy type.

[2017-07-04 01:06] riannella commented on #162
@nitmws RE: Sets: we don't define the Set policy type with any specific semantics (unlike Offer, Agreement...)... So if your example above was a Set, then all we can say is that the Policy has 3 Rules...

But, it is an Agreement (lets assume there is an assigner as well ;-)

Currently, there is an underlying relationship between Duty and Permission....you need to fulfil the Duty to get the Permiss

[2017-07-04 01:39] riannella commented on #202
The short-cuts can be used by any relation/function sub-property (not just target/assignee/assigner)

And I don't think we add duty now....

So the processing model you suggest is to look at each Rule first, then see if there are any relevant policy-level properties, if so, then add them to the Rule ?

[2017-07-04 01:59] riannella commented on #206
I question the "sequential **logical** operator" in the **Binary** Constraint - just to support the **logical** andSequence

All logical constraints should be in the "Multi Constraint".

Perhaps we should then support rdf:Seq for this purpose:

[code]
And we then don't even need o:andSequence any more ?

[2017-07-04 02:20] riannella commented on #204
Changes made: c4c248126cc92ba699c71aaf7486da2f987af883

[2017-07-04 03:18] riannella commented on #209
Has anyone documented the information model underpinning the European General Data Protection Regulation ?

[2017-07-04 07:21] nitmws commented on #206
I've raised where should andSequence reside at the call on Monday and heard it should be moved to the Binary Constraint as it should process only two Constraint results. That's why I've put it there in my suggestion.

Re @riannella suggestion:
* re the facts:
  * how to deal with the types of collections of object values: using rdf:Seq for sequences requires to use rdf:List for a simple set of val