[2017-07-04 07:37] nitmws commented on #202
Re short-cuts: I've set a focus on the properties defined by the (core) ODRL. If liked by all we could open that feature to all sub-properties of relation and function. (Practical view: if a property `abc1:klm4711 <http://example.com/entity991818>` resides at the policy level: how to find out if this is a sub-property of relation or function? Processing this needs more information than the raw ser

[2017-07-04 13:34] fornaran commented on #191
For being able to model my use cases, I need to be able to express a policy that contains one obligation to perform an action (pay within 24 hours) that is activated when a certain event happens (enter in the congestion area). If a pay within the deadline this obligation becomes fulfilled, otherwise it becomes violated.

Given that in ODRL a Policy is "A non-empty group of Permissions and/or Prohi

[2017-07-05 00:50] riannella commented on #191
We are discussing in #162 an update that a Policy can contain "any Rules".
(including just a Duty)
That change should then meet your requirement?

[2017-07-05 01:23] riannella commented on #202
1) as per the ODRL Profile rules, abc:klm4711 would have to be defined as a sub-property of function or relation to be used as a part of an ODRL policy.

2) Updated:  4570845f9dc92486473049cad86fe4561bedb7e6

[2017-07-05 02:18] riannella commented on #173
Added core profile: 0c26559afa6a917fa0cbf72ba756756b4d0f67cf

Not sure what odrl:core is, so made it an owl:Thing

[2017-07-05 02:29] riannella commented on #203
The "collection" is never "in or not in effect", but the Assets or Parties that satisfy the constraint are in/not in effect (ie they will be the effective targets/assignee/r's for the rule)

[2017-07-05 02:35] riannella commented on #208
Proposal: update rightOperand property to have "literal or IRI" as the value.

Update range as union of rdfs:Literal and rdfs:Resource ???

[2017-07-05 05:22] simonstey commented on #208
that would be redundant ->
https://www.w3.org/TR/rdf-schema/#ch_resource:

https://www.w3.org/TR/rdf-schema/#ch_literal:

[2017-07-05 05:23] riannella commented on #208
So the better option is ?? ;-)

[2017-07-05 05:34] simonstey commented on #208
don't define an rdfs:range at all

[2017-07-05 06:18] simonstey commented on #203
👍

👎

👍

--> as I said earlier, constraints attached to p/a collections don't regulate whether their collections are in effect or not **(+ or whether members of those collections are generally in effect or not)**, but define subsets of those collections **(+ consisting of members that satisfy the constraints)** to which respective rules apply.

-------

how would any **individual** asset be able t

[2017-07-05 06:57] riannella commented on #203
I think we are saying the same thing...

When I say "but the Assets or Parties that satisfy the constraint are in/not in effect"
There "Assets or Parties" are the same members you mention in "consisting of members that satisfy the constraints" ???

Example 21 of course depends on what ex:set is defined as.
It was an attempt to address this requirement: http://w3c.github.io/poe/ucr/#POE.UC.17
Perha

[2017-07-05 06:59] riannella commented on #203
Perhaps we need to add "members..." to the narrative ?

[2017-07-05 07:19] riannella commented on #206
RDF brings up  lots of emotions ;-))

My main point was that we should have the same solution for all logical constraints.

Proposal: for logical constraints, we need to define a new (abstract) operand property with sub-properties: and, or, xor, andSequence

And the object of these properties is a list (referring to 2 or more binary Constraints)

[2017-07-05 07:48] fornaran commented on #191
A Policy that can contain just a Duty is the first step.
For being able to model my use cases the notion of Duty/Obligation should enriched.

In particular what I miss is the notion of state of the obligation that follows a specific lyfecycle.
Like for the notion of permission there is the idea of having a "valid permission" when the duty is satisfied, and I suppose a "conditioned permission" when

[2017-07-05 08:04] nitmws commented on #202
@riannella re your update:
* 2.7.1 first sentence:
currently: "An ODRL Policy may share properties with its Rules."
That's ambiguous as by strict reading this makes the properties an active property of the Policy ("properties shared by a Policy with its Rules").
I suggest: "An ODRL Policy may hold properties which are shared among its Rules."
* re item 1 above: I suggest to add that requirement to

[2017-07-05 09:51] simonstey commented on #203
It was an attempt to address this requirement: http://w3c.github.io/poe/ucr/#POE.UC.17
Perhaps it is incorrect?

currently, constraints on collections are not evaluated on the collections themselves but on the members of their `odrl:source` collection only. the constraint in Example 21, however, is a constraint on the asset collection itself rather then one on its members

-> as no member is able

[2017-07-05 10:06] riannella commented on #202
Updated commit: 1821b610d1d0b47d75fc4a3c91057a6bab78dd0b

[2017-07-05 10:15] simonstey commented on #202
what? I've no idea what any of this means..

but `odrl:target` isn't part of the common vocab

[2017-07-05 20:58] nitmws commented on #202
I share these concerns.
What about "An ODRL Policy may hold properties which are used by its Rules, semantically they do not apply to the Policy."
Re the second issue: do we have now an agreed term for the normative part of ODRL - maybe "core ODRL"? (I've lost track of this discussion.)

[2017-07-06 04:26] riannella commented on #191
Perhaps you could model this with a new Rule and Policy type?

The concept of "activated" would need to be supported. That is, upon the "action" being activated, then you must do Duty X.

The current Rules are not pro-active. So, perhaps a new Rule could work (lets says its called "Trigger"). Trigger is an action ("enterArea" even with constraints like "on weekdays"...).
Trigger could then have a

[2017-07-06 04:27] riannella commented on #203
Sp perhaps for this example 21, we actually do use "uid" and not "source" ?

[2017-07-06 04:49] riannella commented on #202
1) I have updated the text

2) I have removed the "defined in..." as the property MUST already have been defined in the Core/Common/Profile to be used in an ODRL Policy anyway...

commit 5c8453943d92e2d09b4a8c7039e5075f45bd7776

[2017-07-06 04:59] riannella commented on #208
Updated with "literal or IRI"

commit: 8b13e42ddc79c332b46dfe078c602673fd3ca0c3

[2017-07-06 05:12] vroddon commented on #191
Perhaps in order to prevent circularities in the evaluation of the policy, the trigger action ("enterArea") should not have other duties imposed --thinking of this as a production rule system.

[2017-07-06 08:29] vroddon commented on #209
For the first: are we talking about remedies?
For the second: yes, there are several ontologies, I guess Sabrina has gone further writing them in terms of ODRL. ..

[2017-07-06 08:51] simonstey commented on #191
@riannella

duties on permission level are exactly that, e.g.:
[code]
only if `ex:Alice` wants the permission to `odrl:reproduce` the target asset `<http://example.com/asset:9898>` is she obliged to `odrl:play` the asset `<http://example.com/asset:1>`. If she only wants to `odrl:print` it (or simply doesn't care about the asset at all), she isn't obliged to do anything.

[2017-07-06 08:57] nitmws commented on #202
re 1: thanks, a typo issue: "... (such as assigner." The closing ) bracket is missing.
re 2: the approach sounds ok - is this explicitly defined anywhere or just inferred from the IM as a whole? Further this raises an interesting question: if a profile does not want to cover an action defined in the Common Vocabulary: does it have to exclude it explicitly? Maybe better to discuss this in another G

[2017-07-06 09:24] simonstey commented on #209
kinda, but something more general..

**Consequence:** If you do _X_ you are obliged to do _D1_. If you did _X_ but fail to prove that you have done _D1_, you are obliged to do _D2_.

**Remedy:** If you do _X_ you are obliged to do _D1_. If you did _X_ but fail to prove that you have done _D1_ as well, you are obliged to do _D2_ **instead of** _D1_.

[2017-07-06 10:14] fornaran commented on #191
The clear specification of the evolution of the state of permissions, prohibitions, and duties is fundamental for having a clear semantics of the proposed language.

The duty inside a permission is actually a pre-condition for getting the permission. If Alice does not care about the asset, she is not obliged to do something; in our everyday life, we will never say that she has a duty. If she wants

[2017-07-07 03:47] riannella commented on #202
1) fixed

2) I think a profile would explicitly list all Common vocab terms it wants to support.

[2017-07-07 04:03] riannella commented on #209
You will notice in ODRL 2.1, that Remedy was applicable to Prohibitions:
https://www.w3.org/community/odrl/model/2.1/#section-53

So for consequence - you still **must** do D1 ?

And is remedy then the same as "do at least one of D1 or D2" ?

[2017-07-07 04:35] riannella commented on #206
This is what the updated Model would look like...
<img width="867" alt="screen shot 2017-07-07 at 14 32 05" src="https://user-images.githubusercontent.com/13191615/27943287-25cbb6c2-6321-11e7-965b-234298e591b6.png">

The (abstract) operand property would be sub-typed into or, and, xor, andSequence (etc)
(technically, leftOperand and rightOperand would also be subtypes of operand ??)

[2017-07-07 04:37] riannella commented on #199
See outcome of #206 issue

[2017-07-07 04:47] riannella commented on #123
(whoops) Added to vocab now

[2017-07-07 05:22] riannella commented on #192
Here is the latest proposal:

Play: To play a multimedia Asset
Display: To visualise a multimedia Asset
Present: To publicly perform the Asset

comments?

[2017-07-07 05:45] riannella commented on #162
I have update the Duty section to make it standalone, and added a new subsection that talks about Duties with Permissions.

See: https://w3c.github.io/poe/model/#duty

NOTE: I have not changed any other part of the spec (yet).
I wanted to first see that this change is ok?

commit: 01624e81cbd41e7162368437055a1e67c4e7a8ac

[2017-07-07 05:52] riannella commented on #191
Inspired by: https://www.w3.org/community/odrl/model/2.1/#section-53

**If** we supported Duties for Prohibitions, then you could say "you are prohibited from driving in the congested area". If you do, then you have a Duty to pay x$.

[2017-07-07 06:11] simonstey commented on #209
ah yes, but also duties:

--------------

we would allow duties to refer to other duties, and would only state that those other duties become effective (for the enclosing rule/policy) as consequence for not fulfilling the duty that links to them.

Since duties are in effect as long as they haven't been fulfilled, _D1_ is still in effect.

1. do _D1_
2. if you fail to do _D1_, you have to do _D2_ i

[2017-07-07 09:02] nitmws commented on #202
re 2: yes, IPTC has on its agenda to review the Common Vocab terms for adoption by RightsML. But I think the union of the two sets "core ODRL-defined properties" and "properties defined by the profile applied to this Policy" has less elements than the union of the three sets "core ODRL-defined properties", "properties defined by the profile applied to this Policy" and "ODRL Common Vocabulary-defin

[2017-07-07 09:37] nitmws opened #210 "Role of the ODRL Common Vocabulary and of Profiles"
This issue started in the discussion of #202:
Properties taking the role of a short-cut may be added to a Policy. And [Compact Policy](https://w3c.github.io/poe/model/#composition-compact) of the IM tells, that Rules have to check the policy level for properties which should replicated to the Rule.

This raises the question: how can a receiver of a Policy know what property found at the policy-lev

[2017-07-07 16:02] nitmws commented on #206
To sort out things:
* a rdf:list is an [RDF Collection](https://www.w3.org/TR/rdf-schema/#ch_collectionvocab): a closed set of items, like an enumaration as used by programming languages. An rdf:list has no order of its members.
* the operator andSequence needs a definition of the operand which must be processed first and only after it is satisfied the second operand may be processed.
* a sequence

[2017-07-08 08:42] vroddon commented on #192
Absolutely unimportant, but I don't quite catch the difference between "play" and "display".

[2017-07-10 03:56] riannella commented on #210
I assume from this you are saying that the ODRL Common Vocab terms cannot be used "as is" unless they are part of a (formal) ODRL Profile ??

[2017-07-10 04:00] riannella commented on #206
Yes, agree, scratch the idea of rdf:Seq ;-)

Also, I think that @simonstey wants to use odrl:and as the property:

[code]

[2017-07-10 04:26] riannella commented on #192
@vroddon did you mean "unimportant" ?

How about these:

Play: To create a sequential and transient rendition of an Asset.
Display: To create a static and transient rendition of an Asset
Print: To create a tangible and permanent rendition of an Asset

and Display will be "includedIn" Play ?

[2017-07-10 04:32] riannella commented on #206
Can a Party/Asset Collection have a "Logical Constraint" ?

[2017-07-10 04:42] riannella commented on #206
The updated model for Constraints is probably less inheritance and more whole/part.
So this could be more aligned:
<img width="830" alt="screen shot 2017-07-10 at 14 39 54" src="https://user-images.githubusercontent.com/13191615/28003068-e24065e2-657d-11e7-9197-c4fd093e0248.png">

[2017-07-10 06:51] vroddon commented on #192
Wow! very technical. Still, I don't catch the meaning. As a newcomer, if I wanted to express the act of viewing a picture in my smartphone... ...would it be a play or a display?
Intuitively I would say "display" has to do with still image assets (photos), whereas "play" has more to do with audiovisual (audio, video).
Yes, I said "unimportant" as I don't want to divert efforts from other discussion

[2017-07-10 07:06] nitmws commented on #206
May I infer from the diagram above that there are two Constraint classes: Constraint and Logical Constraint?

... and what happens to odrl:andSequence? I suggest:
* to set its Range to Constraint
* to define it as: "Both the leftOperand and the rightOperand must refer to a Constraint. The relation is satisfied when the left operand Constraint delivers a satisfied result before the right operand Co

[2017-07-10 07:13] nitmws commented on #210
@riannella right, the definition of all concepts in the Common Vocab should be formally ok but they may not be used unless a) a concept is adopted by a profile and b) this profile is applied to a Policy. (You may consider it like a car tuning parts store: ready to be used, but not in use - must be integrated properly.)

[2017-07-10 10:30] simonstey commented on #206
yes, [like in SHACL](https://www.w3.org/TR/shacl/#AndConstraintComponent)

didn't we agree to have it as one of the operators of "normal" constraints?

the range of what?

[2017-07-10 12:05] riannella commented on #192
Yes, we will add an example in the skos:note

[2017-07-10 12:18] nitmws commented on #206
@simonstey I've been talking about odrl:andSequence above: **it's** Range should be Constraint.

If we create two constraint classed also the Domains of all operators in the Core and the Common Vocabulary must be set according to our split up above - currently the Domain is not shown in the HTML page of the Vocabulary but in exists in the Turtle.

[2017-07-10 12:27] simonstey commented on #206
if `odrl:andSequence` is used as value of `odrl:operator` as in:

[code]
it has neither a `rdfs:range` nor `rdfs:domain`

we could state, however, that if the operator is `odrl:andSequence`, values of both `odrl:leftOperand` and `odrl:rightOperand` must be constraints.

[2017-07-10 12:46] vroddon commented on #206
If it helps, I would just say that in MPEG-21 Media Contract Ontology, we opted for a very similar approach. Instead of contraints, I suggested speaking in terms of "facts" Consequently, we defined:
:FactIntersection, :FactNegation, :FactUnion. The concept of "atomic constraints" and "compound constraint" was purely implicit.

Union and Intersection had two operands, negation only one.
See informa

[2017-07-11 04:40] riannella commented on #162
WG agreed to the above approach: https://www.w3.org/2017/07/10-poe-minutes

[2017-07-11 04:41] riannella commented on #206
WG agreed to the above updated model for constraints: https://www.w3.org/2017/07/10-poe-minutes

[2017-07-11 04:44] riannella commented on #210
This means then that:
1) Profiles need to be normative (currently non-normative)
and all ODRL  implementations will need to understand the turtle profile (schema)?

[2017-07-11 05:20] simonstey commented on #162
\<nit-picking>not raising any objections against the proposal (yet) != formally agreeing to it\</nit-picking> ;)

[2017-07-11 07:38] nitmws commented on #210
A. Re @riannella  above: yes and no ;-)
1. My understanding: "normative" means a definition by the ODRL Recommendation and ODRL-compliant processors must be able to process that. (Validator, Evaluator, Test Cases)
2. Currently there is only one **normative** statement about a Profile of a Policy. It is the definition of the profile property of the [Policy Class](https://w3c.github.io/poe/model/#po

[2017-07-12 01:45] riannella commented on #210
A):
- In section 4.3: https://w3c.github.io/poe/model/#profile-requirements
We state that you **must understand** a Profile (if you use one)
- Do we add something along the lines of "... in the same way as it is defined in the normative part of the IM." ?

B):
- We need to say: the IM is the Core Vocab.
- When we refer to Common Vocab/ Profiles - it is always in respect to **additional** terms.

[2017-07-12 07:07] nitmws commented on #210
re A)
* Section 4.3 is non-normative, therefore even a must is not really relevant.
* That's why I have suggested to make a part of the Profile section 4 normative. Only in this case a must would be relevant.
* And: what does "understanding a Profile" mean?
  * In the Policy Class section an "ODRL processor" must understand, in section 4 "an ODRL consuming system" must understand - the ODRL newbie

[2017-07-13 05:10] riannella commented on #210
A) I think we then need a WG decision on this. That is, all ODRL Policies must use a Profile (unless it is just Core).

B) ok

[2017-07-13 05:57] simonstey commented on #210
@nitmws:

while "_being able interpret all classes, properties and entities as defined by ..._" is slightly less ambiguous than "_must understand the Profile_", there's still no clear-cut definition of what "being able to interpret" actually means..

It's about **conformance**, as actually already stated in [Section 4.3:](https://w3c.github.io/poe/model/#profile-requirements)

however, for the rem

[2017-07-13 08:10] nitmws commented on #210
re  @riannella  A) I strongly support such a decision. Because currently there are three options for the things in a Policy: a) only things defined by the IM = Core Vocabulary, b) things defined by the IM/Core Vocabulary and by an associated Profile, c) things defined by the IM/Core Vocabulary and not defined by the IM, coming from somewhere else.
Option c) would be awful for receivers.

re @simon

[2017-07-13 08:13] nitmws commented on #210
Note: I've added "and of Profiles" to the issue title as the discussion has also a focus on Profiles now.

[2017-07-13 08:41] nitmws commented on #210
Considering "what makes a processor conforming to a Profile" I had a wider look at the section 4 [ODRL Profiles](https://w3c.github.io/poe/model/#profile)
* a simple issue in ODRL Purpose Profile: to the list of things which can be extended by Profile the instances of Action should be added, I guess they will have a key role in Profiles.
* What is a Profile allowed to define:
  * 4.1 tells: "... A

[2017-07-13 19:58] fornaran commented on #191
It seems to me that is counterintuitive modelling
          an obligation to perform an action when an activation condition is satistfied (entered in the congested are then obliged to pay)

by using
        a prohibition to perform an action (entering in the congested area) and a duty that must be satisfied when the prohibition is violated (pay).

Moreover if the fulfillment or violation of obliga

[2017-07-14 02:30] riannella commented on #191
@fornaran
I assume there is no change you are now proposing for the IM or Vocab?
Can this issue be closed now?

[2017-07-14 02:50] riannella commented on #210
Excluding from the IM would be harder. You would then need to have stuff like:
 `  odrl:AssetCollection owl:deprecated true .`

So the IM/Core Vocab needs to be supported minimally by all ODRL Processors.

[2017-07-14 02:57] riannella commented on #210
If we make Profiles mandatory, then the wording will have to be stronger than: "... then it **_may_** continue processing the Policy expression..."
If the ODRL Processor does not understand a profile ID, then it MUST stop processing.
(otherwise, why is a Profile mandatory?)

This means an ODRL Processor must understand the [Profile Mechanism](https://w3c.github.io/poe/model/#profile-requirements)

[2017-07-14 06:37] simonstey commented on #191
@riannella

well, she agreed to [your proposal:](https://github.com/w3c/poe/issues/191#issuecomment-313291889)

and I actually like the idea of having "Obligation" as new type of rule, i.e. differentiating between policy/permission-level duties, as it would help addressing a lot of issues/inconsistencies of the current IM, such as:
1. Constraints on permissions/prohibitions behave differently than

[2017-07-14 06:52] nitmws commented on #210
re IM/Core Vocab and ODRL Processors and Profiles:
Is it agreed by the WG that a Profile claims that a feature of the IM "does not have an active role in this Profile" - e.g. Offer and Duty should not be used by Policies of Profile XYZ?
Even in this case any ODRL Processor **must** be able to process any IM/Core Vocab term properly. By that I mean if in a Profile XYZ Policy a Duty is used the Proc

[2017-07-14 06:52] riannella commented on #197
@nitmws What do you want to do/propose with this issue?

[2017-07-14 06:53] #187 closed, assigned to iherman, sereAbi, nitmws, vroddon, philarcher, riannella

[2017-07-14 06:53] #188 closed, assigned to nevali, nitmws, vroddon, riannella

[2017-07-14 06:53] #194 closed, assigned to riannella

[2017-07-14 06:53] #190 closed, assigned to sereAbi, nitmws, vroddon, simonstey, riannella

[2017-07-14 07:03] riannella commented on #191
Actually, what I meant was that such an extension is possible - so @fornaran's Profile could do that - not that we (the WG) would add it.

[2017-07-14 07:04] riannella commented on #191
What is the difference between an Obligation and a Duty ?
(Given that a Duty is "The obligation to perform an Action")

[2017-07-14 08:31] fornaran commented on #191
I agree with @simonstey that adding **Obligation** as subclass of Rule would be a perfect solution.  I am also working on a paper with a proposal that goes in this direction I hope it can be formalized as an ODRL Profile.

From my point of view a duty connected to a permission is actually a precondition, it is not an obligation. An agent  can decide to satify a "duty" if she wants to get a valid p

[2017-07-17 01:57] riannella commented on #191
(we can't close the issue until we resolve and address it ;-)

I think then that the issue is not the class Duty, but the property "has duty".

A Duty, as defined as "The obligation to perform an Action" is fine as is.

The "Has duty" property is defined as "The duty relating to the Permission", but really should be more specific (as we have used it in the past) as "A Duty that is a precondition f

[2017-07-17 03:08] riannella commented on #206
Updated the IM with the constraint/logical model

Commit: bee8032c894d8bbb424d992961e70a081b825ebe

(note: the vocab is next...)

[2017-07-17 04:20] riannella commented on #158
I have merged the CC terms into the common action list of terms.
And added a note to state these are from CC.
Commit: fbab1439cb51b130188ea5f43ac35f858f1df0a5

[2017-07-17 07:30] riannella commented on #206
Updated the Vocab (and encodings)

commit: effcc0191addd5e1459a0a2e41850da2b1e76a32

[2017-07-17 07:31] riannella commented on #199
Created relational and logical sets (and added to Core vocab)

commit: effcc0191addd5e1459a0a2e41850da2b1e76a32

[2017-07-17 15:09] larsgsvensson commented on #173
owl:Thing is always an option, but I saw skos:Concept, too... Until when can we propose changes to the two documents referenced in the commit? The DXWG will be working on a definition and it would be good to know if we _might_ be able to have that finished on time for this WG.

[2017-07-18 00:13] riannella commented on #173
We are working now to reach CR - _hopefully_ in August.

But if the core URI is non-normative (won't be tested), small changes can be made after that.

[2017-07-18 02:08] riannella commented on #210
Note: if agreed, then also need to support multiple profiles for a policy

[2017-07-18 04:18] riannella commented on #162
Updated the IM/Vocab to now support the obligation property for policy-level Duties.

commit: 36d1a6a91e33112737853239de78076764dac01c

[2017-07-18 04:18] riannella commented on #191
Updated the IM/Vocab to now support the obligation property for policy-level Duties.

commit: 36d1a6a91e33112737853239de78076764dac01c

[2017-07-18 09:32] larsgsvensson commented on #173
OK, we definitely won't have a solution in August, so it's probably best to leave it as it is

[2017-07-19 01:10] riannella commented on #203
Updated the narrative to include _members/subset_.
Updated the example for Asset Constraint.

commit: b6e99c415b86f65d49f7b5f7a4bf1bfb5405873e

[2017-07-19 01:25] riannella commented on #192
Updated the terms.
Commit: 33df1fe93fb170514606de61787f45d3e636e353

[2017-07-19 09:41] simonstey opened #211 "ambiguous semantics of duty constraints"
reopening as https://github.com/w3c/poe/issues/112#issuecomment-290617968 and issues outlined in #191 are still not addressed..

## Issue

http://w3c.github.io/poe/model/#rule:

http://w3c.github.io/poe/model/#constraint:

http://w3c.github.io/poe/model/#constraint-class:

[effective (ɪˈfɛk tɪv) adj.](http://www.thefreedictionary.com/effective)

### Interpretation
[code]
### Problematic Examples
[

[2017-07-19 09:42] simonstey commented on #112
reopen due to #211

[2017-07-19 10:36] simonstey commented on #209
proposal: https://www.w3.org/2016/poe/wiki/Duty_Relations

[2017-07-21 00:38] riannella opened #212 "I18N Review: does Policy Metadata need Unicode normalization"
From: @bert-github
Source: https://lists.w3.org/Archives/Public/public-poe-comments/2017Jul/0000.html

Hello POE WG,

The I18N WG reviewed your drafts odrl-model and odrl-vocab (thanks for
the self-review!) and found no i18n issues, except for this question:

In the section Policy Metadata[1], there are strings that may be added
to a Policy, in particular Dublin Core metadata. These strings are in

[2017-07-21 00:40] riannella opened #213 "Does the JSON-LD serialization distinguish human-readable and machine-readable strings for DC terms?"
From: @bert-github
Source: https://lists.w3.org/Archives/Public/public-poe-comments/2017Jul/0001.html

Hello POE WG,

[This is a personal comment, not related to the i18n review of my other
e-mail.]

The JSON-LD encoding allows Dublin Core annotations. There is an example
of such an annotation in the section "Policy metadata"[1] in the "ODRL
Information Model". However, the Dublin Core terms "crea

[2017-07-21 00:41] riannella opened #214 "Can policy metadata be serialized in the XML encoding"
From: @bert-github
Source: https://lists.w3.org/Archives/Public/public-poe-comments/2017Jul/0002.html

Hello POE WG,

[This is a personal comment, not related to the i18n review of my other
e-mail.]

ODRL allows a serialization as XML[1]. This XML encoding allows adding
extraneous elements in different XML Namespaces. Presumably annotations
such as the Dublin Core terms from the policy metadata ca

[2017-07-21 00:44] #193 closed, assigned to sereAbi, nitmws, simonstey, riannella

[2017-07-21 00:44] #196 closed, assigned to nitmws, simonstey

[2017-07-21 00:44] #74 closed, assigned to nevali, iherman, nitmws, stuartmyles, vroddon, philarcher, riannella

[2017-07-21 00:44] #195 closed, assigned to nitmws

[2017-07-21 00:44] #200 closed, assigned to sereAbi, nitmws, riannella

[2017-07-21 04:25] riannella commented on #209
Some thoughts...

So what then does it mean for a Permission to be "in effect", if we now allow a Permission to be exercised without the fulfilment of the Duty.

Does this mean I can also now exercise a Permission (ignore the duty) even when there is no consequence Duty defined.

Perhaps we need to explicitly state that you can only exercise a Permission and not fulfill the Duty if there is a cons

[2017-07-21 05:43] riannella commented on #211
Firstly, we clearly need to update the Rule to say:

Note: we should add these **key** terms to the Terminology list as well:
- effective
- fulfilled
- satisfied

[2017-07-21 05:48] riannella commented on #211
In the first Problematic Example it says:

I am not clear why _"...hence no one has to pay anything"_ was added?

person44 has to pay EU500, if not, the Constraint is evaluated to false, hence the Rule is not in effect - hence person44 has not meet his/her obligation.

[2017-07-21 06:03] riannella commented on #211
I think the semantics for the second example is better matched if you use andSequence because the "should=>" is saying that the time constraint is first, followed by the payAmount constraint.

[code]

[2017-07-21 06:19] riannella commented on #211
Perhaps the proposal should be:

[2017-07-24 08:56] nitmws commented on #210
Reminder of my main reason form suggesting strict rules regarding the use of Profile(s): it supports the receivers of a Policy to know what terms may be used by it. All used terms must be defined either by the ODRL IM (Core Vocabulary) or by the Profile(s), anything else is not relevant for the evaluation of the Policy. This rule allows the receiver to build an ODRL processor based on definitions/

[2017-07-25 00:30] riannella commented on #206
Hmmm...turtle (and JSON-LD) shortcuts for collections:
  https://www.w3.org/TR/turtle/#collections
  https://www.w3.org/TR/json-ld/#sets-and-lists
are ordered sequences?

Hence, we could use these for the andSequence logical operand as well?

[2017-07-25 03:51] riannella commented on #210
My concern is that we increase the barrier for implementors (producers and consumers) as there will now be additional processing. It makes sense for those that want "reliability" to do that, but I don't think this will be consistent across **all** ODRL implementations.

I can image large communities/companies **only** supporting profiles, but that does not mean all ODRL implementors must do that.

[2017-07-30 16:37] nitmws commented on #210
I agree that the Web Architecture Extensibility provides a good outline for "how to extend a specification".
But in this sense I can't get the value of "interpret the vocab term 'as is'" - what "is" in this case?
How should a party interpret this received Policy (see Example 12 of the IM):
[code]
... what "is" the action ziplahuck? It may be a valid identifier but an identifier does not share any

[2017-07-31 03:58] riannella commented on #210
I think this is an implementation issue.

ODRL says that "ziplahuck" is an Action.

An implementation may:
1 - raise an error
2 - it may simply inform the user "you can ziplahick music:1012"
3 - if may dereference ziplahick and find is is owl:sameAs odrl:play

NOTE: We removed the "undefined" property strategy from ODRL https://github.com/w3c/poe/issues/139

[2017-07-31 09:10] aisaac commented on #184
Hi everyone,

Every time I look at this issue I can't prevent from thinking about semantics, and that I need a lot of time to think about them here...

So I still agree with not having [ odrl:hasPolicy owl:inverseOf odrl:target ]
But I'm still puzzled about the absence of any formal semantics, especially when I read "Identifies an ODRL Policy for which the identified Asset is the target Asset to a

[2017-07-31 09:14] aisaac commented on #184
And another, small comment:
If in the future the example from @vroddon at
https://www.w3.org/2016/poe/wiki/Best_Practices#3._How_to_grant_Alice_the_permission_to_use_an_asset_.28III.29
is still going to be used (which I hope it will!), it would be useful to add a note like indicating that dct:license is a sub-property of odrl:hasPolicy, and therefore the statements in the example imply the stateme

[2017-07-31 09:27] aisaac commented on #164
This looks fine!

I just have one doubt: I had not realized that this pattern was for constraints that applies to groups (collections) of resources. I thought it could be a bid wider, as in the Web Annotation pattern for SpecialResource.
If source applies to collection, then its meaning may be compared to a part-of relationship, like dc:isPartOf. I mean, the new resource (sub-collection) is a part

[2017-07-31 12:57] vroddon commented on #209
I agree with the model in https://www.w3.org/2016/poe/wiki/Duty_Relations

First objection. The choice of "`odrl:consequence`" may be confusing for a reader facing these triples:

[code]
It seems as if doing :duty2 leads to :dc2, whereas the actual meaning is "using :policy1 without having done :duty2 has :dc2 has a consequence". Perhaps a better term is needed.

Second objection: the consequence

[2017-08-01 00:34] #197 closed, assigned to nitmws

[2017-08-01 00:34] #198 closed, assigned to sereAbi, nitmws, vroddon, simonstey

[2017-08-01 00:34] #202 closed, assigned to sereAbi, nitmws, riannella

[2017-08-01 00:34] #204 closed, assigned to sereAbi, nitmws, vroddon, riannella

[2017-08-01 00:34] #208 closed, assigned to sereAbi, riannella

[2017-08-01 00:49] riannella commented on #184
Thanks @aisaac  - closing this issue
(Best Practices NOTE is still be worked on ;-)

[2017-08-01 00:49] #184 closed, assigned to sereAbi, riannella

[2017-08-01 00:51] riannella commented on #164
Thanks @aisaac - closing this issue

[2017-08-01 00:51] #164 closed, assigned to nevali, vroddon, riannella

[2017-08-01 00:53] riannella commented on #165
Thanks @aisaac - closing this issue

[2017-08-01 00:53] #165 closed, assigned to riannella

[2017-08-01 01:02] riannella commented on #86
Closing this, as the WG needs to create the Test Cases (so, no longer an issue)

[2017-08-01 01:02] #86 closed, assigned to sereAbi, philarcher, riannella

[2017-08-01 01:05] riannella commented on #112
@simonstey Why is still unresolved here? That is not in #211 ?

[2017-08-01 05:17] riannella commented on #209
I have added the consequence and remedy properties to the Information Model (see 2.5.3 Duty section and the three subsections) and also added to the Vocab (and JSON-LD/XML).

(see above link to commit for diffs)

Please comment to make sure we have captured the essence of the proposal.

[2017-08-01 05:31] riannella commented on #212
Thanks for the feedback @bert-github

We discussed this at the WG teleconference yesterday [1] and we agreed that the dublin core metadata properties used in an ODRL Policy are not designed to be used for comparisons.

We will add a note to that effect in that section to be clear.

[1] https://www.w3.org/2017/07/31-poe-minutes#item04

[2017-08-01 05:31] #212 closed, assigned to sereAbi, riannella

[2017-08-01 05:49] riannella commented on #213
Thanks @bert-github - now fixed.

[2017-08-01 05:49] #213 closed, assigned to sereAbi, riannella

[2017-08-02 01:38] riannella commented on #214
Thanks @bert-github

I have updated the XML section and example to show the use of DC elements

[2017-08-02 01:38] #214 closed, assigned to sereAbi, riannella

[2017-08-02 02:18] riannella commented on #211
I have updated the IM to reflect the difference in how a Duty behaves (ads a Rule) when it is subordinate to a Perm or Prohib (as opposed to be used as an obligation)

[2017-08-02 04:04] riannella commented on #206
Updated the Logical Constraints to support an ordered list for operands (such as andSequence)

[2017-08-03 03:58] riannella commented on #210
Updated the IM and Vocab to make ODRL profiles mandatory.
See commit link above.

[2017-08-07 12:42] vroddon commented on #209
I still do not understand fact that a "consequence" is a "duty".

Does anybody else agree?

[2017-08-07 12:45] #158 closed, assigned to sereAbi, vroddon, riannella

[2017-08-07 12:45] #160 closed, assigned to sereAbi, vroddon, riannella

[2017-08-07 12:46] #162 closed, assigned to sereAbi, riannella

[2017-08-07 13:14] #173 closed, assigned to sereAbi, nitmws, stuartmyles, riannella

[2017-08-07 13:14] #191 closed, assigned to sereAbi, simonstey, riannella

[2017-08-07 13:14] #192 closed, assigned to sereAbi, nitmws, vroddon, riannella

[2017-08-07 13:14] #199 closed, assigned to sereAbi, riannella

[2017-08-07 13:14] #203 closed, assigned to sereAbi, riannella

[2017-08-07 13:33] riannella commented on #209
A consequence is a **relationship** between a Duty and Permission's Duty.
If means if the latter is not fulfilled, and the permission is exercised, then you must do the former.

[2017-08-07 14:02] nitmws opened #215 "Reviews of ODRL IM - Editor's Draft 3 August 2017"
Issue (= place for) for posting review comments about this ODRL IM document

[2017-08-07 14:28] nitmws commented on #215
**Re Profile**

* re 2.1 Policy Class
  * Now 1: A Policy MAY have none or one profile property  ...
Should be 1: A Policy MAY have **none, one or many** profile properties ...
  * Now 2: Use an ODRL Profile that declares the supported vocabulary expressed in the Policy.
Should be 2: Use an ODRL Profile that declares the supported vocabulary **used by expressions** in the Policy. (Comment: a Polic

[2017-08-07 15:11] vroddon commented on #209
Well, this is what I think that can be generalized:
a) you must do the former
... or ....
b) I am entitled to do something else on you (e.g., ban you from you organization)

[2017-08-07 16:04] nitmws commented on #215
**Re Constraints**

* re 2.6 Constraints
  * Now 1: Constraints are boolean/logical expressions that refines ...
Should be 1: Constraints are boolean/logical expressions that **refine** ...
  * Now 2: The evaluation of a Constraint is treated as a black box from an external system ...
Could be 2: The evaluation of a Constraint is treated as a black box **outside the ODRL Processor** ...
(Comment:

[2017-08-07 16:37] nitmws commented on #215
Re 2.7 Policy Rule Composition
* Now 1: A Policy MAY also be related to Assets, Parties, and Actions at the Policy level, and these relationships apply to all of the enclosing Rules in the Policy.
Semantic issue 1a: the first part of the sentence sounds like the policy-level properties used for the Compact Policy - but then comes "enclosing Rules": what Rules are meant by that? E.g. all the relate

[2017-08-07 16:43] nitmws opened #216 "Reviews of ODRL Vocabulary ... - Editor's Draft 3 August 2017"
Issue (= place for) for posting review comments about this ODRL Vocabulary and Expressions document

[2017-08-07 17:20] nitmws commented on #216
Re Common Vocabulary - https://w3c.github.io/poe/vocab/#vocab-common

This section 4 reflects now that it holds terms which may be used by ODRL profiles.
In other words: these are terms which have been (well) defined by ODRL 2.1 and can still be used - the only required step is to adopt such a term for a profile.
But why are Creative Commons terms part of this Common Vocabulary? These terms are al

[2017-08-08 01:44] vroddon commented on #209
I have made a simple proposal, but with a clear rationale, here:

https://www.w3.org/2016/poe/wiki/Duty_Relations

(I did not change previous text, but added a "second version"). For a fast glimpse, see the figure below.

<img width="294" alt="version2small" src="https://user-images.githubusercontent.com/5434597/29052676-9469a52a-7bb9-11e7-9d11-ea09d41c4206.png">

[2017-08-08 05:15] riannella commented on #209
@vroddon

P1/P3:  where it says "But if you navigate more than 1Gb" - how is that expressed in ODRL?
A constraint?

P2: I can express that now as:

[code]

I think the reason that consequence/remedy refer back to a Duty is because it means you **must** then do something, as opposed to _may_ or _may not_ do something.

What use cases state that if you **fail** something, then you are **permitted**

[2017-08-08 06:23] riannella commented on #215
RE: Profile

2.1:

1) The idea is that we have one profile property that includes the URIs of one or more Profiles.
So, we don't have 10 profile properties, but one profile property that includes 10 URIs?

2) ok, fixed

4:

1) ok, fixed

2) ok, fixed

3) ok, fixed

4) We only use skos:collection for the generation of the vocab document. We don't add any semantics to ODRL by using skos:collection.

[2017-08-08 06:52] riannella commented on #215
RE: Constraints

2.6 Constraints:

1) ok, fixed
2) ok, fixed
3) ok, fixed
4) ok, fixed with "..or multiple members.."

2.6.1: Constraint Class:

1)  ok, fixed
2) ok, fixed
3) ok, fixed
4) ok, fixed

2.6.2. Logical Constraint Class:

1) ok, fixed
2) ok, fixed
3) ok, fixed
4) ok, fixed
5) ok, fixed
6) ok, moved to narrative text

[2017-08-08 08:11] fornaran commented on #209
As discussed is this paper at page 6:
http://drops.dagstuhl.de/opus/volltexte/2007/909/pdf/07122.FornaraNicoletta.Paper.909.pdf
when there is a violation (an obligation is not fulfilled or an action that is not permitted is performed) the sanctions may be related to:
- the actions that the misbehaving agent itself has to perform against a violation,
- the actions that certain agents (different fro

[2017-08-08 09:11] nitmws commented on #215
@riannella thanks for all the changes.

**re cardinality of property values**
See 2.1 Profile - a single profile property may hold one to many profile ids:
Checking this feature for other properties I agree that currently by the specification also e.g. the action property of the Rule Class must occur one time (and not more) but may hold multiple actions ids.
BUT:
* may the uid property of Policy C

[2017-08-08 11:40] vroddon commented on #209
I see two advantages of the second version:
(a) the cases covered by the second are a superset of those from the first (P2 can be still expressed) and...
(b) it uses a single property instead of two, avoiding as well potentially conflictive terms like "remedy"

[2017-08-08 11:50] vroddon commented on #209
I forgot say that I agree with @fornaran and to thank her for the reference.
And I see now two interesting points in @riannella 's comment:

**1) Domain of failure**
I had only foreseen that a failure is activated:
* When a duty is not satisfied (and yet the permission's action acted)
* When a prohibition is violated

I had have totally missed:

* When a permission is exercised but the constraints

[2017-08-08 12:10] vroddon commented on #209
Please see the ammended proposal here:

https://www.w3.org/2016/poe/wiki/Duty_Relations#Duty_Relations_.28Third_version.29

[2017-08-09 01:04] riannella commented on #215
Re 2.7 Policy Rule Composition:

Now 1:  Semantic issue 1a/1b: - removed that sentence (left over from before it was made into two sections)
Now 2: fixed
Now 3: fixed

Re 2.7.1 Compact Policy

Now 1: If you leave them there - then that creates duplicates, and may mean that your repeat the same process over again, And it does not help when you create atomic policies.
They are just "removed" by an O

[2017-08-09 01:11] riannella commented on #215
re cardinality of property values

We do use "one or may have many" everywhere - we addressed this in #200

I don't think there is any part of the IM that is dependent on syntax.. if there are any, then please point them out ;-)

[2017-08-09 01:36] riannella commented on #216
RE: But why are Creative Commons terms part of this Common Vocabulary

See #158 for full details.
- Since we deprecated terms in ODRL and recommended CC terms instead (so CC does appear in the spec anyway at http://w3c.github.io/poe/vocab/#deprecate)
- It may help build closer bridges to this community (a lot of users...)
(note: we are not defining them, just listing them as re-usable actions)

RE

[2017-08-09 01:38] #114 closed, assigned to philarcher, riannella

[2017-08-09 01:38] #91 closed, assigned to philarcher

[2017-08-09 08:38] nitmws commented on #215
re 2.7.1 Compact Policy - Now2: transforming into atomic rules for **checking the** conformance sounds reasonable. But I don't understand the reason behind "... exchanged for interoperability ..." - is it ok to remove it?

[2017-08-09 10:41] nitmws commented on #215
re cardinality of property values: ok, I checked the definition of the cardinality of properties for all the classes.
To clarify what the cardinality expresses in RDF terms: how many times a predicate plus object using the same subject may occur - see this in Turtle:
[code]
Wording note: some definitions use for a cardinality including "..unbounded" the words "have none, one, or more" others " hav

[2017-08-09 10:51] simonstey commented on #209
in which case we would assume that everything that's not explicitly permitted is prohibited by default. do we want that?

[2017-08-09 10:57] nitmws commented on #216
Re Core Vocabulary and Common Vocabulary:
Differentiating them could quite easily be done by the HTML rendition at http://w3c.github.io/poe/vocab
But doing that in the Ontology (Turtle serialisation) is harder:
* in HTML the full section 4 is earmarked as "non-normative"
* in the TTL only the Common Vocabulary terms show this earmark, but not the Collections, e.g. <http://www.w3.org/ns/odrl/2/#con

[2017-08-09 11:03] nitmws commented on #216
Re Section 5 Vocabulary Expression
Looking at the TOC in the left sidebar shows as items
* "5. Vocabulary Expression"
* "5.1 XML Encoding"

The reader unfamiliar with ODRL details will assume: it can only be XML-serialized.

I suggest
* to add right below the 5. header a "5.1 Ontology and JSON-LD" header
* to change the now 5.2 header to "XML Serialization" - as we talk about "alternative seraliza

[2017-08-09 11:17] simonstey commented on #186
a owl:Class ;
owl:unionOf ( :Rule :Asset :Party ) ;
] ;

fwiw, that's because ->
https://github.com/w3c/poe/blob/36d1a6a91e33112737853239de78076764dac01c/vocab/template.phtml#L297

`^rdfs:range` stops at the blank node

[2017-08-09 12:15] simonstey commented on #186
if I'm not mistaken, the correct path in case of a unionOf should be something along the lines of: `^rdf:first/(^rdf:rest)*/^owl:unionOf/^rdf:range`

(untested though)

or even `(^rdf:first/(^rdf:rest)*/^owl:unionOf)?/^rdf:range`

[2017-08-09 12:16] simonstey commented on #186
rdfs:range of course

[2017-08-09 15:16] vroddon commented on #209
Well, it is not the case.
"You can drink if you are above 18" implicitly entails that you cannot if you are under 18.

[2017-08-09 15:33] simonstey commented on #209
"You can drink if you are above 18" implicitly entails that you cannot if you are under 18.

no.. that's OWA vs CWA.

you only know that if you are over 18 you are allowed to drink and unless there's a general prohibition to drink you simply don't know whether someone under 18 is permitted or prohibited to drink.

absence of permission != prohibition (and vice versa)

[2017-08-09 15:39] vroddon commented on #209
Yes, I know. It is a key issue.
But in both cases this is the behaviour that can be expected once a permission with constraints is given.

[2017-08-09 15:46] simonstey commented on #209
probably, yes.. but not enforced. it depends on the implementation.

btw. this would also affect odrl:implies

[2017-08-09 15:50] vroddon commented on #209
Please note that this is what is said in the current wording of section 3.8 in the Information Model (boldface is mine):

I don't see the change about "implies". Example?

[2017-08-10 01:05] riannella commented on #215
We use the the RFC terms (MAY, MUST) in these expressions.

So, it is "MUST have one and MAY have many..." which means that the property must appear at least once.

I assume we must keep using the RFC terms as a W3C spec.

[2017-08-10 01:08] riannella commented on #215
But there is only one profile **property** (with many values)?

[2017-08-10 01:39] riannella commented on #215
I added a general note to all the section about this

[2017-08-10 01:59] riannella commented on #215
Was not sure what I was supposed to do with this?

[2017-08-10 02:01] riannella commented on #215
Thanks for your detailed feedback @nitmws !

I have made all the changes (with notes above)

[2017-08-10 02:25] riannella commented on #216
Changes made

[2017-08-10 02:36] riannella commented on #209
@simonstey @sabrina the proposal from @vroddon is to replace both consequence/remedy properties with a single "failure" property (from Rule to Rule).

What do you think of  this proposal?

Will it still meet your use cases (for regulations)?

[2017-08-10 03:20] riannella commented on #186
nice find @simonstey !

But it did not work...

We need to find the right sparql query...?

[2017-08-10 03:39] simonstey commented on #186
how did you run the script? I might find some time to fiddle around with that today

[2017-08-10 04:14] riannella commented on #186
To generate index.html, you will need to install:
  http://librdf.org/raptor/rapper.html

Then you can edit template.phtml (and ODRL22.ttl etc) and "make"

Sometimes I need to "make" 3 times for it to work!

[2017-08-10 07:49] nitmws commented on #215
re @riannella 's changes in the IM document of 10 August 2017 - thank's for all what has been done:

**cardinality wording**
I personally see no real difference between "MUST have one and MAY have more" and "MUST have one or more".
BUT let's use a common wording: all the Policy sub-classes define now "MUST have one or more permission ..." while the Policy Class still defines "MUST have one and MAY

[2017-08-11 02:33] riannella commented on #215
Updated with above changes.
Revamped the examples in Compositions section

[2017-08-11 03:01] riannella commented on #186
I managed to do a dump of what EasyRDF stores.
Here is an example:

[code]

[2017-08-11 06:43] simonstey commented on #186
I think I've fixed it.. updated [template.phtml](https://github.com/w3c/poe/commit/772f384a2af5d13530b1d1226fca40c05e508b16) and [classes.php](https://github.com/w3c/poe/commit/be448260f64f9536e74e413cd4a2a5e53868b5a1)

[2017-08-11 07:13] nitmws commented on #215
@riannella all changes look good 👍

[2017-08-11 08:57] nitmws commented on #215
re **Action Class / implies sub-section**

Now: "The implies property can be used for Action instances which have no includedIn relationship."

This can be concluded from this sentence: "an implies property can be applied to any Action instance which does not have an includedIn relationship (= property) - but that instance is invalid as includedIn is mandatory ?!?!".
But I guess that's not the int

[2017-08-11 09:45] nitmws opened #217 "ODRL Evaluator review - IM of 11 August 2017"
Having a look into the ODRL Evaluator section of the IM - http://w3c.github.io/poe/model/#odre - I noticed:
* it defines stati for Rules and Constraint
  * Rule: "in effect" or "not in effect"
  * Constraint: "satisfied" or "not satisfied"
  * implicitly for a Policy: "no rule in effect" or "one or more rules in effect"
  * (**it would be of help to have the stati if Rules and Constraints - and ma

[2017-08-12 05:22] riannella commented on #186
Yes - great work @simonstey  !!!!

[2017-08-12 05:22] #186 closed, assigned to nevali

[2017-08-12 13:02] nitmws commented on #215
**re Obligation and Duty**
* Generic terminology issue: I see there mixes of two different terminologies which should be consistent
  * for Duty classes: they should be "(not) fulfilled" and not "(not) satisfied"
  * for Permission/Prohibition classes: they should be "(not) in effect" and not "(not) valid"
* **2.1 Policy Class**
The second bullet of the list of properties includes the obligation p

[2017-08-12 13:28] vroddon commented on #215
Well, as I commented elsewhere, in other languages policies are considered "logically", being considered only "seriously". In XACML you would express:
* You can smoke a cigarette and pay a fine of $100.
* You can "not smoke a cigarette and not pay $100".

Norms are different and they are:
* "Smoking is forbidden"
* "Well, but if you still do, you'll have to pay $100"

[2017-08-12 18:18] nitmws commented on #215
@vroddon I have a slightly different, maybe more real world business driven view on that:

* Prohibition tells that an action must not be taken
* If the action is taken despite of this prohibition there are two options
  * a fine (remedy) action must be executed - users will take this prohibition seriously
  * no fine/remedy applies to this violation of the prohibition - users will consider such a

[2017-08-13 14:39] vroddon commented on #215
Yes! In the MPEG-21 Media Contract Ontology (MCO) ([article](http://www.semantic-web-journal.net/content/overview-mpeg-21-media-contract-ontology-1)) we defined "contract" as an exchange of promises.

But if we are to represent contracts (parts thereof) with ODRL, I have a say. In MCO, the equivalent for "Rule" is "DeonticExpression", and we have Permission/Obligation/Prohibition as its subclasses

[2017-08-14 00:20] riannella commented on #217
I think this section is being completely re-written by Ben.

[2017-08-14 01:29] riannella commented on #215
re Action Class / implies sub-section

Fixed.

[2017-08-14 01:41] riannella commented on #215
I have made these updates.

But I have left "valid" in the 2.10 Policy Conflict Strategy section (as this is not looking for effective policy rules...)

[2017-08-14 02:03] riannella commented on #215
2.1 Policy Class
- Fixed

2.5.3 Duty Class
- Fixed (should not have used the term effective...)

[2017-08-14 02:07] riannella commented on #215
2.5.4 Obligation property with a Policy

No. The obligation is a completely independent Rule from the permission Rule.
The obligation Rule is simply - you must do this.

[2017-08-14 02:33] riannella commented on #215
2.5.5 Duty property with Permission
- fixed

2.5.6 Consequence property with a Permission(delete 's!) Duty
- fixed

2.5.7 Remedy property with a Prohibition

But this is exactly what the remedy property does do (..not the seriously bit...)
It basically says you can't do this action, but if you do (you decide why) then you must do this other action.

But making it clear that when there is no remedy

[2017-08-14 06:14] riannella commented on #209
One negative of a single failure property is that it would not capture the main difference between consequence and remedy in that the former **adds** more rules, and the latter is a new rule.

Also, what is the semantics of Permission-->failure-->Permission ?

[2017-08-14 11:46] simonstey commented on #215
@nitmws

given they all have the **same** subject.

by changing the wording to
https://github.com/w3c/poe/blob/5b95e436a2b0da73b89f1969b906d09f22d8bad6/model/index.html#L667

serializations like the following are now invalid
[code]

[2017-08-14 12:09] simonstey opened #218 "wording of cardinality restrictions"
it's not about the properties, it's about their values..

**bad/wrong:**

**better:**

[2017-08-14 12:21] vroddon commented on #209
The second permission is not valid unless the first permission is a failure (e.g. one ore more of the actions are acted without respecting the constraints). The assignee of the second permission will be in general a different one from the second (e.g. ability for other to punish)

[2017-08-14 23:39] vroddon opened #219 "Definition of ODRL"
The current Information Model does not define what ODRL is. The spec starts (see http://w3c.github.io/poe/model/) as follows:

I believe that we need to start the document as every Wikipedia article does: "ODRL is... a language ....".
I would choose a careful wording, as the definition will be quoted once and again.

[2017-08-14 23:41] riannella commented on #209
As per: https://www.w3.org/2017/08/14-poe-minutes.html

Add the "failure" property as an abstract property. (Profiles can sub-prop it and refine semantics).

Make consequence and remedy sub-props of failure.

[2017-08-14 23:46] vroddon commented on #209
My apologies on a previous comment. The following text had been unadvertedly quoted from the February Working Draft. The new wording is far more clear.

[2017-08-14 23:50] riannella commented on #219
(Currently, ODRL is defined as a "REL" on wikipedia ! https://en.wikipedia.org/wiki/ODRL)

Both specs open with:

How about:

The Open Digital Rights Language (ODRL) **is a policy expression language that** provides a flexible and interoperable information model, vocabulary, and encoding mechanisms for describing statements about content usage.

[2017-08-15 00:11] riannella commented on #209
Another option for "failure" is more simply "notMet" - that is, the Rule has not been met (as opposed to the Rule has failed).

Or "notAdhered" to

[2017-08-15 00:15] vroddon commented on #219
A fresh read of the [charter](https://www.w3.org/2016/poe/charter) may also help to improve the abstract. The current abstract reads:

I suggest a few changes:

- change the word "describe" by "represent" in the first paragraph to be more precise and to avoid an inelegant repetition of the word.

- replace "ODRL statement" by "ODRL policy", to introduce that policy is the main element of an ODRL e

[2017-08-15 00:39] riannella commented on #219
Updated

[2017-08-15 00:45] vroddon commented on #85
I just fixed a typo, changing: "inhertiance" by "inheritance" in the links.
See commit 06b25259a5afd620ffd1363d0be288e31940b941

[2017-08-15 00:52] #112 closed, assigned to riannella

[2017-08-15 00:52] #206 closed, assigned to sereAbi, riannella

[2017-08-15 01:03] riannella commented on #218
@simonstey (to be clear) are you saying this for every point in the document that mentions a property definition?

So where we say:

it should be:

Are you also saying we start to use the "odrl:" prefix throughout the document?

[2017-08-15 01:34] riannella commented on #215
The Policy Rule Composition does allow this:
file:///Users/renato/users/odrl/W3C-POE/GIT-POE/model/index.html#composition

And when it is processed into an atomic Policy, it has two permission Rules (one for each assigner), and fits the normative model.

[2017-08-15 01:50] riannella commented on #218
I suppose an interesting point is; if a thing has a property with no value, does it actually have that property ??

Does this permission have a target, assigner, action:

[code]

[2017-08-15 05:16] simonstey commented on #218
that's not valid rdf though

[2017-08-15 05:18] riannella commented on #218
So you can't have a property without a value?

[2017-08-15 05:33] simonstey commented on #218
no, each triple consists of a subject, predicate, and object.

[2017-08-15 05:37] riannella commented on #218
Yes, ok...but I am not clear as to then what the difference is between:

A Rule MUST have one action property
A Rule MUST have one value for the action property

[2017-08-15 17:19] nitmws commented on #218
In #215 I discussed the same, I build on that posting:

In RDF terms a cardinality defines how many times assertions with RDF triples using the same subject and predicate (property) but different objects (values) may occur. (Note: the term "property" for such a use of predicate was coined by RDF Schema https://www.w3.org/TR/rdf-schema/#ch_properties)

Example: the subject is a Permission rule, the

[2017-08-17 01:42] riannella commented on #209
Added the abstract Failure property

[2017-08-17 04:26] riannella commented on #218
I have updated all the property references with "...value" and added "type of..." as well.

I have also updated the IM model figure to now include **all** Classes !

Please let me know your thoughts asap...

[2017-08-17 06:57] nitmws commented on #218
The inserted "... value" looks ok.

The "type of ..." wording is a good approach to underline what in the ODRL ontology is the Range.
Having a look at the 17 August IM version I noticed:
* not all properties have a "type of" yet. Example: `conflict `in the Policy Class --> type of ConflictTerm.
* the term of the type should be a singular. Example Set Class: "... value of type Rules" --> "... value

[2017-08-17 16:41] vroddon commented on #218
Excellent!
Some of the properties were missing in the previous version, like inheritFrom.

Having a systematic (but not fully complete, e.g. "target" is not there) vision of the model is great, but perhaps additional simplified figures can be made.

If I closed my eyes and I imaged I knew nothing about ODRL, I only would wonder about the terms "relation" and "function" (much interchangeable words

[2017-08-18 00:25] riannella commented on #218
@nitmws fixed

[2017-08-18 00:42] riannella commented on #218
@vroddon added terms (and removed Figure 2)

[2017-08-18 01:11] riannella commented on #218
@vroddon What about these colours:
![odrl-model](https://user-images.githubusercontent.com/13191615/29440157-ea166b8a-8405-11e7-8d22-b92a6fbd8994.png)

[2017-08-18 02:22] #210 closed, assigned to sereAbi, riannella

[2017-08-18 07:11] nitmws commented on #219
This checking of the basic ODRL definition reminds me of an earlier discussion: what kind(s) of asset is covered by ODRL:
* the IM wording uses in many cases "Asset resource" or only "resource"
* I recall from a discussion at a call: "ODRL will be a W3C recommendation and in the W3C context a resource is a digital thing."
* If this is really the agreed view of Asset then we should use "**digital A

[2017-08-18 07:23] nitmws opened #220 "IM - simple typos"
IM of 17 August - 1.3 Terminology / Duty:

Now:  If the obligation is meet, then the Duty is fulfilled
Should be:  If the obligation is **met**, then the Duty is fulfilled

2.5.4 Obligation property with a Policy, 1st para:

Now: That is, the obligation has been meet.
Should be: That is, the obligation has been **met**.

[2017-08-18 07:48] nitmws commented on #215
Coming back to the **definition of an obligation in IM** version 17 August.

The wording now in 2.5.4 Obligation property with a Policy:
A Policy may include an obligation to fulfill a Duty. If the Duty rule has been fulfilled (that is, all its Constraints are satisfied), then the Duty rule is in effect. That is, the obligation has been meet.

re @riannella above:

These statements make the use of

[2017-08-18 14:44] vroddon commented on #218
Awesome! This looks beautiful!

[2017-08-20 12:08] riannella commented on #219
My feelings is that we should be agnostic as to the form of the Asset.
ODRL only cares about Asset URIs - if a URI identifies a non-digital asset, then great ;-)

[2017-08-20 12:10] riannella commented on #220
fixed

[2017-08-20 12:10] #220 closed, assigned to riannella

[2017-08-20 12:27] nitmws commented on #219
Ok, good to read that.
Then I suggest modify 2.2 Asset Class, 1st sentence, list of examples: " .. applications**, services or any non-digital object having a unique identifier.**" ... to give at least a hint that the Asset could also be non-digital.

[2017-08-20 13:46] riannella commented on #215
None. All (policy-level) Rules are independent.
That is, you can have 3 permissions in effect, 2 prohibitions in violation, and 1 obligation not in effect in a Policy.

If you wanted to model this policy, then the `obligation` should be represented as a `duty` between the Perms/Prohib and the Duty.

[2017-08-21 00:28] riannella commented on #219
done

[2017-08-21 05:38] simonstey commented on #211
that issue is still not fixed though..

https://w3c.github.io/poe/model/#duty-policy

if a duty would only become effective if it has been fulfilled, why would someone fulfill it in the first place? (cf. https://github.com/w3c/poe/issues/211#issue-243981567)

if Alice's obligation to pay 5 € to Bob for downloading his song only becomes effective once she's paid him those 5 €, she could just downlo

[2017-08-21 06:54] riannella commented on #211
Hmm...that should be better expressed as:

I think the example:

That is a permission with a duty (not an obligation).

[2017-08-21 07:18] nitmws commented on #211
(pre-note: @riannella and I have been creating a comment at almost the same time)

This looks like a terminology issue, I pointed at it in #215, there I wrote:
* ... by my understanding: "a Duty is in effect" = the action of the Duty has to be taken, "a Duty has been fulfilled" = the action of the Duty has been taken successfully.
* Pondering that again raises the issue: "(not) in effect" for Perm

[2017-08-21 12:23] riannella commented on #211
What I am proposing is that all Duties are fulfilled (like stated above), and for the case of an obligation, it **also** means the obligation is in effect - this makes it consistent for handling all policy-level rules.

[2017-08-21 12:24] riannella commented on #211
@nitmws there is a significant difference between obligation and duty. The latter makes a permission effective or not (the former does not).

[2017-08-21 12:44] nitmws commented on #215
If not fulfilling an obligation Duty has no impact on anything: why should one fulfill it?

[2017-08-21 16:03] nitmws commented on #215
Follow up after the POE call on 21 August and reading the parts about Duty in #211 and the issue about modelling Duty/obligation #191:
* I got at the call that an obligation Duty is a different kind of Duty compared to a duty Duty: it has no impact on a permission ...
* ... but I raise: this needs an explicit definition of this "other kind of Duty", currently we only have use cases outlining this

[2017-08-22 01:32] riannella commented on #215
That is a business case that we have no say over :-)

In reality (eg regulations), obligations will have consequences.

[2017-08-22 01:34] riannella commented on #215
@nitmws, I am confused by this statement:

I assume you are talking about the Action class?

This is not a subclass of any other class. It is referenced (via action) by the Rule class.

[2017-08-22 03:09] riannella commented on #211
I think the core issue is that we are trying to force all Rules to "conform" to a specific concept which we call "effective" (or "in effect").

This, I believe, leads to mis-interpretations, such as that outlined in @simonstey's first comment (above). Because "effective" is interpreted as "in force", then if you don't pay the EU500, then the Duty is not "in effect", hence, it is not "in force", wh

[2017-08-22 03:11] riannella commented on #211
We can also show these in a table:
[states.pdf](https://github.com/w3c/poe/files/1240662/states.pdf)

[2017-08-22 07:09] nitmws commented on #215
I think ODRL must define the semantics of having one to many obligation properties in a Policy. Currently we don't say anything about this "style" of a Policy.

<hr>

No, "the Class" = the class used for obligation, duty, consequence and remedy, currently called Duty Class. As this class and its use is discussed in the bullet points above I didn't use the full name.

[2017-08-22 08:32] nitmws commented on #211
I point at my suggested solution in https://github.com/w3c/poe/issues/215#issuecomment-323785168
and try to harmonise it with @riannella suggestion above:

* a key problem is that the current Duty Class a/ inherits a lot of design and processing rules from the Rule Class and not all the inherited things fit well into the Duty Class uses and b/ the Duty Class specification sets definition which don

[2017-08-23 03:34] riannella commented on #215
@nitmws I don't understand why you would want to define Duty as a standalone class.

Isn't the lis of properties you have above are the same as what Duty has now, as a subclass of Rule?

(note: remedy is a property of Prohibition)

[2017-08-23 03:49] riannella commented on #211
1 - what "doesn't harmonise" specifically in the Rule properties and the additional Duty properties?

2 - I think the "state table" clears up some issues. If you look at "infringed", then this could happen anytime during the evaluation of the permission rule - so it actually becomes a public state that odrl processors need to identify ?
(actually the table should also have "exists" for consequence

[2017-08-23 08:13] nitmws commented on #211
re @riannella

re 1: I may have to clarify: I think that the properties obligation, duty, consequence and remedy don't make use of the Duty Class in the same way. This not about the properties of the Duty or the Rule Class.
* duty: the "original" property. If it is in effect processing it must return a fulfilled/not-fulfilled status. While being processed it may have an infringed/violated internal

[2017-08-23 08:26] nitmws commented on #215
@riannella while writing https://github.com/w3c/poe/issues/211#issuecomment-324255580 I noticed that the problem is inside the Duty Class: some properties of type Duty may have a consequence, others not.
And the remedy property slipped in inadvertently, sorry.

My conclusion after having had a deeper look into https://github.com/w3c/poe/files/1240662/states.pdf is:
* The Rule Class should have onl

[2017-08-24 00:40] riannella commented on #211
I would state this more as the "handling of statuses is dependent on the semantics of the different properties"

I added this row as, otherwise, and ODRL evaluator would not know when (or if) a consequence is required to be fulfilled. (?)

Since the constraint is "not-satisfied", then it does not matter what the action cell says?

Yes, what others states are missing :-)

[states.pdf](https://githu

[2017-08-24 00:44] riannella commented on #215
"duty" keeps us compatible with the past community group work (and is not broken ;-)

Look at the W3C ORG ontology:
  https://www.w3.org/TR/vocab-org/img/OrgOntology20130502.png

10 properties all pointing to "Organisation" and one called "organisation" ;-)

[2017-08-24 06:57] nitmws commented on #211
Sorry, but consequence is a property of a duty Duty and not of a Permission. If a Permission has 3 duty-ies, each with a consequence,  2 of them are fulfilled and 1 of them is infringed, then only the consequence of this infringed duty has to be executed. So the Permission has not an "infringed" state and at the level of a permission no consequence can be executed as there is no such property.

If

[2017-08-24 07:03] nitmws commented on #215
I did not suggest to change the name of the property "duty" but the name of the Duty Class - exactly for this historical reasons, changing a property name in instances of Policy is definitely a problem, to change the name of the underlying class less.

Re the ORG ontology: as there are many properties named ....Organization it would not have been a problem to suffix the "organization" with a clari

[2017-08-24 08:56] nitmws commented on #211
I'm going over it and created a temporary Google Sheet as working document - the URL has been sent to all Members of the POE WG.

[2017-08-24 12:54] nitmws opened #221 "How Rules become Active"
The IM of 21 August defines in 2.5 Rule Class:

Note: today we agreed the term "effective" is replaced by "active".

Checking if a Constraint is satisfied or not its leftOperand must be matched against an - in most cases - stable value, e.g. action must not be taken before 1 January 2018, asset can only be presented on mobile devices.
That means: the rightOperand-date must be matched against the d

[2017-08-24 13:18] simonstey commented on #221
no

[2017-08-24 13:21] simonstey commented on #221
(or active but not valid)

[2017-08-24 16:01] nitmws commented on #221
Coming back to the current definition:

Evaluating if a Constraint is satisfied or not is covered by the IM.

But what what about "any applicable relationship to a Duty must be fulfilled."
* what makes a Duty "applicable" and what not?  Is this equivalent to: the Duty is Active or Not-Active?
* a ambiguous requirement is "Duty must be fulfilled": example: a duty requires to pay 100 EUR. But what i

[2017-08-24 17:20] nitmws opened #222 "Which property of type Duty has a consequence property?"
The IM of 21 August defines in 2.5.3 Duty Class

There is an issue:
* The Duty Class defines: A Duty may have none, one or many consequence property values of type Duty.
* Result: the properties obligation, duty, remedy and consequence are of type Duty and have therefore a consequence property
* The Note above excludes a consequence property inside a consequence instance only for duty and obligati

[2017-08-24 21:19] nitmws opened #223 "How to evaluate the results of Permission, Prohibition and Duty"
I've created a draft of guidelines for evaluating the result of a Permission, Prohibition or Duty
https://docs.google.com/spreadsheets/d/1vej4EwEZjUM2yYJwBggJxHlSTCinyuMPCulKIeHNTA0/edit?usp=sharing
... in the lower section of the table.

The result of a Permission is named Has-Permission or No-Permission, of Prohibition Is-Accepted or Not-Accepted and Duty the well known Fulfilled or Not-Fulfille

[2017-08-24 21:31] nitmws commented on #221
I've created a draft of guidelines for evaluating if a Permission, Prohibition or Duty is Active or Not-Active:
https://docs.google.com/spreadsheets/d/1vej4EwEZjUM2yYJwBggJxHlSTCinyuMPCulKIeHNTA0/edit?usp=sharing
... in the upper section of the table.

The key specification in the IM for these guidelines is the definition mentioned above.
These guidelines build on "applicable" Duty = Active Duty i

[2017-08-24 21:38] nitmws commented on #222
Uff, in 2.5.7 I've found that: "A remedy must not refer to a Duty that includes a consequence Duty."

Could we please define which properties of type Duty have a consequence in a single place = at the level of the Duty.

[2017-08-24 21:52] nitmws commented on #223
Re the definitions of the obligation property (2.5.4), duty property (2.5.5) and remedy property (2.5.7)
As outlined in https://github.com/w3c/poe/issues/221#issuecomment-324763276 the evaluation of the Duty rules is inconsistent.
I suggest to follow simple evaluation rules:
* the Active/Not-Active status of duty, remedy and consequence has not impact on the evaluation of this status of the Permis

[2017-08-25 01:25] #216 closed, assigned to nitmws, stuartmyles, vroddon, riannella

[2017-08-25 04:38] riannella commented on #222
Followed Solution one, with:

[2017-08-25 04:54] riannella commented on #221
My mistake. It is now "...and all relationships..."

[2017-08-25 04:58] simonstey opened #224 "adding disclaimer to http://www.w3.org/TR/odrl"
(pinging @philarcher and @iherman)

Would it be possible to add a disclaimer/update notice to [ODRL 1.1's W3C Note from 19 September 2002](http://www.w3.org/TR/odrl) that points to ODRL's new IM/Vocab? Something like the one used for [OWL](https://www.w3.org/TR/owl-features/):

Having such a Note in TR space, especially with **odrl** as its shortName and being one of the first results popping up w

[2017-08-25 05:03] riannella commented on #221
I can't get my head around this ;-)

If the assignee does not want to use the asset, then why would there even be a policy?

Another way to look at this: Michael has a Permission to use Asset X if he pays Renato $50.
Michael does not want to use Asset X.
End of transaction.

I think the party/asset's are assumed to be the ones expressed in the Policy, otherwise there is no point in doing any form

[2017-08-25 05:08] iherman commented on #224
I would think this should be possible, but pinging @plehegar on this.

[2017-08-25 05:12] riannella commented on #223
I really find Active/Non-Active confusing with the 3 Rule types (its the same as using Effective).

Active has an even wider definition:  http://www.thefreedictionary.com/active

So, when it says a "Duty is Not-Active", hence not functioning, not currently in use or **effect**, you get the sense that you don't have to do anything...

[2017-08-25 05:56] simonstey commented on #223
which reflects the intended semantics.

**Example:**
[code]
`ex:Bob` can exercise his permission to `odrl:reproduce` asset `ex:asset_9898` on any day other than `time:Saturday` or `time:Sunday` without any obligations.

On weekends, however, he has to `odrl:obtainConsent` from `ex:Alice` first before he's granted permission to `odrl:reproduce` asset `ex:asset_9898`.

[2017-08-25 06:39] riannella commented on #223
Hmmm....

So, tomorrow (saturday) Bob gets consent from Alice, so reproduces the Asset.

Next saturday, why does Bob have to "fulfill" this Duty again? (He already got consent from Alice on a Saturday)

[2017-08-25 07:17] nitmws commented on #223
Re @riannella 's question in the previous comment: maybe the duty action obtainConsent does not fit perfectly in this example. A duty like "pay 10 EUR" would fit better: for getting a permission from Monday thru Friday no Duty is Active, only on Saturdays and Sundays the duty is Active = you have to pay.

[2017-08-25 07:39] nitmws commented on #221
Re my concerns regarding "Duty must be fulfilled" to make the Rule including it Active

A/ What is the role of Not-/Active in the evaluation of a Rule
(Note: Active = in effect = Active)
* The IM of 21 August outlines in 1.3 Terminology that "in effect" is needed by an ODRL Evaluator, but chapter 3 is currently "under construction" ...
* ... the shown "old" version told "Where no rules are in effe

[2017-08-25 08:30] nitmws commented on #221
@riannella what do you mean by:

Does that mean the are expressed at the Policy-level making it a Compact Policy?
therefore: only a single assignee and a single asset ID exists in the whole Policy?

This WG should not assume Policies are strictly tailored to the use of a single receiver/assignee.
(_IPTC had to deal with this use case: a big publishing company runs 3 news publications and has only

[2017-08-25 08:43] simonstey commented on #223
the spec only says:

but does not specify **how** you have to check whether a duty is fulfilled or not. Previously it said that you **can** use constraints for that, but generally you don't have to.

As such it's up to implementors to decide whether duties have to be fulfilled every time they are evaluated or whether duties can keep their state of "fulfilledness".

**TL&DR: ODRL does not specify w

[2017-08-25 09:07] nitmws commented on #222
Wait a second @riannella :
* as I got it the intention of these exclusions was to avoid an endless nesting of consequences
* but I assume a duty **and** an obligation should have a consequence - but not a remedy
* your definition above the stops obligation to have one

[2017-08-25 09:11] philarcher commented on #224
Shouldn't be much of a problem. I well remember adding similar notes to
the PICS specs, see

https://www.w3.org/PICS/
https://www.w3.org/TR/REC-PICS-services/
etc.

Phil

On 25/08/2017 06:08, Ivan Herman wrote:

--
Phil Archer
http://philarcher.org
+44 7887 767755
@philarcher1

[2017-08-25 09:30] nitmws commented on #222
I went over the IM of 25 August and infer from it - with the correction above - these lists of properties of the Rule Class and its sub-classes and specific properties of type Duty.

Typographic notes:
* at the top of the lists: property name/name of class used as type
* ( ) = cardinality
* { } = abstract definition, must be overridden by a sub-property
* ... = as inherited
* _: = the abstract def

[2017-08-25 12:27] riannella commented on #222
Whoops ;-) That should be:

`A Duty MAY have none, one or many <code>consequence</code> property values of type Duty only when the Duty is related to a Rule with the duty or obligation properties.
`

[2017-08-26 12:12] nitmws opened #225 "The foggy effective/in-effect terminology"
Ben's [Evaluator working paper](https://www.w3.org/2016/poe/wiki/Evaluator) states

And the IM of 25 August uses the term "effective" an "in-effect" in many ( (slightly) different) ways.

As the group is discussing to switch this term to "active" the use of "effective" and "in-effect" should be reviewed.

[2017-08-26 13:50] nitmws commented on #225
I've searched the IM of 25 August for the term "effect" and found 20 occurrences of "effective" and "in effect" in all chapters but chapter 3.
But the story told by these occurrences is not consistent:
* "effective" and "in effect" are randomly used. It would be great to use the same term (maybe in future active) for all occurrences.
In my free-text I use only the term "in effect" and mean both.
*

[2017-08-27 13:38] riannella commented on #211
I have updated the IM to (hopefully) reflect the changes at the Thursday call.
Added to the model is the "refinement" property for Action/Asset/Party/Collection Constraints.
(constraint property is now only for Rules)

I have updated the Constraint section with subsections for refinement and constraint properties.

I have removed all mention of "effective" and "in effect"

And added a new section

[2017-08-27 16:29] nitmws commented on #225
Another detail of the wording of the IM:
* strictly spoken only classes can be "in effect"/"active" and not a property ...
* but we claim in practice "a remedy must be fulfilled". And this reflects what is of interest: not the "in effect"/"active" state of a class as such is of interest but which property forwards this state to a "parenting" class.
* How to write down the fact "the Abc Class which

[2017-08-28 11:22] nitmws commented on #221
My conclusion as of 28 August: what "active"/"in-effect" means gets clearer when merging all 20 occurrences of this term in the IM and in other documents - how foggy the use of the term is was written down in #225

[2017-08-28 11:32] nitmws commented on #223
My conclusion as of 28 August: the initial posting of this issue was based on an understanding of "active" not aligning what the IM has in mind after merging many occurrences of "in effect" - see #225.
The result: ODRL needs a clear definition of "active"/"in effect", a proper description in the different contexts of Permission, Prohibition and Duty and a consistent use of the finally agreed term.

[2017-08-29 03:08] riannella commented on #211
See changes referenced above

[2017-08-29 04:57] simonstey commented on #211
I'll have a look and comment on them as I see fit.

apart from that, [2.5.3 Refinement property with an Action](https://w3c.github.io/poe/model/#constraint-action) resolves this issue for now

[2017-08-29 06:51] simonstey opened #226 "On 2.6.8 Rule Active State Processing"
what's an ODRL _processor_? we only define ODRL _validator_ and ODRL _evaluator_ in the [Terminology](https://w3c.github.io/poe/model/#terminology).

I have no clue what _"intended action performance"_ is/means..
Why do we need this first paragraph at all? As long as processor==evaluator it's obsolete.

----

and after that? what's 2nd?

----

ooh.. I see.. I guess what you wanted to say is that a

[2017-08-29 07:59] nitmws commented on #226
I've written down similar issues in https://lists.w3.org/Archives/Public/public-poe-wg/2017Aug/0012.html

[2017-08-29 11:21] riannella commented on #226
Updated the Rule Active State Processing based on this feedback.
Also changed "odrl processing" to "odrl validation" in other sections

[2017-08-29 16:05] nitmws commented on #226
re @riannella 's update:
The different evaluation workflows for Rules make it hard to write down the evaluation of a Permission in a bullet proof way in 2.6.8 :
* Step 1: a generic evaluation if a Rule - Permission included - is Active
* Step 2: "Once a Rule has been determined to be Active, the Evaluator MUST " + "Evaluate the fulfilled state of all duty properties of the Permission. If confirmed

[2017-08-29 18:28] nitmws commented on #226
I've updated the draft of an ODRL Evaluation Workflow to version 4, see https://docs.google.com/spreadsheets/d/1vej4EwEZjUM2yYJwBggJxHlSTCinyuMPCulKIeHNTA0/edit?usp=sharing

[2017-08-30 00:32] riannella commented on #226
Perhaps, the rule-level "Active"/"Not-Active" should be changed to "Applicable"/"Not-Applicable" to reduce any potential confusion with the states of the individual rules?

[2017-08-30 10:06] simonstey commented on #226
well, depending on the use case we may actually need both:

## UC1: Identify all _(currently) active_ rules of a policy

https://www.w3.org/2016/poe/wiki/Evaluator:

**Example:**
[code]

----

## UC2: Determine whether an ODRL Rule is _applicable_ for a given asset and/or assignee

From [ODRL Evaluator Rules by @philA](https://lists.w3.org/Archives/Public/public-poe-wg/2017May/0042.html):

given a

[2017-08-30 14:01] nitmws commented on #226
I agree to the considerations of @simonstey .

Simple example: policy102 in UC1 would be active if the rule is tested for printing on 24 December 2000. Simon made a hidden statement: the reference time for the evaluation is 2017-08-30T12:06:00+02:00 (the time he published the comment). I want to point at this often occurring media publishing use case: an article and photos are edited on 31 August

[2017-08-30 14:17] nitmws commented on #226
Re the evaluation of the Not-/Active state of Permissions:

The 2.6.8 in the IM of 29 August defines this workflow for evaluating Permissions:

1. all existing constraints must be evaluated (defined for all kinds of Rule)
2. this sets a first Not-/Active state (defined for all kinds of Rule)
3. then all existing duties are evaluated (defined for Permission only)
4. this sets a second, final Not-/A

[2017-08-31 00:21] riannella commented on #226
@simonstey  RE: UC2
I am trying to understand why you would ask "Is :Bob permitted to print :Asset1" when the Policy has nothing to do with Bob?
It seems we want ODRL to "act" like a SPARQL endpoint and accept any query?

(Note: this does not mean you can't do that - anyone can put all their policies into a graph-db and SPARQL away...but it is not a normative requirement on the spec)

RE: UC3

We

[2017-08-31 00:28] riannella commented on #226
@nitmws  Can you give a more detailed example of this:

Since `dateTime` will always compare dates to "right now".

[2017-08-31 00:35] riannella commented on #226
@nitmws In your suggested 4 steps:

1 - Does this include this step: "Check if exercising the disallowed action of a Prohibition sets it to Violated"
2 - In the step "then all existing duties are evaluated " -> Some Duties don't need to be fulfilled, such as a consequence, if the duty is already fulfilled.

[2017-08-31 07:20] nitmws commented on #226
@riannella re your "4 steps" issue above:
* re 1 - these 4 steps were defined for the Permission Rule only as this is the only one with 2 Not-/Active states. (after checking the constraints and after checking the duties). The workflows for Prohibition and Duty stay unchanged as defined in 2.6.8 of 29 August.
* re 2 - please check the casing of the terms: "... then all existing **duties** are evalu

[2017-08-31 08:05] nitmws opened #227 "Setting a value related to the leftOperand of a constraint"
@riannella brought this issue up in https://github.com/w3c/poe/issues/226#issuecomment-326155378 - as this issue is outside the scope of 2.6.8 Rule Active State Processing this new issue is created.

Sorry, but I have a different view on the Datetime LeftOperand - http://w3c.github.io/poe/vocab/#term-dateTime:
* It is defined as "The date (and optional time and timezone) to be compared. " No word

[2017-08-31 08:07] nitmws commented on #226
@riannella re your "more detailed example" issue above:  as it is outside the scope of 2.6.8 I've created a new issue #227

[2017-08-31 09:48] simonstey commented on #226
I am trying to understand why you would ask "Is :Bob permitted to print :Asset1" when the Policy has nothing to do with Bob?
It seems we want ODRL to "act" like a SPARQL endpoint and accept any query?

This was mainly for illustrating that for scenarios like UC2 it's necessary to be able to assess both, whether a rule is  **active** but also whether it's **applicable** for a given request.

Not al

[2017-08-31 10:20] simonstey commented on #226
@nitmws

ODRL doesn't specify **how** constraints have to be evaluated.. and since the individual semantics of leftOperands are defined as natural language text only, you won't be able to achieve interoperability wrt. to constraint evaluation anyway.

?

that's too restrictive, as it is only relevant for certain use cases.

http://w3c.github.io/poe/model/#conflict:

=> so even though a policy migh

[2017-08-31 14:43] nitmws commented on #226
Based on the call on 31 August and the statement that 2.6.8 must not indicate any sequence of processing the Active state and Duties I suggest to rephrase this section from the 2nd para on - see below.

But first I suggest to consider the heading Rule Active State Processing as this section covers now more than that. What about: **Rule Active State and Further Processing**

_The heavily rephrased

[2017-09-01 05:46] #209 closed, assigned to sereAbi, simonstey, riannella

[2017-09-01 05:46] #217 closed, assigned to riannella

[2017-09-01 05:46] #218 closed, assigned to sereAbi, nitmws, riannella

[2017-09-01 05:46] #219 closed, assigned to riannella

[2017-09-01 06:09] riannella opened #228 "Fixed constraint at policy level"
move constraints referenced by logical constraints outside the policy.
@simonstey

[2017-09-01 06:18] simonstey opened #229 "Misleading statements about failure properties"
## Correct
http://w3c.github.io/poe/model/#prohibition:

## Misleading
http://w3c.github.io/poe/model/#duty-prohib:

=> just because a prohibition has a remedy attached doesn't mean that prohibited action MAY be exercised (under the condition that respective remedy is fulfilled). Regardless of whether prohibitions have remedies or not, prohibited actions **always MUST NOT be exercised**.

**Soluti

[2017-09-01 06:26] riannella commented on #228
Fixed

[2017-09-01 07:11] nitmws opened #230 "Missing type of a Constraint's unit property"
In the IM 2.5.1 Constraint Class its property unit is defined this way:

But this definition misses the type of the property values.
I suggest:
* strict variant (as in ODRL 2.1): IRI (to refer to a Concept representing the unit)
* lax variant: IRI or literal value.

AND: I feel the the definition above is not clear; what is a property "for the unit value of the rightOperand/Reference."?
I suggest:

[2017-09-01 07:24] nitmws opened #231 "rightOperand property: IM and Vocab not in sync"
The IM (of 1 September), 2.5.1 Constraint class defines for right operands:

The Vocab (of 1 September) defines for Has Right Operand (http://w3c.github.io/poe/vocab/#term-rightOperand) = the rightOperand property:
* no Range
* in a Note: "The value can be a literal or IRI."

The Vocab definition does not cover the RightOperand as alternative property value.

[2017-09-01 07:44] nitmws opened #232 "Use of plural in the definition of classes and properties in the Vocab"
The Vocab (of 1 September) uses plurals in definitions of classes and properties of classes - I went over the Constraint section: http://w3c.github.io/poe/vocab/#constraints
* Has Constraint (property): "Constraints applied to a Rule"
* Refinement (property): "Constraints used to refine ..."
* Operator (class): "Operators for constraint expressions"
* Right Operand (class): "Right operands for con

[2017-09-01 09:19] nitmws commented on #226
I noticed issues with open ended Not-Active states of the Rule Active State and Further Processing suggested above while updating the Evaluation Workflow table to version 6 (https://docs.google.com/spreadsheets/d/1vej4EwEZjUM2yYJwBggJxHlSTCinyuMPCulKIeHNTA0/edit?usp=sharing)

* At the call on 31 August it was stated "2.6.8 MUST NOT define any processing sequence - the currently defined 'Not-/Activ

[2017-09-01 11:11] riannella commented on #226
Ok, look forward to it !

(as a test, adding @benedictws to see if a notice is sent to him)

[2017-09-01 11:40] riannella commented on #227
Updated

[2017-09-01 11:47] riannella commented on #229
Done.
commit: 129b11b888ef6ec2d6d30bf4f26c3df362532732

[2017-09-01 11:51] riannella commented on #230
Done

[2017-09-01 12:06] riannella commented on #231
Updated range

Hope they are ok @vroddon

[2017-09-01 12:11] riannella commented on #232
Fixed

[2017-09-01 16:02] vroddon opened #235 "One redundancy in the spec"
In different sections we read:

I believe the first sentence suffices. Every subclass of Policy (in the spec or not) is subject to that. Hence, the next three paragraphs can be safely removed.

[2017-09-01 16:28] vroddon opened #236 "Logic"
We read in the IM:

This is an excellent example of Default Logic (non-monotonic logic proposed by Reiter), which cannot be represented in standard OWL. Parsia and others made an extended DL reasoner to handle this (see http://ceur-ws.org/Vol-216/submission_22.pdf) about 10 years ago --in a software no longer maintained.

Indeed, the behaviour of software handling ODRL expressions can be tuned to

[2017-09-01 16:28] #236 closed, assigned to nobody

[2017-09-01 16:52] nitmws opened #237 "Validator/validation/valid-related terminology"
The IM of 1 September defines in 1.3 Terminology the term "ODRL Validator" as

It defines two key features:
1. checking conformance
2. being aware of validation requirements

**re 1: conformance with IM**
* 2.1 Policy Class defines that a Profile can define "conformance requirements" - I assume they don't have to be covered by a "Core IM" Valdiator.
* 2.6.8 outlines what an ODRL Validator has to v

[2017-09-01 18:36] vroddon opened #238 "Confusing wording"
In Section 2.2 of the IM we read:

And in Section 2.3 we read:

Am I the only one confused after reading this? Wouldn't it be better like this?

(Bonus comment: what is the meaning of a rule not having a assigner? lacking an assingee is understood as everyone but... lacking an assigner? a work in the public domain? In such a case, please mind that we cannot have zero assigners and zero assignees)

[2017-09-01 18:58] vroddon commented on #238
The Bonus comment was even more important.  EXAMPLE1 in the Information Model becomes invalid.

[code]

[2017-09-01 23:44] vroddon commented on #231
Yes, indeed, the change is correct.

Just out of curiosity, I checked the definition of xsd:anyURI to discover that indeed, it also covers IRIs.
"Absolute or relative URIs and IRIs" https://www.w3.org/TR/rdf11-concepts/

[2017-09-02 04:12] #211 closed, assigned to sereAbi, riannella

[2017-09-02 04:44] vroddon opened #239 "Assigner/Assignee at the policy level"
As I understand from previous conversations and from the current spec., the odrl:assigner and odrl:assignee cannot be longer used at the policy level, only at the rule level. The current ontology defined their domain as:
[code]

but it should be:
`	rdfs:domain :Rule ;
`
As I am reasonably sure, I have implemented the change (see 843c4732d7ebc08e66e3c4df7edce6fc9794522f)

[2017-09-02 05:15] nitmws commented on #239
I'm afraid this comes from defining the use of "shared properties" in 2.7.1 Compact Policy and leaving this definition as an orphan in the spec of Policy sub-classes:

The wording "to indicate the functional role in the same Rules." lets me assume this is related to Compact Policy which defines:

My suggestion: remove these property definitions of Offer and Agreement listed above.

[2017-09-02 05:54] nitmws opened #240 "Not-/Active Rules, evaluation, Policy inheritance and conflicts"
In recent discussions about the Active state processing (see 2.6.8 in the IM) we agreed a Not-Active state means a Rule should not be exposed to further evaluations. (Expressed in this draft too: https://github.com/w3c/poe/issues/226#issuecomment-326317601)

This raises the question: does the Not-/Active state of a Rule has an impact on
* the Policy Inheritance (IM 2.9): does an ODRL processor has

[2017-09-02 11:55] riannella commented on #235
Done

[2017-09-02 12:07] riannella commented on #238
I have removed both bullet points (as these are not, as you point out, properties of Asset/Party). And they are covered in the Rule section.

Bonus Answer: we don't say what it means in general.
We only are specific for Offer and Agreement subclasses to have these roles.

[2017-09-02 12:13] riannella commented on #239
@vroddon Section 2.7.1 explains why: https://w3c.github.io/poe/model/#composition-compact

To support these "short cuts" we allow "shared" properties (at the Policy level) - and they are interpreted to mean they apply to all Rules in the Policy.

[2017-09-02 13:32] nitmws commented on #239
@riannella that raises an issue of consistent specifications:

Option 1: all the "shared properties" of 2.7.1 are NOT defined as properties of the Policy and its sub-classes.
OR
Option 2: they are defined. In this case the IM is missing definitions in the Policy Class:
* action property (0..unbounded) type: Action
* abstract relation property (0..unbounded) type: Asset
* abstract function property

[2017-09-02 14:44] vroddon commented on #238
Is Example1 then correct? Or should it be corrected?

[2017-09-02 14:49] vroddon commented on #239
Option 2 is the more powerful, but it complicates the validator (the processing will be easy, though).
In any case, there is something wrong/imprecise in the spec (2.1.2) now:

I would write it as:

Wouldn't it suffice this change? (the same applies in more points of the spec)

[2017-09-02 14:55] vroddon commented on #239
The validation becomes more and more complex, by the way. If you think of an Offer...
[code]
I believe this should be validated as wrong, but we haven't declared this constraint anywhere. Second example:

[code]
Again, this should be validated as wrong. Or rather, lift our "validation standard" and make it more tolerant. (I vote for the latter).

[2017-09-02 15:05] vroddon commented on #239
For the moment I restored the previous state of the ontology. But I am afraid we cannot avoid the changes in the text.
3b98c5442f2c859acb4cec0a9847cac3c80056ba

[2017-09-02 16:49] nitmws commented on #239
@vroddon have a look at 2.7.1, it defines "An ODRL Policy may hold properties, declared at the Policy-level, which are shared and **common to all its Rules**. "
Conclusion from that: if e.g. an assigner is defined at the Policy-level, any Rule MUST NOT have an assigner, that's why PolicyB is invalid.
Don't know how easy or hard this is for SHACL to validate.

[2017-09-03 11:50] riannella commented on #238
It is correct. It conforms to the requirements of a "Set".

[2017-09-03 12:11] riannella commented on #239
I have updated the Policy class section.

I don't think we change the rest of the spec, as we say "It is recommended that compact ODRL Policies be expanded to atomic Policies when being processed for conformance"

Also:

No, this is not correct. You can have both. The assigner at the Policy-level will be replicated into all the Rules (and join existing assigners)

[2017-09-03 12:39] riannella commented on #226
Changed "processing" to "validation" In Conflict section.

I updated the heading to just "Rule Processing"

"Ready-for-Exercising" and "Not-Ready-for-Exercising" are too cumbersome...
Changed them to "Exercisable" and "Not-Exercisable"

I removed "not-existing" and just said stop evaluating.

The rest updated the rest as per @nitmws suggestion above

Please review :-)

[2017-09-03 12:59] riannella commented on #237
I have changed the meaning of the "invalid" token to mean "void".
And not mentioned "valid" anymore.
Updated the rest.

[2017-09-03 13:21] riannella commented on #240
1) I think only the final policy - after the inheritance - should be evaluated. The child and parent policy are non-functioning policies (only used as part of the inheritance process) so would not make any sense to validate them first.

**Having said that - and reviewing the Inheritance examples - I think we need to update them as I think we did not follow our own "validation" requirements**
(that

[2017-09-03 13:50] vroddon commented on #239
@nitmws

I have identified some constraints not possible (at least easily) to be represented in SHACL; so having one more does not really matter.

[2017-09-03 13:54] vroddon commented on #238
Now it is perfectly clear.

[2017-09-03 13:54] #238 closed, assigned to riannella

[2017-09-03 16:03] nitmws commented on #239
@riannella sorry, but I think your "merging assigners" violates the IM. 2.6.1, 2.6.2 and 2.6.3 define:

... there must be no second or third assigner!

[2017-09-04 00:18] riannella commented on #239
Whoops...I was thinking "actions"....
The spec is correct as is now ;-)

[2017-09-04 03:43] riannella commented on #226
Done some editing of this section for consistency.
Moved the common Active requirement to the first part of each sub-section.

[2017-09-04 09:54] nitmws commented on #237
@riannella thanks for taking this step, but frankly still not a consistent solution:
* the ODRL Validator definition in 1.3 does not cover checking Policies for conflicting Rules
* 2.10 tells: "If an ODRL Validator detect any conflicts in the Rules  ..." - this is not covered by 1.3
* and as I said above: I think a Validiator delivers only a single result: valid or invalid. As described in 2.10 it

[2017-09-04 10:43] simonstey commented on #237
👍 as a Validator only checks for well-formedness (i.e., whether all policy expressions conform to the spec)

👎 that's actually wrong.. iirc an ODRL Validator only checks for **syntactic** validity, but not for **semantic** validity

[2017-09-04 11:55] simonstey opened #241 "use of @value for action constraints"
I used http://www.easyrdf.org/converter to translate [Example 13](https://w3c.github.io/poe/model/#constraint-action) into turtle
[code]
results in:
[code]

1. refinement is ignored because http://www.w3.org/ns/odrl.jsonld is not up2date
1.1. it throws an error if you replace refinement with constraint
2. print is interpreted as string because..
https://json-ld.org/spec/latest/json-ld/#syntax-toke

[2017-09-04 12:14] riannella commented on #237
So what checks for semantic validity?

[2017-09-04 12:16] riannella commented on #237
Personally, I think we should have a single "ODRL Processor" that does everything. As no implementation will have these seperate things - and we are not testing for them individually for interoperability.

[2017-09-04 12:18] riannella commented on #241
Does this error go away if you use the up-to-date JSON-LD context here:

   https://raw.githubusercontent.com/w3c/poe/gh-pages/vocab/ODRL22.jsonld

[2017-09-04 12:19] nitmws commented on #241
@simonstey would using  @id do the job:
[code]
... or is the inline-adding of properties to an identified node not allowed.

Is the result using the property `source` for the "unrefined" action and the `refinement `property provides all the Refinements applying to it?
In this case the IM must define the source property, I guess (currently it is not).

[2017-09-04 12:26] simonstey commented on #241
for the same reasons we introduced the source property in the first place, unfortunately not /:

[2017-09-04 12:42] vroddon commented on #241
What is wrong with the examples I provided? I did the conversion by hand.
See sample022 at http://odrlapi.appspot.com/.

@prefix odrl: <http://www.w3.org/ns/odrl/2/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix dct: <http://purl.org/dc/terms/> .

[code]

[2017-09-04 12:57] vroddon opened #242 "ODRL Validator"
I have published the following at http://odrlapi.appspot.com/ :

- An ODRL Validator for RDF.
- A collection of 43 test cases for the validator

The system is based in the corresponding API, propertly documented and published and open (github, Apache License).
You can also test the API within the documentation (Swagger).

To the best of my knowledge, all the validations have been implemented excep

[2017-09-04 13:55] iherman commented on #224
So yes, this can be, and will be done.

[2017-09-04 23:43] riannella commented on #224
@iherman I think we should add something similar to the OWL update:

[2017-09-05 02:44] riannella commented on #226
I have updated (and simplified) the Rule Processing section.

Please review the narrative and make explicit comments/feedback **on the narrative.**

Are all the states requirements correctly captured?
If not, then please indicate the **missing required text** we need to add to the narrative.

Are the state requirements correctly described?
If not, then please indicate the **text we need to update*

[2017-09-05 03:44] riannella opened #244 "CR Exit Criteria"
Add the CR Exit Criteria to the two specs.

https://github.com/w3c/poe/blob/gh-pages/test/cr-exit.md

Review the feature list

[2017-09-05 04:09] riannella commented on #241
@iherman

Can you copy
  https://raw.githubusercontent.com/w3c/poe/gh-pages/vocab/ODRL22.jsonld
to
  http://www.w3.org/ns/odrl.jsonld

thanks

[2017-09-05 04:09] riannella commented on #241
@vroddon

Your example is exactly how I suspected the translation to turtle would work

[2017-09-05 04:12] riannella commented on #241
@simonstey

i think all we need to do is updated:
`          "@value": "print",`
to
`"@value":  { "@id": "print" },`

That will then allow for the more simple case of `"action": "print",`

[2017-09-05 04:23] riannella commented on #237
I have updated section 2.10 to only mention the requirements, not a system to check the requirements.

[2017-09-05 05:28] simonstey commented on #241
`"@value": "print",`
to
`"@value": { "@id": "print" },`

I'm no JSON-LD expert myself, but according to https://json-ld.org/spec/latest/json-ld/#value-objects:

as such, `rdf:value` can't be mapped to `@value`

=> `"rdf:value": { "@id": "print" },` should work though

[2017-09-05 07:21] iherman commented on #224
I have made the change on my local copy. However, I think it is better not to make the update on the server until the new version is official, ie, it is published as a Recommendation (or, at the minimum, Proposed Recommendation). Otherwise we will have to change the status again and again, to keep it up with the current status.

[2017-09-05 07:32] iherman commented on #241
@riannella, per https://github.com/w3c/poe/issues/241#issuecomment-327066375: done.

[2017-09-05 07:40] riannella commented on #241
@simonstey Close...the output is now:

[code]

[2017-09-05 07:53] philarcher commented on #224
Yes, it's a 'Happy Recommendation Day' action :-)

Hope all is well - good to see progress continuing.

All the best from the other side

Phil

On 05/09/2017 08:21, Ivan Herman wrote:

--
Phil Archer
http://philarcher.org
+44 7887 767755
@philarcher1

[2017-09-05 07:58] simonstey commented on #241
=> `"rdf:value": { "@id": "odrl:print" },` should work though

[2017-09-05 09:59] nitmws opened #245 "What exactly is stated by Non-/Active?"
Having a look at @riannella 's comment https://github.com/w3c/poe/issues/226#issuecomment-327057346 and the updated [2.6.8 Rule Processing](https://w3c.github.io/poe/model/#rule-process) and recalling the discussions about the term Active and having a look at Ben's [Evaluator Truth Tables](https://www.w3.org/2016/poe/wiki/Evaluator)  and also on my (internal) attempts to update this Rule Processin

[2017-09-05 10:03] nitmws commented on #226
I've got the feeling that members of this group have different views on the role of the Non-/Active state of Rules and I raised a clarification of that as new issue #245 as prerequisite for writing an agreed Rule Processing.

[2017-09-05 12:06] riannella commented on #241
Yes!!!!

[code]

[2017-09-05 12:07] riannella commented on #241
Do we have to add rdf:value to the JSON-LD context file ??

[2017-09-05 21:53] vroddon opened #246 "Small ammendment: Offer is normative"
I have just edited the ontology, removing this triple:

` odrl:Offer skos:scopeNote "Non-Normative"@en .`

Set, Agreement and Offer are normative. Ticket, Assertion, Privacy and Request are in the vocab and non-normative. These other 7 sub-classes of Policy are ok, only Offer was wrong.

[2017-09-05 21:54] vroddon commented on #246
Fixed in commit:
ae269994490178f5aa9de9d3a67e3f96be35a979

[2017-09-05 21:54] #246 closed, assigned to vroddon

[2017-09-05 22:05] vroddon opened #247 "Validation: OWL consistency"
The spec does not mention that valid policies must be **consistent with the ODRL Ontology**.  Should it? This is illustrated by observing http://odrlapi.appspot.com/samples/sample003, reproduced here for convenience:

[code]

Given that the ontology has declared some `owl:disjointWith` axioms, the joint model policy+ODRLontology is inconsistent.

I have just implemented this validation in the [ODR

[2017-09-06 00:38] riannella commented on #244
Added the Exit CR to both documents.
Also includes some rdf/json requirements in the Vocab

[2017-09-06 00:51] riannella commented on #247
I have added disjoint classes into the conversion to HTML

Let me know if there is anything else missing

[2017-09-06 00:59] simonstey commented on #247
what's the rationale for declaring them owl:disjointWith in the first place? do we mention that requirement anywhere in the spec?

[2017-09-06 02:09] riannella commented on #247
Doesn't this make sense from an ontological point-of-view?

[2017-09-06 02:21] vroddon commented on #247
Well, they were all in ODRL2.1, I see no specific reasons to remove them or to keep them --much like declaring domain and range for the properties.
Another example we have always had in the spec is the disjointness between Permission, Prohibition and Duty. I don't see how can a Permission be a Prohibition a the same time, for example.

But coming back to my original questions...
...should we add t

[2017-09-06 02:32] riannella commented on #241
Updated now to use rdf:value

[2017-09-06 02:44] #241 closed, assigned to sereAbi, riannella

[2017-09-06 02:49] vroddon opened #248 "Validation: profiles and new terms"
I have some difficulties understanding the validation of "new terms".
Namely, I read in IM 3.1:

Does this exclude the use of any URI not in the ODRL namespace? For example, <http://dbpedia.org/resource/Euro> appears in Example 22.  We cannot say either "you are only free in the values of the properties", because an unspecified number of metadata properties are accepted.

However, having new actio

[2017-09-06 03:01] riannella commented on #248
Should we refer to section 3.3 then to be precise as what can be defined in a profile?

That is:

[2017-09-06 03:04] vroddon opened #249 "Diagram missing arrows"
I don't think this is urgent, but I am sad to discover that the already-overloaded Figure 1 misses a couple of arrows: from Policy to Target and from Policy to Asset. Perhaps we can have two diagrams (summary / complete).

[2017-09-06 03:14] vroddon commented on #248
Oh! I think this is much better.

[2017-09-06 03:14] riannella commented on #249
Do you mean for these cases:
  https://w3c.github.io/poe/model/#composition-compact

[2017-09-06 03:17] riannella commented on #248
done

[2017-09-06 03:38] vroddon commented on #249
Yes... ...I guess this can wait; perhaps we can leave this issue open.

[2017-09-06 03:53] riannella commented on #249
What if we added this figure to section 2.7.1
![test](https://user-images.githubusercontent.com/13191615/30093735-cac8b7ec-930a-11e7-8de3-a495596c716e.png)

[2017-09-06 04:01] vroddon commented on #249
Good. If we lose the completeness, in a future we can still alleviate even more the main diagram.

[2017-09-06 05:14] iherman commented on #244
They look o.k. to me.

[2017-09-06 05:56] riannella commented on #249
Done !

[2017-09-06 19:38] vroddon commented on #249
One arrow may be wrong.
In Figure 1, the arrow between LogicalConstraint and Constraint is "listOf". I believe it should be "list".

[2017-09-06 20:37] vroddon commented on #242
For validation purposes, the following example is a diffcult one:

[code]

How to determine that the anonymous constraint (under the rule) is an odrl:Constraint or an odrl:LogicalConstraint? There is no obvious procedure to determine if this is an ill-formed "Constraint" or a well formed "LogicalConstraint" with a profile-defined operator. My proposal (only for implementors):
(1)- if it has no pro

[2017-09-06 22:18] vroddon opened #250 "Wording in Logical Constraints"
FIRST SUGGESTED CHANGE
The spec reads:

I suggest removing the third element from the list (but keeping it out of the list). The reason is that the validation does not need to evaluate anything.

SECOND SUGGESTED CHANGE
The spec reads:

I suggest replacing the word "validator" by "evaluator".

[2017-09-06 23:11] vroddon commented on #242
Update on the validator (http://odrlapi.appspot.com/):
- Validation of logical constraints has been added.
- Processing of inheritance mechanisms has been implemented. With cycle verification and topological sorting of policies.
- Verifications on undefined terms in absence of profiles
- OWL validation has been disabled (takes too long)
- 65 test cases have been proposed

Update on the API:
- A ne

[2017-09-07 00:24] riannella commented on #249
fixed

[2017-09-07 11:15] riannella commented on #250
Done

[2017-09-07 11:20] riannella commented on #242
@vroddon an odrl:Constraint **must** have the 3 properties (leftOperand, operator, rightOperand).
Is that sufficient to determine if it is a Constraint or LogicalConstraint?

if not, we can mandate that a Logical Constraint use a @type
(like we do for Asset/Party Collection)

[2017-09-07 13:31] vroddon commented on #242
I am neutral about how to determine if it is a Constraint or a LogicalConstraint. In practice, implementations will not suffer much, I think. (And for the evaluator I implemented the logic above but I can change it easily).

Is it mandated that AssetCollection/PartyCollections have their type explicitly declared? I had not read it in the list of requirements for the validator. Also, I realize that

[2017-09-08 03:03] riannella commented on #242
Yes, we don't mandate it as such, we say, for example:

An AssetCollection may have none, one, or many refinement property values of type Constraint

So you _should_ assert that the thing is an AssetCollection, but you may not

[2017-09-08 05:34] vroddon commented on #242
Ok! Great. In such a case, everything is correct.
What we do check is that if the AssetCollection has a refinement, then it must have a odrl:source (see sample055, sample065, sample066 and sample067).

[2017-09-08 05:37] vroddon commented on #242
Up to my knowledge:
- The implemented normalizations match those in the spec (can be tried from the API docs)
- The implemented validations match the spec

I am not aware of any feature from the spec not being validated. Next task: write the list of normalizations and the list of verifications done.

We have now 72 test cases.

[2017-09-08 12:31] riannella commented on #226
Another rewrite of the entire section

[2017-09-08 14:44] nitmws opened #251 "Profiles and @context in JSON-LD - 5.2 in Vocab needs update"
E.g. the IM Example 2 shows a Policy by JSON-LD serialization - with a Profile.
This works only if the Profile does NOT define any term which is not included in the http://www.w3.org/ns/odrl.jsonld file. If an organisation would define actions in their own namespace they must use a @context covering both ODRL terms and their terms.

Therefore we have to modify 5.2 JSON-LD in the Vocab document - e

[2017-09-08 18:40] vroddon opened #252 "Mild contradictions in IM wrt validation"
In IM 2.1.2:

...is in mild contradiction with what is said in "Section 2.7 Policy Rule Composition", which accepts more than one value for the assigner property.

At first the ODRL Validator validated that Offer had to have exactly one assigner, now it accepts several more because the expansion is automatically made. Perhaps that sentence (and equivalent ones affecting asset, action and assignees

[2017-09-08 19:33] vroddon opened #253 "How much infererence for validation?"
Please, let us consider this example (written [in May](https://www.w3.org/2016/poe/wiki/Best_Practices)):
[code]
This simple RDF policy is not validated because in principle no policy is found whatsoever.
A simple inference from odrl:permission's domain (odrl:Policy) would produce the necessary axiom:
`<http://example.org/policy/1> a odrl:Policy ;
`
I like these compact policies, which will be mor

[2017-09-09 10:59] riannella commented on #251
Done

[2017-09-09 11:01] #222 closed, assigned to sereAbi, riannella

[2017-09-09 11:01] #225 closed, assigned to riannella

[2017-09-09 11:01] #215 closed, assigned to sereAbi, riannella

[2017-09-09 11:01] #221 closed, assigned to sereAbi, riannella

[2017-09-09 11:01] #223 closed, assigned to sereAbi, riannella

[2017-09-09 11:16] riannella commented on #252
Added the same note to Offer/Agreement section as we use in the Rule/Permission/Prohibition section

[2017-09-09 11:22] riannella commented on #253
I would assume that a reasoner would infer that <http://example.org/policy/1> is a Policy (as you indicated).

But I don't think we should say a Validator should be an inference engine as well ?

[2017-09-11 09:25] nitmws opened #254 "Review of Evaluator Truth Tables (of 5 September)"
This is a review of the Truth Tables of an ODRL Evaluator as shown in https://www.w3.org/2016/poe/wiki/Evaluator - version of 5 September:

What is stated exactly by Not-/Active - see #245 - has not been clarified yet, my assumption from how it is used in the Truth Tables:
* Active = can be used for further evaluation or other ODRL processing
* Not-Active = cannot be used ...

For the three sub-cl

[2017-09-11 11:52] benedictws commented on #254
Hi Michael. Thanks for the feedback.

Some of your concerns can, I think, be assuaged by being clearer about the scope of the evaluator.

The evaluator ensures that the flow of logic encapsulated in the IM has been correctly followed. It does no more than that.

It cannot decide whether a constraint has been satisfied or a duty fulfilled. The world is simply a black box to the evaluator.

What it

[2017-09-11 12:48] iherman commented on #231
Can then be close this issue?

[2017-09-11 12:49] iherman commented on #230
Can this issue be closed?

[2017-09-11 13:40] #231 closed, assigned to nitmws, riannella

[2017-09-11 13:40] #230 closed, assigned to sereAbi, riannella

[2017-09-11 13:43] #227 closed, assigned to sereAbi, riannella

[2017-09-11 13:43] #228 closed, assigned to riannella

[2017-09-11 13:43] #229 closed, assigned to sereAbi, riannella

[2017-09-11 13:44] #232 closed, assigned to nitmws, riannella

[2017-09-11 13:44] #235 closed, assigned to riannella

[2017-09-11 13:44] #239 closed, assigned to vroddon, riannella

[2017-09-11 13:44] #240 closed, assigned to riannella

[2017-09-11 13:45] #244 closed, assigned to sereAbi, riannella

[2017-09-11 13:45] #247 closed, assigned to riannella

[2017-09-11 13:45] #248 closed, assigned to riannella

[2017-09-11 13:45] #249 closed, assigned to riannella

[2017-09-11 13:45] #250 closed, assigned to sereAbi, riannella

[2017-09-11 13:45] #251 closed, assigned to nitmws, riannella

[2017-09-11 13:45] #252 closed, assigned to vroddon

[2017-09-11 13:46] riannella commented on #226
As agreed at today's call, section 2.6.8 will be removed and individual sections updated

http://www.w3.org/2017/09/11-poe-minutes.html

[2017-09-11 13:46] #242 closed, assigned to vroddon

[2017-09-11 13:46] #245 closed, assigned to nitmws, riannella

[2017-09-11 13:46] #253 closed, assigned to vroddon

[2017-09-11 13:46] #254 closed, assigned to nobody

[2017-09-11 14:16] vroddon commented on #253
Correct. I understand inference is a previous pre-processing (or normalization or canonicalization) step.
https://www.w3.org/2016/poe/wiki/Validation#Normalization

[2017-09-11 14:18] vroddon commented on #88
Now we have a large collection of RDF examples and JSON examples from the spec.
Which shall be the notation for the best practices? Any help in making both of them possible?

[2017-09-11 16:24] vroddon commented on #252
@riannella What is the meaning of 'unique' in this sentence? (IM 2.5.2)

Should we understand "not referenced by any other rule or any other policy the parser is aware of"?

[2017-09-11 16:42] vroddon commented on #252
The meaning of example 24 makes me feel uneasy.
[code]
As it means: "you cannot modify data77. But if you happen to modify data77, then delete data77".
Instead of: "you cannot modify data77. But if you happen to modify data77, then delete THE DATA DERIVED FROM data77".

We hint about using other subproperty of odrl:relation, but this case will be very frequent and I would give further examples. In

[2017-09-11 17:05] nitmws commented on #226
Having a look at the draft Truth Tables of an ODRL Evaluator - https://www.w3.org/2016/poe/wiki/Evaluator - and on the IM of 9 September I see a need to write down some conclusions for getting the results shown in the the Truth Tables - I reference the current numbering of IM sections:
1. how the states "satisfied" and "not satisfied" are generated for a Constraint instance is defined by 2.5.1 - o

[2017-09-11 17:05] vroddon commented on #242
A further validation has been implemented at http://odrlapi.appspot.com/ ("A remedy must not refer to a Duty that includes a consequence Duty.") and added two new test cases (we have now up to 74 sample policies).

[2017-09-11 17:08] vroddon commented on #242
@riannella @benedictws @simonstey @nitmws @iherman

I have just published 5 normalization steps and 25 validation rules in the following wiki. https://www.w3.org/2016/poe/wiki/Validation

I have tried to collect any validation check derived from the IM that has been proposed so far (Michael, Simon, etc.).  **Is there anybody aware of any other validation not listed there?**

They are all implement

[2017-09-11 19:52] vroddon commented on #242
@simonstey, I understood you are publishing tomorrow also some SHACL shapes.
Wouldn't it be great linking them to the validation rules https://www.w3.org/2016/poe/wiki/Validation?
Namely, "Shape X validates rules Y,Z" etc.

I wrote some at https://github.com/oeg-upm/licensius, but they are still not clean nor commented. Where do you have yours? I dont find them here https://github.com/simonstey/OD

[2017-09-11 23:58] riannella commented on #88
Both is good.
Can you use: http://www.easyrdf.org/converter

[2017-09-12 00:50] riannella commented on #252
What if we update the example to:
[code]

[2017-09-12 00:57] riannella commented on #242
Great work @vroddon

What about this in Policy Metadata:

[2017-09-12 01:01] riannella commented on #242
@vroddon  @benedictws @simonstey @nitmws @iherman

We need to bring all the testing stuff together into a package for developers.

@benedictws Will oversee this.

The two documents needed are:
  https://github.com/w3c/poe/blob/gh-pages/test/test-regime.md
  https://github.com/w3c/poe/blob/gh-pages/test/test-suite.md

And the results (from implementors) goes here:
  https://w3c.github.io/poe/test/i

[2017-09-12 01:03] riannella commented on #252
@vroddon

"unique" means that the specific instances for that specific constraint operand are not the same.

[2017-09-12 01:22] vroddon commented on #253
Please note that RDFS inference is not the only one that is required.
Whereas some SHACL shapes could make use of
`sh:targetObjectsOf sh:entailment ;`
Some of the preprocessing is needed. For example, the transformation related to "hasPolicy".
A possible task would be to identify exactly which validations require which entailments/normalization transformations.

[2017-09-12 01:23] vroddon commented on #252
Thanks! --'unique' concept is now clear to me.

[2017-09-12 01:25] vroddon commented on #252
Thanks! --the example now is now more meaningful.

(My experience tells me that many contracts/licenses like imposing constraints on the derivative work. But this is something that can be reflected in the best practices note)

[2017-09-12 01:31] vroddon commented on #242
I am terribly afraid this would be matter for the Evaluator, rather than the Validator (I don't see the transformation either, except from self-destruction of the policy).  And now... ...a new word has slipped into the discussion: "void" ;-)

[2017-09-12 02:19] riannella commented on #252
Example updated

[2017-09-12 02:23] riannella commented on #242
"void" introduced here: https://github.com/w3c/poe/issues/237

[2017-09-12 04:45] iherman commented on #242
It is important to have at least a skeleton, or a set of links, into the two new pages ASAP. We cannot call for a CR with empty pages...

[2017-09-12 05:28] riannella commented on #226
Thanks @nitmws - I am slightly confused by your comments in bullet point 8. Are you saying that a consequence AND duty must NOT both be fulfilled (if the duty has not been fulfilled) - only the consequence?

[2017-09-12 05:37] riannella commented on #226
I have removed section 2.6.8 and moved normative statements back into the other sections.

Please review carefully and provide any explicit changes (eg swap "blaa blaa" with "foo foo" in para x of section y)

I have not included any wording that would imply any form of "processing rules".

If there is a need for implementors to describe "states" then the terms in the IM could be used:
Permission:

[2017-09-12 06:46] riannella commented on #226
@nitmws re: bullet#6

If a refinement, such as example 16 in the IM, results in no individual asset (ie: there are only movies > 60 mins in the Collection) then the Constraint is "not satisfied" ?

[2017-09-12 06:51] nitmws commented on #226
@riannella reply to "I'm slightly confused" above:
The problem of the wording of this section is that is has to cover 2 steps of the evaluation:
* A Duty has evaluation rules without considering consequences: all constraints are satisfied and the action is exercised --> fulfilled, if the action is not exercised: not fulfilled. I call this "evaluation step 1" below.
* But that's not the end of the

[2017-09-12 07:11] nitmws commented on #226
re @riannella on bullet #6 (I've modified the list from bullet points to numbers now)

Ok, but what is the result of a "not-satisfied" refinement Constraint on its AssetCollection? By the generic rules regarding the use of Constraint the Thing referencing it turns into being not-active. And a Permission (in example 16) MUST have a target - but in this case it doesn't.

[2017-09-12 07:49] simonstey opened #255 "Cardinality of odrl:rightOperand"
https://w3c.github.io/poe/vocab/#term-isAnyOf:

[code]
but =>

http://w3c.github.io/poe/model/#constraint-class:

[2017-09-12 08:32] nitmws commented on #226
A first review of spreading the content of section 2.6.8 to corresponding sections:

I like the basic approach: the definition of a class covers
* the impact of values of properties on the evaluation of a class
* a final result from evaluating this class

A wide wording issue: the IM must make a strict distinction between a class and a property - in particular if their name uses the same character

[2017-09-12 08:52] nitmws commented on #226
Review part 2:

Some details, my suggested changes in bold:
1. 2.6.2 : That is, the remedy property asserts a Duty that must be fulfilled if the **action of the** Prohibition is exercised
2. 2.6.3: the Duty class definition is missing the role of consequence - which should be done similar to the Prohibition class. Add: **If its action has not been exercised all consequences must be fulfilled to fu

[2017-09-12 10:21] nitmws commented on #255
I get the need from this case using odrl:isAnyOf  but that raises some questions:
What about
[code]
* Are the "atomic" triples `odrl:media odrl:isAnyOf odrl:print` and  `odrl:media odrl:isAnyOf odrl:online` ok?
* What is the logic of the atomic triples `odrl:media odrl:eq odrl:print`,  `odrl:media odrl:eq odrl:online`: AND or OR or something else?

I guess these set-related operators isA, isPartOf

[2017-09-12 11:26] riannella commented on #226
1 - updated first para of "Consequence property with a Permission/Obligation Duty" section as per above.

2 - added notes that "refinement" must not result in null/empty outcomes

3 - Part 1 Review changes done

4 - Part 2 Review changes done

@nitmws In the bottom part of "Review Part 2" - are you asking for a change to some narrative?

[2017-09-12 11:51] riannella commented on #255
@simonstey  Perhaps we add this option as well:

Thoughts or other options?

@nitmws the `odrl:eq` examples would then be invalid

[2017-09-12 13:51] nitmws commented on #226
re 2 above: I'm afraid that "must not" doesn't work. See example 16: the AssetCollection is defined in a persistent way but its members may change on a hourly base (or even shorter) - and ODRL doesn't have any influence on that.
I suggest to add to the definitions of both Collections: "**As a result of applying refinements to a ...Collection it may not include any members but this does not make to

[2017-09-12 14:10] vroddon commented on #255
Good point!

What about following the same strategy as with the [andSequence](http://w3c.github.io/poe/vocab/#term-andSequence)? In such a case, an RDF list would follow.

[2017-09-12 15:18] nitmws commented on #255
@riannella I was hoping the odrl:eq example is invalid - but one never knows ;-)

Re suggestion above: I would simply append the lists to the rightOperand definition:

one rightOperand property value of type literal, **or?** IRI [rfc3987], or RightOperand; **or, list of literals, or? list of IRIs [rfc3987], or list of RightOperands (for set-based operators); or,**
(Question: why are no "or"s befor

[2017-09-13 01:19] riannella commented on #226
But....if you look at Example 16 at https://w3c.github.io/poe/model/#constraint-party
If the result of the refinement is a null set of Parties, then the Agreement has no assignee, which means is is not a valid agreement?

Clearly this not in the control of ODRL (another Black Box) but we need to at least have note  so implementors are aware that this result may occur and they may need to do someth

[2017-09-13 01:41] riannella commented on #255
Ok, done...and added note to vocab terms.

[2017-09-13 07:13] nitmws commented on #226
re @riannella above: a state of zero members of a Collection SHOULD NOT make it invalid.

Another practical example: a Permission grants access to service ABC to the group of 50 to 60 year old people in a community (= PartyCollection). If today nobody of this age is member of the community then simply today nobody has access to service ABC. But this will cause no problems for the assigner and the

[2017-09-13 08:24] nitmws opened #256 "Wording and RDF semantics: Collection - List - Sequence ..."
Digging deeper into the RDF behind the *Collection Classes of ODRL for #226 I noticed the IM uses a terminology which is not clear:
* **collection in the IM**: e.g. in 2.2 and 2.3 - "Asset/PartyCollection - an Asset/Party that is a _collection_ of resources." The further definition of the *Collection does not say a word about ordering, it only talks about "all items in the collection" - in terms o

[2017-09-13 09:02] simonstey commented on #256
ad1:

despite having similar names, both Asset/PartyCollection have nothing to do with collections in RDF

[2017-09-13 09:19] nitmws commented on #256
... I agree at the information model level but then we should clarify that in the used language:
* an instance of *Collection is a single entity by the view of ODRL
* this instance should support a function to check if an identified entity is a member.

[2017-09-13 09:25] riannella commented on #226
done

[2017-09-13 09:26] nitmws commented on #226
Similar issue in 2.5.4 - Note: a refinement property MUST not narrow the semantics of the Action to a null operation.

I suggest to downgrade the requirement to "SHOULD NOT narrow" as e.g. a compensation action with a refinement of "pay 0 (zero) Quids" is not invalid, it only looks a bit strange.

[2017-09-13 09:32] nitmws commented on #255
Sorry to come back to this issue, but: if the rightOperand property may be a list of values I think this feature must be opened to the rightOperandReference property too:
one rightOperandReference property value of type
**-- IRI [rfc3987]; or
-- list of  IRIs [rfc3987]
for a reference to right operand value(s).**

[2017-09-13 09:53] iherman commented on #256
Some additional facts, @nitmws:

There is a difference between these two, however. Containers (that was defined in the very first RDF version in the last milleneum whereas Collections came in the current one...) are considered as ill-defined by many. The main issue is that they are not "closed"; in an open world paradigm (of which RDF is part of) it is unknown whether another entity is listed some

[2017-09-13 12:18] riannella commented on #226
Done. I added SHOULD NOT to the other two as well.

(SHOULD NOT also implies "but the full implications should be understood and" as per RFC2119)

[2017-09-13 12:33] riannella commented on #255
Done.
Also added notes to Vocab terms.

[2017-09-13 12:34] #255 closed, assigned to nobody

[2017-09-13 12:46] riannella commented on #256
As Editor, I am seeing no change(s) now proposed here?

[2017-09-13 13:14] nitmws commented on #256
I suggest to change the definition of the *Collection sub-class of Asset and Party:

Asset/PartyCollection - **an Asset/Party that is a single resource representing a set of member resources. This indicates that all the members of the set will ... .**

Note: we have to be aware that the two sections about refinement of Asset/PartyCollection use the term "member" heavily. Therefore we must define i

[2017-09-13 13:29] riannella commented on #256
Done.

PartOf has Domain of Asset/Party and Range of Asset/PartyCollection

[2017-09-13 14:14] nitmws commented on #256
As a Domain includes sub-classes the (endless) nesting is planned.
Good to know ...

[2017-09-13 14:36] simonstey commented on #256
you can't simply "override" rdfs semantics

Good to know ...

why would someone plan that?

[2017-09-13 16:28] vroddon commented on #256
wasn't that ironic? or Michael simply wanted to say "multi-level nesting"?
I observe that the current spec is not saying that there must not be cycles in the collections (whereas for policy inheritance we have a sentence). But this is absolutely unimportant, I think.

[2017-09-13 17:06] nitmws commented on #256
An IPTC standard including such an unlimited nesting was categorized by Microsoft and Oracle as "cannot be implemented". Ok, some years ago, but I still hear from people responsible for technical implementations at IPTC members that they do not like an unlimited nesting.
That's only shared experience.

[2017-09-13 17:06] simonstey commented on #256
fwiw, a cyclic subclass graph makes all involved classes equal (iirc) because:

A equivalentClass B
=>
A subclassOf B
B subclassOf A

i know

[2017-09-13 17:07] simonstey commented on #256
(messed up formatting)

[2017-09-13 17:13] nitmws commented on #256
Now I come back to open details of my initial posting:

What kind of RDF serialization should be be used for the lists of `rightOperand` and `rightOperandReference `?

And is it ok to make the list of RightOperands of a Logical Constraint a @list / rdf:List in all cases? Would make implementations easier.

[2017-09-13 18:10] vroddon commented on #256
@simonstey Oh! Again I was not explicit enough. I was not meaning subclassing but partOf:
[code]
But still, the idea is the same :)

[2017-09-13 18:12] vroddon commented on #256
@nitmws

I understand rdf:List.

A couple of the validations in https://www.w3.org/2016/poe/wiki/Validation will have to change, though

[2017-09-14 00:41] riannella commented on #256
Yup, rdf:List

The IM only points out that you must use an ordered list in some specific cases (eg andSequence)

[2017-09-14 06:18] nitmws opened #257 "IM diagrams issues"
Simple to solve issue: the Figure 2 diagram of the IM document (of 14 September, morning issue :-) ) names a Rule -- PartyCollection relationship "assingee" - should be "assignee"
And this should be fixed in the Candidate Release.

Not so quickly to solve - and I guess it may be fixed Proposed Recommendation: in Figure 1 lines are going from Action, Asset Collection and Party Collection towards Co

[2017-09-14 06:47] nitmws opened #258 "source of a *Collection (and also Asset/Party?)"
The diagrams of Figure 1 and 2 and Examples 16 and 17 show a property named source. But in the definitions of *Collection Classes it is not listed.

#164 brought this property up as RDF (serialisation) requirement  - "not to hijack URIs".

In 2.5.5 and 2.5.6 of the IM a Note tells "... the source property MUST be used to reference the ...Collection." but by the style of definitions in the IM a pro

[2017-09-14 06:49] nitmws commented on #256
Would it be possible to write this down? Because the free text term "list" does not implicitly map to rdf:List.
(This has a relevance for interoperability: if Policy Creator A uses rdf:Bag, Creator B used rdf:Seq and Creator C used rdf:List for a list with undefined ordering - e.g. list of IRIs with a `rightOperand `- this would be valid by the current IM, but not nice for receivers.)

[2017-09-14 07:29] iherman commented on #258
Probably an editorial aside, but, in Figure 1, the line going "down" from `source` is unclear. It crosses the line labeled as `refinement` (instead of 'bridging' it), it changes colour at that crossing point, and has no arrow head either way...

CC @riannella

[2017-09-14 07:39] nitmws commented on #258
@iherman please have a look into #257 - it covers exactly what you describe here - and I understand this crossing as a point merging the lines (= relationships)

[2017-09-14 07:40] iherman commented on #258
@nitmws I am not sure I understand your question. But if I guess it right: the 'URI hijacking' refers to a situation when the same subject is reused on the Semantic Web. E.g., if there is a statement somewhere saying

``
<https://www.ivan-herman.net/#me> ex:isA ex:computer_scientist .
``

then third parties have to be careful whether they would assign new triples for that subject. Something like

[2017-09-14 07:53] riannella commented on #258
Ok, done. Added "source" property in the same style as the rest.

Answer 1 - you can ONLY refine Asset/PartyCollections
Answer2 - you use uid if you just only want to identify a Asset/PartyCollections

[2017-09-14 07:53] #258 closed, assigned to iherman, vroddon, simonstey, riannella

[2017-09-14 07:56] riannella commented on #256
Added to encoding section

[2017-09-14 07:57] #256 closed, assigned to iherman, vroddon, simonstey, riannella

[2017-09-14 07:57] #226 closed, assigned to sereAbi, riannella

[2017-09-14 09:16] riannella commented on #257
fixed

f02c5c842f1ec8b7930f7a3f65a77bbdee5d09f6

[2017-09-14 09:16] #257 closed, assigned to riannella

[2017-09-15 15:59] vroddon opened #259 "ODRL Validation questions"
I dare to copy here some of @simonstey comments. First:

[code]

=> invalid because odrl:remedy's range is odrl:Duty and Duty disjointwith Prohibition

[2017-09-15 16:00] vroddon commented on #259
I suggest that inference of classes is made also for this case in the normalization step.

[2017-09-15 16:03] vroddon commented on #259
Again, on behalf of @simonstey
[code]

=> only a warning? isnt that invalid?

[2017-09-15 16:04] vroddon commented on #259
For the 051 I have a doubt: the spec does not say anything. The onto, has the disjointWith constraint.
So I don't know the expected behaviour.

[2017-09-15 16:05] vroddon commented on #259
And third comment from @simonstey:

[code]
not valid. Value does not have shape odrl:targetCardShape

[2017-09-15 16:05] vroddon commented on #259
Well, after normalization it is valid, isnt it?

[2017-09-15 20:01] vroddon commented on #259
Any answer for these three questions will be ok, I think they are all reasonable.

[2017-09-15 20:01] #259 closed, assigned to vroddon, simonstey

[2017-09-18 07:00] nitmws opened #261 "ODRL Validation/Validation issues"
Going over the [ODRL Validation](https://www.w3.org/2016/poe/wiki/Validation) document, 1.2 Validation section I noticed:

1. I suggest to follow the spelling of classes and properties in the IM: classes starting with uppercase characters (Rule, Constraint, Duty), properties with lowercase characters. That's a big issue as we have names of classes and properties where only the case of the first ch

[2017-09-18 22:13] vroddon commented on #261
@nitmws Even if the ODRL Validation document was informally written, I have made an effort to be more rigurous and follow your guidelines. In particular:

-  OK to the use of singular and plurals
-  OK to the capitalization of defined terms, except in the titles to gain clarity. In addition fixed-size font has been used to refer to ODRL elements.
-  Types are declared at least after one of the nor

[2017-09-18 22:17] vroddon commented on #201
@riannella, I am afraid that the policy inferences defined here https://www.w3.org/2016/poe/wiki/Policy_Inference by @simonstey should also be part of the normalization step.

They can be implemented as SPARQL Update queries (I just added an example of SPARQL Update transformation in the Validation document https://www.w3.org/2016/poe/wiki/Validation).

The SPARQL queries can be really long.

[2017-09-19 07:18] nitmws commented on #261
@vroddon almost perfect: some "rule" should be "Rule" and "a duty that includes a consequence duty" --> "a Duty that includes a consequence Duty"

As this document is now part of the ODRL CR Test Regime it may be formally informal but implementers will need it!

I come back to my item 5 above: is a list understood as single thing by SHACL?

re rdf:DATATYPE: a quick googling didn't show a solution

[2017-09-19 15:18] vroddon commented on #261
Please feel free to edit the wiki.

Given that the value for rightOperand can be either literal or IRI, the only validation I can think of is:
"_It cannot be a blank node whose type is not RightOperand_".

Consequently, the new sample I have just uploaded (sample076, see below) is not being correctly parsed, I guess that according to the spec this should be invalid. I wonder whether it worths impo

[2017-09-19 18:43] vroddon opened #263 "Problem in JSON-LD?"
The JSON-LD examples are not being correctly parsed.
If you try [easyrdf](http://www.easyrdf.org/converter) or [rdf-translator](http://rdf-translator.appspot.com/) you will see that examples have stopped being correctly parsed.

[code]

is converted into:

`<http://example.com/policy:1010> a <http://www.w3.org/ns/odrl.jsonld#Set> .`

[2017-09-19 18:59] iherman commented on #263
I cannot really look at the context file on an iPAD, but I succeeded to have look. I have the impression that this is the ontology file in json-ld rather than a context file. It seems that there has been some mistake when the content of '/ns' was updated a few days ago.

@riannella, can you check and tell me what I should change?

[2017-09-20 00:24] riannella commented on #261
@vroddon The spec says "... one rightOperand property value..." - so there MUST be a value there, not just the property. So your first example above must be found to be invalid.

[2017-09-20 00:31] riannella commented on #263
Everything is fine if you set the context and namespace separately:

[code]

[2017-09-20 13:25] vroddon commented on #261
@riannella The problem is that technically, rightOperand has only one value. The example is better seen as N-TRIPLES.
[code]
is translated as:
[code]

There is only one triple using rightOperand

[2017-09-20 13:54] vroddon commented on #263
@riannella Thanks! The example below now works perfectly well.
Maybe we don't need to change the IM example, but perhaps we can give the hit you wrote somewhere.
[code]

[2017-09-20 13:54] #263 closed, assigned to nitmws, simonstey, riannella

[2017-09-20 20:05] nitmws opened #264 "CR IM: JSON of examples 20, 16, 17, 25 wrong"
The JSON of example 20 in the IM CR version has an error, the array of the obligation property is not closed and the final } is missing, should be

[code]
And the examples 16, 17 and 25 have a comma behind the last property in an object (primarily at the bottom of the JSON)

(Corrected versions are available in https://github.com/nitmws/odrl-wprofile-evaltest1/tree/master/testdata)

[2017-09-21 00:53] riannella commented on #264
thanks. fixed.

[2017-09-21 00:53] #264 closed, assigned to riannella

[2017-09-23 08:11] nitmws opened #265 "obligation is missing in odrl.jsonld"
I've used (on 22 September) the http://www.w3.org/ns/odrl.jsonld file with the IM examples 20 and 21 about obligations and noticed that the term "obligation" is not resolved/mapped in the JSON-LD file.
People invited to implement ODRL evaluation need that.

[2017-09-23 08:41] iherman commented on #265
I have added it. There was also a duplicate property (prohibition) which made the json file invalid, so I removed one of the two.

[2017-09-23 08:41] #265 closed, assigned to vroddon, simonstey, riannella

[2017-09-25 13:56] nitmws opened #267 "Harmonise how a Duty with consequences should be evaluated"
This is about the CR version of the IM, today (25 September) at https://w3c.github.io/poe/model

The [Duty Class definition](https://w3c.github.io/poe/model/#duty) says about consequences:

Further down in this section the description of the `consequence` property says:

These two statements are not aligned: the first one does not require to exercise the action of the Duty, the second one does.
I

[2017-09-26 07:16] simonstey opened #268 "fixing selected examples"
https://w3c.github.io/poe/model/#constraint-rule **Example 13**:

**must** makes it an obligation => s/must be exercised before/can only be exercised until

-----

https://w3c.github.io/poe/model/#duty-perm **Example 22**:

https://w3c.github.io/poe/vocab/#term-policyUsage:

=> if a policy has >= 2 rules, when is it considered to be exercised?

-----

https://w3c.github.io/poe/model/#metadata **Ex

[2017-09-26 07:30] riannella commented on #267
Hi @nitmws - can we turn this into two issues? One for the testing phase, and one as formal CR Review editorial feedback? (and they will be addressed separately)

[2017-09-26 07:52] simonstey commented on #261
fwiw, those shapes check whether a rightoperand is either _a literal, or IRI [rfc3987], or RightOperand;_ or a well-formed RDF list:
[code]

(listshape was taken from https://www.w3.org/TR/shacl/#shacl-shacl)

[2017-09-26 08:16] simonstey commented on #237
https://github.com/w3c/poe/commit/d6fb940415e3a5877d08c3af9087b83c981d7a4a

**only** when there are conflicts! otherwise, e.g. any policy not defining a conflict resolution strategy is void by default.

[2017-09-26 09:09] simonstey commented on #267
and what happens after round 2?

[2017-09-26 10:05] nitmws commented on #267
Re @riannella : this issue should be considered first in the test phase of course. If we agree on the approach  we will make it a formal CR Review feedback? I'm ok with that.

[2017-09-26 10:12] nitmws commented on #267
Re @simonstey

The ODRL Processor having evaluated the Duty has to draw its conclusions from the Duty's state Fulfilled or Not-Fulfilled. E.g. if the Duty is a duty of a Permission and the result is Not-Fulfilled then the Permission's state cannot be Allowed anymore. This applies also to Duties referenced by consequence or remedy; for an obligation-Duty the Processor returns the state to the syste

[2017-09-26 10:17] simonstey opened #269 "the assignee(s) of the Duty MUST satisfy the Duty."
http://w3c.github.io/poe/model/#duty:

[...]

http://w3c.github.io/poe/model/#duty-perm:

1) assignee of the duty must satisfy == assignee of the duty must exercise the duty action?
2) who is considered to be the "assignee of the duty" in the following two examples ->

[code]

[code]

----

https://w3c.github.io/poe/vocab/#term-ensureExclusivity:

Note: If used as a Duty, the assignee should be ex

[2017-09-26 10:22] simonstey commented on #267
"cannot be Allowed anymore" as in never ever or until it's evaluated again?

[2017-09-26 10:29] nitmws commented on #267
This happens inside the evaluation of a Permission, step by step:
- the IM requires for setting a Permission to Allowed that all existing duties have to be Fulfilled
- the evaluator has to iterate over all existing duties ...
- ... and if only a single one returns Not-Fulfilled the condition for setting the state of the Permission to Allowed is not met.

[2017-09-26 10:38] nitmws commented on #269
Re this section:

By my understanding of the IM these two bullets are optional:
* IF an assignee has been defined for this duty
  * THEN the assignee must have the ability ... and must satisfy ... .
  * ELSE an undefined party has to do that.

[2017-09-26 10:47] simonstey commented on #269
THEN the assignee must have the ability ... and must satisfy ... .
    ELSE an undefined party has to do that.

Even though the assignee might not be the party that has to actually **do** the duty?

(apart from the problems caused by -> _If there are no assigner and/or assignee properties declared in the Duty, then these functional roles will be the same as those declared in the referring Permissi

[2017-09-26 12:42] riannella opened #270 "Conflict - invalid case"
The wording of point 3 under "Conflict Strategy" in section 2.10 needs to be updated to reflect that that the outcome only occurs if there is an actual policy conflict.

[2017-09-26 12:42] riannella commented on #237
See #270

[2017-09-26 12:42] #237 closed, assigned to sereAbi, riannella

[2017-09-28 06:03] simonstey opened #271 "fix for examples in 3.3 ODRL Profile Mechanism"
http://w3c.github.io/poe/model/#profile-mechanism

- [x] s/;/./
- [x] added missing `odrl:` namespace
- [x] fix inconsistent formatting, e.g.:
   + _"Create an instance of an Action and define its **includedIn** parent Action."_
   + _"The new Action MAY be defined as **\<code>includedIn\</code>** to any existing Action."_
   + _"Create a sub-property of the abstract **\<em>function\</em>** proper

[2017-09-28 07:27] simonstey opened #272 "inconsistent requirements wrt. profile definitions"
**[A]** http://w3c.github.io/poe/model/#policy:

----

**[B]** http://w3c.github.io/poe/model/#profile-conformance:

----

**[C]** http://w3c.github.io/poe/model/#profile-core:

----

=> it's not possible to conform to **[A,B,C]** all at the same time

[2017-09-28 07:49] simonstey opened #273 "Common Vocabulary Concepts/Terms used/referenced in Core Vocabulary Section"
https://w3c.github.io/poe/vocab/#policyConcepts:

The ODRL Core Vocabulary defines the semantics for the concepts and terms from the ODRL Information Model [odrl-model]. The ODRL Core Vocabulary represents the minimally supported terms for ODRL Policies.

3.1.1 Policy
  Sub-classes: Agreement, **Assertion**, Offer, **Privacy**, **Request**, Set, **Ticket**

=> Concepts/Terms that are not part of t

[2017-09-28 14:02] nitmws commented on #272
(I guess this comes from the step-by-step progress in the understanding and specification of profile.)

I suggest:
* all the wordings have a key issue: there are the ODRL IM and the Core Vocabulary/Profile each and every ODRL Policy has to conform to ... but this may be **extended** (and not be replaced!) by using a Profile!
Therefore: a Profile has only to include terms which are not already defi

[2017-09-28 14:11] nitmws opened #274 "Harmonize 2.6.7 Remedy property with Prohibition"
To consistently use the term "infringed" as a state of Prohibition the first para of 2.6.7 Remedy with Prohibition should be modified:

The remedy property expresses an agreed Duty that must be fulfilled in case that a Prohibition has been infringed by being exercised. If the Prohibition action is exercised, then all remedy Duties must be fulfilled to address the infringement _(is currently: viola

[2017-09-29 09:06] simonstey opened #275 "Unsatisfiable consequence example"
http://w3c.github.io/poe/model/#duty:

**O1**: original obligation or duty
**O2**: consequence Duty

**O2** is triggered once **O1** is considered to be not fulfilled and as a result both **O1** and **O2** have to be fulfilled.

**O1**: provide data by a certain date (e.g., 2017-12-31)
**O2**: pay 100$ fine

**O2** is triggered once **O1** is considered to be not fulfilled (i.e., date >= 2018-01-0

[2017-09-29 09:08] nitmws opened #276 "XML Schema issues"
I had a look at the ODRL XML Schema at http://w3c.github.io/poe/vocab/ODRL22.xsd - referrenced from the CR Vocabl document, in the non-normative section [5.3 XML ](https://www.w3.org/TR/2017/CR-odrl-vocab-20170926/#xml) and found details which do not align the the IM of the CR:

* Policy/@profile and @inheritFrom take only a single URI. A simpleType defined as list of xs:anyURI could be used to so

[2017-09-29 12:16] nitmws commented on #275
This issue is also covered by #267
The problem in the background is: the current definition of when consequences have to be executed and only their fulfilment has an impact on the state of the Duty (in https://w3c.github.io/poe/model/#duty) . But a description of the consequence property further down in this section raises the need for an also fulfilled original Duty. At the call on 25 September i

[2017-10-03 02:03] riannella commented on #267
I think there is a simple editorial solution. Simply add "also" to "...then all consequences must **also** be fulfilled..."

The latter paragraph about consequence, makes it clear that is is an additional Duty (so current implementors must support that).

See #275 for more comments...

[2017-10-03 02:18] riannella commented on #275
Again, I think an editorial update can address this...

We need to add narrative that for a duty that must also be satisfied - due to the triggering of consequence - that some constraints **may** need to be relaxed in order for it to be correctly satisfied (and give an example of the temporal constraint).

As for the issue  of a consequence being an **additional** Duty to be satisfied, I think thi

[2017-10-03 06:29] nitmws commented on #275
Pondering which kinds of constraint can trigger such a "cannot be fulfilled" status of a Duty resulted in: "original Duties" (to use the term of the IM) with a temporal constraint cause this problem. But this cannot be solved by narrative only, an evaluator has to check consequences strictly and **if the payment has not been exercised inside the time frame set by the constraint it is impossible to

[2017-10-03 08:43] nitmws commented on #267
Sorry, I disagree. In #275 @simonstey demonstrates that if the "original Duty" has a temporal constraint this Duty cannot be fulfilled outside the time set by the temporal constraint, by the logic of constraints this is impossible.

Therefore:
The paragraph about the consequence property should be changed to (and a typo in the second sentence should be fixed):

We may add as Note:

The first parag

[2017-10-03 08:44] nitmws commented on #275
I've suggested minor corrections of the IM in https://github.com/w3c/poe/issues/267#issuecomment-333778181

[2017-10-04 01:43] riannella commented on #275
@simonstey Are you saying that an unsatisfied duty (that has triggered a consequence) now MUST not ever be satisfied, **only** the consequence?

Is that a changed requirement from the proposal to support regulations like GDPR?
(which is why we added consequence in the first place)

[2017-10-04 02:03] riannella commented on #267
I understands where the issue is - but the ODRL IM does not define any temporal constraints, only that the duty is satisfied or not. From a machine perspective this may be difficult with a hard-coded date. From a business perspective, it does work (ie you can still pay a bill after the due date in most companies ;-)

So the IM, i think, is correct in the scope of the normative statements.

As an e

[2017-10-04 02:09] riannella commented on #267
So perhaps the editorial note should say:

[2017-10-04 02:09] riannella commented on #275
see proposal in #267

[2017-10-04 08:26] nitmws commented on #267
Now things get complex as we reuse the same examples and associated assumptions too much:
* That an **"original Duty" can be exercised** after not having been exercised **is not guaranteed**. This is an assumption without any proof as the POE WG does not know what duty-actions will be defined by profiles beyond the Common Vocabulary - and ODRL should not build on assumptions.
(Quick aside: a Polic

[2017-10-05 04:02] riannella commented on #267
@nitmws my response has been based on the **current** IM narrative that states that the original duty MUST also be satisfied if it triggers the consequence duty.

I have asked @simonstey and @sabrina to verify/clarify that is the correct interpretation (as the consequence duty was introduced based on their requirements) #275

If it turns out to be true, then we need to address the satisfaction iss

[2017-10-05 05:13] nitmws commented on #267
@riannella @simonstey and @sabrina let's have a look back at square 1 of this Issue:

In the **current IM** we have this definition right under the heading 2.6.3 Duty Class - without any word about a requirement to fulfil of the "original Duty" to finally fulfil the Duty with consequences.

And we have in the **current IM**  this language as narrative regarding the `consequence `property (defined

[2017-10-05 06:10] simonstey commented on #275
no.. I'm not saying that the concept of _consequence_ is flawed per se, but that there's some additional narrative required to explain how cases in which consequences are explicitly triggered need to be handled.

E.g., Example 23 is perfectly fine as one can still attribute, even if the consequence was triggered.
[code]

[2017-10-05 06:13] simonstey commented on #267
related to that, what was the reason for requiring that ->

avoiding cyclic dependencies?

[2017-10-05 06:58] nitmws commented on #267
As I recall from the discussion at a call it was avoiding infinitely nested consequences, and that makes sense. (We at IPTC had such nested structures and implementers told us: "this does now work in a reliable way in practice". Since then we avoid that.)
Further this excludes cyclic dependencies as a Duty having consequences cannot be reused as one of its consequences.

To clarify this regarding

[2017-10-06 01:33] riannella commented on #275
Ok, thanks for the clarification.

I believe that we can work on an updated narrative to address this

[2017-10-06 01:50] riannella commented on #267
@nitmws I think we did miss the word "also" in the first para of 2.6.3 Duty Class.
But we do - more formally - define the consequence property in Para 5.

Perhaps what is needed is *another* _failure_ sub-property?

[2017-10-06 05:48] nitmws commented on #267
@riannella adding "also" to the first para does not help as #275 shows. Based on that issue ODRL MUST sort out a Duty (including constraints and refinements) which must be fulfilled in a first round of evaluation and a Duty with maybe less constraints etc in a second round of evaluation which checks all the consequences - and this modified Duty should be made one of the consequences. This does not

[2017-10-06 18:51] nitmws opened #277 "Error in the ODRL JSON-LD context resource"
@vroddon and I have been working on the transformation of Turtle RDF used on the [Validation page](https://www.w3.org/2016/poe/wiki/Validation) into JSON-LD RDF - and ran into errors, even when using the  jsonld.js Node.js module created by the JSON-LD people.
I raised a Github issue there https://github.com/digitalbazaar/jsonld.js/issues/201# and got this response:

The problem is the following c

[2017-10-07 07:01] iherman commented on #277
@nitmws do you have a confirmation about those? I can do the changes and, at the end of the day, I will have to push it up to /ns...

[2017-10-07 11:15] nitmws commented on #277
@iherman what kind of confirmation do you expect?
* the advice was given by David I. Lehn, working for Digital Bazaar - https://github.com/davidlehn
* I have applied the suggested change to a copy of the ODRL-context in a test application created for the purpose of transforming ODRL Turtle to JSON-LD and the *=compact.json files in https://github.com/nitmws/rdf-jsonld-transformation-test1/tree/mas

[2017-10-07 11:27] iherman commented on #277
Sorry @nitmws, there were two threads (this one and one on the mailing list) and I was not sure of the status.

I have updated /ns/odrl.jsonld and, of course, the version on the repo with a copy of yours.

If it works now, the issue can be closed...

[2017-10-07 12:10] nitmws commented on #277
From my side this change solves the problems I noticed but I would be happy to see a response from @vroddon as he told me "the ids of the blank nodes are not working well" - then I created this transformation tool and this transformation tool showed "undefined" instead of "uid". Do the ids of the blank nodes in Victors system work well now?

[2017-10-09 12:29] vroddon commented on #277
Well, the automatic transformation was generating named blank nodes. We want them really "anonymous".

[2017-10-09 13:43] iherman commented on #267
Resolution taken at the meeting of the group 2017-10-09: http://www.w3.org/2017/10/09-poe-irc#T13-43-24

[2017-10-09 13:48] riannella commented on #275
Resolution taken at the meeting of the group 2017-10-09: http://www.w3.org/2017/10/09-poe-irc#T13-43-24

[2017-10-10 06:38] riannella commented on #267
Updated the IM. Included a "note" about relaxing the constraints.
Also updated note in the Vocab with same text.

[2017-10-10 12:28] riannella commented on #267
from @nitmws
Hi Renato,
I had a look at the updated language of the Duty Class (2.6.3) definition in the IM version of 10 October (today).

The first paragraph says:
A Duty is the obligation to exercise an action, with all refinements satisfied. A Duty is fulfilled if all constraints are satisfied and if its action, with all refinements satisfied, has been exercised. If its action has not been exe

[2017-10-10 18:20] vroddon commented on #277
I am no expert at JSON-LD.
I have, however, updated the JSON samples at http://odrlapi.appspot.com/ with the transformation provided by @nitmws

Can we close this issue?

[2017-10-10 19:24] iherman commented on #277
Please do!

Ivan

---
Ivan Herman
Tel:+31 641044153
http://www.ivan-herman.net

(Written on mobile, sorry for brevity and misspellings...)

[2017-10-10 20:15] nitmws commented on #277
@vroddon did not raise objections - issue closed

[2017-10-10 20:15] #277 closed, assigned to vroddon, riannella

[2017-10-11 06:59] riannella commented on #267
Updated the plurality of consequences.

We don't define how Policies are exchanged (only expressed) and we still have the "black-box" notion of evaluation of constraints.

[2017-10-11 07:52] nitmws opened #278 "IM: Constraint and Logical Constraint do not have a uid property"
Having a look at the IM Editor Draft of 11 October, [Constraint section](http://w3c.github.io/poe/model/#constraint):
For the Logical Constraint the values of the operand are defined as "its value is a list of the existing Constraint instances."
Example 15 shows this example of an "existing Constraint instance" as:
[code]
By the IM definitions this Constraint instance is **invalid** as the 2.5.1 C

[2017-10-11 08:06] iherman commented on #278
Just noting... this does not seem to be an editorial change:-(

[2017-10-11 10:10] nitmws commented on #278
I'm afraid this is the case. Then we need a quick action on that.

[2017-10-11 10:25] iherman commented on #278
s/quick/very quick/

[2017-10-11 10:50] simonstey commented on #278
uid's are a legacy concept of ODRL's XML serialization anyway (as discussed in #174) and "replaced" in our context file with `"uid":     "@id",`

[2017-10-11 11:52] riannella commented on #278
It is an "editorial" oversight as **uid** appears in the Model for Constraint (see Figure 1) and all the examples. (we can easily add this)

Logical Constraint does not require a uid, as the operand has:  "its value is a list of the existing Constraint instances."
(See Example 15 in the IM)

[2017-10-11 13:04] nitmws commented on #278
Warning: if a Logical Constraint does not have a way of explicitly setting its identifier then it is impossible to explicitly reference a Logical Constraint from somewhere else. And: in fact each node must have an identifier, if no uid a Logical Constraint can only used as a nested JSON-LD node, then a software has to assign a blank node id.

[2017-10-11 13:21] simonstey commented on #278
it has.. in jsonld you can use `@id`

[2017-10-11 16:40] nitmws commented on #278
@simonstey you are right. But why does ODRL have a defined uid property at all which is a renamed @id as the @context defines?

[2017-10-12 00:28] riannella commented on #278
Yes, we get some free stuff from JSON-LD (@id can be used), and RDF has the same rdf:ID etc.
In the XML, we use xml:id

[2017-10-12 06:39] nitmws commented on #278
* It is an [explicit requirement of RDF](https://www.w3.org/TR/rdf11-concepts/#section-triples) that each triple MUST have a "_subject, which is an IRI or a blank node_".
* It was a decision of this WG to build POE ODRL on top of RDF.
* Therefore JSON-LD is an implicit option for ODRL syntax and [JSON-LD defines the keyword](https://www.w3.org/TR/json-ld/#syntax-tokens-and-keywords) @id "_used to

[2017-10-12 15:30] riannella commented on #278
I think we all agree, but the ODRL IM does not mention the need for a uid for the Logical Constraint class, as there is no need for it (from an IM perspective).

If you look at Example 15 (https://w3c.github.io/poe/model/#constraint-action)
how would that work with a uid for the xone logical constraint?

[2017-10-12 21:49] nitmws commented on #278
@riannella this way:

[code]
What is shown above is in fact done by any JSON-LD library in the transformation from Compacted to Expanded JSON-LD and this is a prerequisite for transforming that into N-Quads - see the lower box at https://json-ld.org/playground/ : it splits up the nested syntax into standalone graphs.

As I said this is done by any Compacted to Expanded transformation, in this case

[2017-10-13 04:16] simonstey commented on #278
#111 :(

[2017-10-13 06:21] nitmws commented on #278
A reason was to use a property name which can also be used for the XML serialization, "@id" does not support that. This group should be aware of some existing ODRL 2.0/2.1 implementations using XML and we should invite them to switch to W3C ODRL without having to kill XML. (This is what I do currently inside IPTC.)
We could have discussed earlier if a mapping from JSON-LD syntax to XML should be d

[2017-10-13 06:47] riannella commented on #278
Updated IM with uid property for the Constraint classes and the domain in the vocab

[2017-10-13 06:49] iherman commented on #278
Does this change affect test cases? Does this change affect any implementation out there that we may not even know about?

Bottom line: is this an editorial or a substantial change?

[2017-10-13 06:51] riannella commented on #278
No change to test cases (= editorial)

[2017-10-13 07:09] nitmws commented on #278
Footnote from digging into the JSON-LD @context details: the ODRL @context had in its CR version already a mapping `"uid" : "@id"` (with the known problem regarding syntax details). As such a mapping applies to the use of "uid" with any node even the @context does not have to be edited/changed to support uid for the Constraint classes.

[2017-10-13 07:12] nitmws commented on #278
Re test cases: actually it is the other way round. Examples in the IM - used as test cases -  used uid already while it was not defined in the normative part of the IM.

[2017-10-13 07:13] iherman commented on #278
@nitmws one could then argue that the test cases were wrong...

[2017-10-13 07:58] simonstey opened #279 "JSON-LD serialization of rightOperand values"
**Preliminaries:**
Values of property `odrl:rightOperand` can be literals or IRIs:

http://www.w3.org/ns/odrl.jsonld :

-------------

**Problem:**
By default, all JSON-LD values are interpreted as strings (cf. https://github.com/schemaorg/schemaorg/issues/51) ->

[code]
-->
[code]

-------------

**Solution:**

From https://github.com/schemaorg/schemaorg/issues/51#issuecomment-284874600:

[code]

[2017-10-13 08:15] vroddon commented on #279
Which specific change has to be done where?

[2017-10-13 08:20] simonstey commented on #279
instead of writing :
+ (**IRIs**): `"rightOperand": "policyUsage"` -> `"rightOperand": { "@id": "odrl:policyUsage" }`
+ (**Literals**): `"rightOperand": "5.00"` -> `"rightOperand": { "@value": "5.00", "@type": "xsd:decimal" }`

[2017-10-13 08:22] iherman commented on #279
@simonstey, can you please prepare a Pull Request with the proposed changes in vocab/ODRL22.jsonld ? The version on the W3C space is merely a copy of the file in the repo, and I am uneasy "just" changing it directly.

[2017-10-13 08:24] simonstey commented on #279
we wouldn't change anything in the context file, but would fix the examples of the IM

[2017-10-13 08:26] iherman commented on #279
Oh, I am sorry, I misunderstood.

[2017-10-16 13:23] vroddon commented on #269
What is the result from this issue?

[2017-10-16 13:33] simonstey commented on #269
still not addressed

[2017-10-16 15:06] #278 closed, assigned to riannella

[2017-10-16 15:06] #267 closed, assigned to riannella

[2017-10-16 15:06] #275 closed, assigned to nobody

[2017-10-16 15:17] riannella commented on #269
We should add a statement clarifying the use of non-core parties for Duties, as we do say "Other function sub-properties MAY be used".

How does this sound:

Comments?

[2017-10-17 09:05] simonstey commented on #269
the point is that

1) this requirement is not always true ->

as the assignee is not always the party that has to do a duty

2) and that one is too restrictive ->

as it would require using assignee/assigner from the referring Permission even if alternative party functions are used in the duty (e.g. informingParty/informedParty)

=> both of them can be addressed by (1) substituting assignee by som

[2017-10-25 02:47] riannella commented on #269
Updated

[2017-10-25 02:58] riannella commented on #274
updated

[2017-10-25 03:05] riannella commented on #270
Updated

[2017-10-25 03:17] riannella commented on #271
Done

[2017-10-25 03:30] riannella commented on #273
That would "break" the semantic linkages between the classes/properties.

The non-core classes are not being **defined** in section 3 (only referenced) - they are defined in section 4.

[2017-10-25 06:14] simonstey opened #280 "On requiring mutually disjoint sets of policy/rule types"
Although never explicitly mentioned in the IM, the Vocab (i.e. ontology) defines all types of [rules](https://w3c.github.io/poe/vocab/#ruleConcepts) and all types of [policies](https://w3c.github.io/poe/vocab/#policySubClasses) as being mutually disjoint (which was also briefly touched upon in #247) .

and while that arguably makes sense for e.g. some types of rules (as pointed out by @vroddon  ht

[2017-10-25 06:14] simonstey commented on #271
ODRL Profile Definition | Example
------------ | -------------
Additional Policy Subclasses: Create a subclass the ODRL Policy class. | `ex:myPolicyType rdfs:subClassOf odrl:Policy .`
... | ...
Additional Rule class: Create a subclass of the Rule class and define it as disjoint with the other Rule subclasses. | `ex:myRule rdfs:subClassOf odrl:Rule ; owl:disjointWith odrl:Prohibition, odrl:Duty, od

[2017-10-25 06:28] vroddon commented on #280
Hi,

I think the text "(as they are equivalent)" or the entire sentence
should be removed, as they may create confusion.

Víctor

For the examples in this document, the ODRL Policy subclasses are mapped
to the JSON-LD @type <https://github.com/type> tokens. *The above
example could have also used |Policy| type instead of |Set| type (as
they are equivalent).*

--
Víctor Rodríguez-Doncel
D3205 - Ont

[2017-10-25 07:22] nitmws commented on #273
I've created presentations about ODRL for IPTC meetings and it is really hard to provide an easy to follow distinction between terms from the Core Vocabulary and the Common Vocabulary:
* both are of the same namespace
* such a linking like in 3.1.1 does not help to make a distinction.
* one has to check if a term with the ODRL namespace URI is listed in chapter 3 or 4.

Question: is it really requ

[2017-10-26 00:52] riannella commented on #271
Ah, thats an editorial mistake. The disjoint statements should ALSO be with the Policy subclass.
(I don't think any test cases are impacted)

[2017-10-26 00:59] riannella commented on #271
updated

[2017-10-26 01:11] riannella commented on #280
This was covered in #154

Please outline what (if anything) of the specs need to change, and if this means that any test cases are impacted (worse!)

Should we have deprecated Set?

Please note that the ODRL vocab does **not** include:
`odrl:Policy owl:equivalentClass odrl:Set`

[2017-10-26 02:27] riannella commented on #280
Proposal:

Remove "Set" from the list of disjoint classes

Add a new bullet point to section 2.1:

Add a new bullet point to section 2.6:

This will make it consistent with the intent and the ODRL ontology, and should no have any impact on test cases.

[2017-10-26 02:33] riannella commented on #273
Answer: Keeping them there shows the ontology relationships.

If we remove them, then we need to remove all references to common terms in the core, like:
  https://w3c.github.io/poe/vocab/#term-use
  https://w3c.github.io/poe/vocab/#term-function
etc

Even the parent classes of:
  https://w3c.github.io/poe/vocab/#partyConcepts
etc

[2017-10-26 02:44] riannella commented on #268
Example 13 fixed.

Fixed policyUsage: should be "rule"

Fixed Ex 30

[2017-10-26 04:22] riannella commented on #276
First 3 points fixed.

Logical constraints are implemented as #IDs on the rightOperand (with an name only)
(this is minimal change for XML implementors)

RE: Duty consequence: I can understand this, there are heaps of rules in described in the IM that are not captured in the XML Schema (due to its inflexibility to describe them) - even the ontology does support this particular constraint. I have a

[2017-10-26 04:42] riannella commented on #273
Proposed resolution: do nothing

[2017-10-27 01:29] riannella commented on #272
I have updated the narrative now to make the intentions clearer.

[2017-10-27 01:44] riannella commented on #279
Fixed

[2017-10-30 03:58] riannella commented on #280
completed

[2017-10-31 00:45] #280 closed, assigned to nobody

[2017-10-31 00:45] #272 closed, assigned to nitmws, riannella

[2017-10-31 00:46] #273 closed, assigned to nitmws, stuartmyles, vroddon, riannella

[2017-10-31 00:46] #279 closed, assigned to sereAbi, nitmws, vroddon, riannella

[2017-10-31 00:46] #276 closed, assigned to nobody

[2017-10-31 00:46] #268 closed, assigned to sereAbi, riannella

[2017-10-31 00:46] #269 closed, assigned to sereAbi, nitmws, vroddon, riannella

[2017-10-31 00:46] #274 closed, assigned to riannella

[2017-10-31 00:46] #270 closed, assigned to sereAbi, riannella

[2017-10-31 00:47] #271 closed, assigned to sereAbi, riannella

[2017-11-03 04:27] riannella opened #281 "Update Example 14"
Example 14 does not clearly represent a refinement:
    http://w3c.github.io/poe/model/#constraint-action

Update example

[2017-11-03 04:31] riannella commented on #281
What if we change the example to:

[code]

[2017-11-03 04:35] simonstey commented on #281
why?

[2017-11-03 04:40] riannella commented on #281
Because it is not really "refining" the semantics of printing?
(percentage is  an Asset refinement)

[2017-11-09 01:28] riannella commented on #281
Updated.
Also added a "unit"

[2017-11-09 09:45] simonstey commented on #281
(percentage is an Asset refinement)

while `odrl:percentage` is indeed listed under [Asset Percentage](http://w3c.github.io/poe/vocab/#term-percentage) in the vocab, ODRL doesn't distinguish between different "types" of refinements (i.e. leftOperands). Or how does one know that [Asset Percentage](http://w3c.github.io/poe/vocab/#term-percentage) and [Rendition Resolution](http://w3c.github.io/poe/v

[2017-11-10 00:16] riannella commented on #281
Since the introduction of refinements to the IM, there was no accompanying proposal to split the LeftOperands.

One assumes this is done by ensuring the semantics of the leftOperand refinement makes sense on the action (just like the constraint too).

[2017-11-10 08:30] nitmws commented on #281
A comment with my IPTC hat: recently we had a long discussion about such refinements for sport competitions in our news classification taxonomy Media Topics. Our taxonomist pointed at a long-time approach to refining semantics called facet of a concept. And they claimed that we should not only define facets like "team size" but also set a relationship to all sport competitions to which this facet

[2017-11-11 07:22] riannella commented on #281
Taxonomists are great ;-)

A new issue should be raised for this change/

[2017-11-11 07:24] #281 closed, assigned to riannella

[2017-11-11 07:26] riannella opened #282 "Split LeftOperands into constraints and refinements"
Split the list of LeftOperands into those applicable for constraints and those for refinements.

Note: the LeftOperands are all non-normative.

[2017-11-17 06:22] riannella opened #283 "Add version number to the titles of the specs"
Add "2.2" to the end of each spec title.

[2017-11-18 18:06] nitmws opened #284 "Review definitions of LeftOperands in the Common Vocab"
The IM claims in 2.5.1 “The leftOperand instances MUST clearly be defined to indicate the semantics of the Constraint, and MAY declare how the value for comparison has to be retrieved or generated.”

Some current definitions of [LeftOperands of Constraints in the Common Vocab](http://w3c.github.io/poe/vocab/#constraintLeftOperandCommon)  do not this requirement, e.g.
* Count: "Numeric count." -- c

[2017-11-21 18:04] nitmws commented on #284
Ok, as Editor of the Vocab I guess I should suggest required changes.
(Typographical note: inserted/changed language in **bold**)

I went over [4.5 Constraint Left Operands](http://w3c.github.io/poe/vocab/#constraintLeftOperandCommon) of the Vocab Editor's draft of 18 November, the number below follows the Vocab document.

1. Absolute Asset Position: sounds ok, refers to the Asset
2. Absolute Spat

[2017-11-21 18:59] nitmws commented on #282
A note on the refinement of actions after suggesting changes to the definitions of LeftOperands in #284

I'm afraid that it will be hard to draw a clear line between Constraints with a LeftOperand referring to the action of a Rule which are used as constraint of a Rule or as a refinement of an action without any further help (or relationships).

The definitions:
* The refinement property is define

[2017-11-24 12:39] riannella commented on #283
Done.

[2017-11-26 04:37] riannella commented on #282
My (editorial-only) suggestion is that we update the narrative in the table in Section 3.3 ODRL Profile Mechanism.
Where it says:

we update to:

This way, we let Profile designers decide.

[2017-11-26 04:56] riannella commented on #284
I agree with the editorial changes noted in 1 to 32 above (thanks!)

[2017-11-26 05:08] riannella commented on #284
As for "Policy Usage Time"...

This is a rightOperand, so will be the **value** for a leftOperand Constraint - it is not a Constraint itself.

The use case was to support "paying $X before playing the video" when you don't know what the "before" datetime is and don't want to specify a specific datetime.

Suggest that the Label (only) be updated to "Policy Rule Usage" and the definition "Indicates

[2017-11-26 18:57] nitmws commented on #284
@riannella I'm aware of the role of a rightOperand - but we should narrow down the definition to exercising the action. Your modified definition sounds ok.
A second thought: what if the action may be exercised multiple times? Should we say "Indicates the actual datetime the action of the Rule was exercised **last time.**" ?

[2017-11-27 14:00] nitmws commented on #282
@riannella re your comment:

1. We need to define a relationship expressing "this LeftOperand can be used for the semantic refinement of that Action instance" - e.g. odrl:toBeRefinedAction
2. I agree, to let a profile maker apply such a relationship the 3.3. ODRL Profile Mechanism must be changed.
3. We could outsource this decision, but I'm not convinced that this will be done properly.
3.1. this

[2017-11-28 12:23] #283 closed, assigned to riannella

[2017-11-28 12:43] riannella commented on #284
The definition would be contextualised to the current action rule execution.

It would not be aware that the rule could be exercised multiple times.

[2017-11-28 12:51] riannella commented on #282
1. If we add a new feature (non-editorial) then we need to do the CR process again 😬

2. ok

3.1 I would assume, if this was the case, then the implementor would support both options for count.

3.2 So we should then leave it alone, and not say anything? (I ok with that too)

[2017-11-29 08:39] nitmws commented on #282
re @riannella

re 1. What is  an alternative to indicate "this LeftOperand instance should be used with refinement Constraints" or "this LeftOperand instance should be used with refinement Constraints" (as default relationship) without defining a new feature triggering a new CR?
Could this be a free-text table acting as non-normative guideline with a LeftOperand in each row and columns for constra

[2017-12-03 12:53] riannella commented on #282
It is best (if we can) to resolve this with editorial updates to the narrative.

I was under the impression that we (ie the WG) should not be determining if a Constraint instance should be used with the constraint or refinement property?
(based on the odrl:count example above).

The specs says that when a Constraint instance is used with a constraint, it is a condition that applies to the Rule, an

[2017-12-04 08:39] nitmws commented on #282
I've raised two concerns about the use of LeftOperand in my comments:

1. My concerns of constraint Constraint vs refinement Constraint are in fact only about the LeftOperand instances.
The IM specs regarding the use of LeftOperand instances are ok, I see no need to change them.
I suggested to advise users which of the LeftOperand instances listed in the Common Vocabulary should be used with const

[2017-12-05 12:04] riannella commented on #282
1) I suggest we add the following narrative text to the beginning of Section 4.5 of the Vocab spec that outlines the use of LeftOperands:

2) I am Ok with that narrative update.

[2017-12-07 14:04] nitmws commented on #284
While editing the odrl22.ttl I noticed a detail of some LeftOperand definitions: the use the language "... of the Asset." An uppercase Asset stands for the Asset class which has no implicit relationship with a Rule and a Rule does not have an asset property, only the target property refers to an Asset. To make it unambiguous  what is meant by "Asset" I inserted target -->> "... of the **target** A

[2017-12-08 10:43] riannella commented on #284
I suppose more precisely it would be the "relation" Asset (of which _target_ is a sub-property of _relation_)

And since target would be used about 99% of the time, that makes sense.

[2017-12-08 11:42] riannella commented on #284
Completed

[2017-12-08 11:57] riannella commented on #282
updated

[2017-12-08 11:58] riannella commented on #261
This can be closed now

[2017-12-08 11:58] #261 closed, assigned to vroddon, simonstey

[2017-12-11 05:46] simonstey commented on #65
iirc, this was about adding narrative to http://w3c.github.io/poe/ucr/#Requirements explaining that the set of all requirements is basically the union of https://www.w3.org/2012/09/odrl/archive/odrl.net/2.0/v2req.html + the ones explicitly listed in our ucr document, right?

[2017-12-11 09:17] vroddon commented on #65
I also believe that for completitude reasons, this issue is important.
Perhaps the reader would have expected a uniform, harmonized document,
but this would have been additional work.

Víctor

El 11/12/2017 a las 6:46, simon escribió:

--
Víctor Rodríguez-Doncel
D3205 - Ontology Engineering Group (OEG)
Departamento de Inteligencia Artificial
ETS de Ingenieros Informáticos
Universidad Politécnica d

[2017-12-11 12:25] #284 closed, assigned to nitmws

[2017-12-11 12:25] #282 closed, assigned to riannella

[2017-12-11 12:31] riannella commented on #65
@simonstey Yes - basically so there is traceable link back to the original requirements

[2017-12-19 16:32] plehegar commented on #224
@iherman , will you make a proposal to the webmaster in order to update the Note?

[2017-12-19 16:33] iherman commented on #224
@plehegar I did not realize I need to make a proposal but yes, I can do that. However, that is down the line when the Rec is published...

[2017-12-19 18:06] iherman opened #285 "Informative references to schema, vcard, & foaf"
A number of vocabulary items in section 3 of the vocab documents (eg, Party) declares itself to be a subclass of various foaf, schema, and vcard classes. Section 3 is normative, but these classes are referred to as informative. It is better to add, at the beginning of the section, a statement of the sort:

I do not believe that has any effect on any implementations.

(This issue came up during the

[2017-12-19 18:20] iherman opened #286 "Dc:license vocabulary hijacking?"
In section 3.5.2 of the vocab, on target policy, it says that `hasPolicy` has `dc:license` as a sub-property. This statement also appears in the ontology:

[code]

What this means is that if `dc:license` relates _any_ two instances in the world, then `odrl:hasPolicy` is also a valid relationship for those instances. That is referred to as "ontology hijacking", ie, imposing an extra constraint on a

[2017-12-20 08:52] nitmws commented on #286
#158 and #184 are the reasons and background for this definition.
In short - the discussion in #184 shows this intention: an odrl:Policy can express many different rights related things, a subset of that is a license expression. This should be supported:
[code]
Re 1: Policy 1341243 expresses more than just a license, e.g. the transfer of ownership (sold, given away) of asset 9991
Re 2: Policy 2534

[2017-12-20 09:33] iherman commented on #286
@nitmws, pardon me if I do not go down into the details of the mentioned issues (I was not part of those discussions). However, I am not sure I fully understand your comments above.

But if so, isn't this expressed by saying that if there is an `odrl:hasPolicy` relationship between two resources then this implies a `dct:license` as well? This is perfectly expressed by using the axiom:

[code]

whi

[2017-12-20 11:06] nitmws commented on #286
@iherman I think the issue is: which one is the property with the broader semantics?
From how this was discussed in #184: odrl:hasPolicy should be the broader and dct:license be the narrower one. But as I'm primarily a reader of this issue in #184 it would be great to get a comment from @simonstey and @vroddon.

[2017-12-20 11:52] benedictws commented on #286
odrl:hasPolicy certainly has broader semantics than dct:license. The policy might, for example, express a regulation.

I sincerely doubt that any implementation depends on the axiom in question. I would be tempted to follow the suggestion of @nitmws :  create a new ODRL property odrl:hasLicense with `odrl:hasLicense rdfs:subPropertyOf odrl:hasPolicy` .

[2017-12-20 12:03] iherman commented on #286
I am not sure what "broader semantics" mean in this context. Are we sure that odrl:hasPolicy being a _subproperty_ of dct:license does not cover that?

[2017-12-20 12:09] simonstey commented on #286
iirc, back when we discussed #184 it was more about being able to integrate with existing license concepts.. I never thought about the issue of ontology hijacking.

and while I still think that

I'm perfectly fine with switching `odrl:hasPolicy` and `dct:license` (we should stick with either `dc:` or `dct:` though).

[2017-12-20 12:18] simonstey commented on #286
[code]

dct:license: -> "A legal document giving official permission to do something with the resource."

[code]

broader as in -> it's questionable whether `<http://example.com/policy:01>` matches the description of being a "A legal document giving official permission to do something with the resource."

[2017-12-20 12:20] vroddon commented on #286
Dear all,

Ontology hijacking was first (and formally) defined by Aidan Hogan in
2009 (see page 14 [1]), in plain words said to be "/the redefinition by
third parties of external classes/properties such that reasoning over
data using those external terms is afected/" (see [2]). The problem
naturally appeared in the context of /reasoning on large scale RDF
datasets/ --but already in [1] an immedi

[2017-12-20 12:25] vroddon commented on #286
I strongly disagree.
Every license is a policy, but not every policy is a license.

Whereas license is defined "A legal document giving official permission
to do something with the resource.", I do see policies as broader as
they are not necessarily 'legal documents' nor are restricted solely to
permissions.

Regards,
Víctor

El 20/12/2017 a las 13:09, simon escribió:

--
Víctor Rodríguez-Doncel
D

[2017-12-20 12:25] riannella commented on #286
Firstly, this issue does not impact any of the implementations for CR as we did not have any test cases related to this issue.

[2017-12-20 12:29] riannella commented on #286
This was our intention:

But not the other way round.

So, if W3C **formally thinks** this is _hijacking_ - then our only option is to remove the statement.

[2017-12-20 12:31] iherman commented on #286
@vroddon: the issue is not really technical but, instead, procedural and social. We do have a term (`dct:license`) that is defined and maintained by a reputable organization (DCMI). Changing/modifying the semantics of a term defined by DMCI should not be done without a synchronization with those who are responsible for it.

We _could_ get into contact with the DCMI to decide with them whether it i

[2017-12-20 12:33] iherman commented on #286
@riannella, if that is the WG-s decision, then the next question is whether the implementations would be affected. You seem to [say](https://github.com/w3c/poe/issues/286#issuecomment-353050073) that the answer is no, but I think we should have a documented statement on that from our three CR implementers...

[2017-12-20 12:36] riannella commented on #286
@benedictws @nitmws @vroddon - does this affect your implementations at all ?
(if we remove the ct:license rdfs:subPropertyOf odrl:hasPolicy statement) ?

[2017-12-20 12:42] riannella commented on #285
I have made this change and updated the Vocab snapshot

[2017-12-20 12:49] vroddon commented on #286
In such a case, I change my opinion.
Whereas I fiercely defend my standpoint with respect to personal
statements (I want to be able to speak about DublinCore, Trump or God),
I understand our document is produced by W3C and I dont want the
organisation to be qualified as impolite. A softer approach would be
perhaps using SKOS.

By the way, you may like this tool: http://graphite.ecs.soton.ac.uk/che

[2017-12-20 12:57] vroddon commented on #286
I confirm from the UPM side that its implementation is not affected by the chagen.

[2017-12-20 13:07] benedictws commented on #286
The TR implementation is not affected by the change.

[2017-12-20 13:31] riannella commented on #286
Getting late here and assuming @nitmws agrees with the consensus.
I have made the changes and pushed all on github

[2017-12-20 18:43] nitmws commented on #286
Sorry for the late reply, I was completely taken this afternoon by IPTC working group calls ...
I agree to the consensus.

[2018-01-12 13:05] riannella commented on #286
Completed

[2018-01-12 13:05] #286 closed, assigned to nitmws, vroddon, riannella

[2018-01-12 13:06] riannella commented on #285
Completed

[2018-01-12 13:06] #285 closed, assigned to riannella

[2018-01-12 13:08] riannella opened #287 "Update ODRL refs in Final RECs"
Update the ODRL references in each document to refer to the REC not the PR - when creating final snapshots.

[2018-01-14 08:10] iherman opened #288 "Typos in the PR document of ODRL Information Model 2.2"
(Recording the issue originally [submitted by email](https://lists.w3.org/Archives/Public/public-poe-comments/2018Jan/0000.html) but Shuji Kamitsuna)

Dear Sir and Madam

This is Shuji Kamitsuna@Japan.

I found some possible typos below in the PR document of ODRL Information Model 2.2. at
https://www.w3.org/TR/2018/PR-odrl-model-20180104/

* [x] Sec. 2.3.1: "the recipient the Rule" might be "the r

[2018-01-15 13:29] iherman commented on #201
Discussed on the call on 2018-01-15, decided that this issue is not relevant for the BP document (was input for the tests)

[2018-01-15 13:29] #201 closed, assigned to simonstey, riannella

[2018-01-16 08:13] iherman opened #289 "possible error in OWL ODRL ontology?"
(Recording the [mail of Kerry Taylor](https://lists.w3.org/Archives/Public/public-poe-wg/2018Jan/0003.html) as an issue)

Very nice work POE team. I think this is important work that needed to get out there!

I am looking at https://www.w3.org/TR/odrl-vocab/#actionConcepts
And I see that “The includedIn property is transitive, and as such, the Actions form ancestor relationships.”

In contrast I s

[2018-01-16 08:50] vroddon commented on #289
I have only fixed the ontology error, not the English error.
See commit d636026a13f26e8e10454a4faabd874d63606bca

[2018-01-16 10:41] iherman commented on #289
The ontology files have been updated on `/ns/odrl/2/` on the W3C site.

[2018-01-29 10:19] edent opened #290 "Use HTTPS for examples?"
I appreciate that this isn't the most pressing issue...

Is there a reason why the `@context` and other URls are all http?

In https://w3c.github.io/poe/model/

[code]

I would have thought that the context should be http**s**.  I understand that it redirects to the secure version - so why not use that by default?

[2018-01-29 11:02] #289 closed, assigned to riannella

[2018-01-29 13:45] rightschain commented on #290
Hi @edent - thanks for your feedback.

The WG discussed the issue you raised at today's teleconference and given that the JSON context URI is defined in the **normative** ODRL Vocab spec using "http" it would mean a substantive change to the document (and the CR/PR process repeated).

We also felt that the "example.com" http's are only indicative and changing them all to https would not change the

[2018-01-29 13:46] rightschain commented on #290
(Whoops, the above was sent by @riannella who was logged into his other account !)

[2018-01-29 13:53] edent commented on #290
:-) Like I said, it's not a high priority issue. It just feels a little weird seeing http everywhere.

Incidentally, https://example.com/ does support https!

[2018-01-31 12:01] #290 closed, assigned to riannella

[2018-02-04 11:47] riannella commented on #288
Updated

[2018-02-04 11:47] #288 closed, assigned to riannella

[2018-02-04 11:48] riannella commented on #224
Also add a redirect from the Community Group documents to the new RECs

[2018-02-04 12:26] iherman commented on #224
@riannella, I take care of the /TR/2002/... document; will you take care of the CG ones?

[2018-02-04 12:32] vroddon opened #291 "About the ODRL ontology"
**First comment**
Current text reads:

I believe "(editors draft)" should be removed.

**Second comment**
In the document https://www.w3.org/TR/vocab-odrl/ there is no prominent link to the ODRL ontology. It only appears in Section 5.1, and the ontology's role is nowhere mentioned. I would be glad to see a sentence like 'The ODRL Vocabulary & Expression is formalized as a ODRL Ontology (LINK HERE)

[2018-02-05 12:25] riannella commented on #291
Removed all the "editors drafts"
Updated all links to final URLs

Added "..ODRL Ontology..." to Conformance section.

[2018-02-05 12:29] #291 closed, assigned to riannella

[2018-02-09 10:17] riannella commented on #287
Completed

[2018-02-09 10:17] #287 closed, assigned to riannella

[2018-02-09 10:18] riannella commented on #224
Redirects from CG reports are now in place.

[2018-02-12 05:27] simonstey commented on #65
https://github.com/w3c/poe/commit/d6e1b72c4f5b1b9c9228097e7817135356133cae should address this issue

[2018-02-12 06:06] simonstey commented on #157
- [x] s/Riccardo Albertoni/Mark Matienzo/
- [x] added code example
- [x] renamed UC
- [x] + _"Hence, a mechanism allowing for extending existing or adding new purposes/actions should be provided."_

see -> https://github.com/w3c/poe/commit/8bc9cee0eab856e40b2dab02881860cb4084faae

[2018-02-12 06:13] simonstey commented on #156
- [x] added additional requirements to UC-27 (see https://github.com/w3c/poe/commit/f9b43803441646fcdecc0f5aecd404f82bb64680)
- [ ] _"It would be great to see which requirements have been implemented or not, and by which specific item of the Information Model or Vocabulary. "_

[2018-02-15 11:58] #65 closed, assigned to simonstey

[2018-02-15 13:19] iherman commented on #224
The https://www.w3.org/TR/2002/NOTE-odrl-20020919/ note has also been updated with a reference to the Recommendations.

[2018-02-15 13:19] #224 closed, assigned to iherman, riannella

[2018-02-20 11:41] riannella opened #295 "Small typos"
Typos found via the Japanese translation:

On Tue, Feb 20, 2018 at 7:45 PM, 上綱秀治 <ax2s-kmtn@asahi-net.or.jp> wrote:
Dear Sir and Madam

This is Shuji Kamitsuna@Japan.

"ODRL Information Model 2.2" in Japanese is available now.

http://www.asahi-net.or.jp/~ax2s-kmtn/internet/rights/REC-odrl-model-20180215.html

Thank you for the great specification!

I found some possible typos below.

Sec. 2.2.1,

[2018-02-20 21:43] aisaac opened #296 "Erroneous use of skos:broaderTransitive in RDF file?"
There is one thing that puzzles me is that the hierarchical relationships are represented as skos:broaderTransitive in the ontology at https://www.w3.org/ns/odrl/2/ODRL22.rdf
it should have been skos:broader, following the pattern at https://www.w3.org/TR/skos-primer/#sectransitivebroader

I can probably live with this. but considering that it is a small change, that you may present it as fixing a

[2018-02-20 21:49] aisaac opened #297 "Question about using 'broader term' the vocabulary documentation"
Many resources at https://www.w3.org/TR/odrl-vocab/ are defined as instance of skos:Concept and this is a good thing in my view. I am however wondering whether there was a strong rationale for representing the links to broader concepts as 'broader terms' not 'broader concepts'. The use of the word 'term' can be confusing in the SKOS context, where it can be also used to refer to the labels of the

[2018-02-22 23:50] vroddon opened #298 "RDF Triple included twice in the ontology."
1. In the ontology, we read:

`cc:CommericalUse`

(sic) whereas it should be CommercialUse

2. A repeated triple
This is not harmful, but please note that a line is duplicated in the description of :aggregate in the ontology.

[code]

3. In addition, a few comments have remained, they should be removed

[2018-03-01 09:39] nitmws opened #299 "Error in Note of Ensure Exclusivity LeftOperand"
The Ensure Exclusivity LeftOperand in the Common Vocabulary - https://www.w3.org/TR/odrl-vocab/#term-ensureExclusivity - has this Note:

But only the assigner can ensure the exclusivity of a (permission) rule as only this party has to right to assign a rule to any assignee party. Therefore the Note should be:

This also aligns with the definition of ensureExclusivity in the ODRL 2.1 Common Vocabul